[2018-01-26 20:42] bkimminich commented on #440
## Storyboard

### Select Challenge
![image](https://user-images.githubusercontent.com/3531020/35459602-25dcd8c0-02e1-11e8-9147-f74d3160a01b.png)

### Helpful Wasp shows up and gives a hint
![image](https://user-images.githubusercontent.com/3531020/35459607-2bbdef90-02e1-11e8-9b48-bb976fcb83d0.png)

### Helpful Wasp observes regular behavior
![image](https://user-images.githubusercontent.com/35310

[2018-01-26 21:31] bkimminich commented on #440
## File Format for Hacking Instructions
[code]

[2018-01-27 23:32] bkimminich opened #442 "Make URL for product tampering challenge configurable"
Instead of `useForProductTamperingChallenge: true` is should  be `urlForProductTamperingChallenge: https://www.owasp.org/index.php/O-Saft` by default which can be overwritten with an arbitrary URL. The URL to change it into should still statically be `http://kimminich.de`, of course! 😁

[2018-01-28 09:41] WVik commented on #442
Hello! I'm new here. I want to get started to contribute to juice-shop. Where exactly should I make this particular change?

[2018-01-28 10:44] bkimminich commented on #442
Hi @WVik! Best start by checking out how the entire configuration mechanism works: https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part1/customization.html. And also how to generally contribute to the project: https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part3/contribution.html. With that and looking at how the `datacreator.js` works, you should be good to go. Plea

[2018-01-28 12:28] WVik commented on #442
@bkimminich Thanks! I'll go through the links you suggested!

[2018-01-29 11:25] #437 closed

[2018-01-29 19:22] CaptainFreak commented on #442
Addresed this in #444

[2018-01-29 19:31] WVik commented on #442
@bkimminich I went through the links. The links are very nice, got an overall understanding of the code. Thanks!

[2018-01-29 22:00] #442 closed

[2018-01-30 18:22] bkimminich opened #446 "Rate Limit Circumvention Challenge"
Adding https://www.npmjs.com/package/ratelimiter to some route (e.g. _login_ or _change-password_) would make an additional challenge possible where the rate limit needs to be circumvented somehow.

For this to work, `ratelimiter` needs to be misconfigured or maybe an older version with known weaknesses can be used. Needs to be analyzed.

* Alternative 1: Write an own (broken) rate limiting featur

[2018-02-02 09:27] greenkeeper[bot] opened #447 "An in-range update of sequelize is breaking the build 🚨"
## Version **4.32.3** of [sequelize](https://github.com/sequelize/sequelize) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fsequelize-4.32.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sequelize
    </td>
  </tr>
  <tr>
    <th align=l

[2018-02-02 10:10] CaptainFreak commented on #446
I have some nice idea to implement this challenge.
Like:-

1.Rate limit Bypass on BruteForce of Forgot Password Secret Token
2.Login Form Bruteforcing

Broken feature will be Implementation of rate limiting on the basis of Originating IP.
which then can be bypassed by Spoofing X-Forwarded-For: IP Header.

Will look into ratelimiter and will look into any cool way of misconfiguring it.

[2018-02-02 10:12] #447 closed

[2018-02-02 14:45] bkimminich commented on #419
Note: The next version of Juice Shop will be 7.x, so it'd be totally fine if the change is incompatible w/ the way the challenge previously worked.

[2018-02-02 19:24] bkimminich commented on #400
Shut up, stalebot! 😀

[2018-02-03 12:18] greenkeeper[bot] opened #448 "An in-range update of sequelize is breaking the build 🚨"
## Version **4.32.5** of [sequelize](https://github.com/sequelize/sequelize) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fsequelize-4.32.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sequelize
    </td>
  </tr>
  <tr>
    <th align=l

[2018-02-03 16:20] #448 closed

[2018-02-04 01:05] corysabol opened #449 "Complaint .XML upload causes segmentation fault"
I'm running the docker image of juice-shop on windows 10 pro.

When uploading a pdf to the complaint form, the application handles it fine. However when uploading an XML file the node application crashed with a segfault, which crashes the docker container as well. This is demonstrated in the linked in this gif.

![js_complaint_xml_sefault](https://user-images.githubusercontent.com/4594324/35773335

[2018-02-04 04:06] CaptainFreak commented on #449
Please can you just confirm that the port on which your server is running is not in use. Maybe its a port conflict.

[2018-02-04 04:10] CaptainFreak commented on #449
Ah ! My bad. So the server is successfully running but after upload it crashes.

[2018-02-04 05:21] corysabol commented on #449
Yeah, everything works as intended for the most part. But trying to upload
an xml file via the complaint form causes the node process to segfault.

This is takes the container down if started normally. But I was able to
start the container with a /bin/ash instance first and manually launch the
node app, then crash it. This let me grab the npm logs, which were not too
helpful.

On Sat, Feb 3, 2018,

[2018-02-04 05:45] CaptainFreak commented on #449
This is not reproducible on running it from source. *SPOILER ALERT* Actually this is one of the challenge.
Will look into docker instance in some time.

[2018-02-04 06:16] bkimminich commented on #449
@corysabol, could you please attach the XML file that you used? Does it happen with any XML file?

Could you please try out of the same happens when using then`snapshot` Docker image?

I'll look into the autobuild logs for the `latest` image you are using in the meantime. My suspicion is, that the XML parser did not install properly on Alpine linux, or something wasn't copied into the final image

[2018-02-04 06:42] bkimminich commented on #449
Ok, so `libxmljs` installed just fine in the `latest` container by downloading a pre-built `xmljs.node` file:
[code]
That's the same way how it works for `sqlite3`, and that works on the final image later on just fine. I'll do some reproducing...

[2018-02-04 06:49] bkimminich commented on #449
I'm running the `latest` container and can upload a harmless XML file without any problems:
![image](https://user-images.githubusercontent.com/3531020/35774993-cc5d7d40-097f-11e8-8b79-e91fed6896f2.png)
This is the file I used: https://github.com/bkimminich/juice-shop/blob/master/test/files/deprecatedTypeForServer.xml

Will try with some malicious or simply broken XML files now...

[2018-02-04 06:56] bkimminich commented on #449
Okay, using a "bad" file that would normally be blocked by the parser itself is doing the segfault thingie;
[code]
(File: https://github.com/bkimminich/juice-shop/blob/master/test/files/xxeBillionLaughs.xml)

The local behavior when uploading the same file on my Windows machine is as follows:
[code]
The server survives this just fine with the `Detected an entity reference loop` being thrown by `li

[2018-02-04 07:03] bkimminich commented on #449
Just verified that segfault also happens on `snapshot` image.

[2018-02-04 07:13] bkimminich commented on #449
I created a branch `fix-segfault` which trigger building a new Docker image tag `debug` for experimenting with different build options.

[2018-02-04 07:26] corysabol commented on #449
@bkimminich I'd be happy to take a look at the new branch and mess around as well, tomorrow (it's quite late where I am, now). Assuming you don't have it sorted out by then. Best of luck!

By the way @CaptainFreak here is the xml I used; https://msdn.microsoft.com/en-us/library/ms762271(v=vs.85).aspx

[2018-02-04 07:53] bkimminich commented on #449
@corysabol I didn't sort it out, but my random first fix of using node v9 instead of v8 in the Docker image actually fixed the problem... 😀 ... I'll put this into a `6.4.2` bugfix release, so when you try `latest` image next time, all should be fine.

[2018-02-04 08:04] bkimminich commented on #449
@corysabol If you shoot me an email with your address I'll send some Juice Shop stickers your way! An animated GIF bug merits a reward... 🥇

[2018-02-04 08:04] #449 closed

[2018-02-04 16:36] ingben commented on #419
Finally made the update #450. I would really like to add a new crypto challenge. No cool idea yet, though...

[2018-02-04 17:30] corysabol commented on #449
@bkimminich Oh, glad it got fixed though, even if it was a random first try. I love stickers! I'll shoot you an email shortly. Thanks a bunch 👍

[2018-02-05 17:31] CaptainFreak commented on #244
where should the Tracking tab be placed ? because now there is no place on navbar. Any Suggestion ?

[2018-02-05 17:49] bkimminich opened #451 "String-based operators challenge"
Build a challenge around the following issue in `sequelize`: https://github.com/sequelize/sequelize/issues/8417

* [ ] Identify a suitable query for a string operator injection (with e.g. `$gt` or `$lt` to bypass a `where` clause)
* [ ] Allow required `operatorsAliases` in `/models/index.js` (see http://docs.sequelizejs.com/manual/tutorial/querying.html#operators-aliases)
* [ ] Verify success by c

[2018-02-05 19:52] bkimminich commented on #446
## Draft
* [ ] Add a new user (e.g. [morty](http://rickandmorty.wikia.com/wiki/Morty_Smith)@juice-sh.op) whose password is super strong and the security answer is too hard to guess but brute forcible using some common word list
* [ ] Implement rate limiting on _Forgot Password_ endpoint (or in general?)
* [ ] Make sure rate limiting can be bypassed by spoofing `X-Forwarded-For` header
* [ ] Add ch

[2018-02-05 20:04] bkimminich commented on #244
Hm, best we add a _Track your Order_ or _Order Tracking_ menu item and then have a new screen with just a text field _Order No._ and a _Track_ button to kick off the order search?

[2018-02-06 17:05] CaptainFreak commented on #244
So, Order Tracking menu item will be besides Recycle menu item on navbar ? and is search actually needs to be implemented right now?

[2018-02-06 17:07] CaptainFreak commented on #446
Tackled in #452

[2018-02-06 17:37] bkimminich commented on #244
Besides _Recycle_ menu is perfectly fine!

[2018-02-07 05:12] greenkeeper[bot] opened #454 "An in-range update of sequelize is breaking the build 🚨"
## Version **4.33.0** of [sequelize](https://github.com/sequelize/sequelize) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fsequelize-4.33.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sequelize
    </td>
  </tr>
  <tr>
    <th align=l

[2018-02-07 11:22] #454 closed

[2018-02-08 11:49] greenkeeper[bot] opened #455 "An in-range update of sequelize is breaking the build 🚨"
## Version **4.33.1** of [sequelize](https://github.com/sequelize/sequelize) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fsequelize-4.33.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sequelize
    </td>
  </tr>
  <tr>
    <th align=l

[2018-02-10 04:24] #455 closed

[2018-02-10 04:29] #389 closed

[2018-02-11 20:55] bkimminich opened #458 "Captcha Challenge"
After submitting one anonymous review, submitting another requires a captcha to be solved. The challenge is to bypass this captcha and create multiple anonymous reviews e.g. in a short time period. This could be coupled with a Rate Limiting for submitting reviews allowing two tiers for the challenge:

* **Captchas Tier 1**: Submit more than one anonymous product review within 10 seconds
  * Diffic

[2018-02-11 23:40] bkimminich opened #459 "Easter Egg Customization"
Make the following customizable via `config/*.yml` properties:
* `planetOverlayMap` can be a file or URL (which is downloaded on startup) that is rendered as a map on the easter egg 3D planet (default: `orangemap2k.jpg`)
* `planetName` can be a String overwriting the default name of the easter egg 3D planet in the `<title>Welcome to Planet ____________</title>` of `threejs-demo.html` (default: `Or

[2018-02-11 23:42] #446 closed

[2018-02-12 19:24] WVik commented on #459
Hello @bkimminich . I had gone through the codebase a week ago. Most of it is clear to me, but little thing I can't figure out related to this issue. The issue is clear to me, and I figured out how to do it. What is unclear to me is how are the AngularJS views communicating with the config yml files? I inspected the Models and Controllers, but couldn't find it. Sorry for my ignorance, have never w

[2018-02-12 20:28] bkimminich commented on #459
The AngularJS client uses the https://github.com/bkimminich/juice-shop/blob/master/app/js/services/ConfigurationService.js to retrieve the configuration as a JSON object: `{ config: { server: { port: 3000 }, application: { ... } } }`. Check out http://juice-shop-staging.herokuapp.com/rest/admin/application-configuration to see how the `default.yml` looks like when returned through the REST API.

[2018-02-12 21:06] WVik commented on #459
Thanks! I figured out how it works now. Now since `threejs-demo.html` doesn't have an Angular controller there's no session related data to be displayed on it, should I use a xhr request to get the filename?

[2018-02-12 21:59] bkimminich commented on #459
Hm, thinking about it, there is a much easier way, identical to how it's done in the `index.template.html`: https://github.com/bkimminich/juice-shop/blob/master/server.js#L271-L308

[2018-02-13 05:58] CaptainFreak commented on #459
Addressed in #460

[2018-02-13 06:13] CaptainFreak commented on #458
Is it not possible to post more than 1 product review within 10 seconds even if we have captcha ?

[2018-02-13 06:39] bkimminich commented on #458
Yeah, you're right, we can't really measure the Captcha bypass by reviews per time, can we? Other ideas?

[2018-02-13 06:51] CaptainFreak commented on #458
As captchas are used for defeating automated scripts after attacker have some way to bypass rate limit in real life and as we already have rate limit bypass fun, I suggest we just implement captcha bypass and check the solution based on the method to bypass instead of implementing Tier 2 challenge. I was looking into some recent bug reports like :
1. https://hackerone.com/reports/229584
2. https:/

[2018-02-13 06:54] CaptainFreak commented on #458
Also we can implement classic front-end check flaw by sending captcha answer to client.

[2018-02-13 07:12] bkimminich commented on #458
I like https://hackerone.com/reports/229584 a lot. Gives us a good 3- or 4-star challenge.

[2018-02-13 07:24] WVik commented on #459
@bkimminich  Thanks again! That's a nice way of doing it. I was wondering why create a separate `threejs-demo-template.html` file for incorporating changes when we can use `fs.open` in `wx` mode to modify the existing `threejs-demo.html` file? I checked locally and it is working fine. Is there a particular reason for doing it this way?

[2018-02-13 08:25] CaptainFreak commented on #458
and we will verify the solution based on reviews per time? 10 reviews per 5 second will be fine. I will have to check time taken for python requests module for 1 request. Other languages will do fine. Right?

[2018-02-13 09:04] bkimminich commented on #459
Tbh, I forgot why I did this in the first place... Might be a good follow-up refactoring to apply KISS principle here... 😂

[2018-02-13 09:08] bkimminich commented on #458
Other language? For what? You mean to actually perform the attack? There people can use what they want. For e2e testing we should stick to Javascript/Protractor.

[2018-02-13 11:02] CaptainFreak commented on #458
Yea I meant to say , is 10 or more reviews per 5 sec a good solution? Because they will also have to request review page for the captcha 10 times and issue the req. That will take time more than 5 sec maybe.

[2018-02-13 19:46] J12934 commented on #330
Brace yourself this is quite a long Post 😅

I've done some development work with GraphQL in last few month.
While looking into it I couldn't find any research or material on this topic.
So i did some thinking and tried a few things out, the following is probably not nearly complete but should provide some overview of some possibilities of injection type attacks vectors and defenses in GraphQL.

**

[2018-02-13 19:50] J12934 commented on #330
On this matter it would be interesting if this workshop from the owasp summit last year made any findings: https://owaspsummit.org/Working-Sessions/Research/GraphQL-Security-Review.html

Does somebody know something about it?

[2018-02-14 19:02] kunal-mohta opened #461 "Error in setup"
![screenshot 2018-02-15 00 29 12](https://user-images.githubusercontent.com/30414954/36222499-7fed3d54-11e7-11e8-9b15-c57687ad77fe.png)

Got this error when I tried `npm start` after following the steps as mentioned in `README.md` under **From Sources** sub-heading.

[2018-02-14 19:07] bkimminich commented on #461
Can you please provide your OS, node.js and NPM version as well as the log from `npm install`? Seems the binaries for the XML parser could neither be downloaded nor built on your system.

[2018-02-14 19:13] kunal-mohta commented on #461
`npm install` log is what missed my eyes
I ran it again and got this..

![screenshot 2018-02-15 00 40 48](https://user-images.githubusercontent.com/30414954/36223026-2076b7a4-11e9-11e8-86a8-485e1ba6d3b0.png)

**OS** - Ubuntu 15.10
**Node.js** - v8.9.0
**npm** - 5.6.0

[2018-02-14 19:22] bkimminich commented on #461
This looks fine. Okay, could you please delete your `node_modules` folder and run install again? That should give some error and if it doesn't, starting the app should work. Fallback: Have you tried using Docker instead? That is the best option on Linux to be on the safe side.

[2018-02-14 19:30] kunal-mohta commented on #461
It worked when I reinstalled `node_modules`.
Thanks for your help!
You can close this issue now.

[2018-02-14 19:39] bkimminich commented on #461
Linux❤️Node.js... 😁

[2018-02-14 19:39] #461 closed

[2018-02-14 22:33] bkimminich commented on #434
When doing a fresh `vagrant destroy && vegrant up` on my Windows 10 machine I end up with this screen default screen when going to `192.168.33.10`:
![image](https://user-images.githubusercontent.com/3531020/36231676-397aceac-11df-11e8-8796-b30b1262de96.png)

Also I was wondering why this is done in the `bootstrap.sh` at all because I do not see any use of NodeJs other than within the Docker contai

[2018-02-16 07:43] madhurw7 commented on #315
@bkimminich How about some illustrations for the product pictures?

[2018-02-16 08:03] bkimminich commented on #315
It totally can be illustrations, no need for photos imo. The product inventory is also not set in stone. Some products can remain as is, others must for challenge reasons. These are all the Juice Shop-related merchandise items (shirt, stickers, 3d prints, mug etc.) - The others can be different, but should a) have a juice- or fruit-related theme somehow and b) some should be not serious or outrigh

[2018-02-16 08:06] bkimminich commented on #315
Also, having the products "Fruit Press" and "Pomace" (=juice production leftovers) are mandatory for the _Recycle_ use case to make sense. All others can be either kept with just a new image/illustration or be replaced with something even better. Also if more products end up in the inventory than today, that'd be a cool optional goodie.

[2018-02-16 08:10] #459 closed

[2018-02-16 08:13] bkimminich commented on #458
Well, the idea is to force them to automate/script that, so it should be no problem, right? Alternatively someone could open 10 tabs and prepare everything and send them really quickly in 0,5sec per tab... :rofl:

[2018-02-18 06:21] CaptainFreak opened #463 "XSLT Injection Challenge"
Recently researched a lot about XSLT Injection Vulnerability. Its a obscure vulnerability but with great security impact which is somewhat relatable to XML Injection. This challenge if possible can be implemented around pdf creation for reports/receipts etc. Obscure vulnerabilities are more fun and will encourage users to research.

References :
1.https://www.contextis.com/blog/xslt-server-side-in

[2018-02-20 09:25] RonDoesit opened #465 "NoSQL injection"
More NoSQL injection challenges are wanted and needed :)
From my opinion juice shop is the only one that has nosql injection challenges, all other vulnerable servers dont have nosql injection at the moment.

I really like the juicyfruit on herokuapp: straight forward, fast and free setup!
But as NoSQL injection gets more and more popular and there is a increase of noqsl-ransomware. We must practic

[2018-02-23 11:54] shivamluthra commented on #294
@bkimminich Can you assign me to this one? Migrating to v1.6, for now, will give an idea about the app structure and will be easy to migrate it to v5.x later.

[2018-02-23 16:48] bkimminich commented on #294
Sure thing, knock yourself out! I suggest you regularly rebase your fork against `develop`, that way no crazy merge conflicts should pile up.

[2018-02-23 19:16] shivamluthra commented on #294
@bkimminich Yeah cool! And I see that you added some commits to this issue regarding 'preparation for migration to v1.6' and changed the promises in controllers. Would my task be to change rest of them i.e. in services only or anything else is expected too?

[2018-02-23 22:19] CaptainFreak commented on #458
Stuck at captcha verification at backend !. POST request containing feedback and captcha answer goes to `/api/Feedbacks/` and which is handled by epilogue and directly inserted in DB I guess. Am not familiar with epilogue. Any suggestion on how it can be done ? or front end check of captcha answer is also good if its not possible with epilogue ?

[2018-02-24 02:34] bkimminich commented on #458
I think you could put another route handler before the definition for epilogue, similar to the access control handlers for the models. If that blocks, the request won't reach epilogue so nothing ends up in database.

[2018-02-24 03:19] CaptainFreak commented on #458
But then I will have to put the reviews in DB myself after confirming captcha?

[2018-02-24 09:04] CaptainFreak commented on #458
Added captcha in #467. Will add challenge soon. Any suggestions on way to verify the solution of this challenge ?

[2018-02-24 12:48] bkimminich commented on #458
No, if your route doesn't send a response it will basically tumble through to the next responsible handler. And that should be epilogue then!

[2018-02-24 14:39] #419 closed

[2018-02-24 23:04] bkimminich commented on #315
@madhurw7 is on it...
![image](https://user-images.githubusercontent.com/3531020/36636046-c6f87e14-19be-11e8-8808-4a5e30270566.png)

(To avoid duplicate work/unncessary compatition corresponding aspect of https://www.owasp.org/index.php/GSOC2018_Ideas#UI.2FGraphics_Design_Update was marked as _in progress_)

[2018-02-24 23:29] bkimminich commented on #294
Well, I guess all tests need to pass and then it should be fine. I honestly don't know how much needs to be touched to migrate from 1.5 to 1.6 ... 🙈

[2018-02-25 06:05] CaptainFreak commented on #315
Wow. Nice picture @madhurw7 :1st_place_medal:

[2018-02-25 10:18] madhurw7 commented on #315
@CaptainFreak Thank You! 😄

[2018-02-26 09:55] shivamluthra commented on #294
@bkimminich Okay, I'll take care of whatever needs to be changed and push it asap. For now, I'll be targeting controllers, services, and juice-shop.min.js file along with unit tests.

[2018-02-26 10:43] bkimminich commented on #294
Sounds good! JFYI, `juice-shop.min.js` is generated from the controllers, services and templates.

[2018-02-26 11:13] bkimminich commented on #315
@madhurw7, I updated the issue description adding the list of product photos I would like to see replaced. I also listed those products which should not get a new image, mostly the merchandise of the project or other OWASP related products. Of course the artwork of my daughter can also not be replaced. I'm totally open for new products (more juices, more fun stuff, ...) as well!

[2018-02-27 11:54] bkimminich commented on #315
No way, Melon bike will come back now! :+1:

[2018-03-02 13:17] madhurw7 commented on #315
@bkimminich I am almost done with all the products that are listed here. The ones left are wood syrup and Fruit Press. I wanted to ask if we could skip the Fruit Press? The thing is it has some very small parts and I don't personally think that it would look better in the illustration form.

[2018-03-02 13:41] bkimminich commented on #315
I don't think the fruit press really needs to be very detailed. If you google for "fruit press" you'll find also different models, some rather simple some more complex. I'm totally fine if you pick one of the "cheap" versions to illustrate. I could then adapt the virtual product price accordingly, so it makes sense.

Not having the press altogether would be a pitty, because it - together with the

[2018-03-02 14:18] madhurw7 commented on #315
I din't mean to ask to remove the product, I was asking about not replacing the picture 😅 But the different Fruit Press Model is a nice idea, I think I can work with that 😄

[2018-03-07 16:43] CaptainFreak commented on #458
Added Challenge in #480.

[2018-03-07 18:42] greenkeeper[bot] opened #481 "An in-range update of frisby is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.0.14** of [frisby](https://github.com/vlucas/frisby) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Ffrisby-2.0.14">Build failing

[2018-03-09 10:50] #481 closed

[2018-03-09 10:56] #458 closed

[2018-03-10 07:21] CaptainFreak commented on #451
I could not find suitable query for this challenge. Basket query for product could have been and i tried exploiting but because of baskets relation with product in model and already present indirect object reference vulnerability on baskets that gives access to others basket it will not be a good choice for this challenge.

[2018-03-10 07:45] bkimminich commented on #434
@kfl, thanks for #483! That solves the issues! 🥇

[2018-03-10 07:45] #434 closed

[2018-03-11 17:25] CaptainFreak commented on #451
Do you have something in suggestion @bkimminich ?

[2018-03-12 09:34] greenkeeper[bot] opened #487 "An in-range update of request is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.84.0** of [request](https://github.com/request/request) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Frequest-2.84.0">Build fail

[2018-03-12 16:58] bkimminich commented on #446
@CaptainFreak, I changed the security question and answer a bit to make this challenge all about pre-creating a list of 1337-speak-mutations of a suspected answer string. See https://github.com/bkimminich/pwning-juice-shop/blob/develop/appendix/solutions.md#reset-mortys-password-via-the-forgot-password-mechanism for the step-by-step solution.

[2018-03-12 17:15] aaqaishtyaq commented on #400
I would love to work on techstack upgrade but can I go in order of upgrading UI first then upgrading to JavaScript

[2018-03-13 21:58] shivamluthra commented on #244
@CaptainFreak Are you working on this issue?

[2018-03-14 00:31] CaptainFreak commented on #244
Nearly completed.

[2018-03-14 20:19] #487 closed

[2018-03-14 21:22] #315 closed

[2018-03-15 00:06] greenkeeper[bot] opened #493 "An in-range update of standard is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **11.0.1** of [standard](https://github.com/standard/standard) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fstandard-11.0.1">Build

[2018-03-15 04:25] greenkeeper[bot] opened #494 "An in-range update of sequelize is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.37.0** of [sequelize](https://github.com/sequelize/sequelize) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fsequelize-4.37.0">Bu

[2018-03-16 17:42] Contrast-AlexB opened #496 "Unable to start juice-shop with master"
Hi, with the most recent updates to master I'm unable to start the app with node 6 or node 8, any suggestions ?

[code]

[2018-03-16 19:27] Contrast-AlexB commented on #496
I was using nvm, but when I switched versions I didn't rebuild the npm modules. Node 8 is working fine. Thank you for your help & info!

[2018-03-16 19:27] #496 closed

[2018-03-17 20:42] bkimminich opened #498 "Github rate limit exceeded leading to failing e2e test suite"
Protractor tests run into the following `Error: Failed to make Github request, rate limit reached.` sometimes. This could be a problem from Pull Requests not inheriting the GitHub token as was reported in other cases, e.g. https://github.com/minishift/minishift/issues/502 or https://github.com/jspm/github/issues/67.

[code]

[2018-03-19 18:21] CaptainFreak commented on #244
addressed in #500 .

[2018-03-20 07:31] #493 closed

[2018-03-20 07:31] #494 closed

[2018-03-20 09:53] bkimminich commented on #498
Should be resolved by e76838a8374443e9bae53466e990cfeea7de721d. Closing for now.

[2018-03-20 12:40] bkimminich commented on #498
https://github.com/angular/webdriver-manager/issues/216

[2018-03-21 15:16] greenkeeper[bot] opened #502 "An in-range update of sinon is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.4.7** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fsinon-4.4.7">Build failing 🚨</a

[2018-03-23 02:58] greenkeeper[bot] opened #505 "An in-range update of mocha is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **5.0.5** of [mocha](https://github.com/mochajs/mocha) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fmocha-5.0.5">Build failing 🚨</a

[2018-03-23 09:43] #502 closed

[2018-03-23 09:45] #505 closed

[2018-03-23 13:58] #498 closed

[2018-03-23 14:34] bkimminich commented on #400
:warning: This issue might be obsolete if #165 is implemented with an alternative frontend framework/widget library etc.

[2018-03-26 14:14] CaptainFreak commented on #217
Is it implementable what @nunoloureiro said ? because we already have a anchor for search route i.e. `/#/search`. It would have been relevant if our routing was like `/search#sort=x`. and having to anchors is not possible as browsers use `(#(.*))?` for anchor parsing from URL. I was thinking of implementing DOM Xss in new tracking order functionality.

[2018-03-28 11:05] bkimminich opened #511 "Translation mixup in notifications"
## Chrome with default language :de: after server start
![image](https://user-images.githubusercontent.com/3531020/38024945-dfc0f65c-3286-11e8-8a7c-973df12a65b2.png)

## Changing to e.g. :poland: within app
![image](https://user-images.githubusercontent.com/3531020/38024974-02d8d45c-3287-11e8-966f-92856af683c7.png)
[code]
:warning: `AUTO_RESTORED_PROGRESS` is not used, but instead it is in German

[2018-03-28 11:14] bkimminich commented on #511
Only happens to texts translated inside a controller using `$translate`. Once these strings were delivered to the client they obviously stay the same even when the language is changed. Future messages will be in the chosen language.

[2018-03-28 11:14] #511 closed

[2018-03-31 22:42] bkimminich commented on #244
At some point we'll probably have to persist a `orders` entities and I think these are a perfect candidate for the NoSQL MarsDB, because in the end a completed order is nothing but the data printed to the PDF the user receives. This might then be a basis for more NoSQL tiers as proposed in #465.

[2018-04-05 19:48] bkimminich opened #518 "Add "old-school" reflected XSS"
XSS Tier 1 is actually DOM-based (but can easily be confused with a reflected one even by the original developer... 🤷‍♂️) ... Adding an XSS challenge for "old-school" reflected XSS would complete the XSS options.

[2018-04-06 13:38] CaptainFreak commented on #518
Addressed in PR #521

[2018-04-06 13:39] CaptainFreak commented on #217
Are we still less of a DOM-based XSS ? @bkimminich :)

[2018-04-06 14:02] bkimminich commented on #217
Ok, not really ... :-)

[2018-04-06 14:02] #217 closed

[2018-04-09 21:02] bkimminich opened #523 "Persist language selection in cookie"
At the moment `angular-translate` uses the Browser language by default. When selecting another language, it will be reset to this default whenever the AngularJS client is reloaded, e.g. on `F5` or when a non-Angular page has been visited.

It would be nicer to store the last selection in a cookie and use it if present. Otherwise fall back to Browser default.

[2018-04-09 23:54] bkimminich commented on #523
Woah, that #524 was fast, @Aashish683! 👍

[2018-04-10 09:12] Aashish683 commented on #523
Thanks @bkimminich , is there anything more which needs to be resolved for this issue ?

[2018-04-11 14:09] greenkeeper[bot] opened #527 "An in-range update of stryker-jasmine is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **0.8.1** of [stryker-jasmine](https://github.com/stryker-mutator/stryker) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2Fstryker-jas

[2018-04-11 14:57] greenkeeper[bot] opened #528 "An in-range update of stryker-javascript-mutator is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **0.6.1** of [stryker-javascript-mutator](https://github.com/stryker-mutator/stryker) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bkimminich/juice-shop/compare/greenkeeper%2F

[2018-04-12 15:16] bkimminich opened #529 "Server-side Template Injection"
* https://portswigger.net/kb/papers/serversidetemplateinjection.pdf
* https://github.com/it-security-kassel-nordhessen/meetup/blob/master/2016_12_14_8th/wicket_velocity_hack/wicket_velocity_hack.pdf

Potentially nice place to add this is the scope of #244, where some server-side template engine could be used to define the invoice document that is created during checkout...

[2018-04-12 15:45] bkimminich opened #530 "Juice Shop project postcard"
For conference visitors it would be great to have a postcard or flyer with the basic information, links, logo etc. about the OWASP Juice Shop so they can try it out at home without having to actually remember all this. As the stickers and other merchandise only have the logo and no text or URLs, that'd be even more useful as a marketing tool.

## Frontside content
- Main logo (the one without the

[2018-04-12 22:26] #527 closed

[2018-04-12 22:26] #528 closed

[2018-04-12 22:27] bkimminich commented on #523
No, works like a charm! 👍

[2018-04-12 22:27] #523 closed

[2018-04-13 04:40] corysabol opened #532 "Learn about the TokenSale challenge bypassed?"
The challenge to find out about the token sale seems to be bugged. I was able to complete it in a way that may not have been intentional or even as challenging as the intended solution.
I've attached a GIF of what I did to solve the challenge.

![This is where a gif of what I did would be.](https://a.pomf.cat/cnltfm.gif)

Basically what happened while trying to solve this challenge is that I just

[2018-04-13 08:44] jsuleder opened #533 "Add SAML authentication and challenge"
Hi!
I just read about pentesting and breaking SAML in e.g. [On Breaking SAML: Be Whoever You Want to Be](https://www.usenix.org/conference/usenixsecurity12/technical-sessions/presentation/somorovsky) and thought about how nice it would be to have a challenge about e.g. signature wrapping in this awesome VWA. There are multiple free hosted test Identity Providers available such as [TESTSHIB](https:

[2018-04-14 15:53] bkimminich commented on #532
Ah, that's b/c in the end it's verified by loading a tracking image... Hm, so I'll have to "secure" the HTML template just as well as the route... Thanks for noticing!

[2018-04-16 14:08] jsuleder opened #535 "rest/user/whoami requests working with expired jwt"
Hi!
Is it intended that the `rest/user/whoami` requests are working with expired jwts? The user's information will still be extracted and returned as json if the supplied token's `exp` is expired instead of returning an empty object as this is done with invalid requests or unauthenticated requests.

For demo purposes I decreased the validity of the jwts from 5 hours to 10 minutes in `insecurity.js

[2018-04-16 15:11] corysabol commented on #532
Awesome, thanks! Keep up the good work with Juice-Shop 👍

[2018-04-16 15:12] corysabol commented on #532
Also, I just noticed that my gif seems to cut off just before it shows the challenge solved banner. That's lame.

[2018-04-16 18:06] bkimminich commented on #535
I do not verify the validity explicitly anywhere in the code... I guess that would make a nice third JWT challenge to authenticate with an expired token... 👍

[2018-04-16 18:10] jsuleder commented on #535
Yes! But you validate the validity of the tokens every time you say that only authenticated users are allowed to get or alter a resource via api or rest requests, because the express-jwt node module implicitly validates all claims. So the use of an expired token for normal session use is not possible. Only for this single rest route the validation is not done.

[2018-04-16 18:13] bkimminich commented on #535
Okay, that's probably because the route can be called anonymously as well... Nice accidental loophole, I guess! 😁

[2018-04-17 06:16] shivamluthra commented on #294
I suppose this issue should get closed by now so that no new contributor starts working on it just by seeing master branch docs :sweat_smile:

[2018-04-17 06:42] #294 closed

[2018-04-17 17:26] #532 closed

[2018-04-17 19:16] wurstbrot commented on #530
I could create it during the OWASP Summit.

[2018-04-18 20:19] elfakyn opened #538 "Editing Admin's reviews is not listed as a challenge"
SPOILERS AHEAD!

You can edit Admin's review of apple juice by:
* logging in as an arbitrary user
* using the broswer inspector on the review and changing `btn-default` from `ng-hide` to `ng-show`
* clicking on "Edit"
* editing the review and submitting

This, however, isn't tracked by the challenge scoreboard -- and it seems like something that should have a level 1 reward attached to it.

[2018-04-26 14:02] greenkeeper[bot] opened #542 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The engines config in 1 of your `package.json` files was too ambiguous to be updated automatically

If you’re interested in upgrading this repo to Node.js 10, you can <

[2018-05-07 04:02] jmaxxz opened #545 "Ciphertext for premium paywall challenge is corrupted"
Ciphertext for premium paywall challenge is corrupted

Currently cipher text is:
`IvLuRfBJYlmStf9XfL6ckJFngyd9LfV1JaaN/KRTPQPidTuJ7FR+D/nkWJUF+0xUF07CeCeqYfxq+OJVVa0gNbqgYkUNvn//UbE7e95C+6e+7GtdpqJ8mqm4WcPvUGIUxmGLTTAC2+G9UuFCD1DUjg==`

but it should be:
`i0ycvJyZ+WoHTEIjAatNFK5A8r8GxRbwOLC2OuXHVsZcKkEc3lRgc58KjEKn2Byj8Fg3A3ai5yahQANdWL/5j5k3E3qHTjm93tuenE0YlauCdy+7tGkFvo5OltIhiXSWt1SiICecyghFZ8ca

[2018-05-08 08:32] battletux opened #547 "CTF deployment help."
I'm looking to host, larger, juices-hop CTF later in the year and need so advice on how best to do this.

Last year it was a small scale ctf of only 7 instances, so I ran 7 docker containers and gave each participant their own instance and port number. However this year I am expecting it to be a larger deployment (albeit no idea on numbers yet) and I am not sure how to best do this.

From looking

[2018-05-08 08:56] bkimminich commented on #547
@J12934, can you give a few ideas to @battletux on how you did your CTF setup at your company?

[2018-05-08 08:58] bkimminich commented on #545
Thanks for the report! I'll have to verify that, b/c I don't have a clue why the original one might be corrupt...

[2018-05-08 09:28] bkimminich commented on #545
I checked and the current ciphertext is correct. What is wrong is the solution in the eBook, which still uses the shorter IV. I fill update the ebook section accordingly.

[2018-05-08 09:31] #545 closed

[2018-05-08 12:39] J12934 commented on #547
Hi 👋
We have run CTF Games with about 40 Juice Shop instances so far, in which every team gets their own instance.

To do this we are using a self developed service which we call "Juice Balancer" this service is basically a loadbalancer which ensures that every team can only access their own Juice Shop instance. This is currently still a internal closed source project, but we are planning to relea

[2018-05-09 08:25] battletux commented on #547
Morning, Thanks for the reply. I'll look forward to seeing the release in June of your tool @J12934

Do you have any pointers on ways to implement this sort of on-demand spinning up of containers? Talking to a colleague about it he seems to think Origin/Openshift might me a way to go.

[2018-05-09 13:39] J12934 commented on #547
No unfortunately not really, we have thought about it but we haven't really needed it.
Its pretty easy to just spin up a few more containers up then needed and let them idle. The don't really consume to many resources when not actually in use.

We have used Rancher in previous iteration to orchestrate the containers and to scale the number of Juice Shop instances. If we have noticed that we needed

[2018-05-10 11:33] kramse opened #552 "Packaged release unpacks in current directory"
downloaded the packaged node8 tgz and used the usual, tar zxvf from my home dir.

Ended up with files and dirs from tar file messing up my home dir, because it doesnt contain a sub-directory.

Would expect tar zxvf to produce dir juice-shop with files

[2018-05-10 20:49] bkimminich commented on #552
That is a very good idea, sir! Thanks for reporting it and sorry for messing up your `home` ... :-)

[2018-05-13 11:39] slevi2103 opened #554 "docker run --rm -p 3000:3000 bkimminich/juice-shop failed to start."
2018-05-13T11:35:36.709Z '[FileStreamRotator] Failed to store log audit at:' './.audit.json' 'Error:' { Error: EROFS: read-only file system, open './.audit.json'
    at Object.fs.openSync (fs.js:660:18)
    at Object.fs.writeFileSync (fs.js:1319:33)
    at Object.FileStreamRotator.writeAuditLog (/juice-shop/node_modules/file-stream-rotator/FileStreamRotator.js:241:12)
    at Object.FileStreamRotat

[2018-05-13 17:50] Tikam02 opened #555 "UI-Error."
UI is not rendering on the server. Please Provide the dependencies to install for UI.
![screenshot from 2018-05-13 23-17-54](https://user-images.githubusercontent.com/10548085/39970130-13124cda-5704-11e8-88ee-281f0ef2d215.png)

[2018-05-13 17:56] wurstbrot commented on #555
Hi @Tikam02 , thank you for the information. For me, it is working in develop and with the current docker image.
Please provide information on how you start the juice shop, your browser-version and the console-tab from the developer tools. In case there is no error shown, in addition the network tab.

[2018-05-13 18:43] bkimminich commented on #555
It is very likely that some component(s) is/are missing on your install. Did you run via local installation or by unzipping the latest ZIP archive?

[2018-05-13 18:44] bkimminich commented on #554
I just downloaded the `latest` Docker image and it starts up fine for me. Could please try and restart or delete and reinstall the image?

[2018-05-13 19:38] Tikam02 commented on #555
OS: Kali Linux
Installation:  via Git-clone->npm install->npm start
everything is ok but the UI not the same. The CSS part is not rendered.

[2018-05-13 21:28] bkimminich commented on #555
Okay, this is most likely an issue with your node.js installation. What version do you use? Best run `node -v` and `npm -v`. My recommendation is to install a fresh node.js on your system or use Docker instead.

[2018-05-14 03:55] bkimminich commented on #554
Also please make sure you use the latest Docker version. Running into `read-only file system`-errors like this seems to happen in some older versions. Juice Shop requires a writable file-system, not only for logging but for its general functionality too.

[2018-05-14 05:01] #552 closed

[2018-05-14 06:32] #542 closed

[2018-05-14 07:32] Tikam02 commented on #555
#### root@hal:~/juice-shop# npm -v
6.0.1
#### root@hal:~/juice-shop# npm start

Updated NPM but UI didn't change it's same as previous without CSS.
Server listening on port 3000

[2018-05-14 08:27] slevi2103 commented on #554
I did what you mention and also tried to run it with sudo.
Still doesn't work.
I also upgrade NPM and nothing.

[2018-05-14 11:18] bkimminich commented on #555
Juice Shop 7.1.0 does not support Node 10 yet. It only officially runs on 8 or 9. With 7.2.0 which you could already get from `master` branch Node 10 will be supported as well, but with an "experimental feature"-warning.

So, if you want to be sure, please get Node 8 or 9. If you feel lucky, please update your code to 7.2.0 and try again.

[2018-05-14 11:38] slevi2103 commented on #554
OK I shutdown Docker and start it again.
The shop is open ;).

[2018-05-14 11:38] #554 closed

[2018-05-14 17:19] Tikam02 commented on #555
👍 Yeah, sure. @bkimminich  Thanks for the information.

[2018-05-17 11:57] bkimminich opened #560 "Update RasPi Docker image to 7.2.1"
Hi @battletux! While at the Secure360 TC conference this week, some people showed interest in the RasPi image for the OWASP Juice Shop. I just checked and https://hub.docker.com/r/arclight/juice-shop_arm/currently is at v6.0.0. Would you mind doing an updated image for current 7.2.1 version?

Also, is there a way we might get this automated similarly to my original Docker images? That way every ne

[2018-05-17 17:58] battletux commented on #560
Hi @bkimminich Sorry, life seems to have gotten in the way. I'll try and get this done this evening after I wrap up some stuff for work, otherwise it might have to wait until the weekend.

_Definitely_ need to look into a way of automating the build process. My Docker skills are basic but I'm keen to learn that part of the process.

[2018-05-17 21:08] simbas commented on #560
Hi @battletux and @bkimminich ,

What do you think about adding the arm dockerfile in this project and then having a new automated build in hub.docker.com pointing to the arm dockerfile?

[2018-05-17 21:27] battletux commented on #560
Ok I have a quick and dirty image up, it is tagged as BETA7.2.1. Going to try and get a nicer one up Soon<sup>TM</sup>.

@simbas That would be great but I'm having issues building on arm32v7/node. As soo as it tries to do the npm install it spits out an error and fails to build, both in dockerhub and on my Raspberry pi.

Here is the error from Docker hub:

[code]
My work around, that I hope will w

[2018-05-17 21:37] battletux commented on #560
Latest is being pushed now.

[2018-05-17 21:38] ashutosh567 opened #561 "Let us redirect you to a donation site that went out of business Challenge - Redirect URL Do not exist anymore"
While Inspecting Element for Donation page the redirect URL according to challenge solution do not exist with v 7.0.2. Please check below screen shot. According to Challenge document it should show like this while
![screen shot 2018-05-17 at 4 36 11 pm](https://user-images.githubusercontent.com/14334424/40205106-7451dcc4-59f0-11e8-89e1-c8568d813dfa.png)

With  v7.0.2 the link Gratipay option is no

[2018-05-18 08:27] bkimminich commented on #561
Hi @ashutosh567! If you inspect any of the buttons in the _Payment_ section, you will see it is in fact still there as described in the ebook's appendix. Just checked on 7.2.1:

![image](https://user-images.githubusercontent.com/3531020/40224294-02f860a2-5a86-11e8-81f4-dd0b94a2e4ed.png)

[2018-05-18 08:27] #561 closed

[2018-05-22 06:46] wurstbrot opened #564 "Trainer Guide"
As a trainer I need a guide with a list off all features to provide awareness- and full blown app-sec trainings.
The guide should have a list of features and links to the relevant documentation.

The current documentation has the title "Pwning Juice Shop" (see https://github.com/bkimminich/pwning-juice-shop ) which doesn't match content like "Juice Shop Trainer Guide". An option is to create an ex

[2018-05-22 21:57] bkimminich commented on #564
I think we should make a list of information that is missing in the eBook as it is now, specifially for trainers. Then there might just be a distinct chapter in it aimed at trainers, no? At the moment I guess most information is there, it is just scattered because the book was not written with trainers in mind.

So, it might just be a chapter reordering task or an additional chapter. Or maybe a se

[2018-05-23 19:00] wurstbrot commented on #564
Trainer's Checklist might be good.

[2018-05-23 23:51] greenkeeper[bot] opened #568 "An in-range update of sinon is breaking the build 🚨"
## Version **5.0.8** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsinon-5.0.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    </td>

[2018-05-24 06:53] bkimminich commented on #564
1. Make sure every participant has his/her own running Juice Shop instance
  * You can let them install it individually following any of the [Run options](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part1/running.html#run-options)
  * You might instead want to host an instance for each participant and give each their own URL
2. If you want to track progress centrally during the

[2018-05-25 05:59] wurstbrot opened #571 "Enhance RCE Challenge"
As a juice shop user I want to see realistic scenarios, therefore the Remote Code Execution examples are not sufficient.
A DoS is not the impact I would like to show for a Remote Code Execution Vulnerability.

To show a real Remote Code Execution, I removed the sandbox in b2bOrder.js (see bottom of this issue).

I would like to have a RCE-Challenge in which the attacker can copy a file (e.g. /etc/

[2018-05-25 11:43] bkimminich commented on #571
No sandbox means people can just grab the server process and stop it, so it'd be a real DoS... Best check the original issue on GitHub where we played around with it for a while until it finally was working...

[2018-05-25 12:18] wurstbrot commented on #571
Maybe my question is not clear enough...
In case I can introduce fs into the sandbox, is it acceptable to use the sandbox and allow fs?

[2018-05-25 13:43] bkimminich commented on #571
Ah, ok that might be fine, I guess...

Am 25. Mai 2018 14:18:01 MESZ schrieb Timo Pagel <notifications@github.com>:

[2018-05-29 14:01] #568 closed

[2018-05-29 14:02] #560 closed

[2018-05-31 23:57] bkimminich commented on #564
Some more ideas:
* List of challenges which are well or less suited for demos
* Link to shake.js demo
* ...

[2018-06-01 03:26] sugumarv opened #580 "standard_init_linux.go:178: exec user process caused "exec format error""
I installed docker using
  sudo apt install docker.io

and installed juice-shop

while running it showed some permission error, so I added my user to docker.

Now while running I get the following error;

standard_init_linux.go:178: exec user process caused "exec format error"

My machine is ubuntu 16

[2018-06-01 05:50] bkimminich opened #581 "Privacy Policy"
Add an actually decent privacy policy stating that
* the application is supposed to be fed only fake sensitive and private identifiable data
* all data is deleted upon server restart
* server logs depend on chosen deployment option
etc.

Mostly relevant for the public demo instances on Heroku, I guess. Could use review by an actual DPO or legal expert.

<bountysource-plugin>

---
Want to back this

[2018-06-01 05:54] bkimminich opened #582 "Data subject contact form"
A new contact form should be added to retrieve and ask deletion for a users personal data stored by the Juice Shop.

This form should check for secret question and maybe some other (new) factor that makes it difficult - but not impossible - to forge for other users.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59102452-data-subje

[2018-06-01 05:59] bkimminich opened #583 "Sub menu "Contact Us""
The current menu items "Contact Us" and "Complain?" as well as the new "Data Subject Request" (#582) should become sub menu items like so:

* Contact Us
  * Customer Feedback
  * Order Problem
  * Data Subject Request

[2018-06-01 08:34] wurstbrot commented on #564
yes

[2018-06-02 18:54] bkimminich commented on #580
Are you on `latest` or `snapshot` image? Could you try the latest tagged image (`7.2.1`)?

[2018-06-04 10:20] #518 closed

[2018-06-04 10:22] #244 closed

[2018-06-06 22:29] bkimminich opened #592 "Score Board Filter Options"
The Score Board should receive additional filters to
* [x] Hide all solved challenges to avoid scrolling and spotting leftover red "unsolved"-markers (suggestion by @braimee). Sovled challenges should be shown by default.
* [x] Show only challenges of selected categories (defined in https://github.com/bkimminich/pwning-juice-shop/blob/master/part1/categories.md). All categories should be selected

[2018-06-07 02:19] bkimminich commented on #353
A [recent security report from GitLab](https://gitlab.com/bkimminich/juice-shop/pipelines/23367553/security) shows 74 vulnerabilities (many of them duplicates or from devDependencies, though) in the Juice Shop. Some of them are already exploited in challenges (e.g. both JWT Tiers, XSS Tier 4). Might be worth a look for this ticket...

[artifacts.zip](https://github.com/bkimminich/juice-shop/files/

[2018-06-07 14:09] wurstbrot opened #593 "Basket for anonymous"
As a user of a shop I would like to put products into my basket before I login.
Therefore the basket should be available, even before you are logged in.

Thanks to @lisa-devseccon for raising this issue.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59371366-basket-for-anonymous?utm_campaign=plugin&utm_content=tracker%2F6283055&ut

[2018-06-07 14:11] wurstbrot opened #594 "Creation Web Confirmation Page"
As a user of a shop I would like to see a pretty confirmation web page with the text "Confirmation", a table with the bought products and a button "Download PDF". Optionally with the confirmation nr.

Thanks to @lisa-devseccon for raising this issue.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59371481-creation-web-confirmation-

[2018-06-07 14:13] wurstbrot opened #595 "Enhance Design/Layout of PDF-Page"
At the confirmation page there should be a logo, a bold font for the title.
Optionally, the bought products should be shown in a table.

Thanks to @lisa-devseccon for raising this issue.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59371557-enhance-design-layout-of-pdf-page?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_me

[2018-06-07 14:16] wurstbrot opened #596 "Layout of Track/Expected Delivery"
The expected delivery should have a Timeline with bullets on it.
On the top are the icons, under the bullet is the description.  The bullet to show in which state the delivery is right now, is bigger.

Thanks to @lisa-devseccon for raising this issue.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59371700-layout-of-track-expected-

[2018-06-07 14:22] wurstbrot opened #597 "Enhancement of product pictures"
Product pictures should be transparent. The background should come from the page.

For the table right now: The background of the product picture cell should be #49535a.
The hole row should be clickable to come to the details. The preview button can be removed.

Thanks to @lisa-devseccon for raising this issue.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://w

[2018-06-07 15:08] wurstbrot opened #598 "Redesign Product Overview"
Here is a suggestion for the product overview redesign.

Google Fonts (for the new area "Welcome to OWASP Juice Shop") can be downloaded and integrated into this repository, otherwise an other font than suggested should be used.

[juiceshop copy 2.pdf](https://github.com/bkimminich/juice-shop/files/2080970/juiceshop.copy.2.pdf)

Thanks to @lisa-devseccon.

<bountysource-plugin>

---
Want to back t

[2018-06-07 15:09] wurstbrot opened #599 "Usage of a corporate idententy"
As suggested in [juiceshop copy 2.pdf](https://github.com/bkimminich/juice-shop/files/2080970/juiceshop.copy.2.pdf) page 3 we should use other colors for information like solving challenges.

Thanks to @lisa-devseccon.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59381917-usage-of-a-corporate-idententy?utm_campaign=plugin&utm_con

[2018-06-07 15:23] J12934 opened #600 "Redesign Navbar"
The current navbar gives up a lot of space for imformation which can be represented in a much smaller form factor. E.g. the application version or the logout button.

Heres a suggestion how the items could be aligned to highlight the important elements more than the others.

![homepage](https://user-images.githubusercontent.com/13718901/41109201-4fedb874-6a6e-11e8-81be-4322e5d2bc0b.png)

There are

[2018-06-07 18:07] bkimminich commented on #595
I used the PDFs ugliness as a kind of running gag during talks or trainings, but in all honesty: I was just too lazy to ever make them pretty... :+1:

[2018-06-07 18:11] bkimminich commented on #599
You mean fixed colors for challenge notifications and solved/unsolved badged that stay static even when a different theme is used via the config mechanism?

[2018-06-08 20:19] braimee commented on #592
Yay!

[2018-06-09 13:53] CaptainFreak opened #603 "Add 'User' for docker container"
There is a risk if the juice-shop docker container run as root, as some of the challenges if exploited in unintentional way can harm host's/user's system. Following post sums it up well :
https://medium.com/@mccode/processes-in-containers-should-not-run-as-root-2feae3f0df3b

[2018-06-09 20:53] bkimminich commented on #600
See #583 for additional sub menu idea of "Contact us" combining feedback, complaints and (to be created) data subject contact form.

[2018-06-10 01:14] bkimminich commented on #603
On `snapshot` image (from `develop` branch) the app now runs under a user `juicer`. I verified that the XXE Tier 1 challenge still works. Anything else that might be broken now?

[2018-06-10 08:38] bkimminich commented on #603
E2e tests are not run in the Docker build process, because so far there was no need to as there were no restrictions inside the container...

[2018-06-10 08:55] wurstbrot commented on #603
I recommend to run the docker container and change e2e-target to the container URL (manually).

[2018-06-10 09:06] bkimminich commented on #603
No, that should work, the e2e tests start their own vanilla instance otherwise, so freshly pulled image should work equally fine. Will test this today.

Any idea how to automate this in the long run?

[2018-06-10 09:15] wurstbrot commented on #603
Simplest (but not best) way might be to create a seperate travis job which pulls the image and runs e2e.
The best (more advanced) to have it done after build of the image. As I don't know travis, I am not sure how the concrete implementation will like.

[2018-06-10 13:57] bkimminich commented on #603
Ag the moment Travis CI and Docker image build are triggered in parallel when pushing to GitHub. This was never a great approach as both can fail independently. I'll look into building the Docker image on Travis instead and spin it up there for e2e testing as well: https://docs.travis-ci.com/user/docker

[2018-06-10 14:02] bkimminich commented on #603
Hm, switching to manual build is not possible on DockerHub. So, it probably has to be pulling the image on Travis-CI and running the tests there again... Ugly business...

[2018-06-10 17:11] bkimminich opened #605 "End-to-end test Docker image"
1. Spin up container and run e2e-tests manually
2. Automate 1. to happen after image being built on DockerHub (e.g. via WebHook triggering a Travis-CI job)

[2018-06-10 17:12] bkimminich commented on #605
Firt manual result agianst 7.2.3 on `snapshot` image with matching e2e tests from `develop`: 4 unsolved challenges
* Security Policy
* XXE Tier 1
* XXE Tier 2
* CSRF

[code]

[2018-06-11 05:28] CaptainFreak commented on #353
So `unzipper v0.8.12` (https://www.npmjs.com/package/unzipper) is vulnerable to arbitrary file write vulnerability and can be used for this challenge. Flow and implementation problems are like following :

![zip-slip](https://user-images.githubusercontent.com/20478531/41213943-094f86a4-6d66-11e8-807d-468b55fe5a40.png)

Help and suggestion are needed for the problems shown.

[2018-06-11 14:48] bkimminich commented on #605
Unsolved XXE Tier 1+2 challenge are caused by a conditional check in `complainSpec.js` where different attacks & results are expected for Windows and Linux machines. This condition assumes that the tests are executed _on the same machine_ as the server under test. When testing a Docker instance (Alpine Linux) by running the e2e suite on Windows, the wrong attacks and checks are done with **cannot*

[2018-06-11 14:51] bkimminich commented on #605
CSRF challenge cannot be solved by test suite because it has `localhost:3000` hardcoded which is not the correct URL for a running Docker container under test:

[code]

[2018-06-11 15:52] bkimminich commented on #605
With 13ed0a6 Docker containers are now testable with the e2e suite. Automation still pending.

[2018-06-11 23:56] bkimminich commented on #605
XXE Tier 2 test hangs Docker container just as it does Travis-CI job! ❌

[code]

[2018-06-12 21:09] bkimminich opened #610 "Segfault again on XML uploads"
Same as #449 uploading XML files can lead to segmentation fault errors during API test suite:

[code]

[2018-06-14 17:55] bkimminich commented on #564
https://github.com/bkimminich/pwning-juice-shop/blob/develop/appendix/trainers.md

[2018-06-14 17:55] #564 closed

[2018-06-15 07:41] #610 closed

[2018-06-15 10:50] #605 closed

[2018-06-16 15:00] wurstbrot commented on #571
Close, no time.

[2018-06-16 15:00] #571 closed

[2018-06-16 15:02] wurstbrot commented on #599
Yes, but the colors should be defined in the config for easy overwriting.

[2018-06-19 06:44] CaptainFreak commented on #271
So i found a Bug which allows adding products to somebody else's basket and is not listed in challenges. The following challenge can be designed around it.

![hpp](https://user-images.githubusercontent.com/20478531/41580914-556742fc-73ba-11e8-81b2-11c9b3283ebd.png)

[2018-06-24 13:53] bkimminich commented on #271
Yes, sir! ☑️

[2018-06-24 13:53] #271 closed

[2018-06-26 22:06] Aashish683 opened #628 "Replace bootswatch based theming"
The themes currently provided through Bootswatch would need to be replaced with themes implemented through Angular Material.
Four themes are already provided by Angular Material as described [here](https://material.angular.io/guide/theming) along with guidelines to make a custom theme.

[2018-06-27 06:15] CaptainFreak commented on #256
hey @bkimminich @J12934 Does admin user has some special privileges in juice-shop ?

[2018-06-27 22:06] #580 closed

[2018-06-27 22:11] bkimminich opened #630 "ZIP/TGZ and Docker image size reduction"
For now all build jobs on
- [x] DockerHub (`Dockerfile`, first `RUN` command)
- [x] Appveyor (`.appveyor.yml`, step `install`)
- [x] Travis-CI (`.travis.yml`, step `before_deploy`)
use `npm install` instead of `npm install --production` which increases their size. This workaround is supposed to avoid otherwise occuring Angular6 related problems in the build process.

Some alternative should be imp

[2018-06-27 22:48] #630 closed

[2018-07-02 15:40] ZJONSSON commented on #353
@CaptainFreak the vulnerability in unzipper was fixed on Apr 16th 2018 within 24 hours of the initial report (see https://github.com/ZJONSSON/node-unzipper/commit/2220ddd5b58f6252069a4f99f9475441ad0b50cd).   Feel free to explicitly include the vulnerable version for this challenge but you have to include the specific version without tilde or caret prefix and ideally note that this vulnerability ha

[2018-07-02 15:47] CaptainFreak commented on #353
Yes, this challenge is already completed and merged. Thanks.

[2018-07-02 16:08] bkimminich commented on #353
Thanks @ZJONSSON, we have already pinned the version accordingly! Also thanks for actually fixing it so quickly! 👍

[2018-07-02 16:08] #353 closed

[2018-07-02 16:20] ZJONSSON commented on #353
Awesome!   This is a really interesting project, thanks for including!!

[2018-07-03 05:30] CaptainFreak opened #631 "Exploit-Chain-Challenge-1"
![chain1](https://user-images.githubusercontent.com/20478531/42200313-45a46b28-7eb0-11e8-9239-5feffad0074f.jpg)

@J12934 @bkimminich  Let me know your thoughts.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60411824-exploit-chain-challenge-1?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_medium=issues&utm_source=github)** W

[2018-07-03 05:34] wurstbrot commented on #631
A self defined header should start with "X-", it would be "X-True-Client-IP"

[2018-07-03 05:35] CaptainFreak commented on #631
@wurstbrot Its not self-defined, If am not wrong.

[2018-07-03 05:49] bkimminich commented on #631
@CaptainFreak, please explain that scenario a bit more. Especially how this CSRF-login would work and why there's two XSS-Self exploits in a row. Thank you!

[2018-07-03 05:57] CaptainFreak commented on #631
@bkimminich Oops, Please ignore the second box of Self-xss, I should have checked it before copy pasting. Sorry about that. Anything else you have doubt about ?

[2018-07-03 11:31] bkimminich commented on #368
Added new typosquatted Angular package [ng2-bar-rating](https://www.npmjs.com/package/ng2-bar-rating) which mirrors [ngx-bar-rating](https://github.com/MurhafSousli/ngx-bar-rating) by @MurhafSousli. No malicious changes were made to the library and it features a disclaimer header:

![image](https://user-images.githubusercontent.com/3531020/42217423-6e2a6eb6-7ec5-11e8-8c04-5b703108766a.png)

[2018-07-04 07:38] J12934 commented on #631
In the third box („Make victim visit...“) which account do you mean with „his own account“? The attacker or the victims account

[2018-07-04 12:31] CaptainFreak commented on #631
@J12934 In attacker own account, The victim will be logged in using CSRF. Because the payload is in Attacker own account

[2018-07-07 07:32] CaptainFreak commented on #631
I had an idea to improve this challenge. right now as there was no better way to verify this challenge is solved or not, it just checks for the XSS Payload. Instead of that we can make the xss payload a remotely hosted script which does following:
1. Logs out of attacker account.
2. Logs in victim into his own account by Google sign in.
3. Does something on behalf of user in his own account. (Some

[2018-07-07 09:06] bkimminich commented on #631
Remotely hosted things cannot ever become mandatory. Juice Shop needs to work in a totally local environment.

[2018-07-07 09:07] bkimminich commented on #631
XSS Payload is better. But with the Frontend refactoring of @Aashish683, all payloads will probably have to be changed, so I'd recommend to postpone this challenge until after we did the first integration merge of both GSoC branches.

[2018-07-07 09:20] CaptainFreak commented on #631
Okay no problem in that but by remotely hosted js I meant like `<script src=“//any.js”></script>` where any.js is controled by attacker which does all this stuff .. it can be even local `<script src=“file:///any.js”></script>`  when users are doing the challenge locally.

[2018-07-07 18:00] ryanvillarreal commented on #610
The Docker version of Juice Shop is still throwing the segfault.  I did a pull latest, today and it's still crashing on xml upload.  Is this something I can fix on my end?

[2018-07-07 20:12] bkimminich commented on #610
Could you please pull the `snapshot` image and see if it happens there as well?

[2018-07-07 22:20] ryanvillarreal commented on #610
Pulled the latest snapshot.  It works there, but the application did throw an error.  Not sure if that's expected or not.

`Error: B2B customer complaints via file upload have been deprecated for security reasons: Start tag expected, '<' not found
 (test.xml)
    at /juice-shop/routes/fileUpload.js:41:18
    at Layer.handle [as handle_request] (/juice-shop/node_modules/express/lib/router/layer.js:

[2018-07-08 00:48] bkimminich commented on #610
That looks like your XML syntax was not appreciated by the parser. As long as the segfault is gone, all should be fine.

[2018-07-09 23:07] bkimminich opened #634 "Angular UI - Glitch and TODO collection"
## High Priority
* [ ] Inconsistent font
* [ ] Inconsistent text color
* [ ] Browser title is "Frontend"
* [ ] App name and version in navbar are underlined
* [ ] Product images are distorted (i.e. do not honor aspect ration when resizing)

## Normal Pririty
* [ ] Responsiveness broken (e.g. Search results page)
* [ ] Toggle buttons have no visually distinguishable state
* [ ] Search result page h

[2018-07-10 08:51] bkimminich opened #636 "Customer Loyalty Program"
_As a_ regular Juice Shop customer
_I want_ to earn bonus points in a loyalty progam
_so that_ I can get free swag or extra discounts on my orders.

---

_As an_ attacker of the Juice Shop
_I want_ to steal other peoples bonus points
_so that_ I can get free swag or extra discounts on my orders.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2018-07-11 08:14] CaptainFreak opened #638 "SSRF Challenge"
Right now, Juice-shop is lacking a very essential vulnerability, i.e. Serve side request forgery. Juice-shop doesn't have functionality to include it yet.

Here’s the unordered top 5 features that are often prone to SSRF vulnerabilities:

1. Webhooks: look for services that make HTTP requests when certain events happen. In most webhook features, the end user can choose their own endpoint and hostn

[2018-07-12 12:23] bkimminich opened #640 "Frisby API Tests fail with HTTP 500 error"
API tests often run into `500` errors without any functional reason. Maybe the server dies during test execution. Can probably not be tracked back via Git history as Frisby tests were failing on Travis-CI for a long time already but did not break the build.

[2018-07-15 16:28] hackern0v1c3 opened #641 "Un-Solve challenges"
I inadvertently completed a challenge while working on another one.  Since I didn't know what I did to cause the challenge to be marked as solved I wanted to un-mark the challenge so I could complete it later deliberately.  I didn't want to reset my whole scroreboard.  It's a very low priority request obviously but might be a nice feature.  Thanks for the fantastic work that you've done!

[2018-07-17 10:07] bkimminich commented on #641
Hi @hackern0v1c3! Can you please add which challenge you solved inadvertently? My preferred fix would be to try and make the challenge verification more specific to avoid accidental solves.

The only challenge I am aware of where this happens regularly is _Provoke an error that is not very gracefully handled_, because not everyone has their JS-console open all the time and might miss some failed b

[2018-07-17 13:20] hackern0v1c3 commented on #641
It was a couple of days ago and I have the memory of a gold fish but I'll describe what happened the best that I can.

I was just starting to go through the 1 star challenges in firefox.  I forget exactly which challenge I was working on.  I think maybe I was looking for the DOM XSS attack.  I was logged into a juiceshop user account that I had registered in firefox.  I opened chrome while still h

[2018-07-17 14:05] bkimminich opened #644 "Avoid accidental solves of Basket Access challenge"
As reported in https://github.com/bkimminich/juice-shop/issues/641#issuecomment-405579185 the _Access someone else's shopping basket_ challenge sometimes solves unintentionally.

The scenario(s) when this happens need to be identified and the solution verification has to be made more resistant against such accidental solves.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on

[2018-07-17 14:06] bkimminich commented on #641
Okay, got it. The _Basket Access_ challenge is also one that occasionally solves "on its own" ... I'll check if we can improve it's verification condition a bit: #644

Undoing challenges would probably be a very rarely used feature, and with the filtering and planned hide-solved-feature plus notification re-send in CTF mode, I think the Score Board might get too confusing when adding even more fun

[2018-07-17 14:06] #641 closed

[2018-07-24 12:21] mjaaland opened #651 "JWT alg="none" challenge needs updating"
The solution for the JWT challenge must be updated, and the challenge itself should be reviewed, due to changes in jwt.io
- There is no longer a bug in the site that calls for manual change of "S" to "I" as described in solution
- "none" does no longer work when entered into the decoded fields in jwt.io, it wil invalidate the encoded output and leave it blank

<bountysource-plugin>

---
Want to ba

[2018-07-25 02:33] bkimminich commented on #651
@ViktorLindstrm @J12934 You are the official JWT consultants of the Juice Shop, what do you think? Should we keep the challenge and just give it +1 difficulty star?

[2018-07-25 20:35] J12934 commented on #651
I'm getting falsely classified as a JWT expert here 😅
I don't think I ever did anything JWT related for juice-shop, sure you didn't mean @tghosth?

[2018-07-26 10:19] tghosth commented on #651
Thanks @J12934 :)

Hi @mjaaland , can you remind me where you saw this, comment with a link or something :)

[2018-07-26 10:20] mjaaland commented on #651
Hey,

check out the solutions for the JWT challenge.

https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part1/

[2018-07-26 10:30] tghosth commented on #651
Thanks. This is a more a problem with the way we described the solution, i.e. reliance on using JWT.io, The challenge itself I think is still completely valid and doesn't need changing.

I think the best fix would be to update the solution to not require jwt.io, e.g. write some simple custom code to show how to create the manipulated JWTs.

I will see if I can find time to do that but it will prob

[2018-07-26 11:46] mjaaland commented on #651
I agree to all inputs here, you could up the challenge in difficulty, or find a similar online based tool like jwt.io (and perhaps point to it in the hints?).

Good job to all of you, this app is awesome. I am using it in some training workshops nowdays.

[2018-07-27 15:37] JGillam opened #658 "Segfault on XML upload"
I'm getting a segfault running in a Docker container, Juice Shop 7.4.1.

This occurs whenever I submit a malformed XML file (e.g. such as a blank file or one with a syntax error in it).

[code]

When I restart the container, the folder /home/juicer/.npm/ appears to be missing, so I'm not sure if there is a way to recover that debug log.

[2018-07-27 15:54] bkimminich commented on #658
(Reoccurence of #449 and #610)

[2018-07-27 15:56] JGillam commented on #658
One more piece of info in case it matter: I'm currently running the docker container inside a VirtualBox VM.

[2018-07-31 18:31] J12934 commented on #634
- [ ] XSS Challenge Descriptions are malformed on the scoreboard
- [ ] XSS1 Detection appears to be still not to be working. (Tried `<iframe src="javascript:alert('xss')">` and doesnt solve the challenge but opens the alert)

[2018-07-31 18:46] Aashish683 commented on #634
@J12934 , I checked up with XSS1 detection and it works with `<iframe src="javascript:alert('xss')"></iframe>`.

[2018-08-02 18:33] bkimminich opened #660 ""Export My Data" feature"
_As a_ registered user of the Juice Shop
_I want_ to export all my personally identifiable information
_and_ my transaction data (like purchase history, reviews, feedback)
_so that_ my rights as promised by GDPR are fulfilled.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/61661983-export-my-data-feature?utm_campaign=plugin&utm_con

[2018-08-07 01:16] guyenko opened #663 "Standard init_linux.go:185 exec user process caused "exec format error""
Steps taken:
Run docker pull bkimminich/juice-shop
Run docker run --rm -p 3000:3000 bkimminich/juice-shop
**Results:**
Standard init_linux.go:185 exec user process caused "exec format error"

OS= Kali linux
pip version= 18

**Attempted to run with docker-compose**
standard init_linux_go:185 exec user process caused "exec format error"
Error - Service 'owtf' failed to build: the command 'bin/sh -c

[2018-08-07 13:06] bkimminich commented on #663
@guyenko, I've been asking my fabulous pentester-buddies from https://7ms.us/slack to try reproduce your problem.

Also I am wonderung why the `owtf` service complains in your setup. Is this https://github.com/owtf/owtf or https://www.owasp.org/index.php/OWASP_OWTF or something completely different? Neither OWTF mentioned before has anything to do with the Juice Shop nor is either used by it...

[2018-08-07 14:19] bkimminich commented on #663
I have confirmation by someone from 7MS channel who just ran `docker run --rm -p 3000:3000 bkimminich/juice-shop` on Kali 2018.2 and it worked out of the box.

So, unfortunately the issue must be somewhere on your end. Updating your OS and installing the latest Docker version, that is the best recommendation I can provide at this point.

[2018-08-07 14:19] #663 closed

[2018-08-07 17:01] bkimminich commented on #634
XSS challenge descriptions look okay as well:
![image](https://user-images.githubusercontent.com/3531020/43790885-354244f0-9a74-11e8-9efd-4d5e87ef87bf.png)

[2018-08-08 00:51] guyenko commented on #663
No worries. I am running the app in Heroku. Last week this was not launching and now it is.

[2018-08-08 15:39] bkimminich commented on #658
Could you please pull the `snapshot` image (`v7.5.0-SNAPSHOT`) and see if you still get this error there? Thanks & sorry for the inconvenience!

[2018-08-10 13:03] JGillam commented on #658
No luck, something is still causing it to crash while running the snapshot.  I will have to follow up with additional detail later this weekend (it's been a busy week), but please don't close the issue yet.

[2018-08-12 18:41] bkimminich commented on #634
Just noticed the cookie banner is also missing. Add it to the list.

[2018-08-13 15:09] bkimminich opened #669 "Downloading configured favicon can break server on startup"
The following code from `server.js` will run into errors similar to `Error: ENOENT: no such file or directory, stat 'C:\Data\juice-shop\app\public\favicon.ico'` if (and only if) a configured `application.favicon` is slow (or fails) to be downloaded.

[code]

## Test cases

:heavy_check_mark: `mozilla.yml` reliably works fine
:x: `7ms.yml` fails on startup with above error

[2018-08-13 22:01] bkimminich commented on #669
Actually all downloads are too slow, the Mozilla theme just happens to download an image with an existing filename (`favicon_v2.ico`). Simplest fix is probably to just create a dummy file with the name of the to-be-downloaded file up front.

[2018-08-14 05:55] #669 closed

[2018-08-17 12:40] greenkeeper[bot] opened #674 "An in-range update of stryker-mocha-framework is breaking the build 🚨"
## Version **0.11.1** of **stryker-mocha-framework** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fstryker-mocha-framework-0.11.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=

[2018-08-17 16:09] #674 closed

[2018-08-25 15:58] mdulin2 opened #679 "SQL Injection challenge seems off"
I found it strange that using a basic SQL injection on the login gave the challenge `Log in with the administrator's user account`. I was able to do this without even specifying the admins email, which doesn't feel right. Is this by design or a bug?

[2018-08-25 16:00] bkimminich commented on #679
This is entirely by design... 😜

[2018-08-25 16:00] #679 closed

[2018-08-25 16:06] mdulin2 commented on #679
Okay, thanks. Just wanted to clarify!

[2018-08-25 20:48] bkimminich commented on #634
Here are some screenshots from my mobile phone which illustrate the broken responsiveness currently experienced in the new frontend.

# Angular + Material (8.0.0-SNAPSHOT)
![screenshot_20180825-072913](https://user-images.githubusercontent.com/3531020/44622438-a6c24b00-a8b8-11e8-89e8-518bf9cae116.png) ![screenshot_20180825-072731](https://user-images.githubusercontent.com/3531020/44622439-a6c24b00

[2018-08-27 10:57] bkimminich commented on #400
Obsolete with switch to Material Design in 8.x

[2018-08-27 10:58] #400 closed

[2018-08-27 11:01] bkimminich commented on #658
For some weird reason this does not occur on native Win or Linux, at least not my Win10 machine or the Travis-CI build. This seems to only bother Docker.

Is there some way to tweak memory allocation? Maybe it's a bit too little for Docker container to "survive" 2 seconds of attempted XML Bomb parsing?

[2018-08-27 11:09] bkimminich commented on #658
I'm building a new `snapshot` image which uses default `node` base container instead of `node-alpine`. Could you please check if it this solves the problem for you?

[2018-08-27 21:18] bkimminich commented on #658
Just checked that this doesn't solve the segfault issues...

[2018-08-28 06:51] bkimminich opened #682 "Restore I18N on Angular Frontend"
Translation service is not consequently used on all new Angular yet. This is a reminder ticket to completely restore i18n behavior in the application.

  * [x] about
  * [x] administration
  * [x] basket
  * [x] challenge-solved-notification
  * [x] change-password
  * [x] complaint
  * [x] contact
  * [x] forgot-password
  * [x] login
  * [x] navbar
  * [x] oauth
  * [x] product-details
  * [x] p

[2018-08-29 08:48] J12934 opened #683 "Check runtime environement on startup"
Run some checks on startup to check if the runtime environment is properly set up. These checks could include things like:

- [x] Checking that the Node Version is supported
- [x] Checking if dependencies were dependencies were installed
- [ ] ~Checking if the XML Stuff working~
- [x] Checking if Port 3000 is already in use

If something was some to be missing / wrong we could log out the error an

[2018-08-29 10:47] bkimminich commented on #658
Expert question: Is there any way for the application to determine at runtime that it's running in a Docker container? I think disabling the XXE challenges (and grey out on Score Board with some note about Docker issue replacing the hover hint) is the safest way to address this for now.

[2018-08-29 10:51] bkimminich commented on #658
Looking for a `.dockerenv` file sounds reasonably easy... (from https://stackoverflow.com/a/25518345)

[2018-08-29 16:29] bkimminich commented on #658
Issue solved by disabling XXE challenges on Docker. The challenges are marked as _unavailable_ on the Score Board with a fixed `hint` stating the incompatibility with Docker independent of any configured hint settings.

PS: I really hate this change, but I see no alternative. It might even come in handy for some other Docker-unfriendly challenges (@CaptainFreak?) later for 8.x ...

[2018-08-29 16:30] #658 closed

[2018-08-29 16:36] bkimminich commented on #683
Node version support _should_ be checked because of the declaration in `package.json`, no? And the XML challenges are now automatically disabled when the app runs inside a Docker container.

Do the remaining points warrant an extra `start.bat` / `start.sh` script pair to be added and maintained? Any other things we might put in there?

[2018-08-29 19:12] J12934 commented on #683
The engines flag in the `package.json` only seems to check the engines field if you try to add a this package as a dependency to your project. So wont be checked for our use case as Juice Shop isn't a package.

Checking these things could be done directly in node.
It would just have to be the very first thing we do. So no `.sh` or '.bat' scripts required.

[2018-08-29 23:37] bkimminich commented on #683
Similar to the challenge validation and country codes check then, sounds good!

[2018-09-02 20:13] bkimminich commented on #600
With Angular Material Design shouldn't the top navbar be replaced with a typical sidenav of Material?

https://material.angular.io/components/sidenav/overview

[2018-09-05 11:59] bkimminich commented on #538
To be released with v8.0.0

[2018-09-05 12:00] #538 closed

[2018-09-05 12:02] bkimminich commented on #256
Will become available with v8.0.0

[2018-09-05 12:02] #256 closed

[2018-09-06 22:58] greenkeeper[bot] opened #690 "An in-range update of express-rate-limit is breaking the build 🚨"
## Version **3.1.1** of **express-rate-limit** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fexpress-rate-limit-3.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://gith

[2018-09-12 05:29] mdulin2 commented on #638
Also, could be could be request splitting on a specific API call.

Here's a good article to reference it: https://www.rfk.id.au/blog/entry/security-bugs-ssrf-via-request-splitting/

[2018-09-13 10:59] bkimminich opened #693 "OAuth2 Login via Google fails"
On all allowed URLs (local and Heroku) a login via Google is not possible currently. There is no obvious exception or error being reported, the user is simple redirected to the main page of the Juice Shop and is not logged in. Example:

* https://accounts.google.com/o/oauth2/v2/auth?client_id=1005568560502-6hm16lef8oh46hr2d98vf2ohlnj4nfhq.apps.googleusercontent.com&response_type=token&scope=email&

[2018-09-15 14:06] bkimminich commented on #634
Update: Except for the Recycle and Search Result pages everything now properly scales to different screen sizes. Also, I used one pre-built theme now consequently without overriding too many colors.

[2018-09-15 23:02] bkimminich commented on #634
Search results are now responsive (hide description column on smaller screens). TODO: Modal dialogs also turned out to miss responsive layout, navbar with Score Board button still overflows.

[2018-09-17 17:12] bkimminich opened #697 "Coupon code validation as Azure Function or AWS Lambda"
Juice Shop could make a small step into the direction of a Microservice architecture by moving one of its simplest functionalities to an external cloud service on Amazon, Azure etc.

Possible candidate would be the coupon code validation. It could just decompose a passed in coupon code into its validity and discount value. The access key for this service could be leaked somewhere in the Juice Shop

[2018-09-17 17:18] #583 closed

[2018-09-18 18:51] bkimminich commented on #634
I repaired/rewrote the theming mechanism to work similar to the Bootswatch way by naming actual themes in the config, not colors. Color picking would get too messy with dynamic SCSS compiling etc. By providing canned themes those can all be precompiled and then simply switched by `<body class="...">` replacement during startup. Customization of the Easter Egg Tier 2 goodie now also works again.

P

[2018-09-21 16:58] bkimminich opened #699 "Configurable Product Tampering Challenge URL"
Make the redirect target URL for "Redirect" challenge configureable and replace current http://kimminich.de with OWASP sign-up URL for Slack.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/63711554-configurable-product-tampering-challenge-url?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_medium=issues&utm_source=github)** W

[2018-09-24 08:33] bkimminich commented on #599
Different Angular Material themes will be provided for customization. Static colors (i.e. solved/unsolved markers and notifications) have been changed to the suggested colors from https://github.com/bkimminich/juice-shop/files/2080970/juiceshop.copy.2.pdf.

[2018-09-24 22:25] bkimminich opened #701 "Migrate Review upvoting into Angular client"
Currently upvoting reviews is missing in `gsoc-*` branches where new Angular frontend is active. The _Multiple Likes_ challenge can only be solved via backend interaction, but it is not obvious that this feature exists at all without its UI representation. The AngularJS implementation needs to be migrated to Angular.

[2018-09-27 11:57] bkimminich commented on #600
### Large
![image](https://user-images.githubusercontent.com/3531020/46144375-06679980-c25d-11e8-897e-c50c79664edd.png)

### Medium
![image](https://user-images.githubusercontent.com/3531020/46144424-2a2adf80-c25d-11e8-9699-ec40662d9f1a.png)

### Small
![image](https://user-images.githubusercontent.com/3531020/46144443-3d3daf80-c25d-11e8-9617-68661771900d.png)

### Extra Small
![image](https://use

[2018-09-27 11:57] #600 closed

[2018-09-28 13:59] bkimminich opened #705 "Fix layout/responsiveness in Angular Frontend"
* [x] about
  * [x] administration
  * [x] basket
  * [x] challenge-solved-notification
  * [x] change-password
  * [x] complaint
  * [x] contact
  * [x] forgot-password
  * [x] login
  * [x] navbar
  * [x] oauth
  * [x] product-details
  * [x] product-review-edit
  * [x] qr-code
  * [x] recycle
  * [x] register
  * [x] score-board
  * [x] search-result
  * [x] server-started-notification
  * [ ]

[2018-09-28 14:03] bkimminich commented on #379
Outdated by new theming mechanism of Angular frontend coming with v8.0.0

[2018-09-28 14:03] #379 closed

[2018-09-28 14:08] bkimminich opened #706 "Juice Shop themed wallpaper"
_As a_ fan of the OWASP Juice Shop
_I want_ a wallpaper for my PC
_and_ a wallpaper for my mobile phone/tablet
_so that_ I always feel warm and cozy when watching my screen.

Bonus: (Part of a) Wallpaper might be used as a cover image for Facebook and Twitter.

[2018-09-30 02:27] bkimminich commented on #693
Google does not support `localhost` or IP addresses in its OAuth process any longer:
![image](https://user-images.githubusercontent.com/3531020/46252461-12c04200-c469-11e8-8b1d-359b11e66988.png)

[2018-10-01 07:52] bkimminich commented on #693
Even with redirect URLs Google-Login still won't work on v7.5.x, but it does work in the v8.x (`release-v8` branch) for unknown reason.

[2018-10-01 14:56] #682 closed

[2018-10-01 14:56] #705 closed

[2018-10-01 14:58] bkimminich opened #708 "Migrate "Token Sale" page to Angular6"
The `token-sale` component is the last remaining page that is not migrated to Angular 6 frontend yet.

[2018-10-04 10:57] h-gupta opened #710 "Install failing"
Sys Details : Linux ubuntu 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Node Version 8.X

Tried 6.X version earlier but failed

Error logs::

npm install

Illegal instruction (core dumped)
npm ERR! code ELIFECYCLE
npm ERR! errno 132
npm ERR! juice-shop@5.0.1 postinstall: `bower install && grunt minify && grunt docker`
npm ERR! Exit status 132
npm ER

[2018-10-04 11:48] bkimminich commented on #710
v5.0.1 is a very old Juice Shop version. Any reason why you download that? Please get v7.5.1 and try again on Node 8 or higher. If it doesn't work, please reopen and post error log.

[2018-10-04 11:49] #710 closed

[2018-10-04 12:06] h-gupta commented on #710
Ohh....didin't realise there was a more current version available ..was just following a blog post....Must be an old one ..Thanks working now

[2018-10-06 00:47] eeeschwartz commented on #658
FWIW I'm able to execute the XML file upload on Docker for Mac `18.06.1-ce-mac73 (26764)` running juice-shop 7.4.1 release. No segfaults for me.

[2018-10-06 00:51] eeeschwartz commented on #658
Spoke too soon. It seems to depend on the xml payload.

This crashes the app for me:

[code]

This does not

[code]

[2018-10-06 08:30] bkimminich commented on #658
7.4.1 still has XML. parsing enabled on Docker, so crashes can happen. Use 7.5.x to have the safety on for XXE in Docker / Heroku.

[2018-10-11 12:42] bkimminich commented on #640
CC/ @J12934 @wurstbrot

[2018-10-11 20:35] J12934 commented on #640
If i remember correctly this was made to access the raw body instead of the body parsed by body parser.
This was required to implement the parameter pollution challenge.

Mhhh this is weird that this apparently only happens in the api tests. Could this possibly something specific to frisby?

[2018-10-12 22:05] bkimminich commented on #640
Maybe it's the way frisby sends its requests compared to how Angular does it? If Angular sends them stringified and frisby does not but sends plain JSON objects, that would explain the error only occuring during API testing. Just guessing, though, needs some actual fact checking...

[2018-10-15 09:10] #165 closed

[2018-10-15 09:10] #708 closed

[2018-10-15 13:45] #701 closed

[2018-10-15 13:46] #640 closed

[2018-10-15 15:18] bkimminich commented on #693
Will be obsolete with upcoming 8.x release.

[2018-10-15 15:18] #693 closed

[2018-10-15 15:33] #411 closed

[2018-10-17 16:52] #592 closed

[2018-10-25 21:52] jtrevner commented on #706
Image sizes based on devices I have access to - MacBook Pro and iPhone 8.
![juiceshopdark2880x1800](https://user-images.githubusercontent.com/5083989/47532528-99a4e680-d87e-11e8-959e-6a5bc0ebcff3.png)
![juiceshoplight2880x1800](https://user-images.githubusercontent.com/5083989/47532534-9c074080-d87e-11e8-8443-db674e8a9276.png)
![juiceshopdark750x1334](https://user-images.githubusercontent.com/5083

[2018-11-03 20:44] bkimminich opened #729 "Improvements User Profile"
* [x] Customize `title`
* [x] Based on selected `application.theme`, read colors from `frontend` _or_ pick from a redundant color definition file
* [x] Actually display user avatar somewhere in the application (e.g. instead of FontAwesome user-icon in navbar)
* [x] Email should not be changable (might mess up several of the "Login as"-challenges when emails were changed before trying those)
* [x]

[2018-11-04 11:20] bkimminich opened #730 "Username XSS Challenge"
Username in User Profile is susceptible to XSS. This could simply become a Stored XSS-challenge in totally insecure legacy code or could be made harder with e.g. having to beat a weak Whitelist Input-Validation.

## Possible Flow

1. You expect payload with `<script>` tag for this challenge and state so in the description.
2. Your RegEx blocks sending `<script>` directly.
3. If attacker sends `<sc

[2018-11-04 19:20] lucasturci opened #731 "Cannot find module './clone.js'"
Hello, I tried installing juice-shop using node, but I get this error

    internal/modules/cjs/loader.js:596
        throw err;
        ^

    Error: Cannot find module './clone.js'
        at Function.Module._resolveFilename (internal/modules/cjs/loader.js:594:15)
        at Function.Module._load (internal/modules/cjs/loader.js:520:25)
        at Module.require (internal/modules/cjs/loader.js:65

[2018-11-04 19:57] greenkeeper[bot] opened #732 "An in-range update of grunt-cli is breaking the build 🚨"
## The devDependency [grunt-cli](https://github.com/gruntjs/grunt-cli) was updated from `1.3.1` to `1.3.2`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fgrunt-cli-1.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

grunt-cli is a devDependency of this proje

[2018-11-04 21:13] greenkeeper[bot] opened #733 "An in-range update of cors is breaking the build 🚨"
## The dependency [cors](https://github.com/expressjs/cors) was updated from `2.8.4` to `2.8.5`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fcors-2.8.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cors is a direct dependency of this project, and **it is v

[2018-11-04 21:15] bkimminich commented on #731
Juice Shop supports node.js 8, 9 and 10 at the moment. Of course 11 will be added at some point, but probably not before all pre-built dependencies (like `sqlite3` & `libxmljs`) have stable versions for node.js 11 available.

[2018-11-04 21:15] #731 closed

[2018-11-04 21:16] #733 closed

[2018-11-04 21:16] #732 closed

[2018-11-04 22:49] lucasturci commented on #731
Actually, I first had this error with node.js version 10.3.0
I figured that since there was a newer version of node, updating might resolve the issue. But yeah, no..
I'd really appreciate if you could give me a hand, and if there is some info I can give you but didn't, please tell me!
Thanks in advance!

[2018-11-06 07:21] bkimminich opened #734 ""Log in as Amy"-challenge"
- Refers to https://en.wikipedia.org/wiki/Amy_Wong
- Description refers to her password bein "Her lover hiding in a haystack"
- Difficulty: :star::star::star: or :star::star::star::star:

- Hint 1: This is essentially a Google challenge
- Hint 2: This challenge is a cheers to Steve Gibson

[2018-11-06 07:24] bkimminich opened #735 "Change "Log in as Bjoern"-challenge solution"
As the current password is already part of some Rainbow Tables online, some additional tweaks should be added to make it _different_ but not necessarily harder.

[2018-11-06 09:00] #734 closed

[2018-11-06 17:30] #735 closed

[2018-11-07 08:17] bkimminich opened #737 "Replace mat-icons with fa-icons in Register & Login component"
Was missed during screen-by-screen migration

[2018-11-13 07:06] #638 closed

[2018-11-13 07:08] bkimminich opened #741 "Press Kit page"
## Use Case
Add a page where media like
- logos
- wallpapers
- ...
can be download.

## Optional Challenge
Add alpha-jingle and/or lyrics here "accidentally" and create challenge(s) to find them

[2018-11-13 15:44] battletux opened #742 "Build of v8 fails on Raspberry Pi"
Trying to update the Raspi docker image to v8 and I've come across an issue at the post install stage, I've only a very bad photo of the issue (sorry about that, was not able to do this over shh).

[Docker issue](https://imgur.com/a/qgvBlL1)

Any obvious pointers on where this is going wrong? my Dockerfile only contains changes to the base images used, arm32v7/node:10, for both stages of the build

[2018-11-13 17:59] bkimminich commented on #742
Hm, the error message does not reveal anything more than the `132` error code? That is really not a lot to work with... :disappointed:

[2018-11-13 18:20] battletux commented on #742
Yeah, what would happen if I changed the max-old-space-size variable? It seems to be 8gig but is that disk or ram? If ram then that might be a cause for not enough memory?

[2018-11-13 18:33] bkimminich commented on #742
It would make the compile process a lot slower, but that should be it...

[2018-11-13 19:31] battletux commented on #742
@bkimminich Where can I find that variable? I've had a look around the frontend folder and at various files but I can not seem to find it.

[2018-11-13 19:36] battletux commented on #742
Nevermind, found it.

[2018-11-13 20:36] battletux commented on #742
@bkimminich nope, a whole new load of errors:

`../src/node_sqlite3.cc:54:5: note: in expansion of macro 'DEFINE_CONSTANT_INTEGER'
../src/macros.h:63:5: warning: 'Nan::Maybe<bool> Nan::ForceSet(v8::Local<v8::Object>, v8::Local<v8::Value>, v8::Local<v8::Value>, v8::PropertyAttribute)' is deprecated (declared at ../node_modules/nan/nan_maybe_43_inl.h:130) [-Wdeprecated-declarations]
../src/node_sqli

[2018-11-13 20:37] battletux commented on #742
Where is the debug log it mentions? I do not appear to have a .npm folder in /root. Is it in the container?

[2018-11-13 21:09] battletux commented on #742
So I've tried again and dumped the terminal output to a file, the full output is here:

[Juice-shop_arm version 8 issues - PasteBin](https://pastebin.com/6bEbcJKC)

[2018-11-13 23:01] bkimminich commented on #742
It seems to fail finding a pre-built SQLite3 version for you and then fails at building one from source. The older images you have, did they download `sqlite3` and also `libxmljs` or did they build them successfully from source?

[2018-11-15 08:13] battletux commented on #742
I'm going to totally jinx this but so far building with arm32v7/node:8 seems to be working, in that I've not got to
`

`
So am hoping sqlite3 built fine. I *think* the issue is due to node-pre-gyp, node 10 and arm. Something about that combo is not working and I'm not sure what. Some google fu shows others with this issue.

Are there any issues that you can foresee with this on node 8 vs node 10?

[2018-11-15 09:02] battletux commented on #742
Ah, I knew I would jinx it:

[code]
So I need to sort the user creation bit and hopefully that will mean it will build...

[2018-11-15 21:56] EMCain opened #744 "reflected XSS not registering on score board"
Hello,

I thought I successfully performed a reflected XSS attack by visiting the following URL:

http://localhost:3000/#/search?q=%3Ciframe%20src%3D%22javascript:alert(%60xss%60)%22%3E

However, it is not showing up as completed on the score board.

If this is not enough to complete the challenge, maybe a note could be added to the [book](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/con

[2018-11-16 01:13] bkimminich commented on #744
Hi! I just started my server and your link gives me exactly _the expected_ solved notification... Small hint: "Where does everything after `#` in any URL _never_ go?" ;-)

[2018-11-16 01:13] #744 closed

[2018-11-16 11:33] cneubauer opened #746 "Application crashes on SQL injection"
Hey,

I was running Juice-Shop in docker. The application crashes, when injected the following SQL statement in the search input

[code]

Request, that was sent
[code]

Error message, that was produced.

[code]

Is this related to #155 ?

Best regards
Christian

[2018-11-16 18:15] bkimminich commented on #746
I'll try to reproduce it and see if I can catch errors like this somehow. But there will always be ways to kill the server with some very nasty injection or RCE command, so some restarts might just be unavoidable.

[2018-11-16 18:50] bkimminich commented on #746
The query dies somewhere so deep in `sequelize`, it does not even reach the first line of my promise callback. Means, I don't really have anything I can do... Sorry, just like #155 this is one of those uncatchable errors.

[2018-11-16 18:50] #746 closed

[2018-11-16 20:41] #737 closed

[2018-11-21 14:17] dmqpdx commented on #706
How do you want this issue resolved?  Create a directory in project for wallpapers and submit pull request?  Post images in comments to this issue like above comment?

[2018-11-21 15:54] dmqpdx commented on #706
Here you go!

![facebook event](https://user-images.githubusercontent.com/16926914/48852595-92300a80-ed62-11e8-8e01-52985a73d8df.jpg)
![mobile](https://user-images.githubusercontent.com/16926914/48852603-952afb00-ed62-11e8-95a9-de1c9153ed0a.jpg)
![twitter](https://user-images.githubusercontent.com/16926914/48852609-98be8200-ed62-11e8-8436-4ef2f2305a0f.jpg)
![mobile-lg](https://user-images.githubus

[2018-11-21 15:56] bkimminich commented on #706
Amazing work! Big thanks to your designers, @dmqpdx!

[2018-11-22 10:56] Cord-Friemel opened #750 "Server shut down after upload of pw secured zip in Complaint form"
if i try to upload a pw secured zip on the complain form the system throws several errors and shutdown i can reproduce this error which different zip archives.

i use the version juice-shop-8.0.2_node8_linux_x64 of the juice-shop

This are two of the zip files with throws the errors
[Plain Text.txtpw.zip](https://github.com/bkimminich/juice-shop/files/2607679/Plain.Text.txtpw.zip)
which contains o

[2018-11-22 11:04] Cord-Friemel commented on #750
i forget to attach the given deug file so
[npm-debug.log](https://github.com/bkimminich/juice-shop/files/2607722/npm-debug.log)

[2018-11-22 20:06] bkimminich commented on #750
`Error: invalid block type` will be gone with version 8.1.0. If you want to test, please run `develop` branch or Docker tag `snapshot`.

[2018-11-22 20:06] #750 closed

[2018-11-26 09:34] bkimminich opened #751 "Juice Shop project roll-up banner"
For conference appearances it would be great to have a roll-up available with the basic information, QR-code links, logo etc. about the OWASP Juice Shop so participants can easily access the information during or after the conference.

- Target size for designs should be **60x200cm**
- Good legibility of the QR code and also the URL and Twitter handle from a distance is mandatory
- Content should

[2018-11-27 15:34] bkimminich commented on #751
https://99designs.de/postcard-flyer-design/contests/owasp-juice-shop-project-postcard-roll-up-banner-872882/entries

[2018-11-27 15:35] bkimminich commented on #530
https://99designs.de/postcard-flyer-design/contests/owasp-juice-shop-project-postcard-roll-up-banner-872882/entries

[2018-11-27 15:43] J12934 opened #753 "Submit forms by hitting enter"
With the new frontend it is no longer possible to submit forms (like the login, search form) by hitting enter.
This is pretty annoying if you are used to it 😕

[2018-11-27 17:09] bkimminich commented on #753
Yes, that is totally annoying, agreed! I stumble over this in every demo as well... :angry:

[2018-11-30 10:38] supra08 commented on #730
@bkimminich can I take up this issue or it is on the verge of completion?

[2018-11-30 11:05] bkimminich commented on #730
It's not being worked on yet, at least not by me, so feel free to do it!

Please don't forget to check out the contributors guide before starting.

[2018-11-30 11:14] supra08 commented on #730
Alright @bkimminich :+1:

[2018-12-04 09:53] bkimminich commented on #751
99designs contest is being wrapped up, designs will be uploaded to OWASP Swag repo afterwards.

[2018-12-04 09:53] #751 closed

[2018-12-04 09:53] bkimminich commented on #530
99designs contest is being wrapped up, designs will be uploaded to OWASP Swag repo afterwards.

[2018-12-04 09:53] #530 closed

[2018-12-05 22:43] #741 closed

[2018-12-06 19:30] jeffersonbenson commented on #561
Though perhaps done in error, it would appear that the link described is no longer present (see attached screenshot). The only way I found was to visit the link listed in the gitbook and that appeared to complete the challenge. I would like to ask that the issue be reopened and checked out.

![selection_008](https://user-images.githubusercontent.com/19256220/49607080-01ad1900-f963-11e8-91d0-cd4364

[2018-12-06 19:36] bkimminich commented on #561
Your assessment is correct, there is no such link any more, but the URL can be found elsewhere now, because it was not very smartly removed by the developers... Corresponding Gitbook section is not updated yet (still marked with ":warning:") but I'm sure you can find it without help...

[2018-12-08 23:42] bkimminich commented on #730
Challenges are defined in `challenges.yml` and are given a `key` by which they are referred to in the backend code. If you search for all occurences of `reflectedXssChallenge` in the code, you should get a good idea how challenges are included and verified for being solved.

[2018-12-08 23:44] #529 closed

[2018-12-08 23:46] bkimminich commented on #465
There are now 3 different tiers of NoSQL injection challenges.

[2018-12-08 23:46] #465 closed

[2018-12-09 19:39] bkimminich commented on #356
### Coupon code skill

##### Trigger phrases
_"Alexa, what is the Juice Shop (monthly) coupon (code)?"_
_"Alexa, tell me the Juice Shop (monthly) coupon (code)."_
_"Alexa, give me the Juice Shop (monthly) coupon (code)."_
_"Alexa, give me a `[number]` percent Juice Shop coupon (code)."_ (accepts numbers from 1-20 only)

##### Implementation
Retrieves coupon code for `[number]%` or `10%` per defaul

[2018-12-15 22:20] bkimminich commented on #742
@battletux, all good with your ARM-based image as long as you stick to Node 8? Can we close this issue?
Are there any manual steps you are making to build this that couldn't be automated? I'm not really good with Docker, but maybe we can make an automated build out of it in the long run?

[2018-12-16 06:09] battletux commented on #742
Sorry, not had a chance to finish this yet.

On Sat, 15 Dec 2018, 22:20 Björn Kimminich <notifications@github.com wrote:

[2018-12-18 17:55] bkimminich commented on #330
https://blog.doyensec.com/2018/05/17/graphql-security-overview.html

[2018-12-21 12:48] getupandgo opened #767 "Real-world path traversal challenge?"
I saw that there some challenges for file retrieval exists already [[1]](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/solutions.html#access-a-developers-forgotten-backup-file), [[2]](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/solutions.html#access-a-salesmans-forgotten-backup-file), but this challenges are limited to .md files and are not a v

[2018-12-21 13:00] bkimminich commented on #767
There is also [3](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/solutions.html#retrieve-the-content-of-cwindowssystemini-or-etcpasswd-from-the-server) but that's about it at the moment. We are lacking a "normal" path traversal vulnerability at the moment. We tried it some years back, but it messed with the `serve-index` module too much.

So, any ideas on a different way a

[2018-12-21 13:53] bkimminich opened #768 "Obfuscate tracking image names"
Currently the tracking image names are challenge-related, so they show up when searching for obvious keywords in the `main.js` file, somewhat allowing easy cheating by just opening them. Example:

Searching for `tokensale` in yields only two hits, one is the tracking image URL:
![image](https://user-images.githubusercontent.com/3531020/50345591-e7149b80-052f-11e9-9ad6-fc7d8662051a.png)

While obfu

[2018-12-29 06:05] bkimminich opened #770 "Pastebin-related challenges"
In the _Sensitive Data Exposure_ category there could be several challenges where data is to be harvested from PasteBin, simulating a typical developer mistake of exchanging data over that platform e.g. with external consultants off-site.

Multiple tiers would be possible, e.g.
* a very simple data leakage which is easy to find via keyword search and solved by reporting via _Contact Us_
* a key or

[2018-12-29 06:06] #768 closed

[2018-12-31 19:19] rratliff opened #772 "security.txt not at expected location"
The "Security Policy" Challenge says to behave like any 'white hat' should.

I tried browsing to `.well-known/security.txt` but the challenge did not mark itself as solved. Is it intended that your security.txt document is not under the `.well-known` path?

https://securitytxt.org/

[2018-12-31 19:26] rratliff opened #773 "Basket Access Tier 2, doesn't trigger when manipulating quantity"
### Challenge:
Basket Access Tier 2
Manipulate another user's basket.

### Steps to reproduce:

1. Log in using an account.
2. Update "bid" value in session storage to a valid basket id of a different user.
3. Click "Your basket"
4. Notice at this point it is actually the other user's basket.
5. Increment or decrement the quantity of one of the items using buttons in the UI.

### Expected:

I shou

[2018-12-31 22:44] #772 closed

[2018-12-31 22:44] bkimminich commented on #772
The file location is changing to the expected with 8.3.0, currently it is in a different place...

[2019-01-01 01:35] bkimminich commented on #773
Tier 2 assumes you do the manipulation in one step, if I'm not mistaken. Maybe the description needs to be a bit more specific. Have to check the implementation though and also update the ebook accordingly. Thanks for noticing!

[2019-01-01 14:01] bkimminich commented on #773
Challenge will be rephrased with 8.3.0 release.

[2019-01-01 14:01] #773 closed

[2019-01-02 22:50] supra08 commented on #770
@bkimminich, can I take up this issue?

[2019-01-03 00:50] bkimminich commented on #770
@supra08, did you check my remarks on #766 where there still is one fundamental change necessary to make that challenge work as expected? I'd be happier if you wrap that up instead of starting something different in parallel. Thanks!

As for the PasteBin challenges, of course feel free to put _your ideas_ into the comments to this issue at any time!

[2019-01-08 09:27] M4ttsson opened #775 "XSS Demo link not working"
I tried the demo for XSS and it doesn't work anymore. I followed the instructions and are running docker-compose correctly and the page works fine.

First problem is that the <script> tag is not working in the search field anymore. I changed that to an img instead and the script tag for shake.js is created correctly. But then I get a syntax error in shake.js. Seems like JQuery is missing and shake

[2019-01-08 09:55] bkimminich commented on #775
That is _awesome_, please submit a PR for this! Having a CDN-import of `jquery` is fine - story-wise it could be a "forgotten import", which happens a lot in real applications as well... ;-)

Also, the XSS Demo never worked w/o Internet access anyway as `shake.js` is loaded via CDN as well, so it's not that we are getting any worse here.

[2019-01-08 10:04] bkimminich commented on #775
We could even make a :star: or :star::star: challenge out of this:

[code]

[2019-01-08 11:38] M4ttsson commented on #775
Yes that could be nice, I could perhaps look at it later?

I created a pull request for this change now. Perhaps you could test it with the new link so I know it works somewhere else than my machine. :)

[2019-01-08 12:07] bkimminich commented on #775
As it's not a dangerous change for the rest of the app I'll merge it and then try it out locally on `develop`, sure! If it works fine, you could replicate your change into https://github.com/wurstbrot/shake-logger maybe?

[2019-01-09 07:03] bkimminich commented on #775
I don't get the Vagrant setup working due to Apache issues, but those existed before. If it works for you, that's good enough for me, but maybe @wurstbrot wants to verify the new link works?

[2019-01-09 17:40] d80ep08th commented on #644
May I take up this issue?

[2019-01-09 18:22] bkimminich commented on #644
Of course you may!

[2019-01-09 18:24] bkimminich commented on #775
Yes, that'd be great! I'll assign this ticket to @wurstbrot to verify the Juice Shop end and maybe come up with some idea why Vagrant is so picky (for me) ... ;-)

[2019-01-09 20:36] ardalis opened #777 "IsAdmin:1 Should work for challenge register admin user."
If you register a user via /api/Users and add IsAdmin:true it works, but if you use IsAdmin:1 it still creates an admin user but it doesn't unlock the challenge.

[2019-01-10 13:30] Andrew-Stubbs opened #778 "Score-board status buttons don't work in firefox"
The buttons don't do anything when clicked, and the tooltips don't appear on hover for the status buttons:

![image](https://user-images.githubusercontent.com/11270059/50971257-78e24980-14db-11e9-9705-cfaf080e4d6c.png)

This is an [issue with firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=843003), [captured by the angular material](https://github.com/angular/material2/issues/6886) team with

[2019-01-10 15:09] bkimminich commented on #778
Wow, I wonder how this didn't get reported until now... Lot's of Chrome users (like myself...) out there probably... ;-) ... ... Thanks @Andrew-Stubbs for not only reporting but also fixing this! Please send me your address via email or Twitter DM and I'll send you our _1st-time-contributor-swag-pack_!

[2019-01-10 18:30] wurstbrot commented on #775
Hi,

I am using branch develop, go to vagrant via _cd vagrant_ and change the docker image in _bootstrap.sh_ to _snapshop_ to have the new changes.

Afterwards I perform _vagrant up_ wait a few seconds and put the following URL into my browser _
http://192.168.33.10:3000/#/search?q=<img src=x onerror='var js=document.createElement("script");js.type = "text/javascript";js.src="http://localhost:8080

[2019-01-11 09:21] M4ttsson commented on #775
Strange. I will see if I can try it on another computer as well this weekend.

I'm a bit new to docker and vagrant, so I'm not sure where in bootstrap.sh you changed for it to run the latest changes. I'm running lubuntu in a virtualbox vm. On branch develop. I ran the bootstrap.sh to start docker image, then i ran npm start but on port 4000 to get my changes. If I then navigate to the img URL (cha

[2019-01-11 09:31] M4ttsson commented on #775
hmm. This is even stranger. It works with audio and shake when on my vm using localhost. But changing the url to my vm ip and connecting from my host (windows) I get the DOM exception and no audio. But it worked just fine from my host yesterday when using docker-compose.

[2019-01-11 09:59] M4ttsson commented on #775
Solved my difference between host and vm at least. It only works completely in firefox for me. In chrome I get the dom exception the first time. After I removed /var/lib/docker and started it again I don't get the problem with port 808080808080 anymore either.

[2019-01-11 16:23] #778 closed

[2019-01-12 09:07] bkimminich commented on #775
Ooookay, I can now confirm that using the `shake-logger` launch option without Vagrant and instead `docker-compose` the XSS Demo works in Firefox. What doesn't work for me is the Logger:

[code]

[2019-01-12 09:14] M4ttsson commented on #775
Try sending a request manually to the logger using the input parameter, it should create the file then and the error message should dissappear.

[2019-01-12 13:53] aaryan01 commented on #777
I'd like to work on this.

[2019-01-12 16:44] bkimminich commented on #777
This is already solved with #778, it just not closed yet.

[2019-01-12 16:57] aaryan01 commented on #777
Oh ok

[2019-01-12 17:39] aaryan01 commented on #753
Hi! I have successfully fixed this issue for main login form, I'd like to submit a PR for that and then work on search and other areas.

[2019-01-12 17:56] bkimminich commented on #753
Awesome! 👍 Yes, please submit a PR then I'll check it works on my Browser as well!

[2019-01-13 02:00] #777 closed

[2019-01-13 06:07] aaryan01 commented on #729
@bkimminich I'd like to work on this issue but I'm not sure from where to import the image of all the users. For the OAuth users, we can get the image URL through an API call. Are we storing images of other users on server?

[2019-01-13 08:56] bkimminich commented on #753
@aaryan01, I think we need to make the submit by `Enter` conditional, as it currently also works when the _Log In_-button is disabled because the form is incomplete.

[2019-01-13 19:58] aaryan01 commented on #753
@bkimminich I have submitted a PR which solves this issue for many forms. Still working on the search form.

[2019-01-14 17:00] philly-vanilly opened #784 "Create Stronger Captcha"
The tier 5 captcha challenge (about making many requests ina few seconds) can currently be solved by simply executing cURL or Postman very quickly, because you can define the captchaId and answer to it yourself:

`{"UserId":1,"captchaId":2,"captcha":"96","comment":"ur shop sux!!1","rating":1}`

So why not move this challenge one or two levels down and make a more difficult Captcha? You could place

[2019-01-14 17:01] bkimminich commented on #753
:bug: The _Contact Us_ form can currently be submitted with zero stars when hitting Enter
:bug: The _Request Recycling Box_ form can currently be submitted with a Deliver Address shorter than 20 characters

I assume there might be similar issues in other forms as well due to the attempted replication of the form validity conditions? Isn't it possible to retrieve the enabled/disabled state of the b

[2019-01-14 18:39] bkimminich commented on #784
Possible libraries to use
* https://www.npmjs.com/package/svg-captcha

[2019-01-16 02:07] #753 closed

[2019-01-17 16:24] aaryan01 commented on #699
@bkimminich Are you referring to both Redirect Tier 1 and Tier 2? And could you elaborate how exactly should it be configurable? Thanks

[2019-01-21 13:33] bkimminich commented on #730
Challenge is merged, undergone a little refactoring and test repairs and should go live with 8.4.0! Thanks, @supra08! Please send me your address via email and I'll make sure some stickers find their way to you! :+1:

[2019-01-21 13:33] #730 closed

[2019-01-22 07:18] buzzz opened #789 "Load time of Score Board requires improvement"
In version 8.3.0 (haven't tried another 8.x version) the loading of the score board is very slow especially when the juice-shop runs in Virtualbox (created by Vagrant). Loading time for the scoreboard page takes about 30 seconds.
Loading of https://juice-shop.herokuapp.com/#/score-board takes about 6 seconds on the host machine.

<bountysource-plugin>

---
The **[$10 bounty](https://www.bountysour

[2019-01-22 10:05] bkimminich commented on #789
The Score Board is currently very inefficient in calculating the percentages and number of solved challenges per difficulty, challenge categories to display etc. This definitely needs some optimization as even 6sec is too long to wait for.

[2019-01-23 19:04] supra08 commented on #770
@bkimminich, for the implementation I was thinking of the first approach, i.e. simple data leakage. I have the following flow in my mind:
* The user is in the products page and is referred to a particular product in the challenge description.
* He finds a wierd word regading the fruit in the description and searches over the internet.
* He gets a pastebin related result.
* The paste is actually a

[2019-01-26 09:46] devanshbatra04 commented on #789
Hey, I really want to get started to contributing here. Can I take this up?

[2019-01-26 10:20] bkimminich commented on #789
@devanshbatra04, that would be awesome! Any performance improvement to the Score Board is highly appreciated! Not a Vagrant specific issue, you'll see the spinner for some seconds locally as well.

[2019-01-28 17:13] bkimminich commented on #699
Currently the challenge asks to redirect to the fixed target URL `http://kimminich.de`. This should become a configuration value, e.g. `redirectChallengeTargetUrl: "http://kimminich.de"` in the `default.yml` and could then be overwritten in individual customized setups. The challenge check and all tests then of course also need to use this configured value instead of the static one.

[2019-01-30 16:30] #729 closed

[2019-01-30 16:32] bkimminich commented on #775
@wurstbrot, is this something that could be fixed by providing an empty log file up front?

[2019-01-31 10:51] #770 closed

[2019-01-31 15:12] aaryan01 commented on #699
@bkimminich, I read the code of the challenge - according to my interpretation and tests, it can be solved for any URL which contains the whitelisted URL and does not start with one of the whitelisted URLs. For instance, I was able to solve the challenge by entering the URL "http://localhost:3000/redirect?to=https://www.google.com?pwned=https://github.com/bkimminich/juice-shop".

Please correct me

[2019-01-31 15:42] bkimminich commented on #699
You are totally right, for _Redirect Tier 2_ the target page correctly triggers for all non-whitelisted targets! I mixed it up with the _Product Tampering_ challenge...

There currently only the _original_ URL is configurable (see `urlForProductTamperingChallenge` in `products` list of `default.yml`) but the URL _to overwrite_ that one with is static (http://kimminich.de) at the moment. It would b

[2019-02-01 12:07] supra08 commented on #451
@bkimminich, can I take up this issue?

[2019-02-01 17:16] #599 closed

[2019-02-02 00:04] bkimminich commented on #451
Sure thing! Do you have an idea where to implement such a challenge without interfering with existing ones?

[2019-02-02 09:53] supra08 commented on #451
I was thinking of `order.js`, `showProductReviews.js`and `trackOrder.js` as in these there wouldn't be direct interference with existing challenges. But still for `order.js`, the baskets relation with product can pose a problem as mentioned by CaptainFreak.
Do you have something in mind where we can inject the vulnerability? @bkimminich

[2019-02-02 14:30] aaryan01 commented on #699
@bkimminich  I have submitted a PR for this issue :+1:

[2019-02-02 17:54] J12934 commented on #234
I really like the idea of having 2FA related challenges. I'd love to start working on that.

*I'm not (yet 😉) an expert in 2FA system, so please correct me if i got something drastically wrong)*

I like this challenge idea, thought i would prefer the challenge to **not** be around a implementation flaw in the 2FA flow.

I would love the challenge to show that the **2FA implementation is only as st

[2019-02-02 18:59] bkimminich commented on #234
@J12934 I like your attack path idea a lot! Much more realistic that way! 👍

[2019-02-02 21:02] devanshbatra04 commented on #789
This seems to be an error with Terser v3.16.0 a dependency for Angular dev tools apparently.
And its just reported a few hours ago with everyone going nuts.

https://github.com/webpack-contrib/terser-webpack-plugin/issues/66

[2019-02-02 21:31] bkimminich commented on #789
Oh awesome... Let's hope it gets fixed quickly. Until then you might work around it by adding a dependency on the previous version explicitly in `package.json`.

[2019-02-02 22:00] devanshbatra04 commented on #789
The application configuration HTTP request that's taking insane amounts of time to load on the score board page. Its taking over 1 second on local. Also this request gets made multiple times, not sure why.
The response is the config json.
We should implement some sort of caching probably?

![image](https://user-images.githubusercontent.com/33961252/52169772-d462c880-2763-11e9-98f0-7237efa39af0.png

[2019-02-03 03:04] bkimminich commented on #789
Caching the config on the client is totally OK as there is no on-the-fly changes to it. Config changes require a server restart. This should even help reduce load time on _all screens_ a bit, I assume! ⏱

[2019-02-03 11:16] supra08 commented on #451
For the String-based operators challenge, I was thinking something like this:
* There was a recent cleanup and restoration of all the products.
* But due to absence of proper inspection, few products are left out, and one of them with id greater than 33(or the present number of items).
* So the challenge is we have to order a product with say id = 44.
* So the attacker can inject '"$gt": 33', to t

[2019-02-07 07:18] #699 closed

[2019-02-09 07:49] aaryan01 commented on #598
@wurstbrot  @bkimminich  I would love to work on this.

[2019-02-09 07:54] aaryan01 commented on #598
Just a doubt regarding the design you have attached, can I improvise on it or should I attempt to make a new one? Thanks!

[2019-02-09 08:18] bkimminich commented on #598
Hi! Thanks for the offer, but please do not work on any design tickets right now. Beginning of March a student will be doing his master thesis on UI design.

[2019-02-09 08:20] aaryan01 commented on #598
Sure. Thanks for informing!

[2019-02-10 09:18] PeledEldan opened #801 "Misspelt language title - Hebrew"
The Hebrew title in the navigation bar is misspelt.

Now:
{ key: 'he_IL', icons: [ 'il' ], lang: 'עברי', isFlask: true }
![screen shot 2019-02-10 at 11 11 47](https://user-images.githubusercontent.com/7409721/52531871-f8567900-2d24-11e9-95ec-6917ce591ae2.png)

Should be:
{ key: 'he_IL', icons: [ 'il' ], lang: 'עברית', isFlask: true }
![screen shot 2019-02-10 at 11 10 31](https://user-images.github

[2019-02-10 17:09] jaybobo opened #802 "Pwning OWASP Juice Shop documentation needs updating"
In a meetup we held yesterday for new and intermediate developers, we had attendees follow the challenge guide hints and solutions listed here: https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/solutions.html

**Unfortunately, attendees were unable to locate the `main.js` file in their Chrome Dev Tools as noted in the solutions.**

<img width="806" alt="screen shot 2019-02-10

[2019-02-10 21:35] J12934 commented on #234
Got some work done on it today:

![juice-shop-tfa](https://user-images.githubusercontent.com/13718901/52539894-9a0cb300-2d83-11e9-8dc7-8142b75fa03c.gif)

The login does already work ( it's still missing tests and some refactoring on the server).

Currently only activated 2FA on my (J12934) account. Haven't added a challenge yet.

[2019-02-10 23:07] bkimminich commented on #802
Hi @jaybobo! The eBook's latest version is for the 8.x release of the Juice Shop, which is based on Angular, while the previous major version 7.x was still AngularJS. That's when the client-side JS file name changed from `juice-shop.min.js` into `main.js`.

[2019-02-10 23:07] #802 closed

[2019-02-11 15:37] ZeddYu opened #804 "XSS Tier 5 challenge description unclear/misleading"
I am playing shop's challs  recently. This is a chall I am more confused about. I haven't seen a question like this. According to the chall's description `Perform a *persisted* XSS attack with <iframe src="javascript:alert('xss')"> through an HTTP header.`, I think it is more likely perfrom a reflected xss through an HTTP header.

<bountysource-plugin>

---
Want to back this issue? **[Post a bount

[2019-02-11 18:21] Mizaroth opened #803 "Basket Access Tier 2 not triggered by REST PUT api"
When requesting the **/api/BasketItems/{id}** endpoint with **PUT** HTTP method, using the token of user A (linked to basketId=1), to insert a completely new product in the basket of user B (linked to basketId=2), the **Basket Access Tier 2 challenge doesn't get solved**.

Screenshots below:

![image](https://user-images.githubusercontent.com/24280982/52584632-d77c4980-2e32-11e9-840c-a789cb5e0297.

[2019-02-11 18:50] bkimminich commented on #803
Hmm, adding new items should only work with POST, so it only checks POST requests for challenge condition. Seems you found a nice additional path to victory! Thanks for reporting!

[2019-02-11 19:15] Mizaroth commented on #803
Yeah, I guess it's actually updating a pre-existing item from any basket and linking it to the desired basket.
It is de facto possible to add new items in other users' baskets  this way, and should most likely count as a valid solution for this challenge 👍

Thanks for the quick reply and thank you for your awesome work!

[2019-02-11 21:51] bkimminich commented on #801
Thanks! Will be fixed with next release!

[2019-02-11 21:51] #801 closed

[2019-02-12 08:26] bkimminich commented on #803
Ok, so you essentially move the product from some user's basket into basket of user B! I might even make that a challenge of its own!

[2019-02-12 12:05] bkimminich commented on #803
With the next release your `PUT` path should not work any more thanks to the nice `node-sequelize-noupdate-attributes` plugin. If you find it still works on https://juice-shop-staging.herokuapp.com (after https://travis-ci.org/bkimminich/juice-shop/builds/492128418 finishes successfully) please reopen this ticket. Thanks!

[2019-02-12 13:13] bkimminich commented on #660
Hi! I think a JSON dump would be okay for the beginning. We could think about doing Excel as a selectable option at some point and then have a challenge where you sneak in dangerous macro into the Excel generator somehow... Probably we need new difficulty level :star::star::star::star::star::star::star: then... :grinning:

[2019-02-13 02:48] greenkeeper[bot] opened #806 "An in-range update of cookie-parser is breaking the build 🚨"
## The dependency [cookie-parser](https://github.com/expressjs/cookie-parser) was updated from `1.4.3` to `1.4.4`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fcookie-parser-1.4.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cookie-parser is a direct depen

[2019-02-14 01:29] A1vinSmith opened #807 "Owasp and Burp Suite"
![screen shot 2019-02-14 at 2 24 12 pm](https://user-images.githubusercontent.com/24937594/52755941-93708b00-3064-11e9-8b7a-01eb574e6b9b.png)

Running juice-shop locally by npm start.
Using Firefox and FoxyProxy (also settled the firefox Network proxy).
Green one is working for Owasp only.
Blue and Red are working for Burp Suite only.

Zap 2.7.0 Burp Suite Community 1.7.35

Is the difference betwe

[2019-02-14 04:41] bkimminich commented on #807
Can you please help me connect the dots between your question and the Juice Shop? 😉 Juice Shop doesn't do anything to purposefully block or hinder proxies, if that's what you're asking.

[2019-02-14 07:58] A1vinSmith commented on #807
Good to know that, thank you.

[2019-02-14 08:01] #807 closed

[2019-02-15 13:37] #593 closed

[2019-02-15 13:37] #594 closed

[2019-02-15 13:37] #595 closed

[2019-02-15 13:37] #596 closed

[2019-02-15 13:37] #597 closed

[2019-02-17 11:51] bkimminich commented on #789
Hi @devanshbatra04, did you already start working on this, or should I put it back into the Backlog? We're kind of running out of `good first issue` tickets faster than people come asking for those currently... (which is a very nice luxury problem for an open source project) ... 😁

[2019-02-17 12:00] devanshbatra04 commented on #789
Yeah I did start the work. Not an angular person (yet). Have major experience in react tho, so I went about learning a bit of angular first. Will send in a PR in a couple days for sure. Thanks a ton for the patience. :smile:

[2019-02-18 09:48] bkimminich opened #810 "Coupon Tweet-Bot"
A simple node module based on [twitter](https://www.npmjs.com/package/twitter) and that ominous library being used to generate/validate coupons. It will be run `monthly` using a [Travis CI Cron-Job](https://docs.travis-ci.com/user/cron-jobs/#adding-cron-jobs) to:

1. generate a coupon code (discount range of 20-50%)
2. generate a text to advertise the coupon (e.g. from a set of templates)
3. send

[2019-02-18 17:46] bkimminich commented on #810
Implemented with random discount (10-50%) and static text for now: https://twitter.com/owasp_juiceshop/status/1097551042089283585

Cron job needs to be set up on 1st or 2nd of March as Travis does not allow to set a specific start date... :man_facepalming:

[2019-02-19 01:56] aaryan01 commented on #660
Hey @bkimminich
I'm a bit stuck at this
To start off, I created a component (a button) which on click would call a function (getUserData), which in turn would call the "whoAmI" function. Something like this:
![screenshot from 2019-02-19 04-19-41](https://user-images.githubusercontent.com/31697449/52984856-3899b380-3417-11e9-8034-cb85c52e9efe.png)
The whoAmI function is always returning an empty ob

[2019-02-19 09:44] agrawalarpit14 commented on #806
@bkimminich Should I just downgrade the version of cookie-parser to `1.4.3`

[2019-02-19 10:42] bkimminich commented on #806
We avoid pinning of dependencies as far as possible. Checking the breaking change and trying to adapt the code would be preferable.

[2019-02-19 13:25] agrawalarpit14 commented on #806
@bkimminich Is there a way I can see the build errors locally?

[2019-02-19 19:47] agrawalarpit14 commented on #806
@bkimminich I feel the build is taking place. The issue was raised by the Greenkeeper Bot due to failure of appveyor. But seeing the logs carefully suggests that the fail in the build was independent of the version of cookie-parser. Can you please confirm?

[2019-02-19 22:04] bkimminich commented on #806
You're right, it seems that GitHub could not be accessed by https://ci.appveyor.com/project/bkimminich/juice-shop/builds/22327498/job/glfv0v00xa65l2ys. I'll merge the PR with the updated version then. Thanks for investigating the issue, @agrawalarpit14! 👍

[2019-02-19 22:08] bkimminich commented on #806
I changed the version in your PR to `1.4.4` - if the build passed all should be fine!

[2019-02-19 22:08] #806 closed

[2019-02-19 22:09] bkimminich commented on #810
![image](https://user-images.githubusercontent.com/3531020/53051112-53ae0700-349b-11e9-9df4-6495e1482d17.png)

[2019-02-20 03:54] agrawalarpit14 opened #816 "Score Board: Overlay while loading"
When the score-board is loading, the overlay doesn't cover the whole page. It's just covers the size of screen. It can be visualised by scrolling when the page is loading.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70316289-score-board-overlay-while-loading?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_medium=issues&utm

[2019-02-20 06:57] agrawalarpit14 commented on #535
@bkimminich I tried to understand the functionality of the api `rest/user/whoami`. It indeed can be called anonymously, i.e, without the authorisation header, as pointed by you. Further, the response without the cookie header is
[code]
But when the request contains the cookie header, i.e,
[code]
The response is:
[code]
As suggested by the api code, i.e:
[code]
It performs as expected.
So, is it ne

[2019-02-20 08:53] bkimminich commented on #697
There is now a (public) Lambda function available that generates coupon codes in the exact same fashion the coupon bot (#810) does. This will be used by the bot by default now, deleting the local code creation.

This will allow a completely new attack path to the "Forge Coupon" challenge, as in finding the repo for the Tweet bot, and finding the local code generation in its Git history.

[2019-02-20 10:47] #697 closed

[2019-02-20 10:48] #810 closed

[2019-02-20 17:16] devanshbatra04 commented on #582
Seems interesting. Can I take this up?

[2019-02-20 17:24] bkimminich commented on #582
Totally, yes! You could just start with the request form, and we can design a challenge into it afterwards? I was also thinking this would be a good place for the advanced CAPTCHA idea.

[2019-02-20 17:26] devanshbatra04 commented on #582
The advanced CAPTCHA? Not sure I follow :confused:
Sure, I will make the form. Really want to get into more Angular :smile:

[2019-02-20 18:16] bkimminich commented on #582
In #784 having a better CAPTCHA than the math term to solve for feedback form was suggested. This could in fact be implemented on this data subject form, as Juice Shop support really wants to avoid spam here.

[2019-02-21 01:36] agrawalarpit14 commented on #816
@bkimminich I will close the issue, if you say so?

[2019-02-21 07:19] #816 closed

[2019-02-21 07:19] bkimminich commented on #816
Done, thanks a lot for noticing and fixing this!

[2019-02-21 09:47] bkimminich commented on #804
@CaptainFreak @J12934 What do you think we should do to improve the challenge description and hint?

[2019-02-21 14:30] J12934 commented on #440
I will most likely be taking up this issue over next few month, together with @jorgestiga.

[2019-02-21 17:23] J12934 commented on #804
Mhhh i think the client side implementation got lost in in the angular upgrade.

The challenge can still be solved if you know what you are supposed to to, but it is pretty much impossible to find.

[2019-02-21 17:35] J12934 commented on #804
**:godmode: Warning Spoilers:**

The challenge is about a `lastLoginIp` value which gets displayed back to the user to check that nobody else has logged in with their account. (The feature was initially added here: https://github.com/bkimminich/juice-shop/commit/6c48d9a0cd10889980c301dc199395ac6a7bb313#diff-b26e7266ea5838968bf3df2af0e1126a)

To fix this we should add the display back into the appl

[2019-02-21 21:04] bkimminich commented on #804
How about the "Change Password" or "User Profile" screens? Where will 2FA setup be done later?

Am 21. Februar 2019 18:35:43 MEZ schrieb Jannik Hollenbach <notifications@github.com>:

[2019-02-21 21:17] J12934 commented on #804
I was thinking of adding something like a „Privacy and Security“ screen with a sidenav (like github settings) for the related setting like:
- change password
- 2FA
- request data export
- Access log

[2019-02-22 12:25] navyspeed opened #822 "Unintentional Forged Feedback"
I had completed the Forged Feedback unintentionally.

The issue comes from logging into an account and then logging out.  Even after being logged out of the account if you access the contact us customer feedback tab that account will still show up as the author.  I am utilizing the herokuapp and chrome.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2019-02-22 20:46] bkimminich commented on #451
@J12934 @supra08 - Hi guys, I just realized that the new challenge messed up the Admin page and several challenges along with it:

[code]

Also by blocking `GET` on the `api/Recycles` endpoint the table on the Admin page does not work. Currently even the entire screen is broken, although the other endpoints correctly deliver users and feedback:
![image](https://user-images.githubusercontent.com/35

[2019-02-22 20:49] bkimminich commented on #451
If we need to block `GET` for Recylces that's okay, but then we should remove that table from the Admin page. Also there would not really have been an extra endpoint `blockRecycleItems()` needed for this - I suppose `insecurity.denyAll()` would have done the trick? Or was there a reason for handling that explicitly like spoilering something towards the challenge solution? If so I missed it... 😁

[2019-02-22 20:53] bkimminich commented on #451
Last but not least, I'm going to change the texts a bit. Please tell me if it still drives the point home and makes sense. I think it previously spoilered a bit too much... ;-) ... Also :star::star::star::star: seems more appropriate than :star::star: because it's not that obvious and common vuln. What do you think @supra08 & @J12934?

[2019-02-22 20:53] bkimminich commented on #451
[code]

[2019-02-22 20:59] bkimminich commented on #451
Aaah, I think `blockRecycleItems()` is needed to bring promote that it's somehow handled differently than the other forbidden API endpoints, indicating some "workaround" solution by the developers, thus having the strange and vulnerable implementation to retrieve single recycle object. Did I get that right?

Btw, then it's **definitely** not just :star::star: ... 😄

[2019-02-22 21:17] bkimminich commented on #451
I fixed/changed all the above. Also made the following change in `administration.component,ts`:
[code]
As another small hint that something has been done here that is out of the ordinary...

[2019-02-22 21:27] bkimminich opened #823 "Protractor failing with exit code 0 indicates "E2e" is passing"
When Protractor fails it does so with exit code `1` but for some reason the `npm run protractor` command exists with `0` like so:
[code]

This leads to a green _E2e_ stage result, thus making it easy to miss breaking PRs or builds:
![image](https://user-images.githubusercontent.com/3531020/53272221-f8755200-36f0-11e9-834e-f5148d6815c0.png)

<bountysource-plugin>

---
Want to back this issue? **[Po

[2019-02-22 22:21] bkimminich commented on #822
Thanks for reporting this! I'll leave it open for a bit as we're running out of _good first issue_ tickets faster than usual at the moment thanks to many new contributors! 🙌

[2019-02-23 03:29] ZeddYu commented on #804
Yes. When I am playing juice-shop, I find all the description in the pwning-juiceshop book that is not displayed in the juice-shop. For example, the chall [Log in with Amy's original user credentials](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/solutions.html#log-in-with-amys-original-user-credentials) displayed in the pwning-juiceshop is attached with a picture. But I

[2019-02-23 06:16] agrawalarpit14 commented on #356
Hi @bkimminich ! I was reading through the resources you have pointed. I had this query that amazon skills kit will support web service only over HTTPS. So, are we planning to host it somewhere?(a person installing juice shop locally would not be having a SSL/TLS certificate). And have you thought of any invocation name? I guess the `trigger phases` you have suggested will change accordingly.

Acc

[2019-02-23 07:36] bkimminich commented on #356
@agrawalarpit14, I started working on this one, but the Juice Shop application will not serve the endpoint for that skill. It will be a Lambda function that will eventually retrieve coupon codes from the same Lambda that I wrote for automatic monthly publishing of a coupon on Twitter and (:new:) Reddit.

[2019-02-23 07:42] agrawalarpit14 commented on #356
@bkimminich Yes, I understood the way you are implementing it. I guess I got a bit late in asking this.😅

[2019-02-23 08:12] #451 closed

[2019-02-23 10:49] agrawalarpit14 opened #824 "Brute force a REST API"
A challenge which makes a user write a small script to brute force, to gain unauthorised access.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70482437-brute-force-a-rest-api?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?

[2019-02-23 10:54] bkimminich commented on #824
We have some BF challenges already - what do you have in mind exactly?

[2019-02-23 10:57] agrawalarpit14 commented on #824
How about a challenge built along these lines?
A challenge built around gaining access to a user's account who has a weak security question(such that the answer belongs to possible a small set, 50-60 values). Which could be solved by writing a small script such as:
[code]

[2019-02-23 11:06] agrawalarpit14 commented on #824
Hi @bkimminich I thought of such an attack when I wanted to brute force, but was unable to find any tool that let me change particular value of a payload field. Like the whole point of the challenge is to learn how to change just a field keeping everything else same and automating the task. Please let me know your views on this. Thank You✌🏻

[2019-02-23 13:54] bkimminich commented on #824
The _Reset Morty's Password_ challenge is about brute forcing with a reduced word list already, as is one of the _Reset Bjoern's Password_ tiers which can be BF'ed or inferred from Internet research. There's even a published sophisticated Python script for that which I link to from the eBook solution: https://gist.github.com/philly-vanilly/70cd34a7686e4bb75b08d3caa1f6a820

[2019-02-23 16:40] agrawalarpit14 commented on #824
In that case I also think it won't make sense to make a similar challenge.

[2019-02-23 19:58] supra08 commented on #365
@bkimminich, @J12934 I'd like to take up this challenge issue. I need to do a bit more research to come up with a possible flow. Besides, do you have something already in your mind regarding the flow of this possible challenge?

[2019-02-24 15:35] bkimminich commented on #660
Hm, just by looking at the screenshot I cannot see through the problem you ran into. The backend call happens? Did you try just using the existing function from the userService? Eventually you'll need your own backend endpoint as all data of the user should be collected and sent as JSON. No such backend endpoint exists currently.

[2019-02-24 16:35] bkimminich commented on #365
I have not made up my mind about this idea yet. Maybe @tghosth would like to provide a bit more context or maybe some new angle that occurred to him since this was originally posted?

[2019-02-24 16:35] #824 closed

[2019-02-24 16:41] bkimminich commented on #804
Do you mean the picture of the character Amy from the Futurama TV show? That is not in the Juice Shop, true. It's part of the challenge to get the Futurama reference.

But actually we could add her picture to her profile page to make it a bit easier.

[2019-02-24 17:26] ZeddYu commented on #804
@bkimminich Yes. I'm sorry for my bad expression. I suggest it is better to add some  description in the pwning-juiceshop to the juice-shop. It is more understandable.

[2019-02-25 11:11] tghosth commented on #365
Basically, JSONP can only work where a cookie is used for auth and not a header.

The "change-password" method is the only one I know of which doesn't enforce the header so that it is open to CSRF but that is not a good example for JSONP as for JSONP it is best demonstrated with an API that returns sensitive data.

As such, if you want to develop the challenge, the process needs to be:
1) Find an

[2019-02-25 17:46] bkimminich opened #825 "JuicyRedditBot avatar"
Are you less artistically impaired than I am? Maybe you would consider contributing a more appropriate avatar for our friendly JuicyRedditBot? :robot: :heart:

![image](https://user-images.githubusercontent.com/3531020/53356662-2f837780-392c-11e9-9e82-52cbb8e7aa4c.png)

## Concept Ideas (not mandatory)
* It should look a bit more like a robot than my own cheap version of [Clippy](https://en.wikipe

[2019-02-26 14:43] aaryan01 commented on #825
@bkimminich Can I make an attempt? I know design tickets were to be avoided but is this available? I apologise if it's not available I was just a little curious :sweat_smile: . Thanks !

[2019-02-26 16:59] bkimminich commented on #825
This is more a "for fun" ticket anyway, so feel free! :+1:

[2019-02-26 18:50] conniepocky opened #827 "Behave like any white hat should challenge not working"
I went to http://localhost:3000/.well-known/security.txt/ but all it loaded was a  large picture of the juice shop logo. Can anyone help me?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70630733-behave-like-any-white-hat-should-challenge-not-working?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_medium=issues&utm_source=gi

[2019-02-26 19:42] bkimminich commented on #827
On the demo instance it works just fine... http://juice-shop.herokuapp.com/.well-known/security.txt/ ... I'll verify on my own local machine later.

[2019-02-27 00:52] bkimminich commented on #234
Awesome work on #826 @J12934! I tweaked the challenge name, category and hint a bit and also moved the challenge over to user "wurstbrot" to actually make it independent of the _DLP Tier 2_ challenge as you already noticed.

[2019-02-27 00:52] #234 closed

[2019-02-27 01:16] bkimminich commented on #827
Just verified that http://localhost:3000/.well-known/security.txt/ also works for a locally started Juice Shop. Are you sure you did not have a typo or server-side error from some previous attack or anything?

[2019-02-27 10:07] agrawalarpit14 commented on #827
It works fine on my machine too.

[2019-02-27 13:47] aaryan01 commented on #825
![untitled](https://user-images.githubusercontent.com/31697449/53494334-83749480-3ac3-11e9-998f-8416d312def2.png)
@bkimminich I was trying to work on something along these lines. It's looking a little unusual right now 😅 but I'm working on it. Open to changes and suggestions from everyone out there!

[2019-02-28 00:00] bkimminich opened #830 "Login error message not being displayed"
Probably since merging #826 the `/#/login` screen does not show its error message any more when logging in with invalid credentials.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70700876-login-error-message-not-being-displayed?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_medium=issues&utm_source=github)** We accept bount

[2019-02-28 11:12] aaryan01 commented on #830
@bkimminich  Are you referring to his error?
![screenshot from 2019-02-28 16-38-09](https://user-images.githubusercontent.com/31697449/53562499-8c26a280-3b77-11e9-92d6-b4308028195a.png)

[2019-02-28 12:44] bkimminich commented on #830
Exactly, that ones seems to have gone missing on `develop` branch, probably since #826 was merged.

[2019-02-28 14:58] aaryan01 commented on #830
@bkimminich Okay, I am looking into it :)

[2019-02-28 15:52] #827 closed

[2019-02-28 15:52] bkimminich commented on #789
![image](https://user-images.githubusercontent.com/3531020/53579124-4b2f8d80-3b79-11e9-9cdd-2746e7c60636.png)

[2019-02-28 17:49] bkimminich commented on #825
Yeah, slightly like a vacuum cleaner... :rofl:

[2019-03-01 09:43] bkimminich opened #831 "Privacy & Security screen"
Picking up the idea of @J12934 a new screen "Security & Privacy" might incorporate (or link to) features such as
* Change password
* 2FA setup
* Request data export (#660)
* Last login IP
* Privacy policy (#581)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70771294-privacy-security-screen?utm_campaign=plugin&utm_content=tracker%2

[2019-03-01 13:07] agrawalarpit14 commented on #250
@bkimminich Can you please elaborate more on the following line:
`Add challenge to create a link that has a certain QR code to another (e.g. Bitcoin) address`.
and by `Let the QR target take user input` do you mean let the user supply label, link?

[2019-03-01 13:36] bkimminich commented on #250
The idea was to craft a URL to the Juice Shop which ends up on some page with a QR code modal dialog open showing an attacker-supplied code and label, yes. I didn't think about how to best check for challenge successfully solved, though.

[2019-03-01 13:45] bkimminich commented on #789
:goal_net: Load time goal to resolve this ticket successfully is **max. 3 seconds**

[2019-03-01 14:23] agrawalarpit14 commented on #250
@bkimminich IMO It won't make sense to put input fields for user input directly on the payment section(maybe I am wrongly interpreting your suggestion). Can it be something like this:

We make an API which adds a QR code and returns the url(which is supposed to be an admin only API)
Juice shop by mistake forgot to put restriction on it so users are able to call the obvious path(/api/payment/qr) wh

[2019-03-01 14:25] agrawalarpit14 commented on #250
Although, this would need us to make multiple user types in the app, which presently does not exist if I am right. But, if we make multiple user types, I think it will help us to add many challenges too revolving around privilege escalation, security through obscurity etc.🙂

[2019-03-01 14:26] J12934 commented on #830
Whoops my bad.
Changed the data type of the error.
It was previously an obejct containing an property `error` which was a string. Changed it to only be a string by destructuring the object. Forgot to fix the template to relflect that change.

https://github.com/bkimminich/juice-shop/blob/549d6604bcd7c77ec4dbee24d95e79dde1ac23f7/frontend/src/app/login/login.component.html#L6

Should be changed to s

[2019-03-01 20:06] bkimminich commented on #789
Possible solution would be to completely prepare the data and all percentages etc. on server side and deliver them as a stupid view model to the browser. Then the only question is how to handle updates when a challenge solved notification comes in. Could be either data reload and re-rendering or just updating state in the view model whenever a challenge solved notification comes in via websocket..

[2019-03-02 02:08] devanshbatra04 commented on #789
Hey! I will do that and send in a PR asap!

[2019-03-02 07:18] agrawalarpit14 opened #833 "User Profile Picture handling"
When a user uploads a profile picture, the profile picture stays in the frontend of the app. A malicious user can steal the profile pictures of the user by routing to the path localhost:3000/assets/public/images/uploads/2.jpg

An example can be seen here: https://juice-shop.herokuapp.com/assets/public/images/uploads/2.jpg
This is presently the profile pic of `jim@juice-sh.op`

<bountysource-plugin

[2019-03-02 07:33] agrawalarpit14 commented on #833
@bkimminich Would you want to form a challenge around it. Or do you want to fix this and store the profile pic of the user on the backend?

[2019-03-02 08:11] agrawalarpit14 commented on #833
And also, the username field is vulnerable to script injection attack

[2019-03-02 08:41] bkimminich commented on #833
I would not consider the user profile pictures a sensitive information worth stealing. They're kind of public - okay, they can be enumerated more easily then e.g. Twitter avatars, but I don't see this as a separate challenge really. Other opinions, @wurstbrot @J12934 @CaptainFreak?

PS: The username vulnerability is already a challenge.

[2019-03-02 09:19] bkimminich commented on #789
I've made several improvements:
* Calling `challenges.filter()` now only once with 2 checks inside anon function instead of calling 3 times with single checks
* Avoid one `challenges.filter()` all alltogether by reusing cahced filtered lists
* Remove client-side sorting by requesting challenges from API sorted already

Result: CI-stage `E2e` is down insignificantly from 21min to 19min and load tim

[2019-03-02 09:23] bkimminich commented on #789
## All categories turned on
![image](https://user-images.githubusercontent.com/3531020/53679989-dc674700-3cd4-11e9-9ca1-a6aa3b73d31a.png)

## Half the categoriesturned off
![image](https://user-images.githubusercontent.com/3531020/53680000-10db0300-3cd5-11e9-8552-18016adc8381.png)

## All but one categorie turned off
![image](https://user-images.githubusercontent.com/3531020/53680007-3962fd00-3cd5

[2019-03-02 22:46] devdpnshu opened #835 "Complete Captcha Bypass"
Hey I think i successfully bypassed Captcha  .
I uses the same CaptchaID and its answer plus I did Bruteforce with different messages It seems to submit many forms successfully within seconds .

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70836411-complete-captcha-bypass?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_mediu

[2019-03-02 23:45] bkimminich commented on #835
It actually is one to the hacking challenges to beat the CAPTCHA exactly that way... If you thought it's a bug, I'll close this issue right away, ok?

[2019-03-03 07:41] devdpnshu commented on #835
I ain't got any notification in browser if
Challenge is completed
You are really sure?

[2019-03-03 08:31] agrawalarpit14 commented on #831
@bkimminich Can I take up the issue? I was thinking to make it in the manner that there will be a list on the left side of the screen(approx 20%) and selecting a particular section will show the options corresponding to it. I will soon share a screenshot of what I mean. Please let me know if you have something specific in mind.🙂

[2019-03-03 09:10] bkimminich commented on #831
Can you please get in touch with @J12934 about this? I'm not sure if he might already started working on it or had some more specific ideas, as this came up while he implemented the 2FA challenge. Thanks!

[2019-03-03 09:12] bkimminich commented on #835
I am sure... 😀
![image](https://user-images.githubusercontent.com/3531020/53693159-c624be00-3d9c-11e9-9e15-1eb2fcfd73d3.png)
Are you sure you successfully made 10 feedback comments in 10 seconds?

[2019-03-03 09:16] devdpnshu commented on #835
You mean I am the first one one even to discover the issue
As I can see no one has yet tried it

[2019-03-03 09:17] devdpnshu commented on #835
I tried using Burp suite and I know that I didn't tried all 10 requests .

[2019-03-03 09:18] #651 closed

[2019-03-03 09:32] bkimminich commented on #835
I'm pretty sure there is no "issue" with this challenge ... send 10+ feedback comments in 10 seconds and you'll get the challenge solved... 😉

[2019-03-03 09:32] #835 closed

[2019-03-03 10:03] agrawalarpit14 commented on #831
Yeah Sure. Thanks

[2019-03-03 10:04] agrawalarpit14 commented on #831
@J12934 Can I take up the issue if you haven't already started working on it?

[2019-03-03 10:38] agrawalarpit14 commented on #336
@bkimminich This is actually what I have been looking forward to. I never read it after seeing the ready tag. Can I take up the issue and resolve in the following manner? Users table has properties `is_admin` and `is_accounting`. When adding JWT I supply these properties and on the server I check the flags while decoding? Further, to satisfy the second point you have mentioned, can I form few APIs

[2019-03-03 10:40] agrawalarpit14 commented on #336
Please let me know if you have some expectations in mind with the challenges?

[2019-03-03 10:46] J12934 commented on #831
Nope didn’t start working on it. Would be really nice if you would take this up.

Your plan sounds pretty similar to what I imagined 👌
Do you have a Plan how to do the sidenav responsivly so that it could also work nicely on mobile?

[2019-03-03 11:07] agrawalarpit14 commented on #831
Yeah, if it is opened on mobile a toggle switch appears on the corner, clicking which will lead to the corresponding options appearing from the side of the screen covering the whole screen, after clicking on an option, corresponding settings appear.

[2019-03-03 12:02] bkimminich commented on #336
`isAdmin` already exists in `Users` table, and maybe we start by just adding that to the JWT properly and enforcing it to view `/#/administration`? Then the corresponding challenge should become :star::star: instead of :star: and we'll continue from there with `isAccounting` (for which we currently do not have a dedicated screen yet - #334)?

[2019-03-03 12:32] agrawalarpit14 commented on #336
Sure, I will start with that and later we will implement `isAccounting`

[2019-03-03 13:21] aaryan01 commented on #830
@J12934 Will it be *ngIf or ngIf ? Shall I submit a PR for it or would you like to do so?

[2019-03-03 14:36] J12934 commented on #830
Should be `*ngIf`, see https://angular.io/api/common/NgIf
Yup please submit a PR 👍

[2019-03-04 15:49] #830 closed

[2019-03-05 07:57] supra08 commented on #365
@bkimminich, @tghosth what I found is that JSONP is best demonstrated when we the attacker fetched response data using cross-origin requests. So there wouldn't be any point here if we re just returning jsonp data. One thing we can do is that we can make the user fetch the response with a specific referrer which is banned by cors. Then he has to use jsonp injection. But crafting such requests would

[2019-03-05 11:33] agrawalarpit14 commented on #334
Hi @bkimminich Can you please elaborate on the issue. Is it that they are able to see all the invoices in the juice shop or are they allowed to do some operation on it?

[2019-03-05 13:20] aaryan01 commented on #636
Hi @bkimminich,
What factors according to you would define customer loyalty?
According to me, there are 2 parameters which would define loyalty to Juice Shop:
1. Number of times a person has visited Juice Shop in a given time interval (the time factor)
2. What item that  person has purchased (the cost factor)

Ways to implement this:

**1st Way**
One way of awarding bonus points would be to award

[2019-03-05 17:14] bkimminich opened #841 "Missing DLP Tier 1 support in 7MS/Mozilla/BodgeIt themes"
In `v8.4.0` the following packaged customizations would become invalid due to missing declaration of `keywordsForPastebinDataLeakChallenge` on one of their products:
* [x] `7ms.yml`
* [x] `bodgeit.yml`
* [x] `mozilla.yml`

## How to fix this issue
* One product in each config must be chosen as the _Pastebin Leak Challenge Product_ and receive `keywordsForPastebinDataLeakChallenge` property with a

[2019-03-05 21:19] #833 closed

[2019-03-06 09:30] supra08 commented on #841
@bkimminich, weren't we using two products for the validation of the Pastebin Challenge? And I believe we can put a section in the docs the prerequisites for setting up this challenge as it would vary from installation to installation.

[2019-03-06 13:14] bkimminich commented on #789
I found the actual culprint of the remaining slow load time, which is in the HTML template:
[code]

[2019-03-06 13:29] J12934 commented on #789
I still don't see it 🙈
What part of the template is causing it?

[2019-03-06 13:50] bkimminich commented on #789
The fact that there are three buttons with complicated conditional checks for `[hidden]` and all the other madness seems to slow it down. I'm trying to make this **one button** with probably even more complicated checks, but at least it's just happening **once** then... Hopefully that'll do it.

[2019-03-06 14:36] bkimminich commented on #789
Doesn't fulfill my own standards of "Clean Code" but load time is now down to <3sec ... :+1:
[code]

[2019-03-06 22:28] bkimminich commented on #841
No, only one product, but we chose two "ingredients" as a danger-combo and the puzzle was to identify them in your pasted data.

It will be documented for custom configs how this challenge needs to be prepared, but as the Juice Shop delivers 3 extra sample configs out of the box, those must be complete and all challenges should work. That's why I opened this reminder-issue to address it before 8.4

[2019-03-07 13:22] #841 closed

[2019-03-07 14:41] #644 closed

[2019-03-07 21:39] Sasanrf opened #843 "npm start error"
I remotely connected to a virtual machine (ubuntu 16), and I want to run Juice-shop there. Everything works well but when I want to run npm in the juice-shop folder, I have this error that I couldn't find a solution for that.
![image](https://user-images.githubusercontent.com/28947996/53990996-d5ec2b80-4129-11e9-99e0-74f8eaaf724c.png)

[2019-03-08 02:30] agrawalarpit14 commented on #843
@Sasanrf Did you try running `npm install` first.

[2019-03-08 07:08] bkimminich commented on #843
Did you clone the repo, then try what @agrawalarpit14 said. Otherwise please let us know how you installed it. Thanks!

[2019-03-08 08:19] Sasanrf commented on #843
@agrawalarpit14 Yes, I installed npm. I did everything step by step that is needed to run as the instruction:
![image](https://user-images.githubusercontent.com/28947996/54016381-fb595380-4182-11e9-926e-73ea21d89833.png)
@bkimminich  Yes I cloned it and also I tried to remove npm and install it again but I have the same problem.

[2019-03-08 08:23] bkimminich commented on #843
Can you please attach the log of your entire `npm install` run? Optimally in a freshly cloned directory. On Linux Node.js is always a bit tricky. You could  try https://github.com/bkimminich/juice-shop/releases/download/v8.4.0/juice-shop-8.4.0_node11_linux_x64.tgz alternatively or switch to Docker.

[2019-03-08 12:38] username1001 opened #844 "Similiar "Zero Stars" challenge on /recycle"
Within http://localhost:3000/#/recycle, you are able to bypass the disabled button, submitting large chunks of text, or nothing at all, beating the limits of the form. I didn't see this within the score board, maybe it's minor... thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71114902-similiar-zero-stars-challenge-on-recycl

[2019-03-08 13:01] username1001 commented on #843
I think your problem may have to do with your version of node, as well as the version of juice shop. You have `juice-shop@8.3.0` and it appears the newest version of `node@11.10.1`. I'm not too familiar with the project yet, but my current version of juice-shop is `8.4.0`, which wouldn't work with node@11.x, so I switched to `node@10.x` (I'm sure I downloaded the wrong link).

Juice-shop@8.3.0 may

[2019-03-08 13:57] tomasmlcoch opened #845 "XSS Tier 1 "DOM XSS" not acknowledged as done"
Juice-shop version 8.3.0
The score board doesn't acknowledge not green tile is displayed even if I passed XSS Tier 1 "DOM XSS" challenge.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71118557-xss-tier-1-dom-xss-not-acknowledged-as-done?utm_campaign=plugin&utm_content=tracker%2F6283055&utm_medium=issues&utm_source=github)** We acc

[2019-03-08 14:19] Sasanrf commented on #843
@bkimminich This is the log file, I will try that file too.
[log.txt](https://github.com/bkimminich/juice-shop/files/2946118/log.txt)

@username1001 The problem is not the version I tried also the node@10.x

[2019-03-08 14:55] bkimminich opened #846 "Uncaught [object Object] thrown in frontend unit tests"
The following problem appears frequently on Travis-CI (and only there - never locally) during build runs:

[code]

This occurs frequently but not always and happens seemingly randomly in all Node.js versions:
![image](https://user-images.githubusercontent.com/3531020/54035233-28c0f400-41b9-11e9-8fd2-748db7b41067.png)

Restarting the build several times will eventually yield one run where all jobs

[2019-03-08 16:37] bkimminich commented on #843
@username1001 All 8.x versions of Juice Shop work on node.js 10. X and 11.x

[2019-03-08 16:41] bkimminich commented on #843
[code]

That's the culprit. The frontend part of the installation just never happens.

[2019-03-08 16:42] Sasanrf commented on #843
How can I solve it?

[2019-03-08 16:44] bkimminich commented on #843
I assume it's some folder permissions thing? Definitely not a bug in Juice Shop, though.

[2019-03-08 16:44] #843 closed

[2019-03-08 16:45] Sasanrf commented on #843
Thank you

[2019-03-08 16:46] bkimminich commented on #843
Fall back to a pre-packaged archive would be my recommendation if it's not solvable otherwise.

[2019-03-08 17:11] Sasanrf commented on #843
Thank you so much, with pre-packed archive is working now

[2019-03-08 17:37] bkimminich commented on #845
Did you get the green notification box telling you it was solved? Was it logged as solved on the server?

[2019-03-08 18:21] aaryan01 commented on #636
@bkimminich  @J12934  Any suggestions on how I should proceed?

[2019-03-08 19:01] tomasmlcoch commented on #845
No green notification box. I haven't checked the server side yet. I'll do
tomorrow.
Tomas

On Fri, Mar 8, 2019, 18:37 Björn Kimminich <notifications@github.com> wrote:

[2019-03-08 19:42] J12934 commented on #636
The first suggestion sounds great 👍
The amount of bonus points could simply be determined by the price of the order / product.

The time factor would make the suggestion harder to use, especially for users who use JuiceShop during trainings which only last for a couple of hours days. Unless we also add a challenge in which you are able to change the time of the server 😂

[2019-03-09 04:44] agrawalarpit14 commented on #226
Hi @bkimminich @J12934, I read through the documentation of socket.io. I was thinking of an attack where a user connects to the server by writing a small script like the following in a html page.
[code]
After connecting, the user will broadcast `data`  with `challenge solved` which will make the data reach on the original juice-shop client as well which will trigger a solved-challenge notification

[2019-03-09 04:51] agrawalarpit14 commented on #226
Although such a scenario is possible only when the server emits the received file to all the clients connected, which I think is the case presently?

[2019-03-09 07:52] agrawalarpit14 opened #847 "Offer Expired Challenge: Based on Clock"
The flow of the challenge is like this:
Name: Clock Manipulation Challenge
Description: Order products on offer that expired in 2017
Tasks to be done: It would need the user to manipulate the clock of their machine
Flow: User goes to twitter and finds out a tweet about the offer which gives them the `/#/offer/<festive>` route, but when they try to access it they are shown `the offer has expired` b

[2019-03-09 07:56] agrawalarpit14 commented on #847
Hi @bkimminich @J12934 @CaptainFreak Please let me know if you find the challenge interesting, and other ideas and suggestions. Thank You
If you find it good I will start working on it?

[2019-03-09 09:23] aaryan01 commented on #636
I completely agree with you :joy: .
I'll start working on the first suggestion right away then.
Thanks

[2019-03-09 10:18] greenkeeper[bot] opened #848 "An in-range update of otplib is breaking the build 🚨"
## The dependency [otplib](https://github.com/yeojz/otplib) was updated from `10.0.1` to `10.2.2`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fotplib-10.2.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

otplib is a direct dependency of this project, and **

[2019-03-09 10:33] agrawalarpit14 commented on #848
Hi @bkimminich The build is failing due to the same issue `Uncaught [object Object] thrown` in `ChangePasswordComponent`

[2019-03-09 11:14] bkimminich commented on #848
Yep, unfortunately ... I'll redirect the 10$ bounty intended for the Score Board improvements toward this test issue...

[2019-03-09 12:46] agrawalarpit14 commented on #848
Yup, that would be great. Although, there is already quite an incentive to solve the issue.

[2019-03-09 13:25] CaptainNick commented on #784
I would like to take up this issue.
I think image CAPTCHA's are possible too. also will not require much change in the existing code base.
Please checkout : https://www.npmjs.com/package/text2png

[2019-03-09 13:29] Nikita-Jr commented on #784
@bkimminich

[2019-03-09 13:59] agrawalarpit14 commented on #846
Hi @bkimminich I feel [this](https://stackoverflow.com/questions/48101519/karma-start-fails-headlesschrome-error-uncaught-object-object?rq=1) is likely to resolve the issue

[2019-03-09 14:06] bkimminich commented on #846
Go for it, mate! 👍

[2019-03-09 17:15] CaptainFreak commented on #784
@philly-vanilly Really nice suggestion about the solution. It would bring a new flavour of offensive machine learning to Juice-shop. In the past me and my friend had done similar kind of thing on an engagement.

@bkimminch Check this out. It's really fun.

“How I hacked 747 game 😎 || Built Cheat Bot using Deep Learning” by Shubham Sawant https://link.medium.com/a/key_live_ofxXr2qTrrU9NqURK8ZwEhknB

[2019-03-10 00:12] bkimminich commented on #784
I guess the requirements for this ticket were never put here, they just happened in some Slack or Gitter discussion way back... so here's the overall idea:

* The simple math-question CAPTCHA in "Contact Us" stays just as it is
* The "Recycling" use case receives a separate, stronger CAPTCHA (e.g. `text2png` as introduced in #851)
* The CAPTCHA is not shown on first submitted Recycling request
* I

[2019-03-10 05:57] Nikita-Jr commented on #784
Sure :+1:  @bkimminich. I will apply text2png for strong CAPTCHA on "Recycling" functionality.

[2019-03-10 05:58] CaptainFreak commented on #784
For simple captchas like from "text2png". There is even no need to go to lengths of training and designing models.

Just python one liner is enough using tesseract package. :)

https://www.pyimagesearch.com/2017/07/10/using-tesseract-ocr-python/

[2019-03-11 08:43] agrawalarpit14 commented on #847
Hi @bkimminich I have tried to make the idea more concrete. The flow is as follows:
- The attacker finds about which route to go for the offer page in either of the following ways:
1. In browser, go to sources(in DevTools) and open the file `main.js` and find the route.
2. Go to twitter handle of juice-shop where you will find a tweet saying `On the occasion of Women's Day 2019, Juice shop brings

[2019-03-11 09:46] #848 closed

[2019-03-11 10:02] bkimminich commented on #847
Hm, I like the idea in general, but it's a discount calculated on the client side, right? As long is it does not compete with the coupon code concept too much, I'm fine with it. Maybe we could "blend it in" more into the coupon code field, say by checking for 10-char campaign-codes in the client (with your proposed time bug) and if no matching is found sending the code to the server-side for disco

[2019-03-11 10:07] bkimminich commented on #844
I think I'd rather fix this by enforcing the same limits on the database-side as on the client, because "Recycling" will be part of a new CAPTCHA bypass challenge soon. Another client-side validation bypass challenge would be a bit too similar to existing ones.

[2019-03-11 12:14] agrawalarpit14 commented on #847
Actually, I will go forward and implement the discount your way(through a coupon code). Mine was a very naive way of implementing it, I was planning to add some kind of extra table in the database itself😛.

[2019-03-11 17:51] bkimminich opened #854 "Retrieve languages and translation coverage from server"
Currently the available languages are kept on the client-side in `frontend/src/app/navbar/languages.ts` in the form
[code]
with the actual language files residing in `frontend/src/assets/i18n/*.json` files. This has several issues:

1. `languages.ts` duplicates the actual list of languages itself
2. `languages.ts` contains the name of the language in that particular language which is a duplicate o

[2019-03-11 18:34] #844 closed

[2019-03-11 19:21] bkimminich commented on #846
Issue resolved due to awesome Stackoverflow-skillz of @agrawalarpit14! Please request bounty via Bountysource.com and I'll approve it asap. Cheers! 🍾

[2019-03-12 15:04] supra08 opened #856 "Duplicate solves of the Error Handling Challenge"
This usually happens when the server is restarted. A minor issue automatically triggers the Error handling challenge to solve and but due to some reason it is not marked as a solved challenge until later when the iteration stops.
![Screenshot from 2019-02-14 23-53-45](https://user-images.githubusercontent.com/30755453/54210707-022af200-4506-11e9-93f0-973358a5b395.png)

[2019-03-12 18:48] supra08 opened #857 "Cookies not cleared after running e2e tests"
Cookies not being removed after tests result in the challenges being automatically being solved on subsequent runs of the server.
Steps to reproduce:
* Run `npm run protractor` to run the e2e tests. Wait for it to end.
* As soon as the server is started again, most of the challenges are solved automatically and we need to restart the server after clearing the cookies.

A function could be included

[2019-03-13 09:42] bkimminich commented on #857
As running e2e test is a "developer only" use case, I do not think this really needs to be fixed. Either way it would mess with your ongoing challenge progress, either by deleting all or solving all, no?

[2019-03-13 09:47] bkimminich commented on #856
The _Score Board_ challenge is also sometimes solved 2-3 times when restarting the server.

[2019-03-13 09:57] supra08 commented on #857
Yes it will do, I missed that part. Would using different cookies just for testing purposes is a viable solution?

[2019-03-13 13:15] supra08 commented on #847
@agrawalarpit14, you can implement the same in a flash sale sort of thing too.
* The user has very less amount of time while ordering in flash sales and the stocks are over after that.
* The flash sales also start from at a certain announced time.
* So the user would try to place the order of the product before the announced time by manipulating the clock and will also succeed since the stocks are

[2019-03-13 14:01] bkimminich commented on #847
I love that flash sale idea! 👍😀

[2019-03-13 14:05] bkimminich commented on #847
@supra08, you mean like https://www.packtpub.com/books/deal-of-the-day maybe, where one product is offered at a special price?

[2019-03-13 14:22] supra08 commented on #847
This is cool too, but what I meant was some that products, which are recently launched or are available in limited stocks are made available at a specific announced time, say 12:00. At this announced time, all the willing customers try to order as quickly as possible but the success rate is low because of the rush. In most occasions, the stocks are dead in 4-5 mins or so.
But seeing the context, t

[2019-03-13 16:07] bkimminich commented on #823
## `e2eTests.js`
[code]

## `server.js`
[code]

The call `server.close(exitCode)` does not work like assumed as it takes a callback, not an exit code as parameter. The `e2eTests.js` script always successfully exits with `0` no matter what Protractor did in the spawned process.

[2019-03-13 16:16] agrawalarpit14 commented on #847
Hi @bkimminich @supra08 Thank you for your valuable input. The idea of flash sale sounds awesome to me. Actually, a flash sale is quite similar to what I have been originally planning(a route that will be restricted apart from a specific time period).
If you approve, should I materialise it and make a different challenge out of it as the present PR, #859 goes on entirely different tracks?

[2019-03-13 16:36] bkimminich commented on #847
Yes, please go for it! We could make those then "On Sale Tier 1" and "Tier 2" challenges, but let's see which one turns out harder...

[2019-03-13 16:39] bkimminich commented on #847
Oh, please just take a look at my review comments on your current PR before starting something new, @agrawalarpit14. Thanks! 👍

[2019-03-13 16:40] bkimminich commented on #857
Having different behavior for test and prod usage is typically a recipe for sad evenings of debugging... 😁

[2019-03-13 16:42] agrawalarpit14 commented on #847
Yeah sure. Thanks🙂

[2019-03-13 17:02] supra08 commented on #847
Would it be a good idea to use clock manipulation for two challenges?  The become almost the same.

[2019-03-13 19:28] supra08 commented on #857
Alright, so I guess it's better to leave it as it is. Should I close the issue?

[2019-03-13 19:51] supra08 commented on #463
@bkimminich @CaptainFreak I would like to take up this issue. Do have something in mind for the implementation?

[2019-03-13 20:31] bkimminich commented on #847
Yeah, that's totally okay. We have like 4+ file access challenges. The important thing is to give each one a slightly different twist so they don't solve both a the same time. The _campaign discount_ challege @agrawalarpit14 wrote with my review comments applied would make it possible to solve it via clock manipulation or code analysis/request tampering. The _deal of the day_ could totally have on

[2019-03-13 21:30] #857 closed

[2019-03-14 06:28] bkimminich commented on #845
Please make sure you are using the correct payload listed on the Score Board. All tests indicate the challenge works fine.

[2019-03-14 06:28] #845 closed

[2019-03-14 08:47] supra08 opened #863 "User Profile icon a bit displaced from the svg"
User profile icon is a bit displaced from the svg. This is particularly visible when we hover over the icon.
![Screenshot from 2019-03-14 11-15-25](https://user-images.githubusercontent.com/30755453/54342813-7038fb80-4663-11e9-848a-ee7e7eaf33ef.png)

[2019-03-14 09:32] #823 closed

[2019-03-14 11:03] bkimminich commented on #863
You have no idea how long it took me to at least get it _this close_ to overlap with the underlying button... :rofl:

[2019-03-14 13:05] #856 closed

[2019-03-14 17:18] lorentinoooo opened #866 "Increase number of listening ports in Juice-Shop"
I really need to make some changes in the code for a competition. I need to put the code up in a single machine. I need to adapt the listening ports of the software in order to listen in different ports. For instance, if there are 5 participants, I need 5 different ports where every single player can be connected by using VPN or something like that. Could someone help me to do that modification? o

[2019-03-14 17:23] bkimminich commented on #866
You can just start the application multiple times on the same machine passing in a different port each time via the `PORT` environment variable, like `PORT=3001 npm start` and so forth.

[2019-03-14 17:23] #866 closed

[2019-03-14 17:30] bkimminich commented on #866
From https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/trainers.html#classroom-hints here's how you could launch 10 instances as Docker containers with ports from `4010` to `4019`:

[code]

[2019-03-14 18:13] bkimminich opened #867 "Lost client-side hint for XSS Tier 5"
As mentioned in #804 the client-side part of the _XSS Tier 5_ challenge somehow got lost: The logged in user's IP is never saved.

It must be investigated where this originally happened and similarly re-implemented in the Angular frontend.

[2019-03-14 18:14] bkimminich commented on #804
Opened #867 to fix the missing client-side of _XSS Tier5_.

[2019-03-14 18:14] #804 closed

[2019-03-14 18:31] bkimminich commented on #867
In the AngularJS client the `LogoutService` offered a function calling the `/rest/saveLoginIp` route. This was not replicated into the Angular frontend which not even has a dedicated component/service for logout but simply handles it entirely within the navbar component.

[2019-03-14 18:34] bkimminich commented on #867
## `LogoutController`
[code]

## `LogoutService`
[code]

[2019-03-14 20:52] #867 closed

[2019-03-15 03:57] junathanadi opened #868 "Can't find index.html"
![Screenshot from 2019-03-15 10-53-15](https://user-images.githubusercontent.com/48578048/54407489-9e284980-4710-11e9-90df-26247c9e5795.png)

I didn't about this error. Can you help me to fix it?
So I got this error notification when I'm running npm start at my terminal.

(node:14046) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, lstat 'frontend/dist/frontend/index.ht

[2019-03-15 07:16] supra08 commented on #868
Check once to see if `index.html` is actually present in the `root/juice-shop/frontend/src` directory and is generated in the `dist/` directory while performing npm start. If not, maybe the repo is not properly cloned.

[2019-03-15 07:46] bkimminich commented on #868
Did you clone the repo and run `npm install`? Are you on Linux and might have permission errors during install script (see #843)?

Without more specific information there's not much we could help you with.

[2019-03-15 13:01] #581 closed

[2019-03-15 13:03] #868 closed

[2019-03-17 12:20] aaryan01 opened #871 "Empty product review"
User is allowed to submit an empty product review.
<img width="1440" alt="Screenshot 2019-03-17 at 5 48 47 PM" src="https://user-images.githubusercontent.com/31697449/54490572-f7dd6f00-48dc-11e9-9b89-5a9c9963ebfd.png">

Working on this. :)

[2019-03-17 15:18] aaryan01 opened #872 "Track Order doesn't show error if order doesn't exist"
Track order allows for spaces to enable the track button
![Screenshot from 2019-03-17 20-38-19](https://user-images.githubusercontent.com/31697449/54493328-bc4e9f00-48f4-11e9-96c8-16dadddc460b.png)
Shows no error when order doesn't exist
![Screenshot from 2019-03-17 20-38-22](https://user-images.githubusercontent.com/31697449/54493330-be186280-48f4-11e9-8772-d564552db63a.png)

Working on it :+1:

[2019-03-17 16:55] bkimminich commented on #872
Track oder actually is supposed to not properly validate the user input. It's part of one of the easiest challenges.

[2019-03-17 16:55] #872 closed

[2019-03-17 19:50] aaryan01 commented on #636
Hi @bkimminich @J12934
I have opened a PR for this issue. Kindly review.
The total bonus points for the user are not being stored yet (though they could be calculated by looping through each order) - I'll be working on it next. Do we want to display the total bonus points in the profile section?
Thanks :)

[2019-03-17 21:39] bkimminich commented on #871
Thanks for finding and fixing this!!!

[2019-03-17 21:39] #871 closed

[2019-03-18 11:13] supra08 commented on #463
@bkimminich, @CaptainFreak, currently `pdfkit` is being used to create the pdf files, so xslt can't be used to create this challenge. But if the library can be altered, an injection based challenge can be created. The flow could be like this:
* The order invoice is created using the order details input.
* We can make the attacker generate an invoice for products not currently in the juice shop, an

[2019-03-18 11:43] supra08 opened #877 "Video subtitles based challenge"
Juice Shop being a retail site, we can host some promotional or introductory video regarding the site. This video will have subtitles which we can make prone to XSS, as described in:
[https://hackerone.com/reports/88508](https://hackerone.com/reports/88508)
[https://www.openbugbounty.org/reports/92115/](https://www.openbugbounty.org/reports/92115/)
We can make an option there to report incorrect s

[2019-03-18 16:03] bkimminich commented on #877
That is a great idea, but it might just be impossible to _customize_ properly because we cannot expect everyone to make their own custom video with custom yet vulnerable subtitles... If we can address this somehow, then it'd be really cool!

[2019-03-18 17:07] aaryan01 opened #878 "Able to track different user's order"
Not sure whether it is meant to be this way - but any user can track any given order id (whether  he/she has placed that order). Practically it is difficult to get an order id's access but it can be considered as a security threat.

Screenshot attached: Tracking a different user's order (order id known)
<img width="1440" alt="Screenshot 2019-03-18 at 10 35 59 PM" src="https://user-images.githubuse

[2019-03-18 19:07] aaryan01 opened #879 "Doesn't show error when registering with existing email"
The error is logged in console but isn't displayed to the user when I try to register again with an email I registered with before.

![Screenshot from 2019-03-19 00-29-39](https://user-images.githubusercontent.com/31697449/54556409-d369bb80-49de-11e9-96f5-cecf326b36c0.png)

[2019-03-18 20:37] bkimminich commented on #878
Yeah, that's just as intentional as having all the order PDF files in a single folder for all users... ;-)

[2019-03-18 20:37] #878 closed

[2019-03-18 20:38] bkimminich commented on #879
Oh, wow, I'm wondering why nobody noticed that for all those years! Thanks!!!

[2019-03-19 08:05] aaryan01 commented on #660
@bkimminich I was working on this issue and I came across another bug (possibly) - I set up my username from the profile page but it is not reflecting in the user object ```const loggedInUser = insecurity.authenticatedUsers.get(req.cookies.token)```
I'll open a new issue once you confirm this.
<img width="1440" alt="Screenshot 2019-03-19 at 1 26 17 PM" src="https://user-images.githubusercontent.co

[2019-03-19 08:46] supra08 commented on #877
The video and the 'safe' subtitle will be a part of the website. The attackers' task would be to identify that the subtitle is vulnerable and can be XSSed. So he has to only prepare/edit the `subs.srt` file for this challenge and upload it.
Apart from this, I was thinking mainly of these kinds of videos:
* An animated sequence, campaigning about juice-shop. It can be made kind of weird to divert t

[2019-03-19 12:32] aaryan01 commented on #582
@bkimminich what all data should be removed? The past orders and reviews?

[2019-03-19 13:52] supra08 commented on #226
@agrawalarpit14 are you still working on this? If not, I would be glad to pick it up. @bkimminich

[2019-03-19 18:20] aaryan01 opened #882 "No error when 'password' value and 'repeat password' value are different"
Hi! @bkimminich @J12934
When I try to sign up, if I enter different values for Password and Repeat Password, it shows no error. Also, it signs me up with the password I enter in the 'Password' field. Is this a bug or a part of a challenge. I wasn't able to find any.
Thanks!

[2019-03-19 18:30] bkimminich commented on #882
I'm not exactly sure, it might have been validated in the old UI and this check got lost? It's not really worth a challenge, I think. So we could just fix it and add the error.

[2019-03-19 18:30] #879 closed

[2019-03-19 18:31] zachfedor commented on #336
After this change, the solution in the [appendix](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/solutions.html) needs updated.

[2019-03-19 18:33] aaryan01 commented on #882
Sure! I'll get to work :+1:  asap.

[2019-03-19 18:34] bkimminich commented on #877
Having a completely generic sales video with stock photo people but no reference to the business whatsoever would be kind of fun... But also a bit much work to make... 😁

[2019-03-19 18:38] bkimminich commented on #882
You can just make it client side validation, but please similar to other form validations, ok? Thanks! 👌

[2019-03-19 18:38] aaryan01 commented on #882
I'll keep that in mind :+1:

[2019-03-19 18:40] supra08 commented on #877
Yep definitely :+1: , this would make the challenge portable for different installations too, without much work.  I will work a bit on the challenge flow and post it here.

[2019-03-19 18:40] bkimminich commented on #336
You're right, I added a TODO into the solution for the _Admin Section_ challenge alrew.

[2019-03-19 19:13] supra08 opened #883 "Need buttons to toggle all-select in score-board"
Currently, we have to select the relevant challenge categories one by one to view the challenges. The same applies to select the levels of the challenges. This makes it a cumbersome some task if the user needs to select a large number of options.
A button to toggle all select both for the categories and the levels would be helpful and make it more user-friendly.

[2019-03-19 20:09] bkimminich commented on #883
That's a very good idea! 👍

[2019-03-19 22:46] bkimminich commented on #877
I think I've got it: Let's have a video of @braimee's Juice Shop jingle pre-alpha-version with subtitles somewhere embedded - either hidden as a tier 3 easter egg challenge or just plain on the _About_ page! We then make the video file/URL and the subtitle file/URL configurable. For the 7MS theme it's not necessary as it's the artist behind the jingle. And for Mozilla and BodgeIt Store we just als

[2019-03-19 22:51] bkimminich commented on #877
Jingle file and lyrics can be found here: https://github.com/braimee/bpatty/issues/13#issuecomment-439139410 - For starters we could just have an all-black video with just the subtitles. If the underlying _XSS Tier 3.5_ (or whatever) challenge works fine, then we hide the video in some cool way for that extra _Easter Egg Tier 3_ challenge.

[2019-03-20 12:56] agrawalarpit14 opened #884 "Buffer Overflow Challenge"
A buffer overflow challenge in the coupon code field of the juice-shop. It can be implemented in the following way:
When a user enters a string of longer than a specified length(say 40 chars), the user gets a discount of 20%.

Although, to demonstrate this the restriction on the length in the front-end(presently 10 digits) would need to be removed or a user can do request tempering?
Please let me

[2019-03-20 12:59] CaptainFreak commented on #884
I doubt that this is actually a web vulnerability. If it is a valid vulnerability scenario please provide reference.

[2019-03-20 13:12] CaptainFreak commented on #884
I would suggest to keep following things in mind when looking forward to contributing new challenges to Juice-shop :

1. The challenge should be around feature which is relevant to Juice-shop's E-commerce domain.

2. The Challenge and the vulnerability involved should actually teach the hackers to detect bugs in *JavaScript* based web application.Like for example, the hacker should learn the minds

[2019-03-20 13:43] bkimminich commented on #884
@CaptainFreak I might steal your "3 challenge commandments" and put them into the contributor's guide... :+1:

[2019-03-20 13:43] #884 closed

[2019-03-20 14:46] agrawalarpit14 commented on #884
Hi @CaptainFreak @bkimminich Actually the buffer overflows are quite common in applications using servers other than NodeJS.
References: https://www.dummies.com/programming/networking/buffer-overflow-hacks-in-web-applications/
https://www.owasp.org/index.php/Buffer_Overflows

[2019-03-20 14:59] bkimminich commented on #884
Agreed, but they're not randomly giving 20% discounts for no reason, right? 😉

I'm fine having a BO challenge, but it needs to be _real_ and probably needs a sandbox like the XSS/RCE.

[2019-03-20 15:40] CaptainFreak commented on #884
We also know clearly about Buffer Overflows situations on server side. But as you mentioned yourself, JavaScript context is what we are concerned about.

Don't even bother about Juice-shop scenario, I will look into that. Just come up with valid implementation of Buffer overflow bug in Juice Shop's server side and we will be happy for it. But I would suggest to invest time in looking for other opp

[2019-03-20 19:51] agrawalarpit14 commented on #884
True. I should have thought properly.😕
Next, time I will come up with something more concrete😎

[2019-03-20 19:52] agrawalarpit14 commented on #884
Yeah Sure. I will take your inputs and try to come up with better implementation and opportunities.
Thank You🙂

[2019-03-20 22:31] agrawalarpit14 opened #886 "Regular Expression DoS Challenge"
- In the complaint field in the juice-shop a user can submit a list of products in the following form
[code]
- While storing, to separate the elements of the list, juice-shop uses `brace-expansion` package(https://www.npmjs.com/package/brace-expansion) of node pinned below `v 1.1.7`.

- The vulnerability in `brace-expansion` can then be exploited by querying invalid strings to the regex involved.

[2019-03-20 22:55] bkimminich commented on #886
That does sound like a nice vuln, but neither in complaint nor feedback does it make any sense to use a library that does **this**:

[2019-03-21 03:23] agrawalarpit14 commented on #886
Hi @bkimminich So, can it take the following form:
- Juice shop uses regular expressions to find if a user complaint is written in terms of points(`([0..9]+(.| +|-)+[A..Z][a..z]+.)+`) or is it just a single paragraph.

Then the regex can be fed with values which will supposedly take a very long time. For example, my terminal output for few queries is as follows:
[code]
- In this case no dependency