[2020-03-24 08:39] bkimminich commented on #1337
This table is now also generated from the `challenges.yml` instead of a separate (and somewhat redundant) data file listing the tutorialized challenges:

![image](https://user-images.githubusercontent.com/3531020/77405285-3a207280-6db3-11ea-863c-158a8e92c8d7.png)

[2020-03-24 09:54] Brynanum commented on #1286
Thank you for your return ! :)
Sorry, but I don't have Twitter... ^^'
But you can tweet it with your own account if you want. ;)

[2020-03-25 11:34] Scar26 commented on #1337
Would it perhaps be better if instead of opening a pull request on when a commit is pushed with the release tag, we get the metrics endpoint to also expose the list of all challenges and then the website could fetch it from one of the permanent instances like https://demo.owasp-juice.shop/#/ or https://juice-shop.herokuapp.com/#/ ?

[2020-03-25 12:19] bkimminich commented on #1337
I really don't want to dynamically load any data from the inherently insecure Juice Shop into the official website... 😅

But opening a PR instead of just pushing a commit would be an option, but it's not really needed as a manual intervention step. The Juicy Bot user (which is also doing the linting) should probably do just a commit.

[2020-03-25 12:24] bkimminich commented on #1337
If there's a way to load the `challenges.yml` from the Juice Shop repo as a data source in the website repo, then no commits etc. would be needed. But that's still kind of a "remote file inclusion" and afaik it is not supported by Jekyll.

[2020-03-25 12:28] #1295 closed

[2020-03-25 12:32] bkimminich commented on #1349
Closed as this will rather be "fixed" than converted into a challenges to avoid duplications.

[2020-03-25 12:32] #1349 closed

[2020-03-25 13:36] Scar26 commented on #1337
oh ok, I'll go ahead with the workflow then

[2020-03-25 20:25] #1337 closed

[2020-03-26 17:11] yeroc-sebrof commented on #1226
Hey, I've run into an issue where the cookie didn't restore my progress. I has a look at the solution to solving challenge 999 but if I'm spinning up the lab for a bunch of students I don't want to spoil this challenge for them if more of them encounter this issue.

The lab restarted three times total so I'm worried that the continue code maybe reset itself on the penultimate restart? I can't back

[2020-03-26 17:13] yeroc-sebrof commented on #1226
Would it be reasonable to also submit a feature request to make the database reset functions optional due to this issue?

[2020-03-26 18:53] bkimminich commented on #1226
@yeroc-sebrof I do not understand what the Challenge 999 has to do with what you encounter. Also, the continue code does never reset as long as you don't delete the 🍪 yourself or by using an incognito browser.

Every student is using their own Juice Shop instance or are they all bashing on one? Of course then the first continueCode to trigger after any server restart wins and sets the DB for all.

[2020-03-26 18:56] bkimminich commented on #1226
@yeroc-sebrof No, this is a core feature of the Juice Shop that it is unbreakable as it always starts in vanilla state, no matter what crazy XSS you persisted with SQLi etc. There's no difference if it runs in Docker or not except that you would provision a new container, but that would also have a vanilla state DB.

[2020-03-26 19:27] bkimminich commented on #1276
@MarcRler I'll not merge the current `facelift` for the upcoming `v10.1.0` which will hopefully be released tomorrow, we'll save it for one of the next releases, ok?

[2020-03-27 09:48] yeroc-sebrof commented on #1226
@bkimminich the reference to Challenge 999 was because I've been looking at reversing the cookie to check what's happened. I have also been looking at restoring progress based on the Docker Logs and crafting these challenge complete requests to ensure progress pulled across.

[2020-03-27 09:54] yeroc-sebrof commented on #1226
I understand that refreshing the database on start is key functionality but due to a student's progress being lost I hoped this step could be skipped with a flag on docker run just like the ` `NODE_ENV=unsafe` flag. Then due to juice shop running in a container if the student managed to completely break their instance a new container could be spun up and we could use the cookie restore point or ha

[2020-03-27 12:54] bkimminich commented on #1226
This would conceptually break the data creator and all reset tasks running on start-up (like deleting order PDFs, restoring overwritten files etc.) - it's not just the database.

[2020-03-28 18:33] #1309 closed

[2020-03-30 10:08] Scar26 opened #1358 "[⭐] OSINT Challenge"
# :star: Challenge idea

### Description

The challenge description would read something like :
"login as X by changing his password through the forgot password screen. Apparently, he goes by sc4p3run3 online" (suggestions for X and his alias highly appreciated)
The security question would be "What is your favorite movie"
A quick search by [sherlock](https://github.com/sherlock-project/sherlock) r

[2020-03-30 10:51] bkimminich commented on #1358
Love the idea with using archive.org for this! As for the category, let's keep it in "Sensitive Data Exposure" but maybe refer to OSINT in the challenge name (too on the nose maybe?) or at least in the pop-up hint text?

As for the account name, it'd be fine to create one refering to yourself, if you want to. Like I did with my cat's name and my ZIP code from childhood. But you can also "stage" it

[2020-03-30 12:05] Scar26 commented on #1358
Yes, the issue with using my alias is that although I don't really tweet stuff as of now, if I start tweeting at some point, the target tweet might get buried beneath real ones, making it harder to find. Though I guess that would make it more realistic.

So should I go with it or use a different name?

[2020-03-30 12:24] bkimminich commented on #1358
I like the idea of having it buried among real tweets a lot more... We can just crank up the difficulty a bit.

If you're uncomfortable using your own Twitter handle, it's of course also fine to use a generic account.

[2020-03-30 12:25] Scar26 commented on #1358
No, I would love to use my own handle. That makes a part of juice-shop literally :p
I'll go ahead with this then. Thanks!

[2020-03-30 15:10] bkimminich commented on #1358
Yep, you'd be setting yourself a little Juice Shop monument there... which is totally fine for me (and my cat)! 🗽

[2020-03-31 00:24] therealplayboyboy opened #1362 "issue when i do npm start"
(node:5514) UnhandledPromiseRejectionWarning: Error: Cannot find module './routes/fileUpload'
at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:692:17)
    at require (internal/modules/cjs/helpers.js:25:18)
    at Object.<anonymous> (/root/Downloads/j

[2020-03-31 06:17] bkimminich commented on #1362
Closing for redundancy with subsequent identical support request on Gitter.

[2020-03-31 06:17] #1362 closed

[2020-04-04 20:13] #1358 closed

[2020-04-10 18:07] github-actions[bot] opened #1366 "ZAP Scan Baseline Report"
- Site: [https://demo.owasp-juice.shop](https://demo.owasp-juice.shop)
 	 **New Alerts**
	- **Server Leaks Information via "X-Powered-By" HTTP Response Header Field(s)** [10037] total: 14:
		- [https://demo.owasp-juice.shop/assets/public/favicon_js.ico](https://demo.owasp-juice.shop/assets/public/favicon_js.ico)
		- [https://demo.owasp-juice.shop](https://demo.owasp-juice.shop)
		- [https://demo.o

[2020-04-12 16:45] tghosth commented on #1295
So my understanding is that this is now resolved except when the application server is Windows, correct?

[2020-04-12 16:49] bkimminich commented on #1295
Yes, that's it. I have no clue why, but it seems only Windows is unhackable in that regard... 😂

[2020-04-14 20:22] bkimminich commented on #1366
Switching scans to preview instance with additional alpha rules and Ajax Spider for 5min

[2020-04-14 20:22] #1366 closed

[2020-04-14 21:05] github-actions[bot] opened #1367 "ZAP Scan Baseline Report"
- Site: [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
 	 **New Alerts**
	- **Content Security Policy (CSP) Header Not Set** [10038] total: 4:
		- [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
		- [https://preview.owasp-juice.shop/](https://preview.owasp-juice.shop/)
		- [https://preview.owasp-juice.shop/sitemap.xml](https://preview.owasp-juice.shop/sit

[2020-04-15 05:27] Scar26 opened #1368 "[🚀] Auto refresh auth token after upgrading to deluxe"
### Description

 Currently, when a user upgrades to deluxe, they are logged out of their account and have to login again in order to get a new auth token.

### Solution ideas

 Upon up-gradation, the deluxe route sends a new token back and the component automatically sets it in the cookie and local storage and refreshes the page. With the middleware implemented in #1310 , the new token will autom

[2020-04-17 03:53] santosomar opened #1369 "[🚀] Running Juice-shop in Raspberry Pi 4"
# :rocket: Feature request

### Description

In issue #380 , @battletux was kind enough to provide a solution to run Juice-Shop in a Docker container inside of a Raspberry Pi (as shown below) and in the Docker Hub repository at: https://hub.docker.com/r/arclight/juice-shop_arm

Unfortunately, this does not work in newer platforms such as the Raspberry Pi 4.
This was the original Dockerfile in issu

[2020-04-17 07:11] bkimminich commented on #1369
Having a new Docker image for RasPi would by **awesome**! If that could somehow be built automatically, that'd be even better... 😀

[2020-04-17 07:19] bkimminich commented on #1368
That'd be cool, because today it only shows _"You will be logged out on successful completion."_ before completing the payment for the membership. Many users (me included) probably didn't even see that sentence and then think something went wrong during the account upgrade to deluxe.

If that token switch is not trivial anyway, we could go at least for a snackbar saying _"Your account has been upg

[2020-04-17 20:53] #1368 closed

[2020-04-18 18:03] github-actions[bot] opened #1372 "ZAP Scan Baseline Report"
- Site: [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
 	 **New Alerts**
	- **Content Security Policy (CSP) Header Not Set** [10038] total: 4:
		- [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
		- [https://preview.owasp-juice.shop/](https://preview.owasp-juice.shop/)
		- [https://preview.owasp-juice.shop/sitemap.xml](https://preview.owasp-juice.shop/sit

[2020-04-18 19:44] #1372 closed

[2020-04-18 23:01] FranzForstmayr opened #1373 "[🐛] Deluxe Fraud Challenge does not finish"
# :bug: Bug report

## Description

When applying for a deluxe membership you can either choose to pay by card or wallet.
When your wallet is empty, the button for paying by wallet is disabled. When modifying the HTML entry and delete the `disabled` property, you can click "Pay", after that the submit button becomes enabled. After Submitting and login in again, you are a deluxe member.

### Is thi

[2020-04-19 06:13] bkimminich commented on #1373
Cool, another unanticipated attack path for that challenge! 😁 ... @Scar26, can you have a look into this please? I suppose it shouldn't be as easy as this, so we probably have to close this simple solution? Or we reduce the difficulty of the challenge?

[2020-04-19 06:36] Scar26 commented on #1373
Nice :laughing: !
I'll look into this in a minute. I guess we should probably block this path otherwise, it would just become another inspect-element challenge and we already have a bunch of those. Is that cool?

[2020-04-19 17:12] #1373 closed

[2020-04-19 18:17] github-actions[bot] opened #1375 "ZAP Scan Baseline Report"
- Site: [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
 	 **New Alerts**
	- **Source Code Disclosure - Java** [10099] total: 3:
		- [https://preview.owasp-juice.shop/polyfills-es2015.js](https://preview.owasp-juice.shop/polyfills-es2015.js)
		- [https://preview.owasp-juice.shop/main-es2015.js](https://preview.owasp-juice.shop/main-es2015.js)
		- [https://preview.owasp-juice.s

[2020-04-20 19:52] santosomar commented on #1369
The following is an update for documentation and troubleshooting purposes.

I have tried using the Docker images [arm32v7/node](https://hub.docker.com/r/arm32v7/node) and also tried installed  node and all the underlying components in [arm32v7/ubuntu](https://hub.docker.com/r/arm32v7/ubuntu/).

The Juice-Shop `npm install` works after cloning this existing repository (i.e., `git clone https://gith

[2020-04-20 20:19] bkimminich commented on #1369
Hm, I can try to build on Linux/Arm on Travis-CI just for fun to see what happens...
https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support

[2020-04-20 20:54] santosomar commented on #1369
Oh that would be awesome. I am more than glad to test and document, if needed.

[2020-04-21 07:49] bkimminich commented on #1369
Compiling on Arm64 works, unit tests I had to turn off b/c Chrome is not available, but I would assume the deploy step that creates the `.tgz` archive should work now too. I'll create a dummy tag to test this and paste the link to the archives here so you can test if they work on your RasPi, ok?

[2020-04-22 15:02] bkimminich commented on #1369
Building on Arm on Travis-CI is a real pain... But it seems I at least got one archive prepared for Node12: https://github.com/bkimminich/juice-shop/releases/download/v10.2.0/juice-shop-10.2.0_node12_linux_arm64.tgz

Can you maybe try that out on your RasPi, @santosomar? If it doesn't work, then I can remove this 90%-breaking job from Travis-CI right away and if it does work then I can seek some c

[2020-04-22 16:06] santosomar commented on #1369
## SUCCESS!!!!
Using [arm64v8/node:12-buster](https://hub.docker.com/layers/arm64v8/node/12-buster/images/sha256-c6da449fd32d7086faf1e1f657e3c30f735b83bd59769a304854c389c9f5a189?context=explore) I was able to make it work on a Raspberry Pi 4!

I will be cleaning up things a bit and will publish the image to Docker Hub by tomorrow.

@bkimminich - thank you so much for your continuous support! It is

[2020-04-22 16:18] bkimminich commented on #1369
Awesome!!! Now I kind of need to make this `arm64` job actually pass consistently on Travis-CI...

✅ Currently the normal branch builds pass usually, also on `arm64`. They take up to 20min but they pass.
❌ The tag builds on the other hand tend to fail from a timeout after 20-25min saying that they didn't get any output on the console for 10min. But, they not always fail as can be seen here: https:

[2020-04-22 16:20] bkimminich commented on #1369
Make sure to send me a link to the Docker image, then I'll add it to our README and documentation for as long as you keep it updated.

[2020-04-23 02:46] santosomar commented on #1369
Thank you again, @bkimminich ! I have pushed and documented the new container at:
https://hub.docker.com/r/santosomar/juice-shop-arm64

I will continue to maintain it.

[2020-04-23 02:46] #1369 closed

[2020-04-23 03:01] bkimminich commented on #1369
Awesome, thank you so much! I'll soon add your image link to the "Ecosystem" tab of the website and also mention it in the ebook.

The request for help with the Travis CI tag builds on Arm64 will get it's own ticket as well within the week.

[2020-04-23 20:41] bkimminich commented on #1369
The Travis-CI jobs are now caching more efficiently and use `npm prune --production` instead of deleting all `node_modules` resulting in way faster builds even on `arm64`. Timeouts do not occur any more.

@santosomar, could you maybe check if the `v10.2.1` package still works inside a Docker image on your RasPi? Also, I've added a variable in my ebook for the last Juice Shop version you built the

[2020-04-23 20:54] santosomar commented on #1369
The Docker image is located at:
https://hub.docker.com/r/santosomar/juice-shop-arm64
Also documented at: https://pwning.owasp-juice.shop/part1/running.html

[2020-04-23 21:05] santosomar commented on #1369
Works like a charm!

[code]

[2020-04-23 22:06] bkimminich commented on #1369
Awesome! I guess I need to buy a new RasPi now after all...

[2020-04-24 12:26] lucky70707 commented on #1347
There are some privacy/copyright issues with the dentist option. I don't think we're going to find a real dentist who wants their name to be used for this challenge.  A fictional dentist would be hard, the ony way to do that is to have the photo be doxxable without geodata and it's likely to be copyrighted material.
Do you have any suggestions on how to work around this problem? For now our team i

[2020-04-24 14:00] bkimminich commented on #1347
We could change the _Dentist_ bit in the question also to something else if that makes it less problematic from a privacy perspective. Like asking for a school or a store or something less personal. Ideas are welcome!

[2020-04-29 10:53] bkimminich commented on #1369
[code]

Docker installation worked fine, SSH is set up properly, Docker image was pulled as well:

[code]

I'm trying this on a RasPi Model 3A+ with Raspian (freshly updated/upgraded) - any ideas what I might be doing wrong?

[2020-04-29 12:05] bkimminich commented on #1369
Ah, I suppose what comes out of travis-CI it only works on `Arm8` architecture, so not on anything older than a RasPi 4 ...

[code]

[2020-04-29 15:59] bkimminich commented on #1369
Okay, I solved it by installing Ubuntu 64bit on my 3A+ model. I've updated the documentation to be more specific about the need to run 64bit for the image.

[2020-04-29 16:18] santosomar commented on #1369
Sorry for the delay. Yes indeed. I used Ubuntu 64 and also have a few other earlier Raspberry Pi models that I can test, but it looks like you already have it running. Cheers!

[2020-04-29 16:43] bkimminich commented on #1369
Did you check on your RasPi4 if it works there with Raspian? I cannot test that, but if it doesn't I would change the docs to only recommend Ubuntu.

[2020-05-01 02:47] santosomar commented on #1369
Will do. I will check over the weekend. I will install Raspbian in the Pi4 and Pi3s and will update this issue.

[2020-05-03 16:49] bkimminich commented on #1369
I've set up my RasPi 3A+ as a permanent Prometheus/Grafana server, so it is already quite busy considering its specs, which is why it didn't really bother me that this now happens when I try to launch the Docker image on it:

[code]

What I realized only then, is how huge the image is. Do you build it manually or with a `Dockerfile`? Is there maybe some room for optimization regarding size? The x8

[2020-05-03 16:56] J12934 commented on #1369
What happens when you build the official Dockerfile on the Raspi / Arm?

I thought it should work as the node base image has official ARM support build in.
Or does this not work with something specific in our `npm install`?

[2020-05-03 18:43] bkimminich commented on #1369
My RasPi 3 can't build from source locally because it dies during Angular build step, probably because of lacking memory.

[2020-05-05 00:52] inkz opened #1380 "[🐛] SequelizeDatabaseError: SQLITE_ERROR: no such table: Wallet"
# :bug: Bug report

## Description

Not able to run Juice Shop locally or via Docker

### Is this a regression?

well, I definitely was running Juice Shop successfully before, do not remember the version exactly

## :microscope: Minimal Reproduction
locally:

1. Install node.js
2. Run git clone https://github.com/bkimminich/juice-shop.git (or clone your own fork of the repository)
3. Go into the c

[2020-05-05 06:33] bkimminich commented on #1380
I checked the last Docker image builds, and they all passed their smoke tests which include and API access check that'd definitely fail if the DB was not properly created: https://hub.docker.com/repository/registry-1.docker.io/bkimminich/juice-shop/builds/f735884a-67f8-47e1-b9ec-7b4118c6aee9

The latest image from master branch is also passing: https://hub.docker.com/repository/registry-1.docker.i

[2020-05-05 06:52] Scar26 commented on #1380
I've ran into this issue on an alternate machine before.
I don't know how to fix it as of now and have been unable to reproduce the error, but it's actually little more than a mild annoyance.
If you let it run for a minute, the same errors pop up a few times, after the which the application starts and runs normally without any issues

[2020-05-05 07:03] inkz commented on #1380
@Scar26 wow, you absolutely right, after a few minutes it finally started! thanks! so it is probably something wrong with my setup.

@bkimminich thanks for the quick response and for this amazing project, keep up with good work!

[2020-05-05 07:03] #1380 closed

[2020-05-05 09:51] bkimminich commented on #1380
I'll add that to the Troubleshooting guide as a recommendation... The classic "please try again later"... 😂

[2020-05-09 18:08] #1375 closed

[2020-05-11 15:57] GraoMelo opened #1382 "[⭐] html/5 Injection"
# :star: Challenge idea HTML injection

### Description

the idea is to make a challenge to find an injection html vulnerability

### Underlying vulnerability/ies

HTML5 <picture> element and "srcset" attributes

this type of flaw is to simulate XSS or XXE but it focuses on vulnerabilities in HTML resources.

### Expected difficulty
low or medium.

### Possible attack flow
this failure can be comb

[2020-05-14 04:29] bkimminich commented on #1382
Thanks for the challenge proposal and the references! 👍 Do you have an idea where this could actually be put in the application (in a reasonably realistic way)?

PS: You don't like our "First Issue" auto-reply action? 😀

[2020-05-15 03:17] jamesdjuhartono opened #1385 "Quarantine subfolder not accessible [🐛]"
# :bug: Bug report

## Description

Juicy malware files in /ftp/quarantine/ directory is not accessible through Poison Null Byte injection.

### Is this a regression?

Did not test this on previous version.

## :microscope: Minimal Reproduction

Perform Poison Null Byte injection to any file in /ftp/quarantine/ directory, and observe that the server will return a 403.

![image](https://user-images

[2020-05-15 04:56] bkimminich commented on #1385
I can confirm that behavior. Definitely not intended, and it seems there's never been an automated test for that either. Thanks for reporting!

[2020-05-15 14:37] jamesdjuhartono commented on #1385
No problem! It seems that this happen to all files in subfolder of /ftp/. I'm not familiar with node.js routing, but it seems that the file parameter passed to fileServer.js doesn't include the parent path, otherwise it should fail the <code>!file.includes('/')</code> check.

[2020-05-15 17:47] bkimminich commented on #1385
Yep, the routing was broken so that the subfolder was mistaken for the filename. I've fixed that (not elegant but simple) and it'll be part of v11.0.0 release. The files are not really important, just mildly helpful to find the malware for the _SSTi_ challenge.

[2020-05-15 17:47] #1385 closed

[2020-05-17 09:42] rotemreiss opened #1389 "[🚀] Disable the dismiss button on the welcome banner when "restrictToTutorialsFirst" is enabled"
# :rocket: Feature request

### Description

When the Juice Shop is used for training sessions, I don’t see any reason to allow the trainees to dismiss the hacking instructor on the welcome banner.

### Solution ideas

IMO, when the “restrictToTutorialsFirst” and the "hackingInstructor" flags are enabled, then there shouldn't be a way to dismiss the welcome banner without starting the tutorial.

*

[2020-05-17 13:10] bkimminich commented on #1389
https://github.com/bkimminich/juice-shop/pull/1390#issuecomment-629794236:

[2020-05-17 13:11] bkimminich commented on #1389
The "Help getting started"-button would obviously only be shown while the _Score Board_ hasn't been found.

[2020-05-17 19:22] bkimminich commented on #1389
@rotemreiss You are eligible for a pack of stickers & postcards if you email (or Slack-DM) me your address. I currently have a little Corona-related backlog of contributor package mailings, just so you know it might take a bit longer... 😷

[2020-05-17 19:22] #1389 closed

[2020-05-18 12:08] Instinctsz commented on #1347
Hey, I'm one of the members of the team that is working on this. We were wondering how you would like to be able to configure challenge. Currently, the photo's on the photo wall can be changed in the default.yml file in the config folder and the security question/answer can be changed users.yml file in data/static. Is this fine as it is?

[2020-05-18 14:22] bkimminich commented on #1347
The security question/answer would have to be in the default.yml for this challenge because users.yml is not part of the customization (on purpose).

[2020-05-20 22:29] timmar2000 opened #1392 "[🐛] Challenge Blockchain Hype - Wrong RSA-Module in pyc"
# :bug: Bug report

## Description

The file announcement_encrypted.md, which is part of the challenge  "Blockchain Hype" is not decryptable as the file /ftp/encrypt.pyc contains the wrong value for N. This is likely due to a mismatch between the sourcefile test/files/encrypt.py and the compiled file ftp/encrypt.pyc

### Is this a regression?

No, the file hasn't been modified since being added as

[2020-05-21 00:52] bkimminich commented on #1392
@jainendra, could you please take a look at this and verify the issue? Thanks!

[2020-05-21 01:01] bkimminich commented on #1392
@timmar2000 Did you verify that the `announcement_encrypted.md` was indeed encrypted with the `N` from the test files and not with the one from the decompiled `ftp/encrypt.pyc`? It might well be that @jainendra used a different `N` on purpose in the test files, so that it doesn't immediately spoiler the `N` needed for the challenge.

[2020-05-21 10:06] timmar2000 commented on #1392
@bkimminich I've encrypted the announcement.md using test/files/encrypt.py
[code]
This shows me that the files are identical. So the original annoncement_encrypted.md must have been encrypted using N from the test-file.

If I try to encrypt the file using encrypt.pyc diff shows that the files are different.
[code]

[2020-05-21 10:10] bkimminich commented on #1392
The files in `/test` are for testing, and the Python decryption is not tested automatically anyway, those files were just for manual testing afaik. The only way to verify if the used `N` is wrong in the file in `/ftp` is to try and brute force it with either `N`, I guess.

[2020-05-21 10:50] bkimminich commented on #1392
Ah,okay. Could you maybe send a PR with just the corrected `.pyc` file? That should fix the whole issue.

Am 21. Mai 2020 12:06:17 MESZ schrieb timmar2000 <notifications@github.com>:

[2020-05-21 12:47] jainendra commented on #1392
@bkimminich Yes, this is indeed the wrong encrypted file, not sure how this went through. Thanks @timmar2000 for pointing out and fixing it. 👍

[2020-05-22 13:25] Infinity-Intellect opened #1394 "Unable to launch the web application with npm strart[🐛]"
I'm getting the following error when I run npm start.
I'm using a pre-packaged distribution.
[code]

[2020-05-22 14:01] bkimminich commented on #1394
Please make sure you have the right archive downloaded for your OS and Node.js version. Otherwise some precompiled binaries won't work. Also make sure your Node.js installation is up to date, on Linux that's sometimes a problem when you install via package managers. If all else fails, you might want to try installation from source or Docker instead.

[2020-05-22 14:02] bkimminich commented on #1394
Further questions please to https://gitter.im/bkimminich/juice-shop

[2020-05-22 14:02] #1394 closed

[2020-05-22 14:16] #1392 closed

[2020-05-22 22:12] Xeek3y opened #1395 "All solved challenges automatically vanished after some hours on heroku[🐛]"
Hey, i really like this lab and i deployed this lab on herokuapp as well as on my local machine and i solved till rating 3 vulnerability[all of them1+2+3] on the firefox browser and next day when i reopened the site on chrome browser then everything vanished then i thought it's maybe my fault i may have clicked on **Delete All history** button that appears when we open the webpage...
**or** maybe

[2020-05-22 22:34] bkimminich commented on #1395
The `continueCode` cookie will save your progress. It must somehow fail to get created or get deleted unintentionally. Please check what's happening to your cookie. Maybe paste its value into a text file for safe keeping and then see what's happening.

[2020-05-24 03:27] bkimminich commented on #1395
Your first case when you switched browsers is expected in combination with Heroku, as they occasionally put apps to sleep and wake them up on demand, which is essentially a restart. So your Chrome could obviously not access your Firefox's cookies to restore. When you use Firefox all the time, as your second case implies, this should not happen, unless you're in ingognito mode or use some plugin th

[2020-05-24 03:27] #1395 closed

[2020-05-24 03:30] bkimminich commented on #1395
Also, if somone else uses the same Heroku instance with you, whoever visits it first after a server restart, will restore their solved challenges from their continue code.

[2020-05-25 11:37] GraoMelo commented on #1382
eu pensei em algo, como um XSS with DOM. injection in search bar. after response, to view source code html injection.

![xss](https://user-images.githubusercontent.com/60477737/82809638-f1dd0980-9e62-11ea-8560-f5a382eee866.png)

[2020-05-25 14:06] Xeek3y commented on #1395
Hello thanks for giving me solution but i tried everything that you said but none worked for me:
Some points i wanna mention before i tested this:

1) Does someone else operate my pc? The Answer is no, no one uses my pc other than me!
2) Did i logged in or opened the site on another browser as well like chrome? No i didn't. i only used firefox!
3) I copied the previous cookie and everything from *

[2020-05-26 11:39] Xeek3y commented on #1395
Any update?

[2020-05-26 12:22] bkimminich commented on #1395
I on the other hand am quite confident it's **not** a Juice Shop issue, because I haven't heard _anybody else_ report this issue ever before. Unfortunately I cannot reproduce your problem, neither locally nor on any of my Heroku instances. Can you try the following _exact_ steps and confirm the behavior please?

1. Close _all browsers_ on your PC
1. Start Juice Shop locally with `npm start`
2. Ope

[2020-05-26 12:25] bkimminich commented on #1395
PS: I wasn't talking about someone operating your PC, I was talking about someone else using your publicly accessible Heroku instance. If I know your Heroku URL, and I visit it before you do after an instance restart, _my challenge progress_ will be restored. When you visit the instance 5sec later your visit will not trigger another restore, because the server remembers to only do it once after a

[2020-05-26 14:45] Xeek3y commented on #1395
Alright will update here i'm currently testing and will do whatever you said above, btw thanks..

And no, i didn't gave anyone my herokuapp url, i'm the only one who operates all this.
But i'm not sure if someone is doing subdomains enumeration/scanning/bruteforcing on herokuapp domains and maybe that's why it is happening with me but it's less likely so yeah i'm the only who solves that!

[2020-06-02 22:14] thecompilerctf opened #1398 "[🐛] Unable to launch the application"
# :bug: Bug report

## Description

npm start fails after npm install.
info: All dependencies in ./package.json are satisfied (OK)

## :fire: Exception or Error

<pre><code>
(node:6766) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, copyfile '/root/Desktop/Projects/juice-shop/data/static/JuiceShopJingle.vtt' -> '/root/Desktop/Projects/juice-shop/frontend/dist/frontend/

[2020-06-03 04:49] bkimminich commented on #1398
Most likely your preceding `npm install` ran into folder write permission errors already. If you downloaded a ZIP archive you might still miss permissions on your folder to copy some files around. See https://pwning.owasp-juice.shop/appendix/troubleshooting.html and and https://github.com/bkimminich/juice-shop/issues/868.

[2020-06-03 04:49] #1398 closed

[2020-06-05 22:01] pascalschulz opened #1399 "Wrong name used"
Hi Björn,

starting with this line, you suddenly speak about Jim instead of Bender.

https://github.com/bkimminich/juice-shop/blob/ef00293b3800037127f5eb84355713ebcc0979fa/frontend/src/hacking-instructor/challenges/loginBender.ts#L63

A little below that line again.

Best,
Pascal

[2020-06-06 03:57] bkimminich commented on #1399
Ah, classic copy&paste error... Thank you for noticing! 👍

[2020-06-06 11:19] bkimminich commented on #1399
And it's not only the texts, also the expected input is still Jim's email address, so this script wouldn't even be working as expected... 🤦

[2020-06-06 11:21] #1399 closed

[2020-06-06 18:11] github-actions[bot] opened #1400 "ZAP Scan Baseline Report"
- Site: [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
 	 **New Alerts**
	- **Dangerous JS Functions** [10110] total: 6:
		- [https://preview.owasp-juice.shop/main-es5.js](https://preview.owasp-juice.shop/main-es5.js)
		- [https://preview.owasp-juice.shop/polyfills-es2015.js](https://preview.owasp-juice.shop/polyfills-es2015.js)
		- [https://preview.owasp-juice.shop/polyfills

[2020-06-11 12:56] bkimminich opened #1404 "Multi-Arch DockerHub builds [🚀]"
Following the blog post by @everflux in https://www.trion.de/news/2019/10/14/docker-multi-arch-dockerhub.html I've implemented a multi-arch Docker build process for Juice Shop. There are some unsolved issues and some missing functionality still, but I'm not sure my Docker skills are sufficient to address these.

1. :bug: The `snapshot-arm64v8` tag is downloading the `x64` modules for `iltorb`, `li

[2020-06-11 13:50] J12934 commented on #1404
I guess the best / most stable thing to do is do run the docker builds on travis, as we actually have access to ARM CPU's there.

[2020-06-11 16:59] dare2netsec opened #1406 "[🐛] Heroku deploy button broken"
# :bug: Bug report

## Description

A clear and concise description of the problem...

The deploy Heroku button at https://github.com/bkimminich/juice-shop#deploy-on-heroku-free-0month-dyno is passing the incorrect link and results in an error.

It currently links to https://heroku.com/deploy

It should redirect to https://heroku.com/deploy?template=https://github.com/bkimminich/juice-shop

[2020-06-11 17:30] bkimminich commented on #1406
The button works as is, at least in my regular Chrome installation. Heroku recommends to use it this way, because that allows you to click the button on any _fork_ of the repo, and you'll get _that fork_ deployed. If I hardcoded the repo name, you'd always get my version.

[2020-06-11 17:34] bkimminich commented on #1406
See discussion in #1212.

[2020-06-11 17:34] #1406 closed

[2020-06-11 17:39] bkimminich commented on #1404
So, introducing a new build stage "docker" and once that works switch off the Automated Builds on DockerHub?

[2020-06-11 23:10] bkimminich commented on #1404
[code]

This attempt covers the regular Docker build plus
* injecting the Git ref/date meta data (previously done via `pre_build` hook)
* login to DockerHub and pushing the image
* Downloading the manifest tool and pushing it to DockerHub (previously via `post_push` hook)

All that currently in a separate stage (which limits it to the default matrix job (Node 14 on Amd64 Linux) and only for `devel

[2020-06-11 23:43] jimay422 opened #1407 "[🐛] Error when using Username update feature"
# :bug: Bug report

## Description

The user is authenticated and opens the "user profile" page, the update of the username is not possible. An error is visible in the server logs.

### Is this a regression?

The version used is `11.0.1`, according to the commits on this file, the problem is present since  707495a4b18a93763287770615c8a30f285a0ef1

## :microscope: Minimal Reproduction

- Authentica

[2020-06-11 23:55] jimay422 commented on #1407
Forget it, after restarting the server all is fine ... probably broke something ^^

[2020-06-11 23:55] #1407 closed

[2020-06-12 08:01] kw1tt3 opened #1408 "Error on serving js files for the real easter egg[🐛]"
# :bug: Bug report

## Description

On solving the "Nested Easter Egg" challenge browser only shows blank page.
Juice Shop not loading the real easter egg js files and I get two errors:

1. `Refused to execute script from '<URL>' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.`

2. `Uncaught ReferenceError: THREE is not defined.`

[2020-06-12 10:31] bkimminich commented on #1404
The arm64 builds have terrible performance on Travis-CI unfortunately, so bad that it often doesn't even finish to install the Docker service before the default 10min timeout. Unfortunately I cannot influence the timeout, because this happens before any build step that I could prefix with `travis_wait 30` ...

Fingers crossed for https://travis-ci.com/github/bkimminich/juice-shop/builds/170994720

[2020-06-12 10:33] bkimminich commented on #1404
If it keeps failing I might have to install Docker manually as a `before_install` step, but having to do a thing like that would kind of hurt my feelings... 😢

[2020-06-12 11:48] J12934 commented on #1404
Mh thats weird.
This is just on arm, right?

Have used travis many times before to build docker images, always worked without any problems, but never on arm. Would have hoped it would just work 😕

[2020-06-12 11:55] bkimminich commented on #1404
On `amd64` the entire build takes 10min, which makes it even a lot faster than it was on DockerHub... Only `arm64` is causing trouble. I switched to manually installing Docker and try to increase the timeout for the long running steps on ARM now...

[2020-06-12 12:37] bkimminich commented on #1408
The Three.js demo is part of the frontend code bundle and in past Angular versions it worked fine that way. Now it seems, that the Angular CLI is breaking it during final assembly. Requesting any of the JS files imported by the demo directly, gives you instead the content of the index.html - but broken. You can notice the cookie banner popping up then.

A possible solution would be to move this en

[2020-06-12 17:03] bkimminich commented on #1404
Hell, this is frustrating... while most builds just timed out before even doing _anything_ this one at least got the server-side built successfully and then timed out before/while doing the Angular compile step... 😭 ... https://travis-ci.com/github/bkimminich/juice-shop/jobs/348091021

[2020-06-12 17:51] J12934 commented on #1404
I've previously had problems with the angular build on my raspberry.
I think the problem is the `--max-old-space-size=8192` in https://github.com/bkimminich/juice-shop/blob/master/package.json#L55

This seems to tries to allocate 8gigs of ram. When i removed this flag the build worked flawlessly on my raspberry. Might be a similar problem here.

[2020-06-12 20:18] bkimminich commented on #1404
I removed the RAM allocation completely from the `build` script in `package.json`, but the job still times out... I'm giving it one more try with `travis_wait` but then I'm out of ideas.

[2020-06-12 21:05] bkimminich commented on #1404
## I'm officially out of ideas... ❌

![image](https://user-images.githubusercontent.com/3531020/84546256-3bea3a00-ad01-11ea-9d7a-13c4f71da82e.png)

[2020-06-12 21:07] bkimminich commented on #1404
But: Amd64 builds work like a charm, though, so even for that it might be worth switching away from DockerHub auto-builds.

[2020-06-14 20:55] bkimminich commented on #1408
Prefixing all asset paths with `/` solves this issue. Will be released with `v11.2.0`.

[2020-06-14 20:55] #1408 closed

[2020-06-18 19:08] Whamo12 commented on #1382
Just a possible solution, though, I am not sure it would be worth it the effort.  Essentially, there could be HTML Injection via emails.  This could be done by having a "share" functionality of a food item where a user could share an item to a peer.  This "share" button would open up a modal form which the user then could add their peers email address.  When the user submits the form, it will send

[2020-06-18 20:58] bkimminich commented on #1404
![image](https://user-images.githubusercontent.com/3531020/85071072-3a17ef00-b1b7-11ea-8527-9dd6cef660bf.png)

[2020-06-18 20:58] #1404 closed

[2020-06-21 07:02] #1267 closed

[2020-06-22 11:56] bkimminich opened #1411 "Cron job for Git pull and Docker build"
I'm a dummy when it comes to Linux, so I'd really appreciate competent advice on how to set up the following in the most efficient way possible (`cron` job?) on my RasPi 4B with Raspian installed:

1. In user `pi`'s home folder `/GitHub/juice-shop` check-out master dropping any local changes and then pull from remote
2. If one or more commits _without_ `ci skip` in the commit message were pulled
3

[2020-06-23 13:06] J12934 commented on #1411
Maybe we could “just” migrate from the docker build to use GitHub actions.
You could then use your raspi as a self hosted runner 😉

[2020-06-23 13:15] bkimminich commented on #1411
But then my RasPi would need to be callable from the evil Internet, and that's not going to happen... 😉

[2020-06-23 13:26] J12934 commented on #1411
I think its using a Pull Model not a Push, so you would not need to expose it to the internet.

[2020-06-24 13:48] bkimminich commented on #1347
@justinsmid I've moved the configuration of the geo stalking challenges into `memories` and also added validation of the config is valid. That should catch
* Either challenge not being configured
* One memory having both challenges configured
* Security answer/question keys of both challenges mixed up
* Any user other than John/Emma associated with the corresponding memory (no user being specified

[2020-06-24 13:51] bkimminich commented on #1347
I'm not entirely sure if the Hacking Instructor scripts are a good idea, though. Researching the answers takes a bit of time, and there is not really much help coming from these tutorials other than what the hints on the Score Board already says. Essentially the user muast figure it out and it's not really easy, so it is likely they are just getting stuck and can never solve the tutorial. That'd b

[2020-06-25 04:45] bkimminich commented on #1411
You're right, it doesn't need to be callable, but https://help.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#self-hosted-runner-security-with-public-repositories still says "_We recommend that you do not use self-hosted runners with public repositories._" - more due to risks of malicious forks, but the "Threat Model" here is just too unforeseeable to me. With a simple sc

[2020-06-26 19:18] bkimminich opened #1413 "Remove dependency on ng2-bar-rating"
The `ng2-bar-rating` is not compatible with Ivy and will therefore prevent an Angular 10 migration. It can be replaced with a standard Slider from Angular Material.

Side effect: Removing this module makes the second Typosquatting challenge impossible to solve. Another library could be wrapped or the challenge removed to mitigate this.

[2020-06-27 21:20] bkimminich commented on #1413
Module was removed and a simple slider with thumb label is now used. Typosquatting dependency was switched to `anuglar2-qrcode` (which seems to work with the Ivy renderer so far).

[2020-06-28 12:58] #1400 closed

[2020-06-29 12:57] #1413 closed

[2020-06-29 13:55] tghosth opened #1415 "[🐛] SPOILER "Perform a reflected XSS attack" challenge solution not working?"
# :bug: Bug report

## Description

I tried following the challenge solution described:
https://pwning.owasp-juice.shop/appendix/solutions.html#perform-a-reflected-xss-attack

For example, on the demo instance that should be:
http://demo.owasp-juice.shop/#/track-result?id=%3Ciframe%20src%3D%22javascript:alert(%60xss%60)%22%3E

It appears that the https://demo.owasp-juice.shop/rest/track-order/ API

[2020-06-29 14:06] bkimminich commented on #1415
No, that's expected on any Heroku instance, because the challenge is not available there. It is a combo with a NoSQLi that would allow RCE and we don't want people to accidentally deploy such a vuln to Heroku because there might be worse side effects than we foresaw... 😉

[2020-06-29 14:07] bkimminich commented on #1415
Click "Show unavailable" on the Score Board and it will show you all 15 affected challenges and there's also a link with some background information.

[2020-06-29 14:07] #1415 closed

[2020-06-30 13:20] conmurray commented on #1407
I'd like to reopen this. I'm experiencing this on the docker image.

It works on 10.0.0 and fails to work on 10.1.0.
I've restarted the docker image numerous times and retested to see if it was something on my end.

I've even run two simultaneously as a side by side comparison.
10.1.0 fails.
10.0.0 works.

Docker command:
Terminal 1:
docker run --rm -e "NODE_ENV=unsafe" -p 4000:3000 bkimminich/jui

[2020-06-30 13:29] conmurray opened #1418 "[🐛] Error when using Username update feature"
# :bug: Bug report

## Description

Issue was already reported and closed by the reporter in https://github.com/bkimminich/juice-shop/issues/1407
However I can consistently reproduce this

### Is this a regression?

Yes, the previous version in which this bug was not present was: `10.0.0`
It works on `10.0.0` and fails to work on `10.1.0` and upwards from what I can see.
I've restarted the docker

[2020-06-30 14:36] bkimminich commented on #1418
On http://demo.owasp-juice.shop/profile (v11.1.1) it works fine to save a username.

[2020-06-30 15:03] bkimminich commented on #1418
The error can only come from this check `req.headers.origin.includes('://htmledit.squarefree.com')`, and it means that in your case there is no `origin` header in the request. As this might happen during request tampering or from unknown other reasons, I'll add a null check in front of that.

[2020-06-30 15:05] #1418 closed

[2020-07-04 08:00] headfullofciphers opened #1421 "[🐛] CSRF Issue"
# :bug: Bug report

## Description

While doing CSRF challenge (with or without 'solution' code) 2 errors are presented:
Error: Blocked illegal activity by ::ffff:127.0.0.1
 Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client

### Is this a regression?

Don't know

## :microscope: Minimal Reproduction

1. Login as a user
2. go to http://htmledit.squarefree.com/
3. p

[2020-07-04 11:12] bkimminich commented on #1421
That error path is only taken when you are not logged in. For the profile page the `token` cookie is expected to match one known on the server. Maybe your token expired? If you log out and log in immediately afterwards and then visit the profile page, do you see the profile? When you then run the CSRF attack, it still errors out?

I'll try it later today or tomorrow as well to verify.

[2020-07-04 11:29] bkimminich commented on #1421
I get the same behavior you describe, but in the HTML Editor I can see
![image](https://user-images.githubusercontent.com/3531020/86511510-46788a80-bdfa-11ea-9821-860b968b113a.png)

Did you try with an older browser to make sure it's not an issue similar to #1340?

[2020-07-04 11:43] bkimminich commented on #1421
This is what Firefox 76 has to say when pasting the payload:
![image](https://user-images.githubusercontent.com/3531020/86511753-5002f200-bdfc-11ea-8335-9978da983608.png)

[2020-07-04 11:44] bkimminich commented on #1421
Please check if the attack is possible with an older browser version. I'll also add a note to the solution that this won't work with newer browsers.

[2020-07-04 12:01] headfullofciphers commented on #1421
Same Issues with Chrome and Fireforx.
With Microsoft Edge 42.17134.1098.0 SEC7120: [CORS] error

Tried with opera 57.0.3098.91 (number taken by guess, relase date 06.12.2018 ) and get ERR_BLOCKED_BY_RESPONSE

Thanks for confirming the issue ;)

[2020-07-04 12:19] bkimminich commented on #1421
Even IE11 doesn't play along...
![image](https://user-images.githubusercontent.com/3531020/86512308-4b8d0800-be01-11ea-9472-2ddd965fe94d.png)

[2020-07-04 12:39] bkimminich commented on #1421
Yeah, maybe it's actually something fixed on the HTML Editor's side... I tried Firefix 59 (2018) and it also didn't work. Will try Firefox 31 (2015) next, and if that doesn't work, then maybe the challenge is actually broken.

[2020-07-04 12:53] bkimminich commented on #1421
Ooookay, Firefox 31 was too old to run Juice Shop, but Firefox 50 did the trick. It successfully changes the username into `CSRF` via the payload from the solution. However: The challenge is not recognized as solved, because it seems the `Origin` header is not sent by the HTML Editor site. So, the challenge is broken in a way, just not completely... 😅

[2020-07-04 13:12] bkimminich commented on #1421
Okay, Firefox 50 updated itself to 56, but the attack still works. It seems instead of the `Origin` header just the `Referer` is being sent to the Juice Shop server. I'll update the challenge to accept either of both as a trigger for the challenge solution. This should then fix the missing notification.

[2020-07-04 13:12] #1421 closed

[2020-07-04 18:14] github-actions[bot] opened #1422 "ZAP Scan Baseline Report"
- Site: [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
 	 **New Alerts**
	- **Dangerous JS Functions** [10110] total: 6:
		- [https://preview.owasp-juice.shop/main-es5.js](https://preview.owasp-juice.shop/main-es5.js)
		- [https://preview.owasp-juice.shop/main-es2018.js](https://preview.owasp-juice.shop/main-es2018.js)
		- [https://preview.owasp-juice.shop/polyfills-es5.js](h

[2020-07-05 23:02] bkimminich commented on #1267
The `webauthn` branch has been rebased with `develop`, but build errors out during Angular compile with

[code]

[2020-07-09 09:09] #1347 closed

[2020-07-09 09:10] #1311 closed

[2020-07-10 22:27] bkimminich opened #1423 "[🚀] Export/Import for settings and progress"
# :rocket: Feature request

### Description

It would be nice to have the chance to save

* hacking progress (`continueCode` cookie)
* local settings
  * cookies `language`, `cookieconsent_status` and `welcomebanner_status`
  * local storage `displayedChallengeCategories`, `showOnlyTutorialChallenges`, `showDisabledChallenges` and `displayedDifficulties`

in a local file and restore from that file

[2020-07-11 18:14] #1422 closed

[2020-07-13 20:35] bkimminich commented on #1423
Preliminary save/restore: 00a8573030010e3d972ccb90679572bffb66bcbd

[2020-07-14 17:12] bkimminich commented on #1423
Save and Restore is implemented, I need to add some tests and also allow the whole feature to be turned off (e.g. by default in CTF mode) because it's just too convenient to cheat with this.

[2020-07-15 22:41] bkimminich commented on #1276
Let's try the _motivational tweet_ approach to get this one eventually resolved for good... https://twitter.com/owasp_juiceshop/status/1283530731097030658 👼

[2020-07-16 14:33] #1423 closed

[2020-07-18 06:31] #1411 closed

[2020-07-28 01:14] GraoMelo commented on #1382
there are many possibilities.

html4 - text, html5 - input / output, html5 - storage.

# :star: Challenge idea ( HTML4 )

**Type - text**

### Description

- change text modify response text, to something less user friendly.

### Underlying vulnerability/ies
unnecessary

### Expected difficulty

| :heavy_check_mark: / :x: | Difficulty                           |
|:------------------------:|:------

[2020-07-28 10:25] GraoMelo opened #1432 "[⭐]Bellingen, stay away for me."
# :star: Challenge idea, https/2.0

### Description

the user without being authenticated, makes a request to use the REST API.
requests will use http 2.0, instead of 1.1 or 1.0
as the application is not prepared, an error will error. This error will be the conclusion of the challenge.

### Underlying vulnerability/ies
**A6:2017-Security Misconfiguration**
Security misconfiguration is the most com

[2020-07-28 10:52] bkimminich commented on #1432
✅ https://tools.keycdn.com/http2-test
✅ https://gf.dev/http2-test
✅ https://http2.pro/check
(on http://demo.owasp-juice.shop)

Maybe I'm missing your point, but I don't see how such a challenge would sense or be explainable as a realistic scenario.

[2020-07-28 14:40] J12934 commented on #1432
Http2 Support is probably handled by Heroku.
Juice Shop itself doesn't seem to support http2.

This would probably also be a problem as any sort of loadbalancer doing http2 termination (most seem to do that) would interfere with the challenge.

[code]

But I'm also not quite sure on what the challenge would be about.
A hidden easter egg? As this doesn't really seem to be security relevant.

[2020-07-30 13:24] bkimminich commented on #1432
I'm closing this one b/c I see no way to implement this properly. On to of the reasons @J12934 gave with potential proxy/LB issues here's another issue: As long as Juice Shop itself doesn't support HTTP/2 yet, any such requests wouldn't even get anywhere, meaning there's also no way to realize that a request came in and trigger a challenge. All in all, way too brittle circumstances.

I'll gladly r

[2020-07-30 13:24] #1432 closed

[2020-08-04 13:00] wadim-al opened #1436 "[🐛] SPOILER. Broken tutorial: "Log in with the administrator's user credentials without previously changing them or applying SQL Injection.""
# :bug: Bug report

## Description

The "Log in with the administrator's user credentials without previously changing them or applying SQL Injection." tutorial is broken at the moment where user pastes the "admin@juice-sh.op" into the login form. The blue balloon says: "Nah, that was wrong! Keep trying! I'll tell you when you're one the right track." But it should succeed, because the correct admi

[2020-08-04 15:11] bkimminich commented on #1436
Once I paste in the email as described, I get the expected hint, whereas you get the one for the password not being correct yet... Strange. Somehow your browser triggered the password field in a way mine doesn't.
![](https://i.imgur.com/vlM0iMC.png)

[2020-08-04 15:13] wadim-al commented on #1436
I think it is related to Chrome's Save Credentials feature. The browser automatically pastes in the password for the previously logged in user. Am I right?

[2020-08-04 15:22] bkimminich commented on #1436
That is totally possible. I'm not using that in Chrome, though.

[2020-08-04 15:40] bkimminich commented on #1436
I don't see how we could prevent Chrome from virtually pushing submit in the form with its auto-fill feature.

[2020-08-04 16:18] wadim-al commented on #1436
But why the tutorial doesn't check the contents correctly? I'm pasting the value, so why doesn't it validate it on paste or by timer? Why does it check the password field if it is the step for filling the email correctly? If submit is pushed virtually, can the tutorial step be reworked to back-check the email and advance the state of the tutorial?

[2020-08-04 17:44] bkimminich commented on #1436
Here what the tutorial does: It checks the email field until it contains the expected admin email. Then it shows the password hint from my screenshot until you start typing in the field. When you do type, it shows the "Nah..." message you are seeing. Until your password matches "admin", then it tells you that you are close but not there yet.  Etc.

In your case the hint on the empty field seems to

[2020-08-05 08:26] #1436 closed

[2020-08-05 08:33] bkimminich commented on #1382
@GraoMelo Thanks for your challenge ideas! I'm not entirely sure they would bring anything new that isn't already covered by one of the existing XSS challenges.

@Whamo12 The email attack avenue would be a nice novelty, and we for sure would give this challenge the "Danger Zone" tag and disable the entire mailing functionality in Docker/Heroku environments by default. I'm a bit sceptical about the

[2020-08-05 11:42] Whamo12 commented on #1382
I agree, which explains my hesitation to share this idea but as this ticket was open I figured it was worth at least mentioning it.

Nodemailer requires the following configuration to create a SMTP transport object.
[code]

An alternative to using a real email account, there is a service called [Ethereal](https://ethereal.email/) which is an "anti-transactional email service where messages never g

[2020-08-09 07:58] bkimminich opened #1440 "[⚙️] Incompatible/Breaking dependency updates"
## `package.json`
* [x] `sequelize` 6.x not compatible with currently used 5.x
* [x] `file-types` 14.x not compatible with currently used 12.x
* [x] `socket.io` 3.x not compatible with currently used 2.x
* [x] `socket.io` and `socket.io-client` 3.x not compatible with currently used 2.x

## `frontend/package.json`
* [x] `socket.io-client` 3.x not compatible with currently used 2.x

[2020-08-10 18:52] bkimminich opened #1441 "[📜] Spec for declaration of vulns to help scanners check find rate"
Back in 2016 an idea of having a `__vulns.json` file in vulnerable applications came up and was prepared by members of the OWASP ZAP, VWAD and Juice Shop teams. It was supposed to allow scanners/tools to assess their success rate by

1. iterating over the `vulnerabilities` array
2. looking for one or more matches from each `flags` array in their own reported finding descriptions/root causes etc.

[2020-08-10 20:19] preetkaran20 commented on #1441
Hi @bkimminich ,

Adding https://owasp.slack.com/archives/CPMEWT342/p1597085979033700 and https://github.com/SasanLabs/VulnerableApp/issues/164 for reference.

thanks,
Karan

[2020-08-10 22:01] bkimminich commented on #1441
# `.vulns.yml` (Draft 1)

Conceptually same as the original just in YAML and with source location and identifiers instead of arbitrary list of vuln types:

[code]

[2020-08-11 05:43] preetkaran20 commented on #1441
Hi @bkimminich ,

Following are my queries:
1. Can we have separate identifier for vulnerability types like:
[code]
such that anyone that is parsing knows what are the identifier types so that they need not to break values and then know what the identifier is.

2. I am not getting what does the flags mean here and why these are list of flags ?

thanks,
Karan

[2020-08-11 06:13] bkimminich commented on #1441
Flags are indicators that might show up in a scanner report. The URL that has an XSS problem can be a flag. The parameter name susceptible to the payload could be a second one. The responsible code snippet might be a third. Etc.

The more flags the scanner report contains, the more likely it found the actual vulnerability. Even the CWE, WASC or OWASP ids could be just more flags, as at least one o

[2020-08-11 06:15] bkimminich commented on #1441
Your ZAP alert example is perfect, it would match the URL flag and the CWE type in its finding, so it's very likely a true positive.

If it would report the URL but some different CWE, it maybe missed or misclassified the actual vuln.

[2020-08-11 20:40] preetkaran20 commented on #1441
Hi @bkimminich ,

Yes this makes sense and i think we can divide '/scanner' endpoint in [SasanLabs/VulnerableApp](/SasanLabs/VulnerableApp) into 2 parts one is the way to help scanners find the vulnerability (its requirements) and other is something similar to `__vuln.json`.

Also one doubt i have related to scanners is,  are we thinking that scanner report/alerts will have all these flag informat

[2020-08-11 21:45] J12934 commented on #1441
What I don't quite get is how telling a Scanner how a vulnerability can be discovered is helpful. It sounds to me as this gives the tools more information than it could ever have about a real app.

I think the hints shouldn't go further than something like an OpenAPI definition of the API, to ensure that the scanner is able to assess all endpoints to its fullest potential. More than that feels lik

[2020-08-11 21:49] bkimminich commented on #1441
No, that's why we might want to have rather smaller fragmented flags instead of long strings which might not bew exact matches. Another option would be to support RegEx-flags optionalle or make flags RegExes by default. Here is a hopefully helpful example of how I imagine it to work:

For the XSS vulnerability of the search box in Juice Shop the `__vulns.json` definition might look like this, assu

[2020-08-12 06:11] preetkaran20 commented on #1441
Actually '/scanner' endpoint point is like an openAPI definition only, it helps scanners know about the endpoint requirement like
[code]
Now this information is telling that "JWT" query param is the one where scanners need to inject the payload.

Scanners first find the endpoint (using spider) then they do the active scan (This is fully automated version where not manual intervention is there) but

[2020-08-12 06:34] bkimminich commented on #1441
My own confusion with the `/scanner` endpoint is the actual use case. If it's in vuln apps, all we do is "help" the scanners do their job **but** it's highly unlikely any real world application will ever do that. Because adding such an endpoint to your app means you _really_ but some thought and effort into your app security - but those are not the usual targets of scanners, right?

But your propo

[2020-08-12 06:57] preetkaran20 commented on #1441
I think we can have a call and discuss on this. I need to go through your previous comment too. Let me think more and then if possible we can have a call to discuss.

[2020-08-12 15:57] preetkaran20 commented on #1441
Hi @bkimminich ,

Thanks for the amazing explanation. Following are my thoughts:
we might need to make the vuln.json to contains Mandatory and addition parameters for more granular findings like in your example main-es[0-9]* is something mandatory and other parameters are for reaching specific search box. e.g.
[code]
I also think at the same point that mandatory is something like URL (may be alway

[2020-08-12 16:01] bkimminich commented on #1441
Having mandatory flags would be too limiting or at least put too much anticipation into the whole thing. A scanner might explore the search field and get an XSS executed, another one - like ZAP - might find the insecure function call in the minified JS, yet another might find something in the source code (I didn't add flags for that yet) etc.

[2020-08-12 16:37] preetkaran20 commented on #1441
But URL might remain the same and that can be mandatory and in case of minified versions we need not to qualify the parameter as mandatory because it changes at runtime.
If we think about server side vulnerabilities like SQLInjection, it can be very important like say 2 levels are there _sqli/level1?q=<something>_ and _sqli/level2?q=<something>_ even if scanner has not found the vulnerability in s

[2020-08-12 16:56] bkimminich commented on #1441
I get your point, but if you are a SAST scanner you won't know about any URLs. You'd love some class names, function or variable names or a line of code reference etc.

[2020-08-12 17:07] preetkaran20 commented on #1441
So the usecase which i was thinking is, say an endpoint is vulnerable to sqlInjection like `sqli/level1?p=1` here `p` is vulnerable to sqlInjection and active scanner need to know about this parameter without that it can only guess the query params name. Now even if scanner is capable of finding the `sqli` but still it can't because this information is missing.

This can suit to our usecase where

[2020-08-12 17:29] bkimminich commented on #1441
I would prefer real-world-app-developers to focus on _not having Injection issues_ in their webapp instead of writing any declarations to help security tools find potential Injection issues. That's what you pay the security tool vendors for, to find the broken stuff. If they don't, they're not good at their job. Giving them training wheels won't make them better...😁

But giving them something to c

[2020-08-12 17:42] preetkaran20 commented on #1441
Ahh you are talking about SAST tools like Fortify or SonarQube etc ? I haven't thought about them. Thanks for mentioning them.
I think if we go with the assumption of handling both the types of analysers like Static and Dynamic using the same configuration then scanner might never achieve all the flags present in configuration. How about we build it something like:
[code]

[2020-08-12 17:54] bkimminich commented on #1441
As a vulnapp developer, I don't really want to do the exercise of assuming what a DAST and what a SAST scanner will find. I can't imagine many other will... I also don't want to prescribe how many `flags` matches are needed to be considered a "good job" vs. "bad job" of the scanner. That's up to the scanner vendors in my opinion.

[2020-08-12 17:56] preetkaran20 commented on #1441
Hmm makes sense. 👍

[2020-08-12 17:57] preetkaran20 commented on #1441
Haha, actually developers are not writing it, if we look at Swagger etc they are doing similar job only (giving a schema to clients to know how to call) similarly my attempt was to give the same information from vulnerableApp. Ok i will rethink on this. 👍

[2020-08-13 07:42] psiinon commented on #1441
cc @sj @greysteil who may well have some SAST related comments

[2020-08-15 13:49] preetkaran20 commented on #1441
Hi @bkimminich ,

I was thinking more about it and was thinking that if we are not going to categorise these flag then it might make Scanner's job much more tough reason being the one who is writing the vulnerability knows more about the flags like "#search" is an identifier to search box than the one who is understanding vuln.json.

And coming to the point of DAST and SAST, i think we just need t

[2020-08-15 13:52] preetkaran20 commented on #1441
Hi @bkimminich ,

I was thinking more about it and was thinking that if we are not going to categorise these flag then it might make Scanner's job much more tough reason being the one who is writing the vulnerability knows more about the flags like "#search" is an identifier to search box than the one who is understanding vuln.json.

And coming to the point of DAST and SAST, i think we just need t

[2020-08-15 13:56] bkimminich commented on #1441
I agree that putting more time into a more explicit vuln specification makes the life of the scanner vendor a lot easier. But it makes the like of the vuln app developer a lot harder, because now they have to come up with thing mapping between flags more likely to be found by SAST vs. DAST tools etc.

With the simple "here's a set of flags, good luck!" approach the interpretation becomes more the

[2020-08-15 14:06] preetkaran20 commented on #1441
Yes agreed however I was thinking that say we have just given flags(current approach) and now say ZAP wants to use them then they need to create something similar to the vuln.json  with a boolean which states that this flag is useful for them and this flag is not useful for them (say file they named as **vuln_zap.json**) and they will start using **vuln_zap.json** file instead, which can reduce th

[2020-08-15 14:20] bkimminich commented on #1441
Okay, actually we could throw the flags into different arrays, as already done with `type`. Then each scanner vendor can still decide which of the lists they want to use. Like:

- flags
  - source
  - runtime
  - classifiers
  - ...

[2020-08-15 14:23] preetkaran20 commented on #1441
yes yes, i was thinking something similar:

[code]

[2020-08-15 15:03] bkimminich commented on #1441
I'm on board with the general idea, except for the unnecessary type split into sub categories. I'll write up a conclusive example in the next days using such a split into different flag types.

[2020-08-15 15:20] preetkaran20 commented on #1441
Sure 👍 . However i thought of splitting from the ZAP alerts e.g.
![image](https://user-images.githubusercontent.com/13570884/90315243-82455a80-df37-11ea-8978-84659c769636.png)

Actually i agree with both approaches as both have some pros and cons.
I will rethink on this.

[2020-08-15 19:41] bkimminich commented on #1441
## `.vulns.yml` (Draft 2)

Here's an updated draft with two XSS examples from OWASP Juice Shop. I've tried to put all know red flags in for both and gave them the best matching specification choosing between `code`, `files` and `runtime`. Feedback is welcome as always! 🙏

[code]

[2020-08-19 15:51] bkimminich commented on #1441
## `.vuln.yml` (Draft 3)

Here is another option where the flags a grouped by the location they occur in. While this feel to me to be the post accessible way to read this as a human, it also requires the most amount of human work to create... ;-)

[code]

[2020-08-19 16:22] preetkaran20 commented on #1441
Draft 3 looks like has some issues as http_method is not there in first object and as it is a list (thinking from Java prespective) it should be present but with null value. Also how can some scanner know that this location is useful for them. I think it would be great if we can have Code and Runtime added in it.

[2020-08-19 16:30] bkimminich commented on #1441
I did an attempt with `source` and `url` instead of just `location`, but what is the minified JS file then? It is present in the source folder if the app was built, but it is also delivered by the server. So, it could be seen by DAST and SAST scanners.

And the `http_method` I only added in one place where it is actually relevant, I meant it to be an optional property. In `/#search` it wouldn't he

[2020-08-27 06:22] vernjan opened #1452 "[🐛] Alternative solution for "Manipulate Basket""
# :bug: Bug report

## Description

There's an alternative solution for the "Manipulate Basket" challenge. This solution is, however, not recognized by the Juice shop.
So, I think this solution should be either recognized as the correct one, or it should not be allowed.

## :microscope: Minimal Reproduction

**1) Create new basket item**
[code]

The trick here is to delete the `basketId` property!

[2020-08-27 19:06] bkimminich commented on #1452
Good catch, currently the challenge is only checked on `POST` requests. I'll check if adding the same logic to the `PUT` path will fix this without breaking anything else.

[2020-08-27 19:27] bkimminich commented on #1452
Hmm, thast `PUT` you're doing shouldn't even work... I just wrote a test reproducing your steps, but it kept getting `500` errors on that `PUT`. This is how the test passes:

[code]

Any idea what might be different? I also tried passing the ID as a String, but that doesn't change the outcome.

[2020-08-27 20:08] vernjan commented on #1452
Hi, maybe one of

1. Does basket with ID 42 exists?
2. I remember I was getting some errors if quantity > 5
3. I used basket ID as String, not Integer (not sure if it matters though)

[2020-08-27 23:07] bkimminich commented on #1452
It was 1.) ... 🤦‍♂️

[2020-08-27 23:09] #1452 closed

[2020-08-30 00:40] walldoggydogg911 opened #1454 "Cannot install Juice Bar 11.1.3 via packaged distributions and sources."
I cannot install Juice Bar from packaged distributions or  from sources. I can only install via docker.  I get an error msg.  I am running node js 14.9.

![owasp_juice_bar_packaged_install_error](https://user-images.githubusercontent.com/54041238/91648606-711c4380-ea37-11ea-9d85-82ef1b706e30.png)

[2020-08-30 06:42] bkimminich commented on #1454
Looks like the `libxmljs2` binaries do not work on your OS. If you're sure to have used the right packaged distribution for your OS, then there's nothing we can fix here unfortunately.

[2020-08-30 06:48] bkimminich commented on #1454
Please note Juice Shop only supports 64bit OS and re-check which ZIP/TGZ archive you tried to use. The `ELF` error could occur if you're trying the Windows version on Linux or a 64bit progeam on 32bit.

https://github.com/bkimminich/juice-shop#nodejs-version-compatibility

[2020-08-30 06:48] #1454 closed

[2020-08-30 07:10] J12934 commented on #1454
Hi 👋
Can you check if you have downloaded the correct zip for your operating system?
Wrong ELF header is likely do to the downloaded files being for the wrong OS.

[2020-08-30 07:28] bkimminich commented on #1454
At least we're consistent with our advice... 🤣

[2020-08-30 18:13] walldoggydogg911 commented on #1454
That worked!  Thanks guys!

[2020-09-03 13:54] bkimminich commented on #1441
**I've moved the most current drafts and the overall proposal into GitHub Gist https://gist.github.com/bkimminich/5fc27e974ffa0add8bde279f45a4ae47 to decouple any discussions from Juice Shop. Please feel free to make suggestions and discuss the drafts over there! Thanks!**

[2020-09-03 13:54] #1441 closed

[2020-09-09 08:42] #1382 closed

[2020-09-09 08:42] #226 closed

[2020-09-10 10:37] Sybrid203 commented on #1421
Triggers of solution of CSRF challenge on Origin or Referrer header not working.

[2020-09-11 02:37] niloct commented on #1421
The notification is still missing on 12.0.1 even when the username is successfully changed via CSRF from the htmledit.squarefree.com site.

[2020-09-11 04:42] bkimminich commented on #1421
But you are both using a sufficiently old browser, @Sybrid203 and @niloct? Which versions exactly, so we can try to reproduce it?

[2020-09-12 12:07] Sybrid203 commented on #1421
Actually no, I was using a recent version. I just thought the fix is to trigger the completion of the challenge through the referrer/origin header, which is not working on a recent version of Chrome. Why is that though? How are the browsers blocking these CSRF attempts, and why do they work on older versions of these browsers?

[2020-09-15 04:05] mfanto opened #1465 "NoSQL Sleep does not seem to work[🐛]"
# :bug: Bug report

## Description

The NoSQL Sleep Solution does not seem to work using the latest Docker image.

Starting the server with `docker run --rm -p 3000:3000 bkimminich/juice-shop` and using the solution found in: https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/appendix/solutions.html under "Let the server sleep for some time"

I am using Insomnia to make the call. I get

[2020-09-15 05:52] bkimminich commented on #1465
What does the Score Board show you as status for that particular challenge? By default NoSQLi challenges are not available on Docker due to the RCE risk they pose to cloud deployed instances. See https://pwning.owasp-juice.shop/part1/challenges.html#potentially-dangerous-challenges

[2020-09-15 08:10] J12934 commented on #1465
Hi 👋
As the sleep duration is in Milli seconds you are only making it sleep for a fraction of second. The 200 response is also expected as this doesn't really break the query but only delays it. The challenge only registers if you let it sleep for (if my memory is right) to seconds.

[2020-09-15 16:19] bkimminich commented on #1465
Either running `docker run --rm -e "NODE_ENV=unsafe" -p 3000:3000 bkimminich/juice-shop` should solve the problem or what @J12934 wrote in case you already had unsafe mode activated.

[2020-09-15 16:19] #1465 closed

[2020-09-15 18:52] mfanto commented on #1465
Thank you for the help! It turned out to be `NODE_ENV=unsafe`. The solution worked 👍 .

[2020-09-16 02:11] niloct commented on #1421
@bkimminich @Sybrid203 installing firefox 50 did the trick. I spent more than an hour trying to make current Chrome/Firefox/Safari work on my mac. Latest Safari almost worked (can remove CORS block from Developer menu), it was missing a `X-Frame-Options` header from the app `[Error] Refused to display 'http://127.0.0.1:3000/profile' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'.`.

P

[2020-09-17 21:11] HigorGabrielDCF opened #1466 "[🐛] Problem with Basket (New User)"
After logging in, the application checks whether the user has a basket, otherwise a new basket with a new ID is created. But always create a new one, after login.

I reviewed the code in the file "routes / login.js" and found the error, it is a case-sensitive problem. **u**serId != **U**serId

Line 16:

`models.Basket.findOrCreate({ where: { userId: user.data.id }, defaults: {} })`

but the correc

[2020-09-17 23:12] #1466 closed

[2020-09-22 07:16] vernjan opened #1469 "[🐛] Alternative (and not accepted) solution to Deluxe Fraud"
# :bug: Bug report

## Description

There is an alternative solution for **Deluxe Fraud** which is not recognized as successfull.

### Is this a regression?

Not sure but it might be. I think I used this approach in 1.11.x.

## :microscope: Minimal Reproduction

Use **payment method you dont really have**. For example, "card" when you have no cards.

1. Create new user
2. Go to /#/deluxe-membershi

[2020-09-22 07:44] Scar26 commented on #1469
I didn't think of this when creating this challenge. Actually there's no server-side check for available cards for this payment since cards are just supposed to be dummy values anyway. But I guess this should count as a valid solution as well

[2020-09-22 12:16] bkimminich commented on #1469
...or we would have to close this loophole to enforce the originally intended approach? At the moment the "Deluxe Fraud" challenge is ⭐⭐⭐, and if the mentioned loophole is similarly difficulty to exploit, then we can just add it as an alternative path.

[2020-09-22 12:31] Scar26 commented on #1469
hm... It might just be a bit too easy to exploit this way. People could end up accidentally solving the challenge this way, if they resend a request from two different accounts. So I guess it might be better if we just patch this?

[2020-09-22 12:43] bkimminich commented on #1469
Yeah, ok then let's close this gap.

[2020-09-23 16:06] PHPCore1 opened #1471 "[🐛] Checkout without having enough money :)"
# :bug: Bug report

## Description

You can use UI-Bypass on checkout to get a negative wallet (To pay without having enough money)
(It could also get a nice Challange :)

## :microscope: Minimal Reproduction

1. Add products to your basket
2. Make all steps up to the Payment-Method option
3. Select "Pay using wallet"
4. Remove class and disabled attribute from the "Pay x" button
5. Press the butt

[2020-09-24 06:00] bkimminich commented on #1471
Thanks for this nice find! As we already have so many payment related challenges and also at least two where DOM-manipulation is a possible path, we might just want to fix this instead.

[2020-09-24 20:37] grijul commented on #1471
I'd like to work on this one.

[2020-09-24 20:43] grijul commented on #1469
I'd like to try this one.

[2020-09-25 04:22] Scar26 commented on #1469
@grijul Actually I already solved this one. You can work on the other one (Y)

[2020-09-25 04:32] grijul commented on #1469
@Scar26 Thanks for letting me know. Will start working on the other one.

[2020-09-25 16:50] bkimminich opened #1474 "Photo captions not readable in light themes [🐛]"
# :bug: Bug report

## Description

![image](https://user-images.githubusercontent.com/3531020/94294078-92515080-ff5f-11ea-92cd-102ea8f9945b.png)

## :microscope: Minimal Reproduction

1. `NODE_ENV=7ms npm start`
2. Go to http://localhost:3000/#/photo-wall
3. Hover over any photo to (not) see the caption in black text on gray-transparent background

[2020-09-25 16:52] bkimminich commented on #1474
In dark themes it's all fine, because the text is actually dependent on the theme. The transparent box isn't though, it's always dark-gray, which works with white but fails with black text color.

![image](https://user-images.githubusercontent.com/3531020/94294444-24f1ef80-ff60-11ea-9658-9161c1b711a9.png)

[2020-09-25 17:35] surajat17 commented on #1474
i am new to open source commnity... can i work on it?

[2020-09-25 22:12] bkimminich commented on #1474
Of course, give it a shot! 👍

[2020-09-26 18:18] rohan2734 commented on #1474
@bkimminich   Hey i would like to work on this issue can you assign me this issue

[2020-09-26 19:56] bkimminich commented on #1474
Not sure if @surajat17 started working on this yet, but give it a shot too, if you like. First (good) PR, first merge... 😁

[2020-09-27 12:03] J12934 opened #1477 "[🤔] Proposal: Download Compiled Assets on Local Install instead of Compiling them Locally"
I'm marking this as a proposal as I'd be very interested in what you all think about this and to see if there are other downsides to this then the ones listed below.

### Description

The local Juice Shop install currently takes a long amount of time. This time is basically spent on two tasks:

1. Downloading Dependencies via npm (for both backend & frontend)
2. Compiling the Angular frontend

###

[2020-09-27 12:32] bkimminich commented on #1477
I like the idea and would see it more as a `postinstall` step, similar to when our XML parser or SQLite download their binaries. If the download doesn't work,then just the normal Angular compilation could happen as it does today, no? The "not ready to dev" could be solved by a separate `npm install:dev` script that does exactly what happens today on regular installation. CI config shouldn't be a b

[2020-09-27 18:26] J12934 commented on #1477
Okay nice 👍
I'll try to prototype this in my personal Juice Shop fork.

[2020-09-29 06:58] surajat17 commented on #1474
@rohan2734 go for it.

[2020-09-29 10:35] rohan2734 commented on #1474
ok @surajat17
- Hover over any photo to (not) see the caption in black text on gray-transparent background
is this saying, we need to see the caption, when we hover on the background? or is the opposite?
pleaes be clear.

[2020-09-29 11:01] bkimminich commented on #1474
On light background you see it (good ✔️) but on dark background you don't (bad ❌).

[2020-09-29 11:04] rohan2734 commented on #1474
@bkimminich okay.

[2020-09-30 11:03] rohan2734 commented on #1474
@bkimminich  can you share the file names, on which it is there?
file searching is vert time taking process.

[2020-09-30 11:16] Scar26 commented on #1474
@rohan2734  If you mean the photowall page, the component is defined in https://github.com/bkimminich/juice-shop/tree/master/frontend/src/app/photo-wall

[2020-09-30 11:37] #1469 closed

[2020-09-30 12:49] bkimminich commented on #1474
The problematic part is actually this statically defined overlay color: https://github.com/bkimminich/juice-shop/blob/master/frontend/src/app/photo-wall/photo-wall.component.scss#L69

50% transparent black works nicely if you put white letters on it but totally fails if you put black letters on it. The color needs to be different depending on having a light or dark color theme. There should be an

[2020-10-01 22:59] #1474 closed

[2020-10-05 06:09] rene-ph commented on #1276
@bkimminich could I take the accounting component?
Thanks!

[2020-10-05 09:15] bkimminich commented on #1276
Sure, @rene-ph! 👍

[2020-10-05 15:01] #1471 closed

[2020-10-09 06:08] PunitTailor55 opened #1488 "Juice-shop error while installing in RootTheBox"
Hi there,
For juice box installation in RTB, when I am importing xml file. It is giving a database error.
I am running mysql database & latest RTB.

![image](https://user-images.githubusercontent.com/38101321/95548895-b0b95080-0a23-11eb-83bb-69bab6d41b33.png)

[2020-10-16 03:15] teodor440 opened #1491 ""Login CISO" challenge fails when using Google login button [🐛]"
# :bug: Bug report

## Description

Logging in as CISO bypassing oauth user doesn't seem to work anymore. There is a short succesful notice when attempting to login, but afterwards I get redirected to login page and no token is issued.

## :microscope: Minimal Reproduction
As in the solution: make a failed login attempt as ciso@juice-sh.op with remember me box checked, refresh and login with oauth

[2020-10-16 08:49] yaro24 opened #1492 "[🐛] Logging in with the administrators credentials solves Login Admin Injection challenge"
# :bug: Bug report

## Description

When using the administrators email and password to login, both the "Password Strength" and "Login Admin" challenges are solved. Since the Login Admin challenge is categorized as Injection I was not expecting this to happen. If the challenge intention is to only "Log in with the administrator's user account.", the category injection is not very fitting.

### Is

[2020-10-16 12:13] bkimminich commented on #1492
This is common in Juice Shop that you can solve some challenges in different ways. The category represents the "usual" way, but others might exist. Also double-solves are expected in some cases. So it's not exactly a bug.

[2020-10-16 12:36] #1492 closed

[2020-10-16 12:37] yaro24 commented on #1492
ahh okay. Thanks for the clarification👍🏼

[2020-10-16 17:19] bkimminich commented on #1491
The workaround that was in place originally for domains not recognized by the Google App also works here, so the challenge is still solvable. Just not in the way it was originally intended to be solved with.

A more detailed analysis needs to be done to verify if/where the necessary HTTP header with the old email got lost or broken or why Google rejects the login attempts.

[2020-10-16 17:37] bkimminich commented on #1491
- In a normal OAuth login w/o any `X-User-Email` header: ✔️ 200 from <https://www.googleapis.com/oauth2/v1/userinfo>
- With same email of Google account email in `X-User-Email` header: :x: 403 from <https://www.googleapis.com/oauth2/v1/userinfo>
- With different email address than the one of Google account email in `X-User-Email` header: :x: 403 from <https://www.googleapis.com/oauth2/v1/userinfo>

[2020-10-23 10:06] LabanSkollerDefensify opened #1496 "[🐛] Mitigation advice button not fully visible under some browser widths"
# :bug: Bug report

## Description

Under some browser widths the `vulnerability-mitigation-button` on the score board is not fully visible:

![image](https://user-images.githubusercontent.com/65019367/96989978-c3a14a00-1526-11eb-927c-4e320ff4e8d0.png)

### Is this a regression?

Not that I'm aware of (first time user).

## :microscope: Minimal Reproduction

1. Go to the score board
1. Make sure t

[2020-10-23 11:52] bkimminich commented on #1496
Hi! Thanks for reporting this. We use a responsive UI but it seems for the width of your window it's somewhat "between states". Can you tell me the window width you experienced this in? Thanks!

[2020-10-23 12:00] LabanSkollerDefensify commented on #1496
Sure. The window is 1304 pixels wide and so is the attached PNG image.

[2020-10-23 17:17] bkimminich commented on #1496
The buttons for tutorials might still be half-hidden on some very specific screen widths, but for 1300px it's a bit better now and in general some elements hide later b/c I reduced the description column from 50% to 38% of the width.
![image](https://user-images.githubusercontent.com/3531020/97033922-5dd3b300-1564-11eb-9781-a2bf6811c2ba.png)

[2020-10-23 17:17] #1496 closed

[2020-10-25 11:45] omerlh opened #1497 "[⭐] Add something vulnerable to the docker image"
# :star: Challenge idea

### Description

Right now there are no known security issues on the docker image :(:

![image](https://user-images.githubusercontent.com/6730584/97105922-03069c80-16c7-11eb-9911-acfc33b4882a.png)

Some things we could add (all basically RCE):
 - Run the container using root user
- Vulnerable node version as a challenge
- Vulnerable TLS version making it easier to perform

[2020-10-25 12:05] bkimminich commented on #1497
We actually don't want to have the Docker image insecure, especially not with RCE vulns, because people are supposed to run Juice Shop safely in their container infrastructure except for the web vulns... 😇

[2020-10-25 12:06] omerlh commented on #1497
Well, they run something that is intentionally insecure already :) I hear you, but maybe we can have specific vulnerable docker image? With "additional challenges"?

[2020-10-25 12:44] bkimminich commented on #1497
The thing is, that Juice Shop itself couldn't really verify those challenges as they're completely out of its scope. Well, unless it's just another "Report this or that via the User Feedback form" challenges of which we already have too many if you ask me... 😉

[2020-10-25 17:06] omerlh commented on #1497
I would thinking about some kind of RCE that you exploit from JuiceShop maybe,  but I agree - it requires some more thinking :)

[2020-10-25 20:41] cnotin opened #1498 "[⭐] storage of entire credit card numbers"
# :star: Challenge idea

### Description

I notice that the Cards API returns the full credit card number, while the UI only shows the last digits

### Underlying vulnerabilities

* entire card storage -> PCI/DSS
* returning more info than what's displayed

### Expected difficulty

| :heavy_check_mark: / :x: | Difficulty                           |
|:------------------------:|:--------------------

[2020-10-26 05:45] bkimminich commented on #1498
First thing would be to let the API only return the masked card numbers, then we can remove the masking in the client instead. That should leave only SQLi to get the full numbers. Here we could make a challenge very similar to the one to retrieve the users table, just for the cards table.

[2020-10-26 14:30] cnotin opened #1500 "[⭐] Edit another user's review"
# :star: Challenge idea

### Description

When editing our review, it generates a PATCH request with the review ID and its new content. IDs aren't easy to guess but we get them from the reviews list API response

### Underlying vulnerability/ies

Broken access control / IDOR in comment ID

Similar to "forged feedback" and "forged review" but different.

### Expected difficulty

| :heavy_check_mark

[2020-10-26 16:14] PranjalAgni commented on #1500
I was thinking of solving this, by checking the user ID for that review is same as the user ID of the requester. Please let me know if it can work

[2020-10-26 16:30] cnotin commented on #1500
I think that would work yes 🙂

[2020-10-26 16:38] bkimminich commented on #1500
This is already covered by the "NoSQL Manipulation" challenge, which is about editing multiple reviews at once using a NoSQLi payload on the mentioned `PATCH` request.

[2020-10-26 16:38] #1500 closed

[2020-10-26 16:39] bkimminich commented on #1500
See https://pwning.owasp-juice.shop/appendix/solutions.html#update-multiple-product-reviews-at-the-same-time

[2020-10-26 16:43] bkimminich commented on #1498
Implementation hint: I checked `/api/Cards` endpoint implementation, and it's already doing some voodoo to make sure you only get records belonging to the currently logged in user in the `routes/payment.js` middleware. That might be a good place to also perform the masking of the `cardNum` property instead of doing it in the client.

[2020-10-26 16:51] PranjalAgni commented on #1498
So by masking we mean to "encrypt the cardNum value" ?

[2020-10-26 16:53] cnotin commented on #1500
Oh indeed! I was looking for simple broken access control that's why!

[2020-10-26 16:54] bkimminich commented on #1498
No, just return `**********1234` to the client, so asterisks and the last digits, like the client shows it today already. Client could then just show the value from the API response, because it's already masked.

[2020-10-26 17:33] PranjalAgni commented on #1498
Got it, please assign this issue to me

[2020-11-08 19:37] #1497 closed

[2020-11-09 07:58] June-Han opened #1508 "Entity 'xxe' not defined [🐛]"
# :bug: Bug report

## Description

A clear and concise description of the problem...
Doing the 3 stars xxe task, used complaint to submit xml file.

## :microscope: Minimal Reproduction

 Submitted xml file and it returned Entity &#39;xxe&#39; not defined.

## :fire: Exception or Error

<pre>
Code in file:
!?xml version="1.0" encoding="UTF-8"?!
!DOCTYPE foo [
   !ELEMENT foo ANY!
   !ENTITY xxe S

[2020-11-09 10:26] bkimminich commented on #1508
Please try if it works with <https://raw.githubusercontent.com/bkimminich/juice-shop/master/test/files/xxeForLinux.xml> or <https://raw.githubusercontent.com/bkimminich/juice-shop/master/test/files/xxeForWindows.xml> in case you are actually running Juice Shop on Windows.

[2020-11-09 10:58] June-Han commented on #1508
Not very sure what's the difference as I found them to be the same as what I have written, but the linked document works. Thank you!

[2020-11-09 10:58] #1508 closed

[2020-11-20 01:37] LabanSkollerDefensify opened #1513 "[🐛] Grammar mistake in description of Forged Feedback"
# :bug: Bug report

## Description

The current description of the challenge _Forged Feedback_ says

User is singular and it's possessive so it shall be "another user's name".

### Is this a regression?

No

## :microscope: Minimal Reproduction

Go to the score card and search for "users name". :)

## :deciduous_tree: Your Environment

Reproduced on https://juice-shop.herokuapp.com/#/score-board.

[2020-11-20 01:38] LabanSkollerDefensify commented on #1513
I don't dare opening a pull request for this because I think it must be changed in several files and the chances for me not doing it correctly are pretty high.

[2020-11-21 18:17] github-actions[bot] opened #1520 "ZAP Scan Baseline Report"
- Site: [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
 	 **New Alerts**
	- **Insufficient Site Isolation Against Spectre Vulnerability** [90004] total: 6:
		- [https://preview.owasp-juice.shop](https://preview.owasp-juice.shop)
		- [https://preview.owasp-juice.shop/sitemap.xml](https://preview.owasp-juice.shop/sitemap.xml)
		- [https://preview.owasp-juice.shop](https://previ

[2020-11-30 18:56] cnotin opened #1523 "[🐛] Missing challenge solve notification on profile page"
# :bug: Bug report

## Description

The green bar which notifies when a challenge is solved (through the websocket channel) is missing from the profile page. This is missing for some challenges (e.g. the SSRF challenge in the profile picture)

### Is this a regression?
No

## :microscope: Minimal Reproduction

1. Login as any user
2. Go to profile page
3. Change profile picture to solve the SSRF c

[2020-11-30 19:01] bkimminich commented on #1523
That is actually expected and won't be fixed due to the fact how the whole socket.io notifications are handled. Assuming you work in one tab when you solve a challenge outside Angular (profile page, FTP folder, B2B API etc.) you'll go back to it eventually and there the notification is displayed.

[2020-11-30 19:13] cnotin commented on #1523
I can understand the limitation but it is unexpected :)

[2020-12-01 00:20] cnotin opened #1525 "[🐛] Hacking instructor: DevTools open detection is CPU and RAM heavy and never stops"
# :bug: Bug report

## Description

When doing a challenge with Hacking Instructor which checks for the opening of the devtools (e.g. "view basket" challenge) I noticed that the devtools console was going crazy in a loop as my CPU 🤯
![image](https://user-images.githubusercontent.com/550823/100680746-8d9b8500-3372-11eb-9c6b-3bbc057e2a83.png)

I understand that this comes from the code that waits fo

[2020-12-02 14:13] J12934 commented on #1525
Does this properly detect if your dev tools are opened?
The check should™️ stop once the dev tools have been opened :)

[2020-12-02 21:19] bkimminich commented on #1525
If the DevTools detection is only possible in a "whacky" way, then we can also drop it entirely as it was before. The tutorial would still be fine, it just made it feel more smooth when waiting for the DevTool to open. But it's by no means essential.

[2020-12-02 21:22] bkimminich commented on #1513
Won't be fixed (see #1510 for reason) but already has been tagged with a `FIXME` marker for the next major release 13.x

[2020-12-02 21:22] #1513 closed

[2020-12-02 21:24] bkimminich commented on #1498
Credit card protection when using API has been implemented. Not sure if this needs to become a SQLi challenge, though. It'd be almost the same as with the `Users` table where the `password` column is not returned by the API in general.

[2020-12-02 21:39] MarcRler commented on #1276
I would like to take care of the deluxe user page

[2020-12-02 21:44] J12934 commented on #1525
https://github.com/sindresorhus/devtools-detect

Seems pretty stable and easy to use

[2020-12-02 21:52] MarcRler commented on #1276
Whereby the page looks good so far. I just see that the payment options need some rework (at least in Safari).

[2020-12-02 22:04] cnotin commented on #1525
The current solution works fine and detects when I open the devtools but I confirm that it continues in the background (but I cannot say why because of my limited understanding of its implementation with a promise...)
It's a very nice thing to have (and I was actually very curious to see how it detected it!) so it would be nice to keep it!

I've also found the devtools-detect that you mentioned @J

[2020-12-03 00:13] cnotin commented on #1498
Good news :)

Actually, do we really need to store the full credit card number? I did not play that much with the payment mechanism, but does it check the number some way?
If we really need or want to store full numbers, then it would be a PCI/DSS violation and we could perhaps think of a separate challenge (via SQLI or other way?)

[2020-12-03 06:13] Rishabh-Kumar-07 commented on #1491
Hi! I would like to work on this. Will follow up soon with PR.

[2020-12-03 21:26] J12934 commented on #1525
Mh took another look,
For me, it's working correctly in chrome, meaning it properly detects open devtools and stops the logging immediately after the detection.
In Firefox it doesn't work at all, I have to click the Hacking Instructor to continue there. This also causes firefox to be really badly impacted by this check as it never stops.

It possible to really improve the performance costs by runn

[2020-12-03 21:51] cnotin commented on #1525
I re-checked and indeed I confused Firefox and Chrome (was using both at the moment...). And I agree with you @J12934:

I tried to add `console.clear` as you said and indeed it still does not work on Firefox, but it does not make it suffer too much anymore (CPU and memory are fine, but the loop continues though), and the detection still work properly on Chrome.

[2020-12-04 15:23] bkimminich opened #1527 "[🐛] Wallet payment for checkout times out"
# :bug: Bug report

## Description

When using the digital wallet (with sufficient funds) to pay for an order during checkout, the corresponding request in the background will hang and eventually run into a `503 - Service Unavailable` while the frontend just shows no progress.

### Is this a regression?

Yes, but the previous version in which this bug was not present is unknown.

## :microscope: M

[2020-12-04 15:24] bkimminich commented on #1527
PS: Paying for Deluxe Membership from wallet works fine.

[2020-12-08 07:17] bkimminich opened #1530 "[🏗️] CI/CD on GitHub Actions"
## CI/CD on GitHub Actions

The goal of this task is to get as much of the current Travis-CI pipeline running on GitHub actions as a fallback in case we need to drop Travis-CI entirely. See _Background_ below for details.

### Builds (on regular push and for pull requests)

* [x] Installing application
* [x] Linting
* [x] Unit tests
* [x] Integration tests
* [x] E2E tests
* [x] Smoke tests

#### A

[2020-12-10 17:49] #1530 closed

[2020-12-15 20:13] bkimminich opened #1538 "[🐛] Security answer field not unlocking in e2e tests"
Some end-to-end tests involve typing an email into the _Forgot Password_ form, waiting for the security question lookup request and then subsequently wait for the unlock of the security answer field. There the test case then types in the expected answer and submits the form. Often these tests fail with an error like this:

[code]

Previous fix attempts included to extend the wait time for the look

[2020-12-15 23:22] bkimminich commented on #1523
From a user perspective this would be unexpected, you're right. But we do have the same issue with many other challenges which happen "off screen" from the Angular client: Everything in the `/ftp` directory, everything where direct API interaction is happening etc. The difference of the legacy profile page is, that it looks quite similar to the "normal" UI, so you might not realize first that you

[2020-12-15 23:22] #1523 closed

[2020-12-15 23:32] bkimminich commented on #1276
Just merged the divider fixes on _My Payment Options_ into `develop`. Thanks, @MarcRler!

[2020-12-15 23:46] cnotin commented on #1523
Sure I understand! You have the big picture and it makes sense if there are other cases :)
Thanks for answering

[2020-12-16 00:37] #1538 closed

[2020-12-18 03:06] cigar-galaxy82 commented on #1527
Hey @bkimminich I would like to work on this issue

[2020-12-18 06:12] bkimminich commented on #1527
Much appreciated, @cigar-galaxy82! 👍

[2020-12-18 11:47] bkimminich commented on #1491
Hi @Rishabh-Kumar-07, did you make any progress on this or should we consider it "up for grabs" again?

[2020-12-18 11:55] bkimminich commented on #1498
Anyone still planning to make a SQLi challenge named _PCI DSS WTF_ (or something similar) around the unencrypted credit card storage? Would be very similar to the existing _User Credentials_ challenge, more or less a clone even.

We could also spice it up by storing a (too simple) hash of the full number plus the partial number with some (but not enough) digits `*`ed out, so that a brute force att

[2020-12-18 11:58] cnotin commented on #1498
I like your idea of weak hashing, unfortunately I cannot work on it for now sorry!

[2020-12-18 13:46] Rishabh-Kumar-07 commented on #1491
Hey. I am engaged otherwise. You can mark it "up for grabs". Apology for the trouble.

[2020-12-21 10:28] #1527 closed

[2020-12-21 19:53] bkimminich commented on #1525
@J12934 @cnotin Do you guys think something needs to be done here still?

[2020-12-21 20:03] J12934 commented on #1525
Did we update this?
Don't remember seeing / doing any changes to the actual code, aside from experimentations.

[2020-12-21 20:43] bkimminich commented on #1525
Yeah, me neither, but I wasn't entirely sure if your conclusion was to change anything or just leave it as it is... 😁

[2020-12-21 21:06] J12934 commented on #1525
I think the co conclusion was that we can add a console.clear call to fix the performance problems on both chrome and Firefox, but the detection will **still** only work in chrome.

Only downside would be that this would clear all console history of the current tab. This should not really be an issue in my view.

[2020-12-21 21:39] cnotin commented on #1525
Same conclusion here :)
Let's try with this, which is still a progress!

[2020-12-21 22:21] #1525 closed

[2020-12-23 03:59] cigar-galaxy82 commented on #1440
Hey @bkimminich in this we have to update the codebase with the latest version of the mentioned package?

[2020-12-23 04:09] bkimminich commented on #1440
Hi @cigar-galaxy82! Yeah, this is basically a reminder issue, and working on it means picking one of the mentioned libs and migrating the codebase to work with the latest version w/o breaking or failing any tests.

[2020-12-23 04:16] cigar-galaxy82 commented on #1440
@bkimminich  can I start working on this issue?

[2020-12-23 04:52] bkimminich commented on #1440
Sure thing, that'd be great! Just please make sure that you send one PR per migrated dependency, not all in one. Thanks!

[2020-12-23 04:58] bkimminich commented on #1498
The hashing idea might not be the way to do it in reality, though, right? I suppose the best way would be to have an attempted PCI DSS compliant storage which is messed up to allow some brute force via the also stored partial card number with not enough asterisks.

As this is beyond just card number obfuscation, I'll close this ticket and will create one explicitly for that challenge.

[2020-12-23 04:58] #1498 closed

[2020-12-23 04:58] cigar-galaxy82 commented on #1440
ok thanks @bkimminich  just one more thing I want to confirm the mentioned lib file-types is a typo I think there is package file-type with version 12.x

[2020-12-23 05:05] bkimminich commented on #1440
Currently we're usign `"file-type": "^12.4.2"` but there is already `16.1.0` of that module available. When I opened the issue `14.x` was the latest. We should try to get to the latest, so `16.x`.

[2020-12-23 05:07] cigar-galaxy82 commented on #1440
oh thanks

[2020-12-23 12:07] #1520 closed

[2020-12-24 00:13] bkimminich opened #1542 "Migrate to Angular 11"
Update steps: https://update.angular.io/?l=3&v=10.0-11.0

[2020-12-25 00:09] #1542 closed

[2020-12-26 18:12] bkimminich opened #1546 "[🐳] Add Docker test step to CI job"
When Docker images were built automatically on DockerHub they were automatically tested via `docker-compose.test.yml`. A similar step would be good to have in the GitHub Action based CI.

[2020-12-28 14:18] bkimminich opened #1548 "[🧪] Add Vagrant smoke test to CI workflow"
Set up separate job (on Windows only?) that installs Vagrant and tries to launch the application and then execute the smoke test script on the running instance.

[2020-12-28 16:22] bkimminich commented on #1548
Might not be possible due to https://github.com/actions/virtual-environments/issues/183

[2020-12-28 16:23] bkimminich commented on #1546
Might not be possible due to https://github.com/actions/virtual-environments/issues/183

[2020-12-28 19:27] J12934 commented on #1546
Docker containers run fine on GitHub actions. This should only block the vagrant issue

[2020-12-30 22:04] bkimminich commented on #1548
Not possible currently.

[2020-12-30 22:04] #1548 closed

[2021-01-01 22:49] #1546 closed

[2021-01-01 23:30] bkimminich commented on #1276
The following are the only remaining screens which have not yet been tackled in the facelifting initiative:

### Token Sale
![image](https://user-images.githubusercontent.com/3531020/103447817-7eb93280-4c90-11eb-82e2-01d47161ef2c.png)

### Accounting
![image](https://user-images.githubusercontent.com/3531020/103447832-b031fe00-4c90-11eb-89cf-195ba068a249.png)

### Order History
![image](https://us

[2021-01-08 13:36] bkimminich commented on #1276
Happy new year, @MarcRler! Would you by any chance be up to review and update the _Token Sale_ and/or _Order History_ screens? I think for the _Score Board_ we need to plan a bit more time, maybe even make that a GSoC project for 2021. So I'd probably open a separate ticket for that and close this once the last two other screens are done.

[2021-01-13 00:20] cigar-galaxy82 commented on #1276
hey @bkimminich I would like to work order-history component

[2021-01-14 23:33] h4dopel0gic opened #1562 "Digital Wallet - Adding funds without "credit card"[🐛]"
# :bug: Bug report

## Description

So, to add unlimited funds to your digital wallet (1000 credits a time) follow these steps:
![2021-01-14 23_13_48-Window](https://user-images.githubusercontent.com/76522453/104660353-49640a00-56be-11eb-80e1-c1734e18e713.png)
Add max. funds to the wallet and click continue

At the next step "My Payment Options" leave the credit card blank -> right click and selec

[2021-01-15 18:41] #1562 closed

[2021-01-17 02:30] cigar-galaxy82 commented on #1276
hey @bkimminich I would like to work on token sale component

[2021-01-17 02:37] bkimminich commented on #1276
Awesome, feel free to! Please try to keep not just the visual end result but the HTML and SCSS structure too, as similar to other screens as possible.

[2021-01-18 17:00] bkimminich commented on #1276
Completed except for _Score Board_, which will be promoted as a GSoC 2021 project instead.

[2021-01-18 17:00] #1276 closed

[2021-01-20 13:50] prince-7 commented on #1491
I would like to work on this. Please Assign.

[2021-01-21 09:47] prince-7 commented on #1491
I have found some instances where ```x-user-email``` is used instead of ```X-User-Email```, Is that on purpose?

[2021-01-21 14:05] bkimminich commented on #1491
I don't know, but does it even make a difference for the Browser?

[2021-01-21 19:35] prince-7 commented on #1491
Maybe. Because as I looked into the issue I found that on clicking OAuth button the success message comes up shortly before redirecting back to the login page, and the request which causes this problem seems to be this one.
![owasperror](https://user-images.githubusercontent.com/53997924/105402756-d58da880-5c4d-11eb-8200-ef4dfbb2d118.PNG)

[2021-01-28 21:54] bkimminich opened #1573 "[🟦] Migrate server-side code to TypeScript"
* [x] Introduce `typescript` and necesary type packages on backend
* [x] Rename all code files from `.js` to `.ts`
* [x] Augment `npm install` process to transpile
* [x] Change `npm start` to run server from transpiled JavaScript code

After the above steps typing can be gradually introduced in the codebase.

[2021-01-28 22:16] paseaf commented on #1573
I would like to work on it :)

[2021-01-28 22:20] bkimminich commented on #1573
You are more than welcome to! 👍
I'll assign the issue to you! 🎉

[2021-01-29 23:01] paseaf commented on #1573
Hi, I have one questions :)

Do "all code files" also include test files?

[2021-01-30 00:33] bkimminich commented on #1573
Absolutely, the tests should also be in TypeScript. In the end all code should be TS, so we can have consistent linting rules and programming patterns across frontend, backend and tests.

[2021-01-30 00:42] paseaf commented on #1573
Understood! 👍

[2021-01-31 06:18] CaptainFreak opened #1576 "[⭐ ⭐ ⭐ ⭐ ⭐] Create a Challenge on HBS vulnerability."
# :star: Challenge idea

### Description

Complete Blog post:
https://blog.shoebpatel.com/2021/01/23/The-Secret-Parameter-LFR-and-Potential-RCE-in-NodeJS-Apps/

### Underlying vulnerability/ies

Loca File Read, Potential RCE

### Expected difficulty

| :heavy_check_mark: / :x: | Difficulty                           |
|:------------------------:|:-------------------------------------|
|     :grey_q

[2021-02-01 18:09] kairosart opened #1579 "Local backup import issues on Heroku"
I've deployed Juice Shop on my Heroku account from @bkimminich github page and everything seems to be right. I save my session on my disk and the next day I try to continue with my work and there are only some goals left but not all I've done. I try to upload the saved file but nothing happens. Even the user I've created has disappeared.

[2021-02-01 18:25] bkimminich commented on #1579
The user deletion is expected behavior, as the database is cleared on any restart, and free Heroku dynos restart all the time as they're put to sleep and wake up again.

The progress export issues I'll look into.

[2021-02-01 23:35] bkimminich commented on #1579
Okay, here's what I tested: I exported the progress from https://demo.owasp-juice.shop. Then I started Juice Shop _locally_ and opened it in an incognito window. I dismissed all banners, set some random language, and then went to the Score Board (which solved the associated challenge). There I imported the backup from the demo instance. The effect was:

1. The language was changed immediately
2. T

[2021-02-01 23:35] #1579 closed

[2021-02-01 23:54] bkimminich commented on #1579
Forget all the above. I managed to trigger the progress restore on the server without even having to restart the application. All you now need to do is click _Apply changes now_ in the snackbar and the progress and all other settings will be applied immediately.

![image](https://user-images.githubusercontent.com/3531020/106532771-1b215f80-64f1-11eb-8719-8137aa375636.png)

The snackbar shows 10sec

[2021-02-02 00:14] bkimminich commented on #1579
This should do as documentation, I hope...

![image](https://user-images.githubusercontent.com/3531020/106534265-04303c80-64f4-11eb-9da1-f4e33996c212.png)

[2021-02-02 00:26] #1440 closed

[2021-02-03 10:53] kairosart opened #1580 "Installing Problem"
I'm trying to install Juice Shop on Kali Linux 2020. According to https://github.com/mukkul007/sqli-labs-kali2 instructions.

Node.js v14.15.4
Npm:
{
  'juice-shop': '12.5.0',
  npm: '6.14.10',
  ares: '1.16.1',
  brotli: '1.0.9',
  cldr: '37.0',
  icu: '67.1',
  llhttp: '2.1.3',
  modules: '83',
  napi: '7',
  nghttp2: '1.41.0',
  node: '14.15.4',
  openssl: '1.1.1i',
  tz: '2020a',
  unicode: '1

[2021-02-03 11:01] cigar-galaxy82 commented on #1576
Hey @CaptainFreak I would like to work on this challenge

[2021-02-03 12:14] bkimminich commented on #1576
Cool, but this needs some up-front design first before you jump into coding. Feel free to elaborate here in the ticket how you'd plan to implement this challenge first. Thanks! 👍

[2021-02-03 12:16] bkimminich commented on #1580
That can't be a Juice Shop specific issue, I suppose. Can you get more details out of the log maybe to see where it's stuck exactly?

[2021-02-03 12:20] bkimminich commented on #1580
Please check https://pwning.owasp-juice.shop/appendix/troubleshooting.html for solutions to your issue and also check if that tool or third party instructions you use have a problem or mistake or are just outdated etc. Thanks.

[2021-02-03 18:39] bkimminich commented on #1580
I'm closing this issue as support questions are suppsed to be raised on https://gitter.im/bkimminich/juice-shop anyway and due to lack of information. If the troubleshooting hints don't help you, please make sure any 3rd party instructions you use from https://github.com/mukkul007/sqli-labs-kali2 are actually up to date and if all that fails, please get in touch via Gitter. Thanks!

[2021-02-03 18:39] #1580 closed

[2021-02-03 18:41] bkimminich commented on #1573
Hi @paseaf! How's it going? Did you make some progress? Anything you need help with?

[2021-02-03 19:25] kairosart opened #1581 "Docker installation fails"
After installing juice-shop according to the guide in Docker i got the following error:

`Unhandled rejection SequelizeDatabaseError: SQLITE_ERROR`

I've read the troubleshooting section:

_If all startup checks show (OK) but you see SequelizeDatabaseError: SQLITE_ERROR: no such table: <some table name> errors right afterwards, please check if the file data/juiceshop.sqlite exists. If so just stop

[2021-02-03 20:08] bkimminich commented on #1581
Please post installation issues not as GitHub issues but on Gitter where there's community members who might be able to help and also we can easily chat you through some fix options.

Anyway: In Docker you shouldn't miss any files, they're packaged in the image. The error message you posted doesn't allow any assistance with troubleshooting. I assume restarting the container didn't work?

And to be

[2021-02-03 20:33] kairosart commented on #1581
I've followed this instructions:

1. Install Docker
2. Run docker pull bkimminich/juice-shop
3. Run docker run --rm -p 3000:3000 bkimminich/juice-shop
4. Browse to http://localhost:3000 (on macOS and Windows browse to http://192.168.99.100:3000 if you are using docker-machine instead of the native docker installation)

is it right?

[2021-02-03 20:43] bkimminich commented on #1581
Yes, that's right! 👍 ... What is the exact log when you start the container?

[2021-02-03 21:35] paseaf commented on #1573
@bkimminich Hi! I've already installed and set up typescript, and am currently in the middle of migrating `/test/**/*.js` files to `.ts`. I've created a branch [`zl/ts-migrate_test`](https://github.com/paseaf/juice-shop/tree/zl/ts-migrate_test).

I do have a question, which scripts should be passed locally for the migration? I'm currently checking `test:server`, `e2e`, and `frisby` for each step,

[2021-02-03 21:48] bkimminich commented on #1573
Wow, that sounds great already! Yeah, those test scripts are exactly the ones that run on server side.

[2021-02-05 13:37] cigar-galaxy82 commented on #1576
Hi @bkimminich sorry for the delay. currently userProfile routes uses pug as template engine I think we should convert it so it uses hbs as view engine

[2021-02-05 13:56] bkimminich commented on #1576
Hm, there's already 5 or so challenges in the User profile, I'd prefer not to squeeze another one into it. Especially, if that requires a rewrite that could potentially break the existing challenges in it.

[2021-02-05 14:00] cigar-galaxy82 commented on #1576
videoHandler routes also uses pug

[2021-02-05 14:02] CaptainFreak commented on #1576
Hey guys, I think pug maybe vulnerable to this thing as well, just with some other object property. I and some folks am working with are generically calling it `Template object injection`.

Not a promise, but I will possibly look into pugs view engine and see if it's vuln. And if yes, then with which property.

[2021-02-05 14:20] cigar-galaxy82 commented on #1576
Hi I compared response header of three websites one using hbs ,second using ejs and third using pug only first two returns X-Powered-By: Express

[2021-02-05 14:24] CaptainFreak commented on #1576
We really don't care about response headers, bug is in passing user controlled object to templates.

[2021-02-05 14:26] cigar-galaxy82 commented on #1576
ok thanks

[2021-02-05 14:29] bkimminich commented on #1576
Video handler would be a better candidate to change, because it only has a single challenge (Video XSS) to keep intact. But it has no forms or anything, it's just a page rendering the video player.

[2021-02-05 18:20] #1581 closed

[2021-02-05 20:58] cigar-galaxy82 commented on #1576
I think we can perform this using a GET request only

[2021-02-09 10:47] cigar-galaxy82 commented on #1576
what about data erasure component ?

[2021-02-09 10:59] bkimminich commented on #1576
Data erasure could be rewritten into a legacy page, its built-in challenge shouldn't be hard to keep working.

[2021-02-09 11:21] cigar-galaxy82 commented on #1576
So I should first change in to use hbs as view-engine and then start on the challenge

[2021-02-09 12:20] bkimminich commented on #1576
👍Makes sense, first migrate without breaking existing challenge(s), then add new challenge.

[2021-02-09 22:06] paseaf commented on #1573
**Help wanted**
I just changed almost all module `import`/`export` to typescript syntax to avoid modules being imported to the global scope.
But doing this has caused an error when running `npm frisby`:
[code]
I have tried all fixes on Google's first page but none has worked.
Posting here in case anyone knows how to solve it.
Here is the branch: [https://github.com/paseaf/juice-shop/tree/zl/ts-mig

[2021-02-09 23:09] J12934 commented on #1573
@paseaf I'm no expert in this typescript / module stuff, but the problem seems to be that the registerWebsocketEvents itself is loaded via `require` and can therefore not use the modern import syntax. (https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require)

https://github.com/paseaf/juice-shop/blob/zl/ts-migrate_v3/server.ts#L597

I've changed the way to the followi

[2021-02-10 07:41] TokinoLynx opened #1582 "[🐛] A possible bug when solving the challenge "Expired Coupon""
# :bug: Bug report

## Description

Hello! I`ve found a bug when solving the "Expired Coupon" in another way.

I found a way to bypass the date validation by using breakpoint and editing the "this.clientdate" in the console.

The discount worked, but the challenge didn`t solved.

### Is this a regression?

IDK...

## :microscope: Minimal Reproduction

I use the Juice Shop in Simplified Chinese, bu

[2021-02-10 09:10] paseaf commented on #1573
@J12934 You are right! 👍 Problem is solved after changing the syntax there.

[2021-02-10 12:45] bkimminich commented on #1582
I just checked, the epoch time value you have in the screenshot is equivalent to `Fri Mar 08 2019 00:00:00 GMT+0100 (Mitteleuropäische Normalzeit)` which is exactly the `validOn` of the `WMNSDY2019` coupon, so it was rightfully accepted. So far, so good.

Now, the only place where things could then go wrong with the challenge check is this line:

[code]

This is a nice beginner-friendly bug, I thi

[2021-02-10 13:31] chinggg commented on #1582
I am new beginner and have interests in GSoC. I also use the Juice Shop in Simplifed Chinese. I will have a try.

[2021-02-10 17:05] chinggg commented on #1582
I have reproduced the bug successfully. But I did not solve the challenge even if I adjust the time of my machine manually, which is the expected solution. The green text has shown up saying I will have 75% discount. Maybe it requires me to accomplish the payment to finish the task.
[code]
But it seems that the line that checks whether the problem is solved is within the if statement and have noth

[2021-02-11 03:18] chinggg commented on #1582
@TokinoLynx 请问可以确认一下订单最后实际付款后真的打折了吗?我试验发现仅仅在图中那行断点后修改clientDate值,虽然UI中显示成功获得折扣,但SessionStorage里的clientDate仍然是当前时间,所以我最后付款时仍然没有折扣,所以此项任务未完成.
而如果我再修改一下Storage里的时间,任务就通过了.

[2021-02-11 03:37] chinggg commented on #1582
![image](https://user-images.githubusercontent.com/24590067/107599815-c7371900-6c5c-11eb-8011-a296626cb63c.png)
That may be another bug? `this.clientDate` has been assigned successfully to `1551999600000`.(I also checked it in Firefox Debugger-Watch expressions). But the `couponDetails` in the Session Storage still uses the current time.
That is in conflict with this line `sessionStorage.setItem('

[2021-02-11 03:58] TokinoLynx commented on #1582
我今天早上测试了一下。也许你说对了，如果只修改`this.ClientDate`的话，接下来确认订单会显示折扣，但下单成功的页面则是原价。

I tested this morning. Maybe you're right, if I modify  `this.ClientDate` only, the discount show up normally in the order confirmation page, but the discount don't apply after I submit the order.

如果修改系统时间的话，下单后才会显示正常的折扣。

The discount apply successfully only if I change the system time.

我还没测试`sessionStorage`的修改。如果修改完Session

[2021-02-11 06:37] bkimminich commented on #1582
Ah ok, if the coupon wasn't really accepted, then it makes sense you didn't see the confirmation. In our step by step solution we recommend to change the system time, and our end to end test https://www.github.com/bkimminich/juice-shop/tree/master/test%2Fe2e%2FbasketSpec.js overloads the `new Date()` call to give back the campaign date.

[2021-02-11 10:26] AndrzejRPiotrowski opened #1583 "[🐛] GoodReads link go to "Gideon Defoe, The Pirates! In an Adventure with Scientists""
# :bug: Bug report

## Description

A clear and concise description of the problem...

### Is this a regression?

Yes, check online - https://www.goodreads.com/review/edit/47129532

## :microscope: Minimal Reproduction

1. Go to  https://github.com/bkimminich/juice-shop
2. Click on  in section "official companion guide"
3. You need to log into service.
4. https://www.goodreads.com/review/edit/4712

[2021-02-11 10:34] bkimminich commented on #1583
Link needs to be changed into https://www.goodreads.com/review/edit/33834308. Thanks for noticing!

[2021-02-11 10:41] #1583 closed

[2021-02-13 23:50] cigar-galaxy82 commented on #1576
![Screenshot (309)](https://user-images.githubusercontent.com/56212958/107864633-33e02c80-6e84-11eb-8d09-c5cc0cd62537.png)
This is how the component looks now and this is all using hbs and the function it was supposed to do is also configured to work

[2021-02-15 19:30] #1582 closed

[2021-02-15 22:59] paseaf commented on #1573
Hey @bkimminich, I have some questions. 👋

**Current Progress [branch: [`zl/ts-migrate_v4`](https://github.com/paseaf/juice-shop/tree/zl/ts-migrate_v4)]**
1. Introduced typescript and installed necessary types packages
2. Renamed almost all `.js` files to `.ts`. (with one exception `lib/insecurity.js` mentioned in question 1 below)
3. Passed all `test:server` and `frisby` tests directly on `.ts` f

[2021-02-16 05:32] bkimminich commented on #1573
Impressive! 👍 I'll check out your fork in the next days and see if I can reproduce the e2e and insecurity behavior. 👀

[2021-02-17 14:27] bkimminich commented on #1573
I'm running into an error with `npm install` for my fresh checkout of your fork:

[code]

[2021-02-17 17:15] paseaf commented on #1573
Sorry, I didn't know Windows doesn't have `;` operator.
I just pushed an update. I tested `install`, `start`, `frisby`, `test:server`, and `e2e` scripts on a 64-bit Windows 10 machine with Node `v14.15.5`. Hope it works now. :D

[2021-02-17 18:22] paseaf commented on #1573
I just realized that I could compare the compiled code with the code before migration to find the problem. I'll check it and see what I can find 👍

[2021-02-17 21:48] bkimminich commented on #1573
This is what I now get on my Windows 10 with Node 14:

[code]

[2021-02-17 22:09] paseaf commented on #1573
These are expected type checking errors (because we only renamed the file without really adding any type annotations), and they shouldn't stop Typescript from compiling the code. I thought the current issue was only to rename the files without fixing type errors. But seems we should suppress these errors to avoid confusion.

[2021-02-17 22:16] bkimminich commented on #1573
I'm totally fine with those warnings showing up, don't get me wrong. I just didn't expect the compiling to fail, and it seems it worked for you.

[2021-02-17 22:26] paseaf commented on #1573
Does `npm run frisby` work for you?

[2021-02-17 22:51] paseaf commented on #1573
I just pushed an update to suppress the npm error. Hope it works now. :)

[2021-02-18 09:08] cigar-galaxy82 commented on #1576
![Screenshot (312)](https://user-images.githubusercontent.com/56212958/108332858-4779f300-71f6-11eb-80cb-bc8d1c202c46.png)
Hi @bkimminich currently line 21 and send json works but when I find the question and then send json line 32 does not work

[2021-02-18 11:15] paseaf commented on #1573
The error was because `npm run <script>` will emit error if the executed script (`tsc` in this situation) emits any errors.

I found some trick to suppress the error for both Windows and Linux.
[code]
The update is pushed, and I hope you don't see any npm errors for `npm install` anymore. (Sorry for the mess😆)

**Another question regarding path resolving:**
My current `postinstall` script copies `

[2021-02-18 15:38] bkimminich commented on #1573
I agree that 2.) sounds a lot cleaner, because fiddling with the frontend can be avoided and it kind of leaves server-side JS files where they are today.

I'm currently testing, compiling works now for me. `npm test` also passes. I'll check if the other tests work as is and then play with `insecurity.js` to see if I can reproduce the issues you ran into.

[2021-02-18 16:27] bkimminich commented on #1573
Frisby tests pass for me with current version, Protractor suite also passed completely for me. So, that's all 👍! I'll check the insecurity.js issues next.

[2021-02-18 17:34] bkimminich commented on #1573
Okay, I can confirm 10 frisby tests are failing once I rename `insecurity.js` into `.ts`. Seems that they all run into 401 errors where other status codes are expected, so I guess the prepared auth token somehow don't work in the tests?

[2021-02-18 17:37] bkimminich opened #1585 "Race condition between file reset and i18n initialization [🐛]"
# :bug: Bug report

## Description

The function `lib/startup/restoreOverwrittenFilesWithOriginals` (called in `server.js` early on) copies the i18n locale files into the folder `/i18n` where they are expected to exist by the `i18n.configure` call (later in `server.js`) or later, particularly when it tries to do auto-reloading whenever a locale file changes, which might be triggered by the still o

[2021-02-19 08:22] paseaf commented on #1573
Could be. I will look into it in the next days. :+1:

[2021-02-21 09:11] adityaofficial10 commented on #1585
Hey @bkimminich !
Can I work on this issue?

[2021-02-21 09:13] bkimminich commented on #1585
Totally *yes*, you can! 👍

[2021-02-21 12:05] adityaofficial10 commented on #1585
@bkimminich
Can you tell me of an instance where the copying process takes place so that I can actually reproduce the error locally?

[2021-02-21 12:19] bkimminich commented on #1585
This copying always takes place on server start. The error doesn't always occur, though.

[2021-02-21 12:45] adityaofficial10 commented on #1585
@bkimminich
So we can just do one thing here and that is to make sure that the copying process finishes before the files are accessed anywhere.
Will that suffice?

[2021-02-21 13:34] bkimminich commented on #1585
Yeah, I think that's the only sure way to get rid of this issue.

[2021-02-21 17:08] adityaofficial10 commented on #1585
@bkimminich
I've added two async functions to take care of the order of the operations.
Will this suffice?
<img width="881" alt="Screenshot 2021-02-21 at 10 29 55 PM" src="https://user-images.githubusercontent.com/65034276/108632405-c2603980-7494-11eb-95e5-15bf9725ad9d.png">
The functions are as follows:
<img width="555" alt="Screenshot 2021-02-21 at 10 33 30 PM" src="https://user-images.githubuse

[2021-02-21 17:57] bkimminich commented on #1585
Looks good to me, gotta test it next week.

Maybe @J12934 can also take a look b/c he's our official async-await-expert... 😁 Btw, does this change affect server start-up time calculation? 🧮

[2021-02-21 17:59] bkimminich commented on #1585
Might be worth its own stsrtup time task tracking, maybe? Now that it's async code that should be possible, similar to how data creator is measured.

[2021-02-21 18:00] adityaofficial10 commented on #1585
@bkimminich
Yeah sure..
I was thinking on the same lines.
Should I go ahead with the PR?

[2021-02-24 19:59] adityaofficial10 commented on #1491
Hey @prince-7 @bkimminich !
If this has stalled, can i work on this?

[2021-02-24 20:04] bkimminich commented on #1491
Totally, yes! 👍

[2021-02-25 18:47] #1585 closed

[2021-02-25 22:25] cigar-galaxy82 commented on #1576
1.the input block now have placeholder with the email and question I can also use value attribute to pre-populate the input
2.made some improvement in the header part
![Screenshot (317)](https://user-images.githubusercontent.com/56212958/109227317-244ad700-77e6-11eb-8279-12ec3547dd3a.png)

[2021-02-26 14:55] SAGEof6iixPATHS commented on #1275
Hey i found /metrics in a website i am hunting on can someone share what is that and some exploitation process??
Or something to refer

[2021-02-26 15:08] Scar26 commented on #1275
@SAGEof6iixPATHS If it's prometheus metrics, there's not much to exploit there in terms of known vulnerabilities.  You can try reporting it for data exposure. If the application metrics are something the org considers confidential, they might add auth and consider disbursing a bounty.

[2021-02-26 15:23] SAGEof6iixPATHS commented on #1275
Oh good! Thank you!

[2021-02-28 22:46] dnull opened #1592 "[🐛] ngx-cookie-service makes CSRF challenge hard to solve"
# :bug: Bug report

## Description
Sorry for the long description, but I think this is a tricky one...

### Current situation
The CSRF Challenge is hard to solve in its current state, as it requires the use of seriously outdated browsers (see issue #1421) for the attack to work. While this was initially thought to be a consequence of changing cookie defaults (`SameSite=Lax` instead of `SameSite=No

[2021-03-01 18:31] bkimminich commented on #1573
Hi @paseaf, if you have some new version for us to test locally,  you'll ping us, right? You can of course also just open a PR and we'll test it that way (also our CI/CD will have a chance to take a look) but I'm also happy to do some testing rounds before. The last version looked really promising already, so I hope you didn't throw the towel or anything... 😁

[2021-03-01 18:35] bkimminich commented on #1592
Hands down, this is probably the best bug report I've ever read in my entire professional and open source carreer... 😆

🏁 Looks like we're looking for a slightly less security aware cookie module then! Ideas are welcome.

[2021-03-01 20:37] paseaf commented on #1573
Hi @bkimminich, sorry for the delay. I failed to figure out the issue regarding `insecurity.ts` last week, and then got a bit busy with other stuff (exam season :/) and forgot about the issue. Is it ok if I only move the server-side code into a `/src` folder for the PR, and maybe someone could help figure out why renaming `insecurity` breaks tests? Otherwise I would love to continue digging into t

[2021-03-01 20:42] bkimminich commented on #1573
I think it‘s perfectly fine to keep `insecurity.js` and fix it later. The move into `src` would be really good to have, on the other hand. Good luck with your exams!

[2021-03-01 20:51] paseaf commented on #1573
I suppose there might be some interactions between the test cases which I don't yet understand. Here is something I've tried
1. Set `package.json->jest->testMatch` to `"<rootDir>/test/api/basket*Spec.ts"`
**Result on `npm run frisby`**: both `basketApiSpec.ts` and `basketItemApiSpec.ts` have failed tests
2. Set `package.json->jest->testMatch` to `"<rootDir>/test/api/basketItemApiSpec.ts"`
**Result

[2021-03-01 22:17] paseaf commented on #1573
Hey @bkimminich, to confirm before moving. :eyes:
I will move the following files to `/src/`:
- `/data/*`
- `/lib/*`
- `/models/*`
- `/routes/*`
- `/app.ts`
- `/server.ts`

Am I missing anything, or including any unnecessary files?

[2021-03-03 08:01] TokinoLynx opened #1594 "[🐛] Typo in Pwning OWASP Juice Shop？"
# :bug: Typo in Pwning OWASP Juice Shop

## Description

I found a typo in the hints of Admin Registration. I`m not a native English speaker, but I think the word "then" should be repalced by "the".

## :microscope: Minimal Reproduction

At "https://pwning.owasp-juice.shop/part2/improper-input-validation.html#register-as-a-user-with-administrator-privileges"

![图片](https://user-images.githubuserco

[2021-03-03 11:37] chinggg commented on #1594
I agree with you! That could be modified easily.

[2021-03-03 12:02] chinggg commented on #1592
Thanks for the excellent bug report and suggestion! You mean if replacing `ngx-cookie-service` with another cookie library which keeps the `SameSite` attribute unspecified when setting the token cookie, the problem would be solved ?
I am not familiar with these Web technique details yet, so I could not assign the issue to myself. I am trying to understand the codebase now, if anyone else can solve

[2021-03-03 15:05] #1594 closed

[2021-03-03 16:32] dnull commented on #1592
Exactly!

At the moment I am not considering to fix it myself, as I have basically no clue about Angular development and no knowledge which other cookie libraries are used in realistic production applications.

[2021-03-03 19:39] bkimminich commented on #1573
That should be it, yep... Also, **very important**, please do a rebase with `develop` before submitting a PR, because there've been quite some changes, including name refactorings which touched dozends of files and some experimental feature etc.

[2021-03-04 16:24] raviballa opened #1595 "Documentation Fix"
On the [Troubleshooting](https://pwning.owasp-juice.shop/appendix/troubleshooting.html) page, this text: "After changing to a different Node.js version it is a good idea to delete npm_modules and re-install all dependencies from scratch with npm install" should says node_modules instead of npm_modules. There is no folder as "npm_modules"

[2021-03-04 17:12] #1595 closed

[2021-03-04 18:14] adityaofficial10 commented on #1592
@bkimminich
I think we should use 'js-cookie' here instead of 'ngx-cookie-service'.
I read through its documentation and found that it has no default value of sameSite.
So we just have to replace 'ngx-cookie-service' with 'js-cookie'. Right?
Should I go ahead with the implementation?

[2021-03-05 08:45] chinggg commented on #1592
I have been trying to replace `ngx-cookie-service` with `ngx-cookie` to see whether `ngx-cookie` will leave the `SameSite` attribute unspecified. My approach is to make changes back to [1c68c55](https://github.com/bkimminich/juice-shop/commit/1c68c55d78c1c8745a5d6002c84786c3abb5e9e4) mannually, since I do not know whether there is a tool to automatically make modifications when migrating to anothe

[2021-03-05 08:46] adityaofficial10 commented on #1592
@chinggg
Yeah actually if you're unsure about it.
Then js-cookie is a sure shot as it leaves it unspecified..

[2021-03-05 10:00] bkimminich commented on #1592
For me any cookie module is fine that works with Angular. If the syntax changes for the components then this just needs to be migrated along with the PR. So feel free to try out and pick the one with the least obstructing impact.

[2021-03-05 10:39] adityaofficial10 commented on #1592
Okay @bkimminich!
I'll come up with a PR shortly.

[2021-03-05 16:55] dnull commented on #1592
Once this is fixed, we also have a chance to re-enable the deactivated e2e test: it is possible to tell Chrome that it should default to `SameSite=None` using the argument `--disable-features=SameSiteByDefaultCookies`. I am happy to assist you if want to integrate this directly into your PR, otherwise I can prepare my own after yours is merged.

For my local test, I simply downgraded ngx-cookie-se

[2021-03-05 16:57] adityaofficial10 commented on #1592
@dnull
Thanks..
Once I get done with this..
We'll collaborate for sure...

[2021-03-05 19:16] dt4nn3r opened #1597 "Missing EXIF data"
It appears according to online walkthroughs that the file 3d_keychain.jpg is supposed to have EXIF data containing a bread crumb to solving a challenge. The EXIF data was removed in June 2019. I am running the latest version, 12.6.1. Additionally, the score-board hint points to the permafrost product instead of the keychain. No images in the products contain exif data that would be beneficial to t

[2021-03-05 21:32] bkimminich commented on #1597
![image](https://user-images.githubusercontent.com/3531020/110175372-ec551c80-7e01-11eb-9741-ca77702b0253.png)

This is from the staging environment, where the hint points to the right product. But you are right about the missing EXIF data. I'll revert that change from 2019 where the image sizes were optimized and the meta data got lost unintentionally.

[2021-03-05 21:36] #1597 closed

[2021-03-05 23:15] paseaf commented on #1573
@bkimminich I just realized that we can avoid copying static files to `/dist` folder by always using paths relative to the project root. This way both source code and compiled code will access the same static files, and creating a `src/` folder seems not necessary anymore.
The PR above for this approach. :tada:

[2021-03-10 08:49] cigar-galaxy82 commented on #1576
![158651596_4083779991677999_4102300109085110440_n](https://user-images.githubusercontent.com/56212958/110601293-cc7b7b00-81aa-11eb-8833-4070605f332b.png)
I was able to perform Local File Read on the dataerasure component

[2021-03-15 15:48] chinggg commented on #1592
I have been trying to migrate from `ngx-cookie-service` to `ngx-cookie` since they seem to have much in common, I only need to use `grep` and `sed` to change some method names and parameter names. Additionally, I need to import `{ CookieModule }` in `*.component.spec.ts` and add `CookieModule.forRoot()`, otherwise it will cause `NullInjectionError: No provider for CookieService`. These modificatio

[2021-03-16 22:43] bkimminich commented on #1592
`LocalBackupService` uses the actual `CookieService` in its test where some other components mock it... maybe that doesn't work similarly with the new module?

[2021-03-17 15:14] chinggg commented on #1592
I don't know the difference between the two modules since I cannot read through the whole source code to analysis it. I have opened an issue to `ngx-cookie` reporting this error, hoping they can answer this.
Btw, when I modify just the `LocalBackupService` to use `ngx-cookie` without any other changes, the `npm test` have no errors. That's so strange.

[2021-03-17 15:21] bkimminich commented on #1592
Did you try switching that test to use a Jasmine mock instead and did that make any difference? That might be the easiest approach maybe...

[2021-03-18 21:40] bkimminich commented on #1573
Running Juice Shop from source or a packaged distro now works fine on this branch. The only thing having trouble is the Docker image. On CI/CD it fails the smoke tests already, so the build/publish jobs are not even trying to run currently.

[2021-03-19 20:59] bkimminich commented on #1573
I guess this is why the Docker tests fail from a missing `build/` folder... 😁

[code]

[2021-03-19 22:40] bkimminich commented on #1573
So, I think all sources should now be in the packaged archives and they should have been in the Dockerfile all along. To be sure I've added a smoke test that retrieves the snippet for one of the backend challenges, which will fail in case the underlying source file is missing.

I guess we really want to merge into `develop` before tackling the `✖ 1935 problems (0 errors, 1935 warnings)`, right? An

[2021-03-20 10:09] bkimminich commented on #1573
@paseaf, please send me an email with your address so I can send some "Thank you!"-package* on its way, as this was a) your first and b) a veeery sophisticated contribution (that even we from core team didn't dare touch until now ourselves...)!!!

⭐⭐⭐⭐⭐! 😀

(*Depending on where you are located I might send you some gift card instead for getting a Juice Shop shirt printed locally or something like

[2021-03-20 10:09] paseaf commented on #1573
I agree..
Another solution could be not renaming all `.js` files to `.ts` at once for this merge, each time solving all type warnings in the file. This way should be cleaner, because the warnings only show up in `.ts` files.
I could create a new branch from `ts-backend` and try it out.

[2021-03-20 10:31] bkimminich commented on #1573
I just merged it into `develop` as is. Docker images have been published successfully, Heroku staging environment works. All good. Now it's just this weird `insecurity.js` issue and gradually changing the code base to actual TS. Can all be done in parallel to normal development afaik.

[2021-03-20 10:31] #1573 closed

[2021-03-20 10:38] paseaf commented on #1573
Great!!
I'm surprised there will be a package. That's very sweet of you. Thank you :blush:

[2021-03-21 18:45] bkimminich commented on #1592
Any luck with this (or another) approach?

[2021-03-21 18:46] bkimminich commented on #1491
After almost 1 month of inactivity, this issue is now back in "who want's to give it a shot?" status! 😁

[2021-03-21 23:37] chinggg commented on #1592
@bkimminich  Sorry, I will have final exams of winter semester in the next two days so I am preparing for the exam now.
Thanks for advising me to switch the test to use a Jasmine mock. I must admit that I did not know what is Jasmine at all. After searching and reading I know it is a BDD test framework that uses `describe` and `it` to test the behavior of JavaScript code. But I still have no idea

[2021-03-22 15:12] cigar-galaxy82 commented on #1491
Hi @bkimminich I am almost finished with the other issues I would love to give this a shot

[2021-03-23 01:18] Krshivam25 commented on #1491
Hi @bkimminich this issue is related to Account linking with OAuth. Which supports two industry-standard implicit and authorization code flows.

[2021-03-23 10:12] J12934 commented on #1573
Hey ho 👋
Whats our plan on moving forward on migrating the code to more idiomatic typescript?

I think there are some parts of the code base which are "harder" problem, e.g. the models but would provide massive benefits if we could figure out how to properly type them. Do we want to open up separate tickets for the different parts of the code base, so that we can work on them in a distributed mann

[2021-03-23 10:38] bkimminich commented on #1573
I alteady started fixing some of the easier linter errors, like using template strings over concatenation of non-string types with strings.

Not sure if this approach will work out, as there are probably not so many "easy" issues to address.

[2021-03-23 12:34] bkimminich commented on #1576
@cigar-galaxy82, did you send me your post address already so I can send you some stickers? If not, please do so via email or DM on Slack! Thanks!

[2021-03-23 16:30] Krshivam25 commented on #1592
hi @bkimminich I would like to work on it. Please suggest me a way to get started.

[2021-03-24 15:02] Krshivam25 opened #1606 "Empty block is used as the true branch of 'if' statement."
There is an Empty block used as the true branch of 'if' statement.
file location :
frontend/src/app/welcome/welcome.component.ts
 line no. 25 of code

[2021-03-24 16:01] J12934 commented on #1606
https://github.com/bkimminich/juice-shop/blob/a5be4a42afdea27ca3eccc9e1c7aa4c6859345e0/frontend/src/app/welcome-banner/welcome-banner.component.ts#L22-L28

🤔 Mhh that does not appear to be true?

This is a typescript constructor with parameter properties: https://www.typescriptlang.org/docs/handbook/2/classes.html#parameter-properties. These arguments get automatically assigned as class properties

[2021-03-24 16:09] bkimminich commented on #1606
No, its about this: https://github.com/bkimminich/juice-shop/blob/aa4bfe15c55a01008e033ddab4d2532b3e2c9760/frontend/src/app/welcome/welcome.component.ts#L25

[2021-03-24 16:33] Krshivam25 commented on #1606
Hi, @bkimminich I would like to resolve this please assign it.

[2021-03-24 16:33] J12934 commented on #1606
Whoops, got the wrong welcome ts file, sorry 🤦😄

[2021-03-24 16:35] bkimminich commented on #1606
Well, then you should have just sent a PR in the first place... by the time I was done reading your issue, I was already done fixing it, too... 😉

[2021-03-24 16:35] #1606 closed

[2021-03-24 22:14] bkimminich commented on #1573
We're down to this list of ESLint complaints:

[code]

I would have hoped some a auto-fixable - like using template strings over string concatenation - but it seems none of them is, unfortunately.

[2021-03-25 09:19] cigar-galaxy82 commented on #1576
Hi @bkimminich
I think for seeing if the challenge is solved we should use a middleware like the one that removes extra **“/”**  from **req.url** that will look for **“layout”** keyword in the **req.body** and also make sure this that there is only one object in it too.

[2021-03-26 16:04] chinggg commented on #1592
@bkimminich I found that these errors are caused by`ScoreBoardComponent` for lack of providers declaration. I added these lines in `score-board.component.spec.ts` then there are no errors!
[code]
(But why
But the bad message is the challenge cannot be solve by the new approach :disappointed:
![image](https://user-images.githubusercontent.com/24590067/112658909-d7165f80-8e8e-11eb-9bec-e40952d569cb.

[2021-03-26 19:28] J12934 commented on #1576
Yes that would work. You can place the middleware in the same routes file.
Alternatively the check could also just be placed in the code of the route.

[2021-03-27 10:05] dnull commented on #1592
@chinggg Warning messages related to `X-Frame-Options` are expected and not a sign that the challenge has failed. The only consequence of this is that the content of the profile page is not allowed to be _displayed_ within a frame of another origin like `htmledit.squarefree.com`. The HTTP request which manipulates the username in the profile is however still being received and processed by the app

[2021-03-27 11:20] chinggg commented on #1592
@dnull Thanks! I thought there may be some rookie
 mistakes in my changes. You can view my commit at https://github.com/chinggg/juice-shop/tree/ngx-cookie

`npm test` result is pasted here https://paste.ubuntu.com/p/jnDJVbfWcR/

[2021-03-27 17:22] cigar-galaxy82 commented on #1576
Is this ok?
if(Object.keys(req.body).length === 1 && req.body.layout !== undefined) {
      const filePath: String = req.body.layout
      if(fs.existsSync(path.join(__dirname, filePath))) {
        console.log("CHALLENGE SOLVED")
      }
    }

[2021-03-27 17:40] dnull commented on #1592
@chinggg I was successfully able to solve the CSRF challenge using your changes. You should be able to do the same when trying to solve the challenge with Firefox.

Once you are confident that your changes are ready for a pull request (I have only verified that the CSRF is solvable and nothing else), it would be great if you could also re-enable the e2e test for the CSRF challenge, which are locat

[2021-03-27 19:16] Ounceed opened #1611 "Heroku error when opening website."
After you use the Heroku launch button after the juice shop is deployed on Heroku when going to the site you get, "An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command
heroku logs --tail"

[2021-03-27 19:36] bkimminich commented on #1611
Can you provide that mentioned Heroku logfile, otherwise there's no way we could help you.

[2021-03-27 22:02] J12934 commented on #1576
That looks like it could work.
There are some problems:

1. I don't think the code should check that `layout` is the only key in the `req.body` as the LFR vulnerability works, even if there are different keys in the object. Otherwise the detection would not catch cases where people just modified their valid requests and appended the `layout` key.
2. I'm assuming the `console.log` is just a placeho

[2021-03-28 00:32] chinggg commented on #1592
@dnull To change Chrome's default behavior, I add this line in `./protractor.conf.js`
[code]
Any change should I make to `test/e2e/profileSpec.ts` except for replacing `xit` with `it` and uncommenting the `expect` lines? And there are two `xit` blocks that confuse me.
[code]

Btw, I have been executing `npm run protractor` to run e2e tests for an hour, but I have not completed all the tests and th

[2021-03-28 09:16] cigar-galaxy82 commented on #1576
I can use **fs.access()** which is **async** and also takes a callback but as you mentioned if we are aiming for a particular file then there is no need to check if file exist or not using **fs** we can only check if path in the body is equal to **../package.json**

[2021-03-29 06:25] cigar-galaxy82 commented on #1576
![Screenshot (392)](https://user-images.githubusercontent.com/56212958/112794853-3e960000-9085-11eb-96ec-e74daa4ebfb3.png)
I think the **layout** keyword is important

[2021-03-29 06:48] cigar-galaxy82 commented on #1576
**Description of the challenge**
  name: 'Read package.json file'
  category: 'Local file read'
  difficulty: 5
  hint: 'Find vulnerabilities in different NodeJs template engines'
  description: 'Find different versions of packages used'
  key: 'lfrChallege'

[2021-03-29 07:46] bkimminich commented on #1576
We can't use package.json for this purpose as we have many other challenges rely on getting the package.json.bak from the FTP folder. Getting the actual package.json would jeopardize several challenges as dependencies have changed etc.

Both package.json and frontend/package.json must be protected from LFR attack explicitly. Same for ctf.key. Probably a few others, too. Essentially all the source

[2021-03-29 07:47] bkimminich commented on #1576
Ah, just saw that @J12934 already mentioned to have one specific file as LFR target in 3. in his comment above.

[2021-03-29 07:49] bkimminich commented on #1576
Btw, with the XXE you can read all files from the server already, but the difference is, that it returns only the first few characters truncated and then "...", so it doesn't allow exfiltrating the entire server side code. LFR cannot add that capability either.

[2021-03-29 08:09] cigar-galaxy82 commented on #1576
how about the dataErasure.ts file itself ?

[2021-03-29 08:28] cigar-galaxy82 commented on #1576
https://rcehbs.herokuapp.com/
`
{{#with "s" as |string|}}   {{#with "e"}}     {{#with split as |conslist|}}       {{this.pop}}       {{this.push (lookup string.sub "constructor")}}       {{this.pop}}       {{#with string.split as |codelist|}}         {{this.pop}}         {{this.push "return JSON.stringify(process.env);"}}         {{this.pop}}         {{#each conslist}}           {{#with (string.su

[2021-03-29 08:46] bkimminich commented on #1592
Solved via #1612! @dnull and @chinggg please send me your post addresses via mail or Slack DM if you haven't before, then I'll send you some stickers with the next batch I'm bringing to the post office! 👍

[2021-03-29 08:46] #1592 closed

[2021-03-29 08:48] bkimminich commented on #1592
One last thing: If I remove the first step (install Firefox from 2017) from the CSRF solution (https://pwning.owasp-juice.shop/appendix/solutions.html) then all else works like before for that solution, right?

[2021-03-29 09:01] bkimminich commented on #1576
I think we shoud make sure you cannot get `.ts`, `.js` or `.json` files and also nothing from the `ftp` and `encryptionkeys` folder and not the `ctf.key` file. Maybe we can find some harmless file on server side to get? Would LFR work with directory traversal like the XXE vuln we have? We'd need to make that challenge part of our "dangerous" suite anyway, so the vuln needs to be removed in Docker/

[2021-03-29 09:03] cigar-galaxy82 commented on #1576
like a txt file file ?

[2021-03-29 10:53] chinggg commented on #1592
@bkimminich I think it works fine like before since the e2e test remains the same and the challange is solved successfully. @dnull can test it again.

[2021-03-29 19:10] dnull commented on #1592
The solution does no longer require such an old Firefox version, current Firefox releases should work fine. But when at some point in the future Mozilla follows Google with the new default policy of `SameSite=Lax`, this will stop to work. Since Juice Shop is all about learning, my suggestion is to add the following aspects to the documentation of the CSRF challenge:

1. Make users aware that brows

[2021-03-30 08:19] cigar-galaxy82 commented on #1576
`    if (req.body.layout !== undefined) {
      const filePath: string = req.body.layout
      if(filePath === '../find.txt'){
        console.log("SOLVED")
      }else{
        next(new Error('File access not alowed'))
      }
    }`
1.This makes sure there is the layout keyword
2.If the user is trying to access file other than find.txt the won't be allowed

[2021-03-30 11:19] bkimminich commented on #1576
I'm not a fan of entirely "crafted" challenges where the attack vector and payload are kind of arbitrary. We have this in some of the very first challenges around Null Byte Injection, but there it serves the purpose of explaining multi-stage attacks at least.

Where exactly will the read local file content be displayed? As part of the HTML page, no? So, could we just truncate whatever is read this

[2021-03-30 11:21] cigar-galaxy82 commented on #1576
We can display in the browser by changing some html

[2021-03-30 11:29] cigar-galaxy82 commented on #1576
![Screenshot (395)](https://user-images.githubusercontent.com/56212958/112981818-52229300-9179-11eb-904d-31ca383f293a.png)

[2021-03-30 11:53] Ounceed commented on #1611
The log from heroku:

-----> Building on the Heroku-20 stack

-----> Determining which buildpack to use for this app

-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error

       NODE_VERBOSE=false

       NODE_ENV=production

       NODE_MODULES_CACHE=true

-----> Installing binaries

       engines.node (package.json):  10 - 14

       engines.npm (p

[2021-03-30 12:28] bkimminich commented on #1611
Looks entirely fine and it confirms successful deployment at the end, so I doubt any downtime of that instance has something to do with Juice Shop itself. Maybe you just had bad luck on Heroku side.

Both our own demo and staging instances work fine, so master and develop branch deployments should be all good.

[2021-03-30 12:35] Ounceed commented on #1611
Is there a .html file or something I can try this on instead of hosting it?
Or should I just try docker?
On Tue, 30 Mar 2021 at 11:28 PM, Björn Kimminich ***@***.***>
wrote:

[2021-03-30 13:41] bkimminich commented on #1611
You can use any deployment option described in our README, from local Node.js to Docker everything's documented. Docker is probably easiest if you ask me.

[2021-03-30 13:46] Ounceed commented on #1611
The main reason that made me try deploy it on heroku is because it got
errors when I installed it on the latest kali Linux version.

On Wed, 31 Mar 2021 at 12:41 AM, Björn Kimminich ***@***.***>
wrote:

[2021-03-31 06:01] Ounceed commented on #1611
I git cloned, npm install then I ran npm start and this is what I got.

On Wed, 31 Mar 2021 at 12:45 AM, LinuxKid ***@***.***> wrote:

[2021-03-31 06:40] bkimminich commented on #1611
I don't see what you got, but "Kali" was a trigger word that I saw before in support requests... 😉

Kali is known to have issues that you typically don't have in "regular" Linux distros. If you want to stick with Kali, Docker is probably your best option.

[2021-03-31 06:40] #1611 closed

[2021-03-31 09:42] vibhuti019 commented on #1491
Hi @bkimminich, I would love to give this a shot.

[2021-03-31 20:34] bkimminich commented on #1576
Ok, maybe I just don't understand the actual attack flow against this vulnerability from @CaptainFreak's posting. If a `layout` parameter is provided, it will result in a LFR which somehow ends up in the compiled HBS view as HTML? Or will it simply return the content of that file at a HTML response directly? If the former, we could do some truncating similar to the XXE attack path. If the latter,

[2021-03-31 21:17] bkimminich opened #1613 "Automated test for presence of EXIF data for blueprint challenge [🚀]"
## Problem

A valid config file must defined the `fileForRetrieveBlueprintChallenge` property for exactly one product. For `default.yml` this is:

[code]

The presence of the property is checked on startup. It is never checked however, if the image of that product actually contains some EXIF data that would help find that blueprint file. As the challenge seeminly not played often, #1597 could snea

[2021-04-01 01:14] prince-7 commented on #1613
I would like to take this up

[2021-04-01 06:01] vibhuti019 commented on #1613
I would like to contribute to this issue.

[2021-04-01 08:50] cigar-galaxy82 commented on #1576
1.The responses are different when using browser and some tool for package.json file while using a tool it returns contents of the file and when using browser it converts `<bjoern.kimminich@owasp.org>` and `<rootDir>`  closing tags and the rest is the same.I think for other files it will only show the content

2.I think we can truncate all responses to show less content which will made it feel mor

[2021-04-01 15:23] J12934 commented on #1576
I don't really understand what you mean in 1.)

The file gets itnerpreted as a handlebars template, this means for most files that the complete contents are getting returned as most files dont include any handlebar templates :)
The response will always have the content-type set to test/html not matter which file extension is used on the "layout file".

Truncating the returned body should be possib

[2021-04-01 15:31] cigar-galaxy82 commented on #1576
I was trying to tell that in browser the returned file is a bit different
![Screenshot (399)_LI](https://user-images.githubusercontent.com/56212958/113317849-71622180-932d-11eb-8a0b-8f34084ab33a.jpg)

[2021-04-01 15:40] bkimminich commented on #1613
@prince-7 @vibhuti019, feel free to tackle this one together or one of you does it alone, up to you!

[2021-04-01 15:54] bkimminich commented on #1576
👍

[2021-04-01 15:54] bkimminich commented on #1576
Misclicked, sorry... 😆

[2021-04-01 16:18] J12934 commented on #1576
Okay that just looks like the browser is trying really hard (and failing) to render a json document as html.

[2021-04-03 12:37] vibhuti019 commented on #1613
@bkimminich sir is the issue open ?

[2021-04-03 12:44] bkimminich commented on #1613
#1614 and #1615 both tackle it already.

[2021-04-03 17:18] cigar-galaxy82 commented on #1576
const conditions = (req.body.layout.includes('ftp') || req.body.layout.includes('ctf.key') || req.body.layout.includes('encryptionkeys'))
      if(conditions === false) {
        res.render('dataErasureResult', {
          ...req.body
        }, (error, html) => {
          if(html === undefined) {
            next(new Error('No Such file exist'))
          }else{
            const sendlfrResponse

[2021-04-03 20:19] J12934 commented on #1576
@cigar-galaxy82 that looks like it would do the job 👍

Please open up a PR, commenting and reviewing on a inline code snippet in GitHub is not really practical.

[2021-04-07 16:04] bkimminich commented on #1613
The config schema check is working fine, only the actual EXIF data check doesn't trigger, no matter what I do. It never goes into the callback function under https://github.com/bkimminich/juice-shop/blob/develop/test/server/blueprintSpec.ts#L32 ... Any ideas?

[2021-04-07 16:55] vibhuti019 commented on #1613
Sir, can you describe the workflow of the function.

[2021-04-08 07:44] the-pro commented on #1613
It is working fine for me with both files and URLs. Are you checking it for Urls or files?

[2021-04-08 11:17] bkimminich commented on #1613
Yeah, never mind. It works when I run `npm run test:server`. If I run the test standalone from IntelliJ it will always pass, but that is not a problem of the test itself, as it seems.

Good work guys! I probably have both your addresses already, in case I don't, please email them to me so I can send you some stickers with the next batch for this contribution! 👍

[2021-04-08 11:17] #1613 closed

[2021-04-11 19:45] bkimminich opened #1619 "Code snippets crash Heroku instances[🐛]"
# :bug: Bug report

## Description

When requesting several code snippets in a short time or in parallel, the following error can occur and eventually crash a Heroku instance:

[code]

These crashes occured when running the e2e test suite of the upcoming v8.2.0 of juice-shop-ctf as it uses the demo instance on Heroku as its counterpart to retrieve challenges and now also the code snippets.

Implem

[2021-04-11 20:47] J12934 commented on #1619
Might be worth it to generate / collect all vulnerable code snippets during a build step (e.g. after npm install) instead of running it during the runtime, as the values should be static.

[2021-04-11 21:01] bkimminich commented on #1619
You're right, it was very convenient when adding new snippets initially to be able to do it w/o server restarts, but that is a very shortlived use case... 😅

[2021-04-12 02:02] vibhuti019 commented on #1619
As @J12934  suggested we can collect all the vulnerable code snippets. Then, we can create a worker process which only checks for file stat changes (check if any file has been modified recently) and then accordingly updates the stored code snippets.
Then, there would be no need for server restarts for adding new snippets and as we are only checking stats and not opening any file so it will have mu

[2021-04-12 06:41] the-pro commented on #1619
What if we write a manual `fileSniffer` and use `graceful-fs` instead of `fs`. I read this about the `graceful-fs` [here](https://www.npmjs.com/package/graceful-fs):

[2021-04-12 07:52] bkimminich commented on #1619
That sounds great! With the caching I already added it shouldn't matter if the first lookup takes a bit longer anyway.

[2021-04-12 15:07] vibhuti019 commented on #1477
What changes are required in this issue? I would like to contribute to this

[2021-04-12 16:41] bkimminich commented on #1619
The change by @the-pro did the trick! Juice Shop CTF test suite no longer kills the Heroku instance! 😎👍

[2021-04-12 16:41] #1619 closed

[2021-04-12 19:13] mihai02t commented on #1491
Hi @bkimminich. If this is stalled and nobody picked it up yet, can I work on it?

[2021-04-12 19:19] J12934 commented on #1477
A lot:

- [x] Compile frontend resources on release and attach as zip on release. (Mostly done, see: https://github.com/J12934/juice-shop/blob/101316c88fb7c1fdf5ad6b1aee632bf7447fdb8c/.github/workflows/publish-frontend-assets.yaml)
- [x] Download compiled frontend assets in a post-install step of the backend npm install (Also mostly done: https://github.com/J12934/juice-shop/commit/101316c88fb7c1f

[2021-04-17 01:49] cigar-galaxy82 commented on #1576
**Description of the challenge**
name: 'Read Files'
  category: 'Local file read'
  difficulty: 5
  hint: 'Find vulnerabilities in different NodeJs template engines'
  description: 'Gain reading access to files on the web server'
  key: 'lfrchallenge'
  disabledEnv:
  - Docker
  - Heroku

[2021-04-20 17:39] bkimminich commented on #1491
I think I might have to add a new label for this issue... 😬

![image](https://user-images.githubusercontent.com/3531020/115440497-13c84300-a210-11eb-8145-18bfccaa0282.png)

[2021-04-27 16:42] bkimminich commented on #1576
Hi @CaptainFreak, could you please provide feedback if #1616 implements the vulnerability in the expected form? I would say it does, as it allows both aspects of your original attack flow to happen:

Furthermore there's a truncation of the returned file contents to ~100 chars if the attacker hits an existing file (to prevent leaking the entire server side codebase) and also some specific files are

[2021-04-28 05:23] #1576 closed

[2021-04-28 06:25] bkimminich commented on #1491
"Fixed".

[2021-04-28 06:25] #1491 closed

[2021-04-28 09:27] CaptainFreak commented on #1576
Yes @bkimminich LGTM!

Good work @cigar-galaxy82!

[2021-04-28 15:06] bkimminich opened #1624 "[📊] Collecting statistics for Juice Shop"
OWASP ZAP published https://www.zaproxy.org/blog/2021-04-19-collecting-statistics-for-open-source-projects explaining their way to collect some stats about usage and downloads of the project. It would be nice to have something similar (or near-identical, even) for Juice Shop.

Download stats interesting for Juice Shop would definitely include:

* Docker image pulls (main app and CTF extension)
* G

[2021-04-28 17:41] the-pro commented on #1624
Could we rewrite a similar thing using nodeJs and may be use it to create a user interface using the google charts. We would only need to store the github downloads and docker pulls as the rest are available to filter for time intervals.

[2021-04-28 17:44] bkimminich commented on #1624
With "rewrite" you mean the Python scripts? That would be as good approach as it's closer to our developer community... 👍

The storage and everything would make sense on the OWASP AWS or I could create a private GH repo and we dump the data there. Should also be fine.

[2021-04-28 18:06] the-pro commented on #1624
Yeah I mean rewrite the python scripts. But is it going to be a part of this repository or a standalone one

[2021-04-28 18:53] bkimminich commented on #1624
I'd make a separate repo for this, but ideation of what stats to collect and how implemention might look like should happen here first.

[2021-04-28 20:38] the-pro commented on #1624
I think exposing out some APIs from the server and displaying the data on an html page or a server side rendered page would be a nice way to implement it. Also we cannot show the data for github downloads and docker pulls immediately as it was not recorded previously. It would require the app to store the data for some days to be able to display it in a weekly or monthly fashion

[2021-04-29 08:03] chinggg commented on #1624
I think Juice Shop may differ from ZAP in that Juice Shop is more like a website than a tool. So I guess many people will just visit http://demo.owasp-juice.shop in browser to use it without bothering downloading source code, pulling docker image or registering extra accounts. How can we collect PV statistics of our demo website? It seems our demo is also deployed in Heroku.

[2021-04-29 08:32] the-pro commented on #1624
I would say juice shop is meant to use locally where people can change its configuration according to their needs instead of like a website

[2021-04-29 08:44] J12934 commented on #1624
The Public Heroku instance can already be monitored pretty nicely by pointing a prometheus against it to regularly collect metrics 🙃

As seen on twitter 😄 https://twitter.com/owasp_juiceshop/status/1306504380817051649

[2021-04-29 12:08] the-pro commented on #1624
I created a small rough version of the app. This is what it looks like currently: https://ancient-springs-56508.herokuapp.com/

I havent added the github and docker stats as they arent recorded yet. I am also confused a bit about how to show stats for different releases

[2021-04-29 14:49] bkimminich commented on #1624
I actually have a RasPi 3 running non-stop pulling Prometheus metrics from the demo instance, but I don't really monitor anything there. Usage of that instance is not really saying much about anything, because it's not _supposed_ to be used for hacking but it's the default data source for the CTF tool ... so it's seeing some traffic, but it's not really telling us how well the project is doing.

[2021-04-29 14:57] bkimminich commented on #1624
So the source forge and npm stats you pulled live out of their APIs, not from some data store, right?

I can create a repo for Juice Shop stats collection/monitoring already, if that helps already in the "playing around"-phase of this idea... 😁

[2021-04-29 15:38] bkimminich commented on #1624
Also, this stats-collector repo is a good test balloon for https://github.com/juice-shop ... This might become the entire ecosystem's new home, if I get everything transfered from my account without breaking stuff or sending people into 404's ...

[2021-04-29 16:02] bkimminich commented on #1624
https://github.com/juice-shop/juicy-statistics 👈

[2021-04-29 16:46] the-pro commented on #1624
Yes sir they are live from the API. I only added the data for the past month.

[2021-05-03 19:42] bkimminich commented on #1624
I reserved https://juicy-statistics.herokuapp.com, so we could add auto deployment there via GH action.

Also we could keep the data in the repo for now and let @JuiceShopBot commit it automatically, similar to the lint fixing. No need for separate data repo or S3 bucket at the beginning, or is there?

[2021-05-04 18:38] nec228 opened #1626 "[🐛]"
# :bug: Bug report

## Description

A clear and concise description of the problem...

### Is this a regression?

Yes, the previous version in which this bug was not present was: `x.y.z`

## :microscope: Minimal Reproduction

## :fire: Exception or Error

<pre><code>

</code></pre>

## :deciduous_tree: Your Environment

<pre><code>

</code></pre>

### Additional Information

[2021-05-04 19:09] #1626 closed

[2021-05-06 12:13] bkimminich commented on #1624
Above URL is now available and development is in progress, so I'm closing this ticket here. Dedicated requirements for stats to collect and show can be put into issues on the https://github.com/juice-shop/juicy-statistics repo.

[2021-05-06 12:13] #1624 closed

[2021-05-17 07:33] Konachan opened #1628 "Calling /rest/order-history without the JWT crashes Juice Shop [🐛]"
# :bug: Bug report

## Description

After calling /rest/order-history without the `Authorization` header causes Juice Shop to throw an error and exit completely.

### Is this a regression?

Unknown

## :microscope: Minimal Reproduction

Call:
<pre><code>
GET /rest/order-history HTTP/1.1
Host: <juiceshop>:3000
Accept: application/json, text/plain, */*
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64

[2021-05-17 15:23] bkimminich commented on #1628
💥 Ouch... Good catch! 👍

[2021-05-18 11:28] #1628 closed

[2021-05-22 03:35] Alphactory opened #1629 "[🐛] deploy with heroku button stuck loading in heroku webapp"
![image](https://user-images.githubusercontent.com/45250825/119213446-1925e100-ba8d-11eb-85ac-9c9d8052f50b.png)
with a brand new account, the deploy to heroku button in the readme is not functioning on heroku's end.

[2021-05-22 04:38] bkimminich commented on #1629
I tried with my existing account and everything works. I can't really imagine that this has anything to do with how new/old your account is. Did you try with another browser or without any plugins enabled?

If you keep having problems please use another run option or contact Heroku support. Thanks.

[2021-05-22 04:39] #1629 closed

[2021-05-29 09:56] the-pro opened #1630 "[🚀] GSoC 2021 Coding Challenges Project Milestones"
# :rocket: GSoC 2021 Coding Challenges

### Description

This year the GSoC project for coding challenges will include:

- [x] Implementing a component to show emphasised lines in the code snippet
- Either by including a customisable enough syntax highlighter or wrapping up the current syntax highlighter with in a component to do that
- [x] Implementing a feature where the user can select multiple

[2021-05-31 20:34] rixtrayker opened #1632 "[🐛] Basket Access challenge solved by switching between two users"
View another user basket challenge solved itself after logging with another user on the same browser..
( After changing between users multiple times ) I think that was cause of cookies

[2021-05-31 21:02] bkimminich commented on #1632
To reproduce this behavior, could you tell us what users you used and if the behavior is reproducable after a specific number of switches or occurs rather "randomly"? Also, are you using a single tab or multiple ones? The session handling is terrible by design, but it shouldn't hit the challenge too easily, so every bit of information would help. Thanks!

[2021-06-02 13:31] bkimminich commented on #1632
I can't reproduce the behavior you describe when doing the following loop 5 times:

1. Log in as `demo`
2. View basket
3. Log out
4. Log in as `admin@juice-sh.op`
5. View basket
6. Log out
7. Repeat step 1

So I would assume you have done _something_ else in the meantime as well, but without knowing what it is, I can't determine if that is a bug or not.

[2021-06-02 13:37] rixtrayker commented on #1632
May be I had another tabs logged in with another user, then refreshed basket in one of those tabs. It sent api the action via socket and found that the basket wasn't mine.
That is what I guessed.
I'll reproduce it and inform you soon.

[2021-06-11 09:22] snowbear opened #1634 "[⭐] Reset password for a user missing security question answer"
# :star: Challenge idea

### Description

Several users originally missing security question answers - most notably bjoern.kimminich@gmail.com and two support users. For such users it is possible to set arbitrary security question/answer combination.

### Underlying vulnerability/ies

POST https://demo.owasp-juice.shop/api/SecurityAnswers/ is exposed for non-authorized access

### Expected difficu

[2021-06-13 11:43] Anish-D opened #1637 "[🐛] configuration problem with missing encoding"
# :bug: Bug report

The bug lies in the detection of exploit after additional encoding in the challenge missing encoding
## Description

i have encoded the whole url with an url encoder it is able to retrieve the cat photo but the flag isnt getting retrieved

i have tried the encoded url assets%2Fpublic%2Fimages%2Fuploads%2F%F0%9F%98%BC-%2523zatschi-%2523whoneedsfourlegs-1572600969477.jpg this ret

[2021-06-13 12:32] bkimminich commented on #1637
Had previously been reported on Reddit and fixed with https://github.com/bkimminich/juice-shop/commit/04b6393c2ef1bedb9456e93f426e9a6d2d05f3f2. Will be released in 12.8.1, but if you want to check if the fix works for your encoding, please check out `develop` branch and give it a try.

[2021-06-13 12:32] #1637 closed

[2021-06-16 11:48] chinggg commented on #1634
That sounds like interesting, I will work on this tomorrow.

[2021-06-16 18:57] Dario638 opened #1638 "[🐛] Cross-Site Imaging not marked as solved"
# :bug: Bug report

## Description

The Cross-Site Imaging challenge is not marked as solved even though the images are correctly replaced.

### Is this a regression?

Unknown

## :microscope: Minimal Reproduction

1. Log into any account
2. Visit http://localhost:3000/#/deluxe-membership?testDecal=..%2F..%2F..%2Fredirect%3Fto%3Dhttps:%2F%2Fplacekitten.com%2F200%2F300%3Fq%3Dhttp:%2F%2Fleanpub.com%

[2021-06-16 20:53] bkimminich commented on #1638
Good catch! I removed oner `../` from the solution check and corresponding test case. As the RegEx starts with `.*` it will still match for any extra `../` in the path but now no longer require the unnecessary extra one.

[2021-06-16 20:53] #1638 closed

[2021-06-20 16:22] chinggg commented on #1634
@bkimminich Now I only find user `bkimminich` missing security question. So there are two options.
One is `resetPasswordBkimminichChallenge`, which is just as existing `resetPasswordXXXChallenge`. We have told players the person missing security question.
Another is `missingSecurityQuestionChallenge. We will not told the exact person, players need to use SQLi to extract the one missing security qu

[2021-06-21 05:31] abel432 commented on #1203
try:
npm install --unsafe-perm=true --allow-root --force

[2021-06-21 13:17] marat-yuldashev commented on #1634
https://juice-shop.herokuapp.com/rest/products/search?q=asfasfas%27))%20UNION%20SELECT%20%27%27,UserId,answer,%27%27,%27%27,%27%27,%27%27,%27%27,%27%27%20FROM%20SecurityAnswers%20UNION%20SELECT%20*%20FROM%20Products%20WHERE%20((name%20LIKE%20%27idassadfafs

IMO this challenge will be more interesting if you ask to reset password without pointing out the missing security question, though it makes c

[2021-06-21 18:44] bkimminich commented on #1634
We might still just ask for "Reset user ........`s password" and give the challenge a lower difficulty. We don't need to point out to go through the SecurityAnswer, but we should predefine the user to use and also say it's about the reset and not a subsequent login after reset. Because people might try 100s of things if not given some direction. And they might end logged in w/o the challenge solve

[2021-06-28 14:22] faisalbasha1982 opened #1643 "[🐛] Issue with UserProfile.js as it says 500 TypeError: Cannot read property 'dataValues' of null"
# :bug: Bug report

## Description

I have installed the owaspjuiceshop app on heroku and tried to access it firefox esr in the Kali Linux OS. After
registeration and login to the portal, I clicked on accounts -> my email address , for accessing userProfile, I get
an error page. It does not take me to the user profile page.

### Is this a regression?

Yes, the previous version in which this bug wa

[2021-06-28 16:12] bkimminich commented on #1643
[code]

Hi @faisalbasha1982! The code above is where this error occurs. It seems you have a recognized token, but when your user is looked up in the database it cannot be found. And then the subsequent access to its properties fails. I could imagine, that your app was restarted on Heroku after you logged in. This might go unnoticed easily if you just browse products etc. Then when accessing your p

[2021-06-28 16:12] #1643 closed

[2021-06-30 16:39] #1632 closed

[2021-07-15 06:14] bkimminich opened #1649 "[🚀] Shopping basket for anonymous users"
# :rocket: Feature request

### Description

Juice Shop could provide a more realistic online shopping experience for unauthenticated users. It currently allows to only look and products while not logged in. Only after log-in a shopping basket is created in the DB and only then it is possible in the UI to put items into that basket.

### Solution ideas

Juice Shop should offer unauthenticated user

[2021-07-22 21:11] philturpin opened #1653 "[🐛] Local File Leakage (non containerised instances)"
# :bug: Bug report

## Description
When editing the User Proifle name, it's possible to leak /etc/passwd as an HTTP request parameter to a remote server.

### Is this a regression?
Uknown.

## :microscope: Minimal Reproduction

URL: `http://localhost:3000/profile`

To reproduce this error, paste the follow into the Username field:

```#{const fs=require('fs');fs.readFile('../../../../../../../../.

[2021-08-02 08:15] the-pro opened #1654 "[🚀] Fixes for the coding challenges"
As a new feature is introduced into the juice-shop for selecting the correct code fix for a challenge, we need to write dummy fixes and actual fixes for the challenges. Each fix for each challenge will be written in a separate file. All of the files will be stored in `data/static/codefixes`. The name of the file will look like this:

- For dummy fixes: `<challenge key>_<fix number>.<extension>`
-

[2021-08-04 00:36] Kuyagards opened #1655 "[🐛]"
# :bug: Bug report

## Description

A clear and concise description of the problem...

### Is this a regression?

Yes, the previous version in which this bug was not present was: `x.y.z`

## :microscope: Minimal Reproduction

## :fire: Exception or Error

<pre><code>

</code></pre>

## :deciduous_tree: Your Environment

<pre><code>

</code></pre>

### Additional Information

[2021-08-04 03:29] #1655 closed

[2021-08-29 10:34] bkimminich commented on #1630
## Glitches to fix before releasing v12.9.0

- [ ] The "open multiple stacked snippets" issue we notice during last demo
- [ ] The disabling of the submit buttons only works after you once closed and reopened the coding challenge. If you solve "Find it" and immediately switch back to that tab, you'll again have an enabled submit. Same after solving "Fix it".
- [ ] After solving "Fix it" the code s

[2021-08-30 06:45] bkimminich commented on #1630
- [ ] Persistence of "Find it"-progress to a `continueCodeFindIt`
- [ ] Persistence of "Fix it"-progress to a `continueCodeFixIt`
- [ ] Include both new cookies in local backup mechanism (no version change, compatible extension of JSON model)

[2021-08-30 06:52] bkimminich opened #1663 "[🆕] Coding Challenges - Pre-release enhancements/fixes"
## Glitches to fix before releasing v12.9.0
- [x] The "open multiple stacked snippets" issue we notice during last demo
- [x] The disabling of the submit buttons only works after you once closed and reopened the coding challenge. If you solve "Find it" and immediately switch back to that tab, you'll again have an enabled submit. Same after solving "Fix it".

## Local progress restore after server

[2021-08-30 06:53] #1630 closed

[2021-09-07 14:41] wadim-al opened #1666 "Crash when POSTing an empty request body to /api/Feedbacks/"
Steps:
1. Start juice-shop_12.8.1
2. Using browser navigate to http://localhost:3000/#/contact
3. Using browser send a correct feedback form
4. Using OWASP ZAP history find POST request to http://localhost:3000/api/Feedbacks/
5. Delete everything in the request's POST body and resend the modified request.

Expected:
Error returned in the server response.

Actual:
Juice-shop crashes. Error message

[2021-09-07 17:15] matt-moses opened #1667 "[🐛] Missing files in release archives"
There are missing files in release archives. This is causing weird installation issues but the root cause is missing files.

Download this: https://github.com/bkimminich/juice-shop/releases/download/v12.8.1/juice-shop-12.8.1_node12_linux_x64.tgz

Extract and compare with repo:

For instance the `frontend/` directory is missing `package.json` etc. in the `tgz`.

[2021-09-07 17:37] bkimminich commented on #1667
The packaged archives only contain what is needed to start to application with `npm start`. The frontend is already precompiled in there under `/frontend/dist`. You cannot develop based on the archived packages or run test suites or similar. For that you need the "full version" from GitHub source.

[2021-09-07 17:37] #1667 closed

[2021-09-07 18:38] matt-moses commented on #1667
Thank you for that clarification! JuiceShop is awesome. Thank you so much. I'm helping to host a CTF again for high school students. JuiceShop has been a key piece these last couple of years for the CTF. Thank you!

[2021-09-08 16:04] bkimminich commented on #1666
Which node.js version are you using? My local test with node.js 14.16.0 ended with the same error just without the server crash:

[code]

[2021-09-08 16:08] wadim-al commented on #1666
v15.14.0

[2021-09-08 18:57] #1666 closed

[2021-09-08 18:57] bkimminich commented on #1666
Thanks, I've added a proper error handling for that case. Good catch! 🎣

[2021-09-10 01:47] #1477 closed

[2021-09-10 05:16] bkimminich commented on #1653
Hi @ph17ur, sorry for not replying up until now. This is actually a nice catch. I was wondering if we could make this a hacking challenge, but this vuln is already kind of included in the SSRF/SSTi challenges, _I think_ ... I'll have to check if we could fix the file leakage without breaking those challenges.

[2021-09-11 12:49] #1654 closed

[2021-09-11 13:07] #1663 closed

[2021-09-16 09:09] the-pro opened #1674 "[🚀] Backlog Post GSoC Features"
## Extending Coding Challenges

The following changes need to be done to further extend the features that were introduced in the GSoC period:

- [ ] Create an automated system to warn about the changes done in the Vulnerable snippets during making some changes to the codebase. (Possibly in a CI/CD step)
    - (If it works)Maybe also create a command to automatically merge the changes into the fixe

[2021-09-21 08:08] bkimminich opened #1676 "Frisby tests fail independent of any code change [🐛]"
`npm run frisby` stopped passing locally and on GitHub CI/CD without any code changes occuring. Re-running previously *passed* CI/CD builds will now yield *failed* Frisby tests. As Frisby itself did not change for a year and the test runner Jest stopped updating their 26.x version months ago, it is highly likely that some sub-dependency changed and causes this issue.

If the error does not solve i

[2021-09-22 09:48] Tabbbbs opened #1677 "[🚀]"
# :rocket: Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Solution ideas

 If you have a solution in mind, please describe it.

### Possible alternatives

 Have you considered any alternative solutions or workarounds?

[2021-09-22 10:26] #1677 closed

[2021-09-23 11:20] ccdavis773 opened #1678 "Juice"

[2021-09-23 14:14] #1678 closed

[2021-09-23 19:48] bkimminich opened #1679 "[🚀] Coding Challenge Hints & Explanations"
Coding Challenges could be enhanced with
* hints while trying to pick the vulnerable line of code on the "Find It" tab (up to a maximum when the solution is just spoilered)
* explanations why a submitted fix was correct or wrong on the "Fix It" tab

## Braindump from Slack discussion

[code]

[2021-09-26 21:02] 34ikram34 opened #1682 "[🚀]"
# :rocket: Feature request

### Description

 A clear and concise description of the problem or missing capability...

### Solution ideas

 If you have a solution in mind, please describe it.

### Possible alternatives

 Have you considered any alternative solutions or workarounds?

[2021-09-26 21:13] #1682 closed

[2021-09-27 20:02] commjoen opened #1688 "[⭐] Embed an Github action challenge"
# :star: Challenge idea: Embed Github action in a challenge

### Description
This challenge nicely ties in with the discussion at https://github.com/juice-shop/juice-shop/pull/1687 as discussed earlier.
Given that a lot of mistakes are made with github actions, workflows and secrets, it would be cool to actually base a challenge on it. There are 3 things we could play with:

- insecure github acti

[2021-09-30 17:11] bkimminich commented on #1674
Cheat detection is WIP ... (58a2b449c1dae5efb99d3d84bfccb46e3afeac76)

[2021-10-02 18:26] bkimminich commented on #1674
![image](https://user-images.githubusercontent.com/3531020/135727852-ba0ad303-78f9-4b3b-a498-3b5ca322c997.png)

[2021-10-02 18:30] bkimminich commented on #1674
Accuracy is currently only logged on server side. Calculation of "Total Accuracy" and metric for Prometheus is not yet available.

[2021-10-02 18:32] bkimminich commented on #1674
Similar to the cheat score, accuracy calculation is not triggered when challenge progress is restored. This means a freshly started server always starts clean:
![image](https://user-images.githubusercontent.com/3531020/135728034-c4759efb-701e-40ec-a79b-15bb16cf0022.png)

[2021-10-03 09:49] bkimminich commented on #1674
![image](https://user-images.githubusercontent.com/3531020/135748510-fa991527-1ff3-4dce-a522-23b388c8e5ca.png)

[2021-10-03 10:00] bkimminich commented on #1674
Only the Grafana dashboard template still needs to be updated with these new metrics. For the accuracy metrics two regular percentage bars should be fine. For the progress maybe we use a pie chart with color scheme of red = unsolved, yellow = find it and green = fix it?

On the Score Board the progress could be visualized similarly with a three-colored pie chart or progress bar, but there's seemin

[2021-10-03 18:12] bkimminich commented on #1674
All previously mentioned improvements including a new Grafana Dashboard template (for Grafana 8) have been released via `v12.10.0`.

![image](https://user-images.githubusercontent.com/3531020/135766297-6161c6ce-6800-4da3-bce0-db78e186d312.png)

[2021-10-07 15:47] bkimminich opened #1698 "[🚀] YAML info files for coding challenges"
The following coding challenges need a `.info.yml` file similar to https://github.com/juice-shop/juice-shop/blob/develop/data/static/codefixes/localXssChallenge.info.yml to hold "Find It" hints and "Fix It" explanations:

- [x] API-only XSS
- [x] Access Log
- [x] Admin Registration
- [x] Admin Section
- [x] Allowlist Bypass
- [x] Bjoern's Favorite Pet
- [x] Blockchain Hype
- [x] Bonus Payload
- [x

[2021-10-12 18:10] bkimminich opened #1706 "[🚀] Add marker for "neutral" lines of code in code snippets"
Currently, coding challenges require one or more exact lines of code to be selected and submitted to receive a wrong/correct verdict. This exact check is problematic in many challenges, e.g. in

![image](https://user-images.githubusercontent.com/3531020/137006899-39eca336-1d10-4d0d-9615-c7ced863a17f.png)

where only selecting and submitting line 48 would count as correct. If the user selects lines

[2021-10-12 19:56] #1706 closed

[2021-10-13 08:26] bkimminich opened #1707 "[🐛] Challenge progress restore triggers XSS on Score Board"
# :bug: Bug report

## Description

1. Start local instance and go to `/#/score-board`
2. Notice that the copy-pastable XSS payloads (e.g. in _DOM XSS_ or _Bonus Payload_ challenge) are properly encoded
3. Confirm via `/api/Challenges` that those payloads are wrapped into `<code>`...`</code>` properly
4. Restore challenge progress from a local backup (works best with a continue code w/ lot of chal

[2021-10-13 08:58] bkimminich commented on #1707
![image](https://user-images.githubusercontent.com/3531020/137101446-569437e9-0e43-492f-820f-e87aec3f7cd5.png)

Line 119 is the problem ... 🤦‍♂️

[2021-10-13 09:03] J12934 commented on #1707
Not sure if I totally get it, this works just for the restore as the restore has the text encoded so that the iframe tag isn't removed by the sanitizeHtml? Or am I understanding it wrong?

[2021-10-17 01:48] #1649 closed

[2021-10-17 01:48] #1634 closed

[2021-10-18 15:38] bkimminich opened #1712 "[🚀] New coding challenge avatar"
To represent the new [Coding Challenges](https://pwning.owasp-juice.shop/part1/challenges.html#coding-challenges) it would be nice to have a logo variation of the Juice Shop Bot variant that

* sits behind a laptop (similar to 👨‍💻 emoji) or in another way nicely depicts a programmer
* if a laptop is visible, the logo on the laptop cover should obviously be Juice Shop related (e.g. either the logo

[2021-10-20 05:54] bkimminich commented on #1674
Coding challenges now have their own %-progress bar. Future improvement could be a pie/donut chart like in the Grafana dashboard, as the progress bar does not distinguish between "Find It" and "Fix It" progress.

![image](https://user-images.githubusercontent.com/3531020/138035828-f55c60e7-b860-49a3-ae4e-c312a9d220f5.png)

[2021-10-23 21:47] eyalch opened #1715 "[🐛] Hacking Instructor doesn't take into account a custom domain"
# :bug: Bug report

## Description

Hacking Instructor doesn't take into account a custom domain.

Here's a part of my custom config:

[code]

Take the "Login Jim" challenge instructor script. At the stage of inputting Jim's email, the instructor script expects "jim@juice-sh.op" and not "jim@example.com".

Looking at the source code, looks like there's already a TODO: https://github.com/juice-shop

[2021-11-04 22:05] bkimminich opened #1720 "[🚀] Coding Challenge RFN (Refactoring Safety Net)"
1. Create an automated system to detect changes done inside `vuln-snippet` blocks that lead to inconsistency with associated fix option files, e.g. via [diff](https://www.npmjs.com/package/diff).
2. Introduce an npm script and CI/CD step that perform this check and report/fail on findings
3. An advanced option could be to automatically carry over code snippet changes (unless done in the actually v

[2021-11-04 22:08] bkimminich opened #1721 "[🚀] Coding Challenge Tutorial"
Provide a hacking instructor script that teaches how to do a coding challenge using one example (e.g. the Score Board challenge). It must explain the two stages as well as the hint system and explanations.

[2021-11-04 22:08] #1674 closed

[2021-11-05 12:10] tarciziovn opened #1722 "[🚀] Implement code corrections or infrastructure assets for fix security vulnerabilities for learning purposes"
# :rocket: Feature request
### Description

For those who would like to learn not only how to explore the vulnerabilities but the ways how to fix them, would be great if developers could learn how to implement countermeasures to fix juice-shop webapp vulnerabilities.

### Solution ideas

Considering that security vulnerabilities could be fixed in several ways, such as code fixes, config files fixe

[2021-11-05 16:28] tarciziovn opened #1723 "[🚀] Backend code reimplementing for educational purposes"
# :rocket: Feature request

### Description

Create a new version of the system backend in other programming languages for the educational purpose of learning how to fix system vulnerabilities, as discussed in [this issue](https://github.com/juice-shop/juice-shop/issues/1722).

### Solution ideas

I suggest to create separate projects for reimplementing the backend written in NodeJS for the follow

[2021-11-06 08:14] bkimminich commented on #1723
Re-creating the Juice Shop backend or frontend in any other tech stack as the given one will never happen within the scope of this project, as this can inevitably only hurt it in one of two ways:

1. Either the alternate backends/frontends will end up as a _half-hearted attempt to replicate_ the thousands of work hours put into the project, thus delivering a worse quality than the original, thus d

[2021-11-06 08:16] #1723 closed

[2021-11-06 08:30] bkimminich commented on #1722
Minus the [new version of system backend-part](https://github.com/juice-shop/juice-shop/issues/1723) I like this idea, but it would face some very tough obstacles.

The Juice Shop was _designed_ to be hacked, not fixed. It contains lots of code for challenge verification you wouldn't want to have in any code-fix exercise. For this reason we decided in this year's Google Summer of Code project, to

[2021-11-06 08:38] #1722 closed

[2021-11-06 10:30] bkimminich commented on #1712
Reached out to Hugo Costa about this graphics project and the potential "bonus objective" of harmonizing the looks of all current Juicy Bot avatars.

[2021-11-07 11:55] bkimminich commented on #1721
First attempt is pushed to https://github.com/juice-shop/juice-shop/tree/codingChallengeTutorial but suffers from some problems:
* The hint bubble does not appear on top of the screen but mashed into the challenge status when fixed to contained elements
* The third hint should be attached to the code snippet modal but seems to look for it faster that it actually appears in the DOM

[2021-11-07 12:20] bkimminich commented on #1721
## Hint bubble placement issue
![image](https://user-images.githubusercontent.com/3531020/140644357-10fbdd34-8c84-4841-8d65-99bf937a59b6.png)
![image](https://user-images.githubusercontent.com/3531020/140644628-75da1607-a204-40eb-9387-0d8b51c185c6.png)

[2021-11-07 12:21] bkimminich commented on #1721
![image](https://user-images.githubusercontent.com/3531020/140644686-ce6e9512-a60c-4839-b055-3cffde7e71cc.png)

[2021-11-07 17:40] #1721 closed

[2021-11-12 10:41] #1698 closed

[2021-11-12 17:53] nakami opened #1725 "[🚀] Customization: Add option to define custom currency symbol"
# :rocket: Feature request

### Description

For the sake of customization, it would be great to be able to easily define a custom currency symbol. In some places (e.g. translation strings) there is "`¤`" used. In some template files there is "`&curren;`" resulting in the mentioned character, too.

### Solution ideas

I would like to be able to define a currency symbol in a custom configuration (`

[2021-11-12 18:35] nakami opened #1726 "[🐛] Customization: Having a single quote in the name of application breaks the profile page"
# :bug: Bug report

## Description

If you choose a name with single quotes as the name of your application in the config file, it breaks the profile page. It might also break different pages, but the profile page was the only one I could make out so far.

e.g.
[code]

### Is this a regression?

I don't think so, seems like a oversight in design.

## :microscope: Minimal Reproduction

1. Save this

[2021-11-12 19:28] bkimminich commented on #1726
Nice find! I'd hope this doesn't  affect any screens other than the legacy ones built with Pug templates. Will test and see where the issue is originating from.

[2021-11-12 19:34] bkimminich commented on #1725
Variables can be injected into i18n files, but this would change a few strings for a relatively rarely used feature, I'd guess.

The currency symbol also became kind of a running gag, so I grew fond of it and wouldn't put effort into making it configurable.

But: If you or someone else want to build this feature, I'm happy to review and merge that. It needs to cover all places to get merged, no ex

[2021-11-12 21:20] nakami commented on #1725
Alright, thank you for the clarification.

Since I didn't find any issue mentioning this and it might help someone save some time, I'll put my procedure down here if anybody stumbles across this. AFAIK it doesn't break any challenge. Correct me if I'm wrong.

## Replacing the currency symbol

These steps replace the occurences of "`¤`" (unicode representation) and "`&curren;`" (HTML encoding) in t

[2021-11-12 23:06] bkimminich commented on #1725
If you replace every occurence via `sed`, even translations which contain the currency symbol will still work. Challenges should also not be impacted. I'll leave this issue open anyway if someone likes to pick it up.

[2021-11-13 19:18] bkimminich commented on #1726
Ok, it's really a classic injection in the Pug templates. The config values are put into the template before the template it compiled, so `'` will mess up the template. Other character probably do the same. I'll try to find some Pug-friendly encoder to safely set the application name.

[2021-11-13 19:37] bkimminich commented on #1726
With the `develop` branch version or `snapshot` Docker image this issue should be fixed now.

[2021-11-13 19:37] #1726 closed

[2021-11-15 01:47] #1688 closed

[2021-11-19 21:48] Abhisaran opened #1732 "Heroku and Local deployment not working [🐛]"
# :bug: Bug report

## Description

Sorry if this is not a real issue, I tried for about a week asking around before I wanted to raise this here. I tried to deploy juice shop on Heroku and locally, but it threw an error during installation both times (Import error i assume). I could not find a way to make it work. I would really appreciate any help I get.

### Is this a regression?

I do think as

[2021-11-19 22:02] bkimminich commented on #1732
Can you try deleting your `node_modules` folders and run `npm install` again? 4 days ago I cherry-picked a fix for a upstream dependency that became incompatible.

That fix worked on CI/CD (see https://github.com/juice-shop/juice-shop/actions/runs/1464427677) so it should also work locally

[2021-11-19 22:19] Abhisaran commented on #1732
I did that, I deleted node modules like three times, refreshed cache but still did not deploy. Even if my system environment was buggy, heroku should have worked right?

[2021-11-19 22:23] Abhisaran commented on #1732
Sorry I skimmed through your comment. You said you fixed it 4 days ago, I will try the steps again. I apologize for it!