[2019-03-21 11:47] bkimminich commented on #886
We have two RCE challenges already where the harder one is explicitly asking to to not use an endless loop as payload, which actually makes RegExDos very attractive. Not sure if we really need two of these... I'm not really buying the use case with the complaints either... What do you think, @J12934 and @CaptainFreak?

[2019-03-21 15:34] #742 closed

[2019-03-21 15:34] #775 closed

[2019-03-22 01:53] agrawalarpit14 commented on #831
@bkimminich @J12934 Can you please let me know what needs to be added for the 2FA setup. I will work on this?

[2019-03-22 11:16] J12934 commented on #831
Hi Arpit
I'll implement this myself over the next couple of weeks.

[2019-03-22 11:50] agrawalarpit14 commented on #831
Yeah sure. Let me know if you want me to do something.
Thank You!!

[2019-03-22 13:08] agrawalarpit14 commented on #582
@aaryan01 Please let me know if you are working on this. If not I can start. @bkimminich

[2019-03-22 13:08] agrawalarpit14 commented on #226
You can go forward with the same. Thank You

[2019-03-23 06:06] aaryan01 commented on #582
@agrawalarpit14 I have started working on it. Just needed some clarification from @bkimminich .

[2019-03-23 06:14] agrawalarpit14 commented on #582
Sure. Thanks!!✌🏻

[2019-03-23 06:21] agrawalarpit14 commented on #334
Hi @bkimminich
Do you mean the following features should be present:
- People should get an invoice when they submit a recycle request.
- Accounting users of the juice shop should be able to see all such invoices(adding up the is_accounting field in the jwt token).
Please let me know. Thank You!!!

[2019-03-23 08:27] bkimminich commented on #660
@aaryan01 While your PDF export in #881 certainly looks nice, I think in the final version with *all* user data (including feedback, reviews and recycling requests) it would get quite a lot of code for all those tables.

## Recommendation
1. Make only a simple JSON import first. That could be possible even with a single complex joined query over all relevant DB tables via the `UserId` foreign keys

[2019-03-23 08:54] bkimminich commented on #365
Already addressed in GSoC 2018 in #627

[2019-03-23 08:54] #365 closed

[2019-03-23 09:52] #598 closed

[2019-03-23 09:57] cookiemoon commented on #825
![JuiceShop_8bit_Logo](https://user-images.githubusercontent.com/43241956/54864653-0d75ed00-4d52-11e9-804b-5b87d8c0eac8.png)

[2019-03-24 07:32] aaryan01 commented on #660
Hi @bkimminich ! Thanks for your review. I'll work on your suggestions :)

[2019-03-24 23:59] #336 closed

[2019-03-25 08:21] bkimminich commented on #883
### Requirements (from #883)
* Use an icon or translatable text on the button
* Do not implement as "flip all button states" but "deselect all" if over 50% are currently selected or "select all" if under 50% are currently selected.
* Make sure select state is correctly flipped for the button when normally selecting/deselecting depending on which of the above state is currently given

[2019-03-25 14:58] #825 closed

[2019-03-25 15:10] bkimminich commented on #886
I'll drop this idea unless someone comes forward with a brilliant use case to put it into. The complaint "smart-parsing" hasn't really convinced me.

[2019-03-25 15:10] #886 closed

[2019-03-25 18:58] #883 closed

[2019-03-25 19:04] bkimminich commented on #847
I'm closing this one as it's implemented already. If someone comes up with a _Deal of the Day_ scenario feel free to open a new issue so this one doesn't get too confusing. Thanks!

[2019-03-25 19:04] #847 closed

[2019-03-26 00:32] agrawalarpit14 opened #898 "Deal of the Day Challenge"
The challenge includes addition of "Notification Bell" as a feature:
- There will be an admin API to post and delete notifications.
- The notifications will be stored in the database on server side.
- On the client side a bell lies in the navigation bar, clicking on which a user can see notifications posted by the admins of the shop(such as "Welcome to Juice Shop"). Example can be seen below:
<img

[2019-03-26 01:21] AbdelrhmanMagdy commented on #822
@bkimminich  I started to work on this issue and i have a question .. the problem here is that the token in cookies didn't be deleted when logout function fired so the user service still can fetch the user info and that's happened on the version deployed on heroku only. I tried the same behavior locally, when i logout the token removed from the cookie so it's works well .. have you any idea why th

[2019-03-26 08:46] bkimminich commented on #898
I love the _International Carrot Day_ storyline... :carrot: ... That's just hilarious! :rabbit2:

having something like an extra `Deals` table also makes sense. The support for deals should actually be implemented completely and not with a singular fake just for the carrot juice-based challenge. The table should have a `validFrom` and `validTo` column as well as a `discount`. Anything else?

The i

[2019-03-26 13:29] Nikita-Jr opened #899 "ClickJacking Challenge"
Feature needed :
1. Delete account : User should be able to delete their own account.

Details and Description Regarding Vulnerability :
1. https://www.owasp.org/index.php/Clickjacking
2. https://blog.innerht.ml/google-yolo/  -  * Must Read * :smile:

This seems a very easy to implement challenge, Following can be the scenario:
1. User visits a malicious website.
2. User falls for the clickbait an

[2019-03-26 13:58] bkimminich commented on #899
The application is currently using `helmet.frameguard()` to prevent framing and therefore (_I hope...?_) also clickjacking. Even if we turned that off, how would the Juice Shop determine the difference between someone just regularly deleting an account or the same happening via clickjacking?

[2019-03-26 14:43] Nikita-Jr commented on #899
The detection part can be done through `window.top` and `window.self`. where top property always points to outer frame and self points to the inner frame while iframing. Will have to check it out.

[2019-03-26 16:39] parulpriyedarshani opened #900 "Cannot find module 'libxmljs' while connecting to localhost:3000"
While running the localhost: 3000; the server site cannot be reached due to the missing module 'libxmljs'. Hence the cloned project is not opening on the localhost. I tried to solve this problem by running the command "npm install libxmljs" but still getting lots of errors and could not run the juice-shop project on my laptop.
 Looking forward for your help!

[2019-03-26 17:03] bkimminich commented on #900
Can you paste your console output of `npm install` and `npm start` please? Also which versions of node.js and npm are you using?

[2019-03-26 17:17] parulpriyedarshani commented on #900
For node it's
v11.6.0
And for npm it is
6.9.0

[2019-03-26 17:30] parulpriyedarshani commented on #900
![Screenshot (7)](https://user-images.githubusercontent.com/47082288/55019355-f5040d80-4fb1-11e9-82d4-2a82c70754ff.png)
![Screenshot (8)](https://user-images.githubusercontent.com/47082288/55019443-24b31580-4fb2-11e9-924c-2b738c460a30.png)

[2019-03-26 17:38] bkimminich commented on #900
Your `npm install` already failed to install `libxmljs@0.19.5` unfortunately. Please try this zipped version. Just unpack and run `npm start` and it should work: https://github.com/bkimminich/juice-shop/releases/download/v8.4.1/juice-shop-8.4.1_node11_windows_x64.zip

[2019-03-26 19:53] parulpriyedarshani commented on #900
Yes, Now it's working perfectly.
![Screenshot (9)](https://user-images.githubusercontent.com/47082288/55028792-d871d080-4fc5-11e9-8717-c22c80b091e3.png)
![Screenshot (10)](https://user-images.githubusercontent.com/47082288/55028802-dc9dee00-4fc5-11e9-8885-2d36c2cdd6b0.png)

Thank you so much, sir.

[2019-03-26 20:17] agrawalarpit14 commented on #898
Yeah it sounds awesome this way.

And maybe, we can then add a way for the users to click and upload pictures with the products on offers that they purchased "Saying that the juice shop will post these images on the Juice Shop wall" and build challenges around that too. As these images will be rendered on the frontend.

I will start working on this by forming a separate table for `Deals` as you sa

[2019-03-27 06:42] bkimminich commented on #898
Don't you think now that GSoC applications are opened, this one would be a nice addition to your proposal there? 😉

[2019-03-27 06:58] agrawalarpit14 commented on #898
Yes, actually. I will add it there.😆
Thank You for your suggestion.

Just to clarify you meant it for the second comment right, `Deal of the day` should be outside my proposal?

[2019-03-27 07:36] bkimminich commented on #898
I think both the Deal of the Day and the Photo Wall could well be in a proposal for the "Feature Pack" project! 👍👍

[2019-03-27 08:58] agrawalarpit14 commented on #898
Ahh that way. Sure that's an awesome idea.
I will add them to the proposal.
Thank You!!

[2019-03-27 09:22] agrawalarpit14 commented on #683
Hi @bkimminich @J12934 For "Checking if dependencies were dependencies were installed" I was trying to use `const dependencyCheck = require('check-dependencies')`.
The documentation for `check-dependencies` can be found it https://www.npmjs.com/package/check-dependencies.
But when I run it inside `lib/startup/validatePreconditions.js`. Before the program reaches my all to `dependencyCheck`, the fo

[2019-03-27 09:27] J12934 commented on #683
The check for uninstalled dependencies would have to be the very first thing done in the server.
Your code isn't reached, as it fails due to missing dependencies, before the check is run. Or at least i would assume so from the stacktrace.

[2019-03-27 09:29] agrawalarpit14 commented on #683
Yes, I too realise that. So, should I make at happen as the first thing in `server.js`?

[2019-03-27 09:39] J12934 commented on #683
Maybe create a `validateDependencies.js` next to the other validation files.

[2019-03-27 09:43] agrawalarpit14 commented on #683
Sure I will proceed with that.
Thanks!!

[2019-03-27 12:17] omerlh opened #902 "[⭐] Add CSRF challenge"
The profile page is vulnerable to CSRF issues (updating the user name, profile image or profile URL). It could be nice to add this challenge (see [this](https://github.com/bkimminich/pwning-juice-shop/issues/24#issuecomment-476355776) comment) :)

[2019-03-27 18:48] parulpriyedarshani commented on #899
I want to work on this issue. Could someone possibly assign me this issue and tell me on how to start working on it?

[2019-03-27 19:36] parulpriyedarshani commented on #899
Also what do I need to do as a part of my contribution?
Thanks.

[2019-03-27 20:07] parulpriyedarshani commented on #899
Also, what do I need to do for making a contribution to this issue? About the resources and from where to start?
Thank You.

[2019-03-27 20:21] bkimminich commented on #899
Before implementing anything here, I think some more details, especially on the exploit detection would be needed.

Also, I wouldn't approve any PR not coming from @Nikita-Jr as it was her idea, unless she states to be fine with "handing it over". Everything else would be kind of unfair.

[2019-03-27 20:31] parulpriyedarshani commented on #899
I am sorry. I was not aware of this thing. I truly understand and respect the value of someone else's idea. Thank you for your concern, Sir.

[2019-03-27 21:24] aaryan01 commented on #440
Hey @J12934 , can I draft a proposal for this project or are you working on it?

Thanks!

[2019-03-27 21:28] bkimminich commented on #440
🚨 Hacking Instructor is claimed by @J12934. Putting ideas here into the ticket is of course welcome, just please no implementations right now. Thanks!

[2019-03-28 02:20] aaryan01 commented on #440
Oh alright, thanks!

[2019-03-28 17:05] parulpriyedarshani commented on #854
@bkimminich Could you possibly tell me in which part of the app this is being used?
Thank you

[2019-03-28 17:43] bkimminich commented on #854
The languages are loaded in the `NavbarComponent` (`/frontend/src/app/navbar/navbar.component.ts`) and is presented in a dropdown. Currently this list comes from the mentioned static file, in the future it should come from the new API endpoint I mentioned.

[2019-03-29 05:17] parulpriyedarshani commented on #854
I would like to work on this issue. @bkimminich Could you please assign me this issue?

[2019-03-29 07:36] bkimminich commented on #854
Feel free to work on it, I'll put it "in progress". Assigning issues isn't possible for external users except if you were the ticket creator.

[2019-03-29 09:36] parulpriyedarshani commented on #854
Okay...will start working on it..thanks.

[2019-03-29 14:05] agrawalarpit14 commented on #784
Hi @Nikita-Jr Please let me know if you are working on this. Otherwise I will be able to take it up.

[2019-03-29 14:07] agrawalarpit14 commented on #898
Hi @bkimminich If you feel implementing `notification bell` is a good idea. Should we open a issue for it?🙂

[2019-03-29 14:14] bkimminich commented on #898
We're currently undergoing a major UI facelift and I would prefer to avoid new UI features for the time being. We can pick this up when facelift is over.

[2019-03-29 15:07] bkimminich commented on #863
Should become obsolete once the `facelift` branch is merged back.

[2019-03-29 15:07] #863 closed

[2019-03-29 16:54] bkimminich commented on #683
I think we can ditch any extra check for the XML stuff, right? With `libxmljs` being checked by the dependencies test, all should be fine.

[2019-03-29 16:54] #683 closed

[2019-03-29 23:26] allina606 opened #908 "Should signing up with a fake email domain be an error?"
I registered with the email "candy@gmail" which is not a valid email format, but was still able to be registered as a new user.

[2019-03-30 07:14] agrawalarpit14 opened #909 "Last Login IP Address IPv6 or IPv4"
Presently on `/#/privacy-security/last-login-ip` the adress is returned in IPv6 form. Is it a desirable thing?

[2019-03-30 08:50] gitshbhts commented on #854
Hello, can we used Google Cloud Translation API as the endpoint for  Retrieve languages ?

[2019-03-30 09:12] bkimminich commented on #854
@gitshbhts No. How would that solve the problem of calculating the translation completeness anyway?

[2019-03-30 09:29] bkimminich commented on #908
We're using an official validator baked into Angular, and it seems that one is not very good at its job. But as we are never actually sending any mails this is not really a problem. Couldn't be validated stronger on the backend, though as challenges rely on the fact we don't do that... 😁

[code]

[2019-03-30 09:29] #908 closed

[2019-03-30 13:57] Whamo12 commented on #329
Is this issue open for contribution?

[2019-03-30 14:30] bkimminich commented on #329
I'm not sure if this is still an issue in Angular7. Feel free to investigate and post some idea for implementation here.

[2019-03-30 14:38] bkimminich commented on #882
I checked implementation options today, and it seems there is nothing out of the box in Angular for this. Probably needs a custom `Validator` or some 3rd party directive that works with `FormControl` fields.

[2019-03-30 14:57] aaryan01 commented on #882
Hey @bkimminich !
I tried implementing something earlier too and wasn't able to find an optimal solution as well. I apologise for the delay, I got a little busy with the proposal. Thanks for your suggestions :smiley: , I'll start working on them.

[2019-03-30 17:11] Whamo12 commented on #329
Very true, I should've checked the version to begin with.  It's the though that counts.

[2019-04-01 19:36] bkimminich commented on #900
The ZIP distributables don't contain all the source code, only what is needed at runtime.

[2019-04-01 20:02] #900 closed

[2019-04-01 22:44] #854 closed

[2019-04-01 23:17] Whamo12 commented on #822
We could possibly solve this with the `ngOnDestroy` to ensure the token is removed after logout and when the component is destroyed.

[2019-04-01 23:40] Whamo12 commented on #902
How would the application know the CSRF challenge was completed?  By checking the HTTP Referrer header of the incoming request?

[2019-04-02 05:07] omerlh commented on #902
Very interesting, I didn't think about this issue. This is one option, an alternative is adding a CSRF token just for the challenge, not for mitigation. E.g. if you get a post request without the token, consider the challenge as solved.

[2019-04-02 14:46] Whamo12 commented on #902
I spoke with a peer, we could simply modify a request to remove the CSRF token and see if the application validates it.

[2019-04-02 14:59] bkimminich commented on #909
Should be fixed now by stripping `ipv4` addresses of their static `::ffff:` prefix.

[2019-04-02 14:59] #909 closed

[2019-04-02 15:06] agrawalarpit14 commented on #909
Hi @bkimminich I was wondering, this might not work if the `loopback` address is returned, i.e, `::1`

[2019-04-02 15:30] bkimminich commented on #909
Thanks, @agrawalarpit14!

[2019-04-02 15:33] bkimminich commented on #899
Due to lack of further input from the original ticket issuer I open this ticket to the public. The following still stands:

[2019-04-02 15:55] agrawalarpit14 commented on #909
Your Welcome!!

[2019-04-02 16:44] agrawalarpit14 commented on #660
Sorry for the reference above, I did it mistakenly.

[2019-04-02 19:05] bkimminich commented on #877
Fixed some remaining issues with 711540e and it works perfectly now!

[2019-04-02 19:05] #877 closed

[2019-04-03 10:09] supra08 commented on #784
Hi @bkimminich, I would like to take up this issue to implement the CAPTCHA in the recycle form, if no one is working on it. It would be an exciting location to install new challenges IMO.

[2019-04-03 10:28] Nikita-Jr commented on #784
Hi @agrawalarpit14 and @supra08 sorry for my late reply. Yes I'm working on this issue.

[2019-04-03 10:32] Nikita-Jr commented on #899
Hi @bkimminich the work on this issue is in progress.

[2019-04-03 11:26] supra08 commented on #334
@bkimminich, I would like to work on the implementation of invoice and further features on this ticket. I believe, the invoice and any new feature here can help implant new challenges.

[2019-04-03 13:49] bkimminich commented on #784
@aaryan01 and @agrawalarpit14 have implemented stronger CAPTCHA in Data Subject Export section now. We don't really need 3  CAPTCHAs, unless the third would be _neither_ based on math _nor_ on image distortion. Would have to be very different to be considered now.

[2019-04-03 13:51] bkimminich commented on #784
@Nikita-Jr, sorry but you weren't posting any updates and didn't send a PR for 3 weeks.

[2019-04-03 15:12] agrawalarpit14 commented on #533
Hi @bkimminich @jsuleder I have been reading about SAML. It appears to me that for implementing it (node modules like `passport-saml` exist), but I wasn't able to find any good resource online. Please point me to something if you know it already?

Further, the link in the description for `TESTSHIB` is dead and `OpenIdP` can be used anymore.(The use of the OpenIdP is now restricted to `UNINETT`, a

[2019-04-03 17:59] bkimminich commented on #334
Discussion about possible feature details are welcome, but this feature might be better as part of a potential "Feature Pack" project in GSoC. I'll create a corresponding project or milestone to block issues like this for that purpose.

[2019-04-03 19:52] Nikita-Jr commented on #784
Okay, no issue. :+1:

[2019-04-04 12:45] nepheme opened #916 "Crashes if captchaId doesn't exist yet"
When posting feedback, entering a number as captchaId while that captcha was not created yet will cause a crash.

I used `{"captchaId":10,"captcha":"12","comment":"hello","rating":2}`, while having only generated 1 or two captchas beforehand and this was the terminal output:

[code]
Maybe a check on whether the captcha exists or not before trying to access dataValues might be sufficient?

[2019-04-04 14:32] supra08 commented on #916
@nepheme, whenever any captcha is generated, say one with `captchaId = 12`, all the captcha with ids less than or equal to 12 are valid and shows `Wrong answer to CAPTCHA. Please try again.`. But any captcha with id > 12 is still not generated and hence the DB query throws the error.
Captcha existence check might be a good idea in this case then, @bkimminich?

[2019-04-04 16:17] agrawalarpit14 opened #918 "Development Mode: User doesn't log in properly"
Logging in while in development mode doesn't work as expected.
<img width="402" alt="Screenshot 2019-04-04 at 9 47 23 PM" src="https://user-images.githubusercontent.com/35000671/55571496-3ec3c500-5723-11e9-951c-786bb56dc53c.png">

[2019-04-04 18:16] bkimminich commented on #918
Sure this is related to dev mode? This always happens when you were logged in when server restarts.

[2019-04-04 18:41] agrawalarpit14 commented on #918
Yes it does. Not only that, this happens on fresh login also.

[2019-04-04 20:14] Whamo12 commented on #918
I've reproduced it locally and I'm looking into it.

[2019-04-05 02:12] agrawalarpit14 commented on #918
Hi @bkimminich I wanted to let you know an other issue I am facing on development server.
After I clone juice-shop from develop branch and run `npm install`. I am able to run the normal server by `npm start` but when I do `npm run serve`, the following error pops up(this started last night):

<img width="727" alt="Screenshot 2019-04-05 at 7 39 08 AM" src="https://user-images.githubusercontent.com/

[2019-04-05 02:16] Whamo12 commented on #918
This can be fixed if you do a `npm i -g nodemon`.  I was supposed to revert it back to use `node` but forgot 🤦‍♂️

[2019-04-05 02:18] agrawalarpit14 commented on #918
Oh that's why.😆😆 Do you want me to revert it and open a PR?

[2019-04-05 02:20] Whamo12 commented on #918
That would probably best.

In other news, the issue with the original bug has to do with Angular and Express running on two separate ports.  I'm still investigating the issue, however.

[2019-04-05 02:28] agrawalarpit14 commented on #918
Yeah sure. That would actually be great😆😆.
And thanks for letting me know about the cookie issue.✌🏻

[2019-04-05 03:25] supra08 opened #921 "Addition of Pre-Push Hook to test linting"
Currently, the linting tests are performed after the pull request. On the occasion of failing these tests, new commits to fix linting are to be made.
This can be improved by the addition of a `pre-push hook` to test the linting before actually pushing. Failing it would suggest fixing the linting in the local.

[2019-04-05 03:34] agrawalarpit14 commented on #921
Hi @supra08 Presently `standard` for backend and `npm run lint` exist right? Did I not understand the issue properly?
Please let me know
Thank You!!

[2019-04-05 03:39] supra08 commented on #921
@agrawalarpit14, these tests are to be run manually. If someone forgets `npm run lint`, the push is still accepted, but later fails in Travis. I guess, it would be better if a hook is provided to prevent pushing without proper lint.
Your views in this @bkimminich?

[2019-04-05 06:08] bkimminich commented on #921
No hooks for me, thanks! I'd keep it running on Travis regardless just to be sure it _really_ ran once.

[2019-04-05 06:09] bkimminich commented on #921
Also, I'm not even sure it wouldn't break, e.g. when I'm pushing from my phone which cannot run anything.

[2019-04-05 06:20] #921 closed

[2019-04-05 06:23] bkimminich commented on #918
Having the cookie in the first place is of course a bad idea, as itnl duplicates the Header `Authorization` header. But it's part of some challenge(s), so would need careful analysis and "fixing".

[2019-04-05 06:27] bkimminich commented on #916
Does it crash the server or just the request and throws you to the error page? If the latter, then no change is needed.

[2019-04-05 07:13] nepheme commented on #916
I just tried it again, this time the server did not crash, but I'm still getting the Unhandled rejection TypeError on my terminal and no response to my request, so no error page either.

[2019-04-05 07:27] #916 closed

[2019-04-05 15:18] Whamo12 commented on #918
Maybe we could add something like
[code]

With this _theoretical_ approach, if `req.cookies.token` is undefined then we can pass in `authToken` to parse for the user.  This _could_ fix the bug in question.

[2019-04-06 11:41] junsionzhang opened #923 "cannot start it"
when start the project using **npm start** command, get the follow errors, but  I did not find the file in the source directory.
my nodejs is v10.15.3

(node:104213) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, lstat 'frontend/dist/frontend/index.html'
    at Object.lstatSync (fs.js:840:3)
    at replacizeFileSync (/opt/hack/exploitable/juice-shop/node_modules/replac

[2019-04-06 12:03] bkimminich commented on #923
You asked _exactly_ the same in #868 but never responded to our recommendations. Please check your `npm install` logs for errors during installation due to permission errors.

[2019-04-06 12:04] #923 closed

[2019-04-07 06:02] agrawalarpit14 commented on #918
Or can we just pass `token` as parameter and at the backend while returning the user modify
[code]
to
[code]
or
[code]
@bkimminich @Whamo12
Please let me know your thoughts.
Thank You!!

[2019-04-07 06:12] agrawalarpit14 commented on #918
It appears out that although the above change can solve this error but won't help actually as `req.cookies.token` is used at multiple places in the app(this change is independent of them and therefore isn't useful).

[2019-04-07 07:25] bkimminich commented on #918
This problem comes a bit from my own development process, as I rarely use `npm run serve`. The dev mode just behaves too different from "reality" in production. This got worse in Angular compared to AngularJS back then. I don't think fixing issue with dev mode is worth any extra trouble in production.

[2019-04-07 20:19] agrawalarpit14 commented on #918
Yeah true, it might not make much sense to modify code for development purposes specifically.

[2019-04-08 05:25] agrawalarpit14 commented on #660
Hi @bkimminich Shall I implement data export in the `.xslx`(Excel) format? I was planning to employ [`json2xls`](https://www.npmjs.com/package/json2xls) for the same.
Thank You!!

[2019-04-08 06:52] aaryan01 commented on #660
Hi @agrawalarpit14! I had planned on it but first @bkimminich wanted a basic JSON implementation. You can go ahead and work on it if you wish but I'd really like to complete it.
Thanks!

[2019-04-08 08:01] agrawalarpit14 commented on #660
Sure you can go on with it.✌🏻😁
I thought you weren't working on it, so I asked.😅

[2019-04-08 08:54] bkimminich commented on #660
@agrawalarpit14, before doing any other formats lets make sure that
* [ ] API tests for the endpoint exist (including CAPTCHA testing)
* [ ] All the user data is in the JSON (including Recycles, Feedback, Complaints, Reviews etc.)

[2019-04-08 09:42] aaryan01 commented on #660
Hi @bkimminich , I'll start working on the 2nd point.
Thanks!

[2019-04-08 10:27] agrawalarpit14 commented on #660
Sure I will write the tests.

[2019-04-08 10:56] bkimminich commented on #660
Just make sure you don't step on each others toes, guys... :footprints:

[2019-04-08 10:59] agrawalarpit14 commented on #660
Shall I wait for the completion of the second point?

[2019-04-08 11:03] bkimminich commented on #660
Quality-wise it would be better to have the tests for the _current_ endpoint behavior done and then start _changing_ its behavior, so you'll notice mistakes by failing tests, but the other way around is also okay. In the end there should be API tests which cover every use case and error situation with the CAPTCHA as well, independent of the data output.

[2019-04-08 11:04] agrawalarpit14 commented on #660
Sure. Then I will work on it right away and then extend it later when all the components are added.

[2019-04-08 11:04] bkimminich commented on #660
What I meant is, that is probably isn't a good idea if one of you is writing the _current_ tests while the other is already _changing_ the endpoint, because then you'll have spent effort into testing stuff that maybe didn't even make it into the final outcome.

[2019-04-08 11:12] agrawalarpit14 commented on #660
Yeah true. I will be careful and won't spend time on testing other components which are not yet merged.
Thank You for the advise😇

[2019-04-08 11:12] #918 closed

[2019-04-08 11:14] aaryan01 commented on #660
Thank you for the suggestion @bkimminich  :+1: ,
@agrawalarpit14 and I will keep each other and you posted at all steps :)
Thanks!

[2019-04-08 13:19] supra08 commented on #902
Hi!, @bkimminich, @omerlh, @Whamo12 , I had been thinking of this idea. Currently since Juice Shop is a stand-alone website, it's quite difficult to make and demonstrate CSRF and other challenges violating the same-origin policies. So I was thinking of a 'side-kick' kind of web app that the attacker would use to exploit the CSRF vulnerabilities. Few points I would like to put forward for this idea

[2019-04-08 14:19] supra08 commented on #882
Hi! @aaryan01, are you working on it presently? If not, I can take this issue up? @bkimminich

[2019-04-08 14:43] aaryan01 commented on #882
Hi @supra08 , go ahead, I am currently working on another issue so you can take this if you want.
Thanks

[2019-04-08 18:07] #784 closed

[2019-04-08 19:17] omerlh commented on #902
But having a side-kick website wouldn't beat the whole idea of a challenge? Meaning, it will give the user the solution ready made and all that is required is clicking on a button?

[2019-04-08 19:49] bkimminich commented on #902
Also, how to do a sidekick app on `localhost` where there's no way to create even a different domain, meaning no SOP issue exists in the first place?

I actually liked the way the old CSRF challenge (which wasn't really CSRF, as @omerlh correctlynpointed out) could be executed just standalone, and then in the eBook there was an extended section on how a realistic exploit could look like.

[2019-04-08 21:19] supra08 commented on #902
Ya, I missed out on that point. I was thinking on the JSONP challenge's point of view. Suppose you have that sidekick web app, where you need to break the SOP. So maybe the challenge might be to fetch a JSONP response and display it in the sidekick. We can place any arbitrary input box where the attacker would inject a `callback handler` script (that would disobey the SOP) and eventually fetch the

[2019-04-09 07:59] mendickxiao opened #929 "npm install failed in amazon ec2"
[root@lin-0aff6d83 ec2-user]# npm -v
6.4.1
[root@lin-0aff6d83 ec2-user]# node -v
v10.15.3
[root@lin-0aff6d83 ec2-user]# cd juice-shop/
[root@lin-0aff6d83 juice-shop]# npm install

sh: detect-libc: command not found
sh: node-gyp: command not found

sh: node-pre-gyp: command not found
npm WARN acorn-jsx@5.0.0 requires a peer of acorn@^6.0.0 but none is installed. You must install peer dependencies y

[2019-04-09 08:53] bkimminich commented on #929
The same problem with `libxmljs` currently occurs in our GitLab pipeline for the Gemnasium dependency checks. It does not occur on Travis-CI, AppVeyor, Docker or Heroku.

[2019-04-09 08:55] bkimminich commented on #929
@mendickxiao, maybe you can use a Docker container on AWS as a workaround? Installation instructions for this are in the README.

[2019-04-09 10:21] bkimminich commented on #929
On Travis-CI this is the installation part of `libxmljs` which successfully pull the latest binary:
[code]

[2019-04-09 16:41] omerlh commented on #902
This is all that is required to exploit CSRF:
[code]
And Zaproxy can generate this form... I liked the original idea of checking the refer header.

[2019-04-09 17:14] Whamo12 commented on #902
[code]

Looks like we could only utilize the referrer on a deployed environment.  We might have to go with adding a CSRF token as you previously said, @omerlh

[2019-04-10 18:08] agrawalarpit14 opened #931 "JavaScript Function Redefinition Challenge"
In the integration tests of #859 I wrote a script to redefine the javascript function for `Date`. Will it be useful to build a challenge around this which can be solved by modifying the functionality of a function in browser console which is expected to be used by the juice shop.

Example:

<img width="572" alt="Screenshot 2019-04-10 at 11 37 21 PM" src="https://user-images.githubusercontent.com/3

[2019-04-11 11:42] J12934 commented on #931
I don't see how this would be a security vuln in itself.

This would basically just be another case of putting too much trust in the client, like only validating inputs on the client.

The easier solution to abuse these vuln would be for an attacker to just send the tampered requests directly via curl than to mess with the client side javascript.

[2019-04-11 15:36] agrawalarpit14 commented on #931
Yeah, I get it. I didn't think in this manner.
Now I think, I understand what kind of challenges would make sense.
Thank You!! for your feedback.
I will think more this time.😁😁😆😆

[2019-04-11 17:49] #931 closed

[2019-04-12 08:01] bkimminich commented on #899
List of protections proven _not to work_ properly: https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Clickjacking_Defense_Cheat_Sheet.md

All of them are client-side, so there's no easy way to detect on the backend if the application was framed, right? That would make challenge solution detection a lot harder or require us to detect on the client side and inform the server via WebS

[2019-04-12 09:17] bkimminich opened #933 "Sequelize 5.x migration"
Juice Shop should at some point be migrated to the latest Sequelize 5.x version which requires the following issues to be addressed in the process. One of the following approaches would have to be chosen:

1. Make `epilogue` _(which seems unmaintained on GitHub by now)_ work with Sequelize 5.x
2. Switch to different API mapping library _(needs follow-up change to one typosquatting challenge)_
3. C

[2019-04-12 09:26] J12934 commented on #933
😅 The "Database to REST Api" packages don't seem to survive for too long. Didn't we switch to `epilogue` because some other library was unmaintained?

Did look through the sequelize issues and somebody suggested to use [finale-rest](https://www.npmjs.com/package/finale-rest#migrate-from-epilogue). This also has a `epilogue` compatibility mode.

[2019-04-12 09:56] bkimminich commented on #933
I :heart: it! Will try it our with current Sequelize and then see if we survive 4:arrow_right:5 migration with it... Thanks!

[2019-04-12 16:11] #933 closed

[2019-04-12 16:12] bkimminich commented on #929
Ticket for missing pre-built `libxmljs` for Node 11.x: https://github.com/libxmljs/libxmljs/issues/544

[2019-04-12 16:19] HerrSchwarz opened #935 "Full Path Disclosoure Challange"
Challange is already solvable (try to fetch a non existent e.g. /ftp/error.md). You will see a 404 containing the full path.

[2019-04-12 17:00] bkimminich commented on #935
That's basically a vuln which is fundamental to several existing challenges. Why/How make it a challenge of its own?

[2019-04-13 00:42] supra08 commented on #339
I believe this is a nice idea. Express does support Websockets natively, removing dependancy of `socket.io`. It can be achieved using the `ws` module of Express. For the sake of comparison between Express and socket.io, have a look at this [link](https://stackoverflow.com/a/38558531/2590859).
This [article](https://medium.com/factory-mind/websocket-node-js-express-step-by-step-using-typescript-725

[2019-04-13 02:00] aaryan01 commented on #660
Hey @bkimminich  @agrawalarpit14 , I'll start working on expanding the data export now.
Thanks!

[2019-04-13 11:40] #935 closed

[2019-04-13 11:40] #929 closed

[2019-04-13 11:47] supra08 commented on #582
@aaryan01, I can start to work on the user data removal part of this issue if you are not currently working on it, along with the relevant tests. I guess this way we can complete both the parts in parallel. @bkimminich

[2019-04-13 12:21] bkimminich commented on #882
@supra08 I played with the registration a bit, and found a case when the equal check doesn't work as expected:
1. Type in `aaaaa` as password
2. Type in `aaaaa` as repeat password
3. _"Do not match" error vanishes when you hit the fifth `a` as expected_
4. Go back to password field and add a `b` to the password
5. _The error "Do not match" does *not* appear as would be expected._

[2019-04-13 12:23] bkimminich commented on #882
We could either fix this or make it a :star: challenge asking "Register without repeating yourself." ... 😁

[2019-04-13 12:24] aaryan01 commented on #582
Sure, I'm currently working on something else

[2019-04-13 13:37] supra08 commented on #882
Aah!, I should have seen it coming, the validator is subscribing to `repeatPasswordControl` only, therefore the bug. The :star: challenge looks a cool idea for this :grin: .

[2019-04-13 14:37] bkimminich commented on #582
Just to be clear, this feature does not delete anything. It is just meant to be a distinct contact form where users can ask for their personal data (which could just offer a link to "Data Export") or be deleted in accordance with GDPR. This could end up in the DB as a new table `PrivacyRequests` and have a free text column and a `deletionRequested` flag. Additional ideas are welcome.

[2019-04-14 21:05] #882 closed

[2019-04-15 18:18] J12934 commented on #581
The `thank-you.jpg` file is currently missing.
Did this get lost or is it still in the works?

[2019-04-15 18:27] bkimminich commented on #581
Hehehe, that's on purpose because we are _not really_ thankful at all... 😈

[2019-04-15 18:31] J12934 commented on #581
🤣 Haha, Shit. Thats embarrassing that I didn't get the joke

[2019-04-15 21:02] #831 closed

[2019-04-15 23:20] supra08 commented on #582
@bkimminich, so should I keep the `secret question` as the authentication?
Apart from that, I plan to remove(hide) the same data that is exported in the data export feature. Is this implementation fine?

[2019-04-16 10:49] J12934 commented on #660
The Data export feature is currently vulnerable to the similar kind of injection as the NoSQL Tier 3 challenge. If you register a user with a similar e-mail address like this `foo@bar.com' || !0 || '` and export the data, you'll get the data exported from all users.

What gives it a little twist is that the export controller replaces all `a|e|i|o|u` with `*`, so that you can use keyword like `true

[2019-04-16 12:50] agrawalarpit14 commented on #660
Hi @J12934 It sounds very interesting to me.
I think it would be awesome to make a challenge based on this.

But, in the comment about changing `a|e|i|o|u` to `*` . Do you mean that making this change in the `email` query(while queuing database) will make the attack little more difficult as the user would need to use queries such as `foo@bar.com' || !0 || '`.

If I understand you right and if the

[2019-04-16 13:50] J12934 commented on #660
The emails in the order are stored without their vowels, as some sort of pseudonymization i guess. The current implementation tries to find the ones with the same pseudonymization mails.

Thats done here:
https://github.com/bkimminich/juice-shop/blob/4b45706055ee79038575fb729579fc7f707445e1/routes/dataExport.js#L11-L17

The vulnerability isn't about the pseudonymization. The pseudonymization turns

[2019-04-16 13:53] J12934 commented on #660
Even without the injection you could make a challenge due to collisions with the pseudonymization. E.g you could "steel" the data export from `bender@juice-sh.op` by registering a user with the email `bander@juice-sh.op`. Both their mails would turn into `b*nd*r@j*ic*-sh.*p` and both would get the same export.

[2019-04-16 14:10] bkimminich commented on #660
This would be an amazing challenge... but we'd have to make sure this is the only vulnerability that works to steal someones export, otherwise everyone will choose an easier way...

[2019-04-16 23:23] agrawalarpit14 commented on #660
Hi @J12934 @bkimminich Shall I implement the challenge in the said manner.
The challenge will be marked as solved only
- If the user follows such a technique `bander@juice-sh.op` for `bender@juice-sh.op`, or
- If the user exports data for all users(containing `bender@juice-sh.op`) by using a query such as `bender@juice-sh.op' || !0 || '`. Although, I am not sure of this case as currently I am not

[2019-04-17 05:32] bkimminich commented on #660
The challenge shouldn't be to register the user that causes this clash, that should be the exploit with the challenge being to "Export someone else's data without using Injection" for example. Question is, can we check this in a way without baking another totally artificial challenge?

[2019-04-17 05:49] agrawalarpit14 commented on #660
I am not sure I follow completely. Do you mean that we should find a way to solve the challenge "Export someone else's data without using Injection" in the case when there is no pseudonymization in the app and rather there is something more realistic?
Please let me know
Thank You!!🙂

[2019-04-17 05:58] bkimminich commented on #660
No, exploiting the simplistic pseudonymization and then using normal export function should be the attack path, not just doing a NoSQL Injection. That's what I meant.

[2019-04-17 06:02] bkimminich commented on #660
[code]

Everything is there already, only the challenge definition and check during export that someone elses data is in the JSON result is needed.

[2019-04-17 06:06] agrawalarpit14 commented on #660
I am very sorry, I got confused.
Shall I go about making it then?

[2019-04-17 06:22] J12934 commented on #660
@agrawalarpit14 please have a chat with @aaryan01 before you do.
He said in PR #938 that he planned to make some code changes to the data export logic.

[2019-04-17 06:27] agrawalarpit14 commented on #660
Sure, I will have a chat with him.
Thank You!!😁😁

[2019-04-17 11:00] greenkeeper[bot] opened #943 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.6.0` to `5.6.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this pr

[2019-04-17 11:45] #943 closed

[2019-04-17 16:36] supra08 opened #944 "No captcha in data-export for the first time"
When a newly registered user tries to export data, the captcha doesn't show up and he is able to export in the desired format without the captcha.

### Steps to reproduce:
* Register a new user.
* Click on `Request Data Export`.
* No captcha appears.

[2019-04-17 19:05] bkimminich commented on #944
That's happening for all users and it's intentional. CAPTCHA is only appearing when the user demands another export <5min after the initial one.

[2019-04-17 19:05] #944 closed

[2019-04-18 13:44] greenkeeper[bot] opened #945 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.6.1` to `5.7.0`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this pr

[2019-04-19 07:12] agrawalarpit14 opened #948 "A newly registered user gets deleted on server restart"
Steps to reproduce:
- Register a user
- Check if the user gets registered by logging in
- Logout
- Restart the server
- Try to log in

[2019-04-19 07:15] J12934 commented on #948
This is intended, all data gets reset on startup

[2019-04-19 07:15] #948 closed

[2019-04-19 19:28] #945 closed

[2019-04-20 08:26] agrawalarpit14 commented on #660
Hi @aaryan01 If the work on data export for `reviews` is complete, shall I add tests for it?

[2019-04-20 09:07] aaryan01 commented on #660
Hey! Sure go for it.

[2019-04-22 17:29] greenkeeper[bot] opened #952 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.7.3` to `5.7.4`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.7.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this pr

[2019-04-24 17:30] #952 closed

[2019-04-24 20:20] J3ntH4ck commented on #866
How can the juice-shop be opened in 127.0.01 ??

[2019-04-30 10:47] greenkeeper[bot] opened #960 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.8.0` to `5.8.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.8.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this pr

[2019-05-02 08:26] agrawalarpit14 commented on #660
Hi @aaryan01 Please let me know if you want me to work on customer feedbacks or complaints for data export? If you haven't started?😁😁

[2019-05-02 08:52] aaryan01 commented on #660
@agrawalarpit14  Yes I do actually but I am in the middle of my end semester exams right now, I have started it and will complete it as soon as I am free.
Thanks :)

[2019-05-02 08:56] agrawalarpit14 commented on #660
Sure @aaryan01. All the best for your exams, I also finished just now.😁✌🏻

[2019-05-03 05:55] #899 closed

[2019-05-03 05:58] #960 closed

[2019-05-03 14:40] greenkeeper[bot] opened #965 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.8.2` to `5.8.3`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.8.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this pr

[2019-05-06 07:35] #965 closed

[2019-05-09 10:40] jurrewolff commented on #636
Hello @aaryan01,

We're working on a school project and decided the customer loyalty program would be a suitable subject for us to work on. Now we see that you've been working on this as well.

Our question right now: How far are you on the functional part (back-end, database, etc.) of the loyalty system? If you haven't started on this yet, we'd like to build this part of the system if that is oka

[2019-05-09 10:46] bkimminich commented on #636
Hi @jurrewolff, the Customer Loyalty Program is currently implemented in a very simple way where points are assigned to each product and you see the sum of those in a user's orders. Not much else going on at the moment, so as far as I am concerned you are free to build something on top of that. Posting your design/implementation ideas here would be nice before you start submitting PRs. Thanks!

[2019-05-09 10:52] aaryan01 commented on #636
Hey @jurrewolff ,
As @bkimminich  said, it is currently implemented in a very simple manner. You can discuss your ideas and possible modifications here.
Thanks!

[2019-05-09 11:29] jurrewolff commented on #636
Hey @bkimminich, @aaryan01. Thanks for the quick reply.

Currently we're designing a formula for the amount of points earned at checkout. We'll merge the contributions made by @aaryan01 with ours and build a back-end around it.

After this is done we'll start on an associated challenge.

We will keep posting updates and questions here!

[2019-05-13 10:48] bkimminich opened #978 "libxmljs problems on nodejs 11 and later"
## Known issues
* pre-built not available for nodejs 11 and 12 (see https://github.com/libxmljs/libxmljs/issues/544)
* compile does not work for nodejs 12 (https://github.com/libxmljs/libxmljs/issues/546)
* 💀 Last release of `libxmljs` is from 28 Aug 2018!

## Possible solutions
* consistently get native compilation working on Linux and Windows (=very unlikely)
* find other XML library on nodejs t

[2019-05-18 04:49] CaptainFreak opened #985 "Blind SQLi Challenge"
This category is still missing and is a quiet standard Technique to exploit SQLi.

[2019-05-18 08:02] bkimminich commented on #985
A completely blind SQLi is really missing, the search-related SQLi is somewhat "one-eyed" since v8.0.0 release.

[2019-05-22 01:57] JRKelso commented on #803
I'm running version 8.5.1 and retried a similar issue I found back in January (Sorry, forgot to report) and find it still works. The steps to reproduce are as follows:

Find a list of baskets with items (GET /rest/basket/<id>)
Insert an un-basketed item (POST /api/BasketItems/ {"quantity":1, "ProductId":1} )
Modify that BasketItem with the BasketId (PUT /api/BasketItems/<id> {"BasketId":<number>})

[2019-05-22 03:00] bkimminich commented on #803
Nice catch, never thought from `null` to some value wouldn't be stopped as well by that library we introduced... 👍

Will fix that with non nullable ID, seems the easiest and makes most sense. Thanks!

[2019-05-22 03:22] bkimminich commented on #978
Fixed by migration to `libxmljs2` for now. Other incompatible dependencies prevent node 12 support instead now... 🙄

[2019-05-22 03:22] #978 closed

[2019-05-22 09:29] bkimminich commented on #803
@JRKelso, would you mind checking if your exploit path still works with `8.6.0-SNAPSHOT` on `develop`?

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #989 "CVE-2016-4055 (Medium) detected in moment-2.0.0.tgz"
## CVE-2016-4055 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.0.0.tgz</b></p></summary>

<p>Parse, manipulate, and display dates.</p>
<p>Library home page: <a href="http://registry.npmjs.org/moment/-/moment-2.0.0.tgz">http://registry.npmjs.org/moment/

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #990 "CVE-2017-18214 (High) detected in moment-2.0.0.tgz"
## CVE-2017-18214 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.0.0.tgz</b></p></summary>

<p>Parse, manipulate, and display dates.</p>
<p>Library home page: <a href="http://registry.npmjs.org/moment/-/moment-2.0.0.tgz">http://registry.npmjs.org/moment/-

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #991 "WS-2016-0006 (Medium) detected in moment-2.0.0.tgz"
## WS-2016-0006 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.0.0.tgz</b></p></summary>

<p>Parse, manipulate, and display dates.</p>
<p>Library home page: <a href="http://registry.npmjs.org/moment/-/moment-2.0.0.tgz">http://registry.npmjs.org/moment/-

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #992 "WS-2016-0075 (Medium) detected in moment-2.0.0.tgz"
## WS-2016-0075 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.0.0.tgz</b></p></summary>

<p>Parse, manipulate, and display dates.</p>
<p>Library home page: <a href="http://registry.npmjs.org/moment/-/moment-2.0.0.tgz">http://registry.npmjs.org/moment/-

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #993 "CVE-2018-1002203 (Medium) detected in unzipper-0.8.12.tgz"
## CVE-2018-1002203 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>unzipper-0.8.12.tgz</b></p></summary>

<p>Unzip cross-platform streaming API </p>
<p>Library home page: <a href="https://registry.npmjs.org/unzipper/-/unzipper-0.8.12.tgz">https://registry.npmjs.

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #994 "WS-2018-0160 (High) detected in unzipper-0.8.12.tgz"
## WS-2018-0160 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>unzipper-0.8.12.tgz</b></p></summary>

<p>Unzip cross-platform streaming API </p>
<p>Library home page: <a href="https://registry.npmjs.org/unzipper/-/unzipper-0.8.12.tgz">https://registry.npmjs.org/un

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #995 "WS-2016-0047 (High) detected in jws-0.2.6.tgz"
## WS-2016-0047 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jws-0.2.6.tgz</b></p></summary>

<p>Implementation of JSON Web Signatures</p>
<p>Library home page: <a href="https://registry.npmjs.org/jws/-/jws-0.2.6.tgz">https://registry.npmjs.org/jws/-/jws-0.2.6.t

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #996 "WS-2019-0063 (High) detected in multiple libraries"
## WS-2019-0063 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>js-yaml-3.13.0.tgz</b>, <b>js-yaml-3.5.5.tgz</b>, <b>js-yaml-3.12.0.tgz</b>, <b>js-yaml-3.12.1.tgz</b></p></summary>
<p>

<details><summary><b>js-yaml-3.13.0.tgz</b></p></summary>

<p>YAML 1.2 parser

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #997 "WS-2019-0047 (Medium) detected in tar-4.4.1.tgz, tar-2.2.1.tgz"
## WS-2019-0047 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>tar-4.4.1.tgz</b>, <b>tar-2.2.1.tgz</b></p></summary>
<p>

<details><summary><b>tar-4.4.1.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #998 "WS-2019-0066 (Medium) detected in ecstatic-3.3.0.tgz"
## WS-2019-0066 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ecstatic-3.3.0.tgz</b></p></summary>

<p>A simple static file server middleware</p>
<p>Library home page: <a href="https://registry.npmjs.org/ecstatic/-/ecstatic-3.3.0.tgz">https://registry.npmjs.org

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #999 "CVE-2015-9251 (Medium) detected in jquery-2.2.4.min.js"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-2.2.4.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">https://cdnjs.cl

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1000 "CVE-2019-11358 (Medium) detected in jquery-2.2.4.min.js"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-2.2.4.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">https://cdnjs.c

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1001 "CVE-2018-16487 (High) detected in lodash-3.10.1.tgz, lodash-2.4.2.tgz"
## CVE-2018-16487 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>lodash-3.10.1.tgz</b>, <b>lodash-2.4.2.tgz</b></p></summary>
<p>

<details><summary><b>lodash-3.10.1.tgz</b></p></summary>

<p>The modern build of lodash modular utilities.</p>
<p>Library home page

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1002 "CVE-2018-3721 (Medium) detected in lodash-3.10.1.tgz, lodash-2.4.2.tgz"
## CVE-2018-3721 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>lodash-3.10.1.tgz</b>, <b>lodash-2.4.2.tgz</b></p></summary>
<p>

<details><summary><b>lodash-3.10.1.tgz</b></p></summary>

<p>The modern build of lodash modular utilities.</p>
<p>Library home pag

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1003 "CVE-2017-16113 (High) detected in parsejson-0.0.3.tgz"
## CVE-2017-16113 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>parsejson-0.0.3.tgz</b></p></summary>

<p>Method that parses a JSON string and returns a JSON object</p>
<p>Library home page: <a href="https://registry.npmjs.org/parsejson/-/parsejson-0.0.3.tgz">htt

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1004 "CVE-2017-16137 (Medium) detected in debug-2.3.3.tgz, debug-2.2.0.tgz"
## CVE-2017-16137 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>debug-2.3.3.tgz</b>, <b>debug-2.2.0.tgz</b></p></summary>
<p>

<details><summary><b>debug-2.3.3.tgz</b></p></summary>

<p>small debugging utility</p>
<p>Library home page: <a href="https://regist

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1005 "WS-2019-0019 (Medium) detected in braces-0.1.5.tgz, braces-1.8.5.tgz"
## WS-2019-0019 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>braces-0.1.5.tgz</b>, <b>braces-1.8.5.tgz</b></p></summary>
<p>

<details><summary><b>braces-0.1.5.tgz</b></p></summary>

<p>Fastest brace expansion lib. Typically used with file paths, but can be

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1006 "WS-2017-0421 (High) detected in ws-1.1.2.tgz"
## WS-2017-0421 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ws-1.1.2.tgz</b></p></summary>

<p>simple to use, blazing fast and thoroughly tested websocket client, server and console for node.js, up-to-date against RFC-6455</p>
<p>Library home page: <a href="htt

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1007 "WS-2019-0032 (Medium) detected in multiple libraries"
## WS-2019-0032 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>js-yaml-3.5.5.tgz</b>, <b>js-yaml-3.12.0.tgz</b>, <b>js-yaml-3.12.1.tgz</b></p></summary>
<p>

<details><summary><b>js-yaml-3.5.5.tgz</b></p></summary>

<p>YAML 1.2 parser and serializer</p>
<p>Lib

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1008 "WS-2017-0247 (Low) detected in ms-0.7.2.tgz, ms-0.7.1.tgz"
## WS-2017-0247 - Low Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>ms-0.7.2.tgz</b>, <b>ms-0.7.1.tgz</b></p></summary>
<p>

<details><summary><b>ms-0.7.2.tgz</b></p></summary>

<p>Tiny milisecond conversion utility</p>
<p>Library home page: <a href="https://registry.

[2019-05-23 09:13] whitesource-bolt-for-github[bot] opened #1009 "WS-2015-0004 (High) detected in jsonwebtoken-0.1.0.tgz"
## WS-2015-0004 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jsonwebtoken-0.1.0.tgz</b></p></summary>

<p>JSON Web Token implementation (symmetric and asymmetric)</p>
<p>Library home page: <a href="https://registry.npmjs.org/jsonwebtoken/-/jsonwebtoken-0.1.0.tgz

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1010 "WS-2015-0010 (High) detected in jsonwebtoken-0.1.0.tgz"
## WS-2015-0010 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jsonwebtoken-0.1.0.tgz</b></p></summary>

<p>JSON Web Token implementation (symmetric and asymmetric)</p>
<p>Library home page: <a href="https://registry.npmjs.org/jsonwebtoken/-/jsonwebtoken-0.1.0.tgz

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1011 "WS-2014-0012 (Medium) detected in sanitize-html-1.4.2.tgz"
## WS-2014-0012 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>sanitize-html-1.4.2.tgz</b></p></summary>

<p>Clean up user-submitted HTML, preserving whitelisted elements and whitelisted attributes on a per-element basis</p>
<p>Library home page: <a href="https:

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1012 "WS-2016-0053 (Medium) detected in sanitize-html-1.4.2.tgz"
## WS-2016-0053 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>sanitize-html-1.4.2.tgz</b></p></summary>

<p>Clean up user-submitted HTML, preserving whitelisted elements and whitelisted attributes on a per-element basis</p>
<p>Library home page: <a href="https:

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1013 "CVE-2015-8857 (High) detected in uglify-js-2.2.5.tgz"
## CVE-2015-8857 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>uglify-js-2.2.5.tgz</b></p></summary>

<p>JavaScript parser, mangler/compressor and beautifier toolkit</p>
<p>Library home page: <a href="https://registry.npmjs.org/uglify-js/-/uglify-js-2.2.5.tgz">ht

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1014 "CVE-2015-8858 (High) detected in uglify-js-2.2.5.tgz"
## CVE-2015-8858 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>uglify-js-2.2.5.tgz</b></p></summary>

<p>JavaScript parser, mangler/compressor and beautifier toolkit</p>
<p>Library home page: <a href="https://registry.npmjs.org/uglify-js/-/uglify-js-2.2.5.tgz">ht

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1015 "WS-2015-0017 (Medium) detected in uglify-js-2.2.5.tgz"
## WS-2015-0017 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>uglify-js-2.2.5.tgz</b></p></summary>

<p>JavaScript parser, mangler/compressor and beautifier toolkit</p>
<p>Library home page: <a href="https://registry.npmjs.org/uglify-js/-/uglify-js-2.2.5.tgz">h

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1016 "WS-2015-0024 (High) detected in uglify-js-2.2.5.tgz"
## WS-2015-0024 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>uglify-js-2.2.5.tgz</b></p></summary>

<p>JavaScript parser, mangler/compressor and beautifier toolkit</p>
<p>Library home page: <a href="https://registry.npmjs.org/uglify-js/-/uglify-js-2.2.5.tgz">htt

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1017 "WS-2019-0017 (Medium) detected in clean-css-3.4.28.tgz"
## WS-2019-0017 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>clean-css-3.4.28.tgz</b></p></summary>

<p>A well-tested CSS minifier</p>
<p>Library home page: <a href="https://registry.npmjs.org/clean-css/-/clean-css-3.4.28.tgz">https://registry.npmjs.org/clean-

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1018 "WS-2018-0096 (High) detected in base64url-0.0.6.tgz"
## WS-2018-0096 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>base64url-0.0.6.tgz</b></p></summary>

<p>For encoding to/from base64urls</p>
<p>Library home page: <a href="https://registry.npmjs.org/base64url/-/base64url-0.0.6.tgz">https://registry.npmjs.org/base6

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1019 "WS-2018-0068 (High) detected in constantinople-3.0.2.tgz"
## WS-2018-0068 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>constantinople-3.0.2.tgz</b></p></summary>

<p>Determine whether a JavaScript expression evaluates to a constant (using UglifyJS)</p>
<p>Library home page: <a href="https://registry.npmjs.org/constanti

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1020 "WS-2019-0064 (High) detected in handlebars-4.1.0.tgz, handlebars-4.0.12.tgz"
## WS-2019-0064 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>handlebars-4.1.0.tgz</b>, <b>handlebars-4.0.12.tgz</b></p></summary>
<p>

<details><summary><b>handlebars-4.1.0.tgz</b></p></summary>

<p>Handlebars provides the power necessary to let you build sema

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1021 "CVE-2018-11499 (High) detected in node-sass-v4.12.0"
## CVE-2018-11499 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1022 "CVE-2018-11693 (High) detected in node-sass-v4.12.0"
## CVE-2018-11693 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1023 "CVE-2018-11694 (High) detected in node-sass-v4.12.0"
## CVE-2018-11694 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1024 "CVE-2018-11695 (High) detected in node-sass-v4.12.0"
## CVE-2018-11695 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1025 "CVE-2018-11697 (High) detected in node-sass-v4.12.0"
## CVE-2018-11697 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1026 "CVE-2018-11698 (High) detected in node-sass-v4.12.0"
## CVE-2018-11698 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1027 "CVE-2018-19797 (Medium) detected in node-sass-v4.12.0"
## CVE-2018-19797 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1028 "CVE-2018-19826 (Medium) detected in node-sass-v4.12.0"
## CVE-2018-19826 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1029 "CVE-2018-19827 (High) detected in node-sass-v4.12.0"
## CVE-2018-19827 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1030 "CVE-2018-19838 (Medium) detected in node-sass-v4.12.0"
## CVE-2018-19838 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1031 "CVE-2018-19839 (Medium) detected in node-sass-v4.12.0"
## CVE-2018-19839 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p

[2019-05-23 09:14] whitesource-bolt-for-github[bot] opened #1032 "CVE-2018-20190 (Medium) detected in node-sass-v4.12.0"
## CVE-2018-20190 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1033 "CVE-2018-20821 (Medium) detected in node-sass-v4.12.0"
## CVE-2018-20821 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1034 "CVE-2018-20822 (Medium) detected in node-sass-v4.12.0"
## CVE-2018-20822 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1035 "CVE-2019-6283 (Medium) detected in node-sass-v4.12.0"
## CVE-2019-6283 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1036 "CVE-2019-6284 (Medium) detected in node-sass-v4.12.0"
## CVE-2019-6284 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1037 "CVE-2019-6286 (Medium) detected in node-sass-v4.12.0"
## CVE-2019-6286 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-sassv4.12.0</b></p></summary>
<p>

<p>:rainbow: Node.js bindings to libsass</p>
<p>Library home page: <a href=https://github.com/sass/node-sass.git>https://github.com/sass/node-sass.git</a></p>

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1038 "CVE-2017-9049 (High) detected in libxmljs-v0.19.5"
## CVE-2017-9049 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>libxmljsv0.19.5</b></p></summary>
<p>

<p>libxml bindings for v8 javascript engine</p>
<p>Library home page: <a href=https://github.com/libxmljs/libxmljs.git>https://github.com/libxmljs/libxmljs.git</

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1039 "CVE-2018-14404 (High) detected in libxmljs-v0.19.5"
## CVE-2018-14404 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>libxmljsv0.19.5</b></p></summary>
<p>

<p>libxml bindings for v8 javascript engine</p>
<p>Library home page: <a href=https://github.com/libxmljs/libxmljs.git>https://github.com/libxmljs/libxmljs.git<

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1040 "CVE-2018-14567 (Medium) detected in libxmljs-v0.19.5"
## CVE-2018-14567 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>libxmljsv0.19.5</b></p></summary>
<p>

<p>libxml bindings for v8 javascript engine</p>
<p>Library home page: <a href=https://github.com/libxmljs/libxmljs.git>https://github.com/libxmljs/libxmljs.gi

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1041 "CVE-2018-9251 (Medium) detected in libxmljs-v0.19.5"
## CVE-2018-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>libxmljsv0.19.5</b></p></summary>
<p>

<p>libxml bindings for v8 javascript engine</p>
<p>Library home page: <a href=https://github.com/libxmljs/libxmljs.git>https://github.com/libxmljs/libxmljs.git

[2019-05-23 09:15] whitesource-bolt-for-github[bot] opened #1042 "CVE-2018-9466 (Medium) detected in libxmljs-v0.19.5"
## CVE-2018-9466 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>libxmljsv0.19.5</b></p></summary>
<p>

<p>libxml bindings for v8 javascript engine</p>
<p>Library home page: <a href=https://github.com/libxmljs/libxmljs.git>https://github.com/libxmljs/libxmljs.git

[2019-05-23 09:34] #1018 closed

[2019-05-23 09:34] #1019 closed

[2019-05-23 09:34] #1020 closed

[2019-05-23 09:34] #1021 closed

[2019-05-23 09:34] #1022 closed

[2019-05-23 09:34] #1023 closed

[2019-05-23 09:34] #1024 closed

[2019-05-23 09:34] #1025 closed

[2019-05-23 09:34] #1026 closed

[2019-05-23 09:34] #1027 closed

[2019-05-23 09:34] #1028 closed

[2019-05-23 09:34] #1029 closed

[2019-05-23 09:34] #1030 closed

[2019-05-23 09:34] #1031 closed

[2019-05-23 09:34] #1032 closed

[2019-05-23 09:34] #1033 closed

[2019-05-23 09:34] #1034 closed

[2019-05-23 09:34] #1035 closed

[2019-05-23 09:34] #1036 closed

[2019-05-23 09:34] #1037 closed

[2019-05-23 09:34] #1038 closed

[2019-05-23 09:34] #1039 closed

[2019-05-23 09:34] #1040 closed

[2019-05-23 09:34] #1041 closed

[2019-05-23 09:34] #1042 closed

[2019-05-23 09:35] #993 closed

[2019-05-23 09:35] #994 closed

[2019-05-23 09:35] #995 closed

[2019-05-23 09:35] #996 closed

[2019-05-23 09:35] #997 closed

[2019-05-23 09:35] #998 closed

[2019-05-23 09:35] #999 closed

[2019-05-23 09:35] #1000 closed

[2019-05-23 09:35] #1001 closed

[2019-05-23 09:35] #1002 closed

[2019-05-23 09:35] #1003 closed

[2019-05-23 09:35] #1004 closed

[2019-05-23 09:35] #1005 closed

[2019-05-23 09:35] #1006 closed

[2019-05-23 09:35] #1007 closed

[2019-05-23 09:35] #1008 closed

[2019-05-23 09:35] #1009 closed

[2019-05-23 09:35] #1010 closed

[2019-05-23 09:35] #1011 closed

[2019-05-23 09:35] #1012 closed

[2019-05-23 09:35] #1013 closed

[2019-05-23 09:35] #1014 closed

[2019-05-23 09:35] #1015 closed

[2019-05-23 09:35] #1016 closed

[2019-05-23 09:35] #1017 closed

[2019-05-23 09:35] #989 closed

[2019-05-23 09:35] #990 closed

[2019-05-23 09:35] #991 closed

[2019-05-23 09:35] #992 closed

[2019-05-24 10:23] bkimminich opened #1043 "Introduce Issue Templates"
Add template(s) for issues of types
* Support Request (redirect to Gitter / Troubleshooting file)
* Bug Report (request OS, version etc. and request bug emoji to be added)
* Feature / Challenge Idea (ask for precise description, duplicate check before submit etc.)

[2019-05-24 13:52] #803 closed

[2019-05-24 16:06] bkimminich opened #1045 "Check compatibility with pre-packaged installations"
Retrieve system node.js version & OS and compare with expected node.js version of downloaded ZIP, e.g. by placing a manifest in the ZIP. Complain on mismatch because sqlite3 and libxmljs2 will probably not work then.

[2019-05-24 23:15] bkimminich opened #1046 "Configure Greenkeeper for both package.json files"
See https://greenkeeper.io/docs.html#monorepo

[2019-05-25 01:04] greenkeeper[bot] opened #1047 "Invalid Greenkeeper configuration file"
We have detected a problem with your Greenkeeper config file  🚨

Greenkeeper currently can’t work with your `greenkeeper.json` config file because it is invalid. We found the following issue:

1. Could not parse `greenkeeper.json`, it appears to not be a valid JSON file.

Please correct this and commit the fix to your default branch (usually master). Greenkeeper will pick up your changes and try a

[2019-05-25 01:09] #1047 closed

[2019-05-25 01:09] #1046 closed

[2019-05-25 01:16] bkimminich commented on #250
QR code popups for crypto currencies will be removed from all views with 8.6.0 release making them kind of unattractive for attacks and therefore challenges.

[2019-05-25 01:16] #250 closed

[2019-05-27 16:33] greenkeeper[bot] opened #1054 "An in-range update of otplib is breaking the build 🚨"
## The dependency [otplib](https://github.com/yeojz/otplib) was updated from `11.0.0` to `11.0.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fotplib-11.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

otplib is a direct dependency of this project, and **

[2019-05-27 18:45] RezaRahmati opened #1055 "Running via Azure Container Instance"
Hi

I just created an Azure container instance to run juice shop, the issue is it will start and stop and will be Terminated.

What I am doing wrong?

I see these in the logs

[code]

![image](https://user-images.githubusercontent.com/10086092/58435410-69c8f600-808e-11e9-8ded-2b66abc810d3.png)

![image](https://user-images.githubusercontent.com/10086092/58435432-911fc300-808e-11e9-8f4e-49e44ea15d9

[2019-05-27 19:19] bkimminich commented on #1055
You did not run `npm install` before starting the application. I recommend to use the Docker @ Azure approach described in the README if you keep having issues with manual installation.

[2019-05-27 19:23] J12934 commented on #1055
Same thing happens when the docker image is run locally...

[2019-05-27 19:42] J12934 commented on #1055
@bkimminich I think we should stop trying to stop validating frontend dependencies...

Validating that the `html` & `js` bundle should be enough.

[2019-05-27 20:03] RezaRahmati commented on #1055
No, (I am new to docker) I thought it will do it by it self or it comes with installed packages

[2019-05-27 20:06] bkimminich commented on #1055
Yeah, I just tried locally with Docker and ran into the same trap. I'll fix this asap and release v8.6.1 which should be fine on Docker again.

[2019-05-27 20:15] bkimminich commented on #1055
Fix build is on the way... If DroidEdit didn't mess up the code style, then all should be fine now! 😉

[2019-05-27 20:15] RezaRahmati commented on #1055
@bkimminich FYI, I am able to host the juice shop docker with App Services and no issue

[2019-05-27 20:37] RezaRahmati commented on #1055
Incredibly fast

[2019-05-27 20:42] RezaRahmati commented on #1055
I confirm the issue is solved

![image](https://user-images.githubusercontent.com/10086092/58438746-71909680-809e-11e9-9d5e-a52d459d9f5b.png)

[2019-05-27 20:44] #1055 closed

[2019-05-28 07:50] #1043 closed

[2019-05-28 07:50] #1054 closed

[2019-05-28 14:11] #1045 closed

[2019-05-28 19:06] monokle opened #1057 "v8.6.2 Darwin_x64, ValidateDependencies.js Unexpected Token"
Hi, thank you for publishing the [latest version](https://github.com/bkimminich/juice-shop/releases/tag/v8.6.2).
I attempted to intialize the app using `npm start` method on a Mac, and received a js error: "Unexpected token."

`/Users/juiceShop/.Trash/juice-shop_8.6.2/lib/startup/validateDependencies.js:11`
`const validateDependencies = async ({ packageDir = '.', exitOnFailure = true} = {}) => {`

[2019-05-28 20:07] J12934 commented on #1057
Hi 👋
Which node version are you using?

[2019-05-29 06:25] bkimminich commented on #1057
I strongly suspect you have an outdated Node.js version that doesn't allow newer JavaScript syntax. You need the matching Node.js for the ZIP you downloaded (8, 10 or 11).

[2019-05-29 12:46] bkimminich commented on #1043
![image](https://user-images.githubusercontent.com/3531020/58558237-9280f500-8220-11e9-9c4b-d5aea85ff698.png)

[2019-05-29 13:05] bkimminich opened #1065 "Test [❓]"
:stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign::stop_sign:

Please **do not** file questions or support requests on the GitHub issues tracker.

You can get your

[2019-05-29 13:57] monokle commented on #1057
Apologies if I misunderstand the question; on my machine I am using v6.9.2. I went to update it to the latest node version and received a different error but I believe the issue is a version issue on my part. Closing this request since it seems the issue on my end. Thank you for the response!

[2019-05-29 13:57] #1057 closed

[2019-05-29 16:35] bkimminich opened #1066 "Test [\U0001F680]"
:wrench: **TODO**

[2019-05-31 03:34] RezaRahmati opened #1068 "config > recycle page > product image issue [🐛]"
# :bug: Bug report

## Description
In the config file if you set url as recycle page images, it won't render correctly

A clear and concise description of the problem...

### Is this a regression?

Not sure

## :microscope: Minimal Reproduction

set the config file like below

[code]

run the juice shop
navigate to recycle page

## :fire: Exception or Error

the image has source is
`src="assets/pu

[2019-05-31 03:38] RezaRahmati opened #1069 "Flag dialog text is not readable in deeporange-indigo theme [🐛]"
# :bug: Bug report

## Description
The flag dialog text is black and is not readable in deeporange-indigo theme

A clear and concise description of the problem...

### Is this a regression?

Yes, the previous version in which this bug was not present was: `x.y.z`

## :microscope: Minimal Reproduction

## :fire: Exception or Error

![image](https://user-images.githubusercontent.com/10086092/5868010

[2019-05-31 04:07] RezaRahmati opened #1070 "Although gitHubRibbon is false It shows link to github page in the bottom of score-board [🐛]"
# :bug: Bug report

## Description
Although gitHubRibbon is false It shows link to github page in the bottom of score-board [🐛]

A clear and concise description of the problem...

### Is this a regression?

Yes, the previous version in which this bug was not present was: `x.y.z`

## :microscope: Minimal Reproduction

## :fire: Exception or Error

![image](https://user-images.githubusercontent.com/

[2019-05-31 11:52] bkimminich commented on #1068
This is intentional as two of the product images are supposed to be displayed on that page:

![image](https://user-images.githubusercontent.com/3531020/58704136-4c0bd180-83ab-11e9-9370-6c4590e5fa1f.png)

see https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part1/customization.html

[2019-05-31 11:52] #1068 closed

[2019-05-31 12:05] bkimminich commented on #1069
@MarcRler, could you take a look at this please and tweak the color settings of the `deeporange-indigo` theme a bit? Or did you maybe do that already over in the `facelift` branch?

[2019-05-31 12:07] bkimminich commented on #1070
That is intentional. Hiding the GitHub button from the main navbar makes sense for some awareness training settings, but in those the trainer would typically not visit the score board at all.

[2019-05-31 12:09] bkimminich commented on #1070
On the other hand, we hide the ribbon in the `ctf` theme, and there the score board is part of the setup, so maybe hiding the info box would be better after all... 👍

[2019-05-31 13:19] RezaRahmati commented on #1068
Thanks for answer,
so if I customized all of my products and images still it should show that specific images? if it's configurable and hosting via docker how can I replace the images when images are coming from an http link?

[2019-05-31 13:58] bkimminich commented on #1068
It downloads the product images if you put in a link. So you can then use the file name for the recycling page and it will reuse the downloaded image.

[2019-05-31 14:53] RezaRahmati commented on #1068
so in my case I only have to set it to `did-you-know.png`?

[2019-06-01 21:40] bkimminich commented on #636
Hi @jurrewolff! Do you have anything to review already? Feel free to send rather a couple smaller PR than "saving" everything for a single huge one... 😉

[2019-06-02 08:03] jurrewolff commented on #636
Hello @bkimminich. Thanks for checking in. We definitely have code for review. This week we will have time to work on it again and I'll try to form some smaller chunks to upload.

You should know that we don't have too much time for the project anymore so when code should be refined or improved, we might not be able to fully support that. Of course we will deliver a functional system (this is almo

[2019-06-02 22:34] MarcRler commented on #1069
![alternative](https://user-images.githubusercontent.com/18336861/58768154-f3992780-8596-11e9-860e-2aa9cb5d5997.png)
------------------------------------------------------------------------------------------------------
I've adapted the theming in the Indigo area so that it is suitable for black text (see picture).

[2019-06-03 13:03] bkimminich commented on #1069
@MarcRler that looks great! Could you send a PR for just the theming changes into `develop` then I'll make it part of the 8.7.0 release end of this week. Thanks!

[2019-06-03 15:50] janmasarik commented on #638
So there is not going to be SSRF chall added? 😞

[2019-06-03 16:39] bkimminich opened #1073 "Repair and enable currently disabled tests"
https://github.com/bkimminich/juice-shop/search?q=xit%28%27&unscoped_q=xit%28%27
and
https://github.com/bkimminich/juice-shop/search?q=xdescribe%28%27&unscoped_q=xdescribe%28%27

[2019-06-03 21:29] bkimminich commented on #1069
Fixed with #1077. To be released this Friday with `v8.7.0`.

[2019-06-03 21:29] #1069 closed

[2019-06-04 06:19] rockydevnet commented on #1070
I'll take this on

[2019-06-04 07:14] wurstbrot opened #1080 "Rest-like URLs [🐛]"
In URLs like _/rest/product/1/reviews_ product(s) and reviews are collections.
Therefore, it is wrong to name product product and not products (plural).

Collections in REST-Urls should be checked and corrected.

Thank you to @MatthiasMeyer42 for the hint.

[2019-06-04 08:56] rockydevnet opened #1081 "XSS Vulnerability in register user [🐛]"
# :bug: Bug report

## Description

The register new user page is vulnerable to a persisted XSS injection by setting the email address of a user to a script.

## :microscope: Minimal Reproduction

1. Click Login
1. Click Not yet a customer to go to the registration page
1. Set the email field to `<iframe src="javascript:alert(`xss`)">`
1. Set a valid password
1. Using browser tools, remove the `di

[2019-06-04 15:49] bkimminich commented on #1081
![image](https://user-images.githubusercontent.com/3531020/58893813-1dfef800-86f1-11e9-8e60-52b52e2943d6.png)

[2019-06-04 15:56] bkimminich commented on #1081
Just reproduced step by step what you wrote and it triggered the _XSS Tier 2_ challenge.

[2019-06-04 16:03] #1081 closed

[2019-06-04 17:09] #1080 closed

[2019-06-04 20:44] nilp0inter opened #1085 "[🚀] Add a welcome banner"
As a new user entering the Juice Shop front page it is difficult to understand the purpose of the project.

I propose to add a welcome banner to the front page with the following features:

- [x] A brief description of the project.
- [x] A link to the documentation.
- [x] A link to the github page.

Additionally it would be nice to have:

- [x] A "Dismiss" button to make the banner disappear (with

[2019-06-04 21:33] nilp0inter opened #1086 "Wrong default favicon"
Google's search result for "demo.owasp-juice.shop" is showing the default Angular favicon. I think this is due to Google picking the favicon declared in the html page that loads the Angular app.

[2019-06-04 23:14] #1086 closed

[2019-06-05 08:28] bkimminich opened #1088 "Re-triggering challenge notifications in CTF mode not consistent [🐛]"
# :bug: Bug report

## Description

Running in `NODE_ENV=ctf` mode and clicking the "Solved"-button for a challenge to re-trigger its notification box, doesn't work consistently:

1. Re-triggering the same notification that was last shown does not show the notification until the next `F5` refresh
2. Flipping between two or more challenges when re-triggering notifications makes them immediately app

[2019-06-05 15:13] bkimminich opened #1090 ""Request Data Erasure" form multiple issues [🐛]"
# :bug: Bug report

The _Request Data Erasure_ form (#582) implementation is incomplete and partially not according to the original user story.

## Description

* [x] The _Request Data Erasure_ form currently inserts an entry into `PrivacyRequests` (✔️) and then soft-deletes the user (❌).
  * The soft-delete is **not** supposed to happen as the story line is, that an admin will go over those reque

[2019-06-05 15:28] J12934 commented on #1088
Closed by #1089

[2019-06-05 15:28] #1088 closed

[2019-06-05 18:48] rockydevnet commented on #1085
I'll give this a go...

[2019-06-05 19:50] #1090 closed

[2019-06-06 06:21] bkimminich commented on #440
Great progress happening in `hacking-instructor` branch! Some notes/questions for future increments:

1. [ ] **Are the tutorial scripts part of the `main.js`?** This would allow e.g. CTF-participants to very easily cheat even when the tutorial mode is turned off via configuration. Could scripts be lazily loaded from server be an option?
2. [ ] **Translatable tutorial texts!** Texts would have to b

[2019-06-06 10:59] bkimminich opened #1093 "Challenge Refactoring [🚀]"
* [x] Remove all "Tier ..." parts from challenge names and rename appropriately, e.g.
  * "XSS Tier 0" will become "Reflected XSS"
  * "XSS Tier 1" will become "DOM XSS"
  * "XSS Tier 1.5" will become "Legacy XSS" etc.
* [x] Change name/description/hint to be more consistent regarding usefulness, e.g.
  * "Wherever you go, there you are" will become "Enforce a redirect to a page you are not suppos

[2019-06-06 13:49] bkimminich commented on #1073
🎉 Done!

[2019-06-06 13:49] #1073 closed

[2019-06-06 18:48] rockydevnet commented on #1085
Basic welcome banner now complete. The welcome shows on first load of the site, and will remain until closed at which point it sets a cookie.

<img width="1185" alt="Screenshot 2019-06-06 at 19 35 50" src="https://user-images.githubusercontent.com/4063056/59057466-5b4ebb80-8892-11e9-9ebd-69581281feb4.png">

The content is loaded from translations and allows for customisation of the app name. The d

[2019-06-07 18:56] tomwalton78 opened #1101 "[🐛] Redirects Tier 2 HTTP Parameter Pollution"
# :bug: Bug report

## Description

I have found that the Redirects Tier 2 challenge can be completed via HTTP parameter pollution as follows:
GET http://localhost:3000/redirect?to=http://www.example.com/&to=https://gratipay.com/juice-shop HTTP/1.1

Since I did not see this mentioned in the solutions I thought I would mention it in case this is not supposed to be possible.

### Is this a regressio

[2019-06-07 21:12] bkimminich commented on #1101
It looks like HPP being the underlying vuln, but it's not. It's totally okay to work for solving though, as it coincidentally also triggers the mistake in the URL validation the developers made.

I suppose if you flip the order of the params you don't get the challenge solved and are redirected to the allowed page, right?

[2019-06-07 21:47] tomwalton78 commented on #1101
When I flip the order:
http://localhost:3000/redirect?to=https://gratipay.com/juice-shop&to=http://www.example.com/
the URL becomes this: https://gratipay.com/juice-shop,http://www.example.com/
and I get 404 File Not Found error

[2019-06-07 22:41] bkimminich commented on #1101
Gratipay is out of business. The corresponding Redirect Tier 1 challenge was actually changed recently for that reason.

[2019-06-07 22:42] bkimminich commented on #1101
So far I see no unexpected behavior in anything you described.

[2019-06-08 08:55] #1101 closed

[2019-06-08 10:59] bkimminich commented on #1085
@MarcRler as the welcome banner is part of the navbar, and that changes significantly in `facelift`, would you mind taking a look at the merge conflicts? Also I am failing to apply any background color from the Material theme to the banner, maybe you can figure that out too?

[2019-06-08 11:01] bkimminich commented on #1093
@MarcRler if you did not touch the Score Board yet in `facelift`, should I do the mentioned changes in `develop` so you can base any design improvements on top of the changes mentioned in this ticket?

[2019-06-09 17:19] #330 closed

[2019-06-09 17:21] #329 closed

[2019-06-09 23:29] bkimminich commented on #660
* [ ] 🔧 All export formats do JSON right now. In order close this ticket, we could just disable Excel/XML format radio buttons. Excel could be written later together with a Formula Injection challenge, maybe.

[2019-06-09 23:32] #582 closed

[2019-06-09 23:33] #767 closed

[2019-06-09 23:34] #356 closed

[2019-06-10 02:21] greenkeeper[bot] opened #1104 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.8.7` to `5.8.8`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.8.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this pr

[2019-06-10 07:13] greenkeeper[bot] opened #1105 "An in-range update of libxmljs2 is breaking the build 🚨"
## The dependency [libxmljs2](https://github.com/marudor/libxmljs2) was updated from `0.21.3` to `0.21.4`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Flibxmljs2-0.21.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

libxmljs2 is a direct dependency of this p

[2019-06-10 09:12] bkimminich commented on #1085
Remaining work on Welcome Banner to be postponed until _after_ re-merge of `facelift` into main branches to avoid unnecessary merge conflicts.

[2019-06-11 12:02] agrawalarpit14 opened #1109 "Error In Browser Console on facelift branch[🐛]"
# :bug: Bug report

## Description

Error in console
<img width="402" alt="Screenshot 2019-06-11 at 5 27 28 PM" src="https://user-images.githubusercontent.com/35000671/59270331-d76c4900-8c6e-11e9-8f54-8b40110ed420.png">

### Is this a regression?

Yes

## :microscope: Minimal Reproduction

This error can be observed in the browser console by following steps:
- Go to `http://localhost:4200/#/`
- Lo

[2019-06-11 12:04] agrawalarpit14 commented on #1109
The error also persists in `gsoc2019` branch. Post facelift merge, I suspect.😛

[2019-06-11 15:43] MarcRler commented on #1109
The bug should be fixed with the next PullRequest in the Facelift Branch. The problem was that the dialog was always opened independently of the cookie and then closed in the next step after checking the cookie.

`welcome.component.ts`

[code]
&&

`welcome-banner-component.ts`
[code]

The problem has been fixed by now checking the cookie before opening the dialog.

`welcome.component.ts`
[code]

[2019-06-11 15:51] bkimminich commented on #1085
Banner text customization will be dropped. When run with a custom theme, it is highly unlikely that someone will accidentally stumble over that application instance and ask themselves "What might this be?" - it should suffice to have the banner in the default theme and turn it off in all other delivered themes. In the eBook it will also be recommended to turn it off in individual themes where hidi

[2019-06-11 15:51] #1085 closed

[2019-06-11 16:33] bkimminich opened #1110 "Refactor Hacking Instructor for Facelift [🔧]"
Due to some renamed/changed UI elements (e.g. search mechanism working differently now) the two Hacking Instructor scripts (`localXss.ts` and `loginAdmin.ts`) do not work as intended on branch `facelift`.

[2019-06-12 05:20] #1109 closed

[2019-06-12 07:33] #1104 closed

[2019-06-12 07:33] #1105 closed

[2019-06-12 14:48] bkimminich commented on #1110
Marked as _Critical_ now that the `facelift` branch was merged into `develop`.

[2019-06-12 14:52] J12934 commented on #1110
Can take a look at it tommorow

[2019-06-12 15:08] bkimminich commented on #339
It seems that all alternative options would include something "non-native" anyway, at least on the Angular side. As socket.io does its job for many years w/o ever causing trouble now, we can drop this idea for now.

[2019-06-12 15:08] #339 closed

[2019-06-12 16:02] greenkeeper[bot] opened #1114 "An in-range update of ngx-clipboard is breaking the build 🚨"
## The dependency [ngx-clipboard](https://github.com/maxisam/ngx-clipboard) was updated from `12.1.0` to `12.1.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Ffrontend%2Fngx-clipboard-12.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ngx-clipboard is a

[2019-06-12 16:57] #1114 closed

[2019-06-12 17:25] bkimminich commented on #1093
Tables are merged back into one. This unfortunately didn't exactly make the render performance any better... 😞 ... I can confidently say that the culprit for the sluggishness is the `status` column with its crazy show/hide conditions for buttons and tooltips. When I switched the column to just display the solved status as text, the Score Board loaded in 1 - 1.5sec with all difficulties and categor

[2019-06-13 21:46] bkimminich commented on #1093
You can find a proposal for the new challenge descriptions, names and categories here:
 http://juice-shop-staging.herokuapp.com

Any feedback is welcome! Personally I'm not so happy with _Feebly Policies_ but couldn't come up with anything better... Ideas welcome!

[2019-06-14 12:15] MarcRler commented on #1093
Would it actually be conceivable to implement the scoreboard with tabs. So per severity 1 tab. The filters would then have to be implemented somehow differently or perhaps also omitted.

[2019-06-14 13:36] bkimminich commented on #1093
We actually try to reduce the importance of the difficulty levels down to "just another column that can be filtered" - as it is somewhat subjective how difficulty challenges are perceived. Tabs would make difficulty again a more central aspect, like the old 6 collapsible tables did.

[2019-06-14 22:49] #1110 closed

[2019-06-14 23:35] snarque opened #1124 "Alternation solution for XSS Tier 1.5"
Being a novice regex-er, I triggered the XSS warning (but not the flag) with the following:
<script>X<<script>Xs<script>Xc<script>Xr<script>Xi<script>Xp<script>Xt<script>X>alert(`xss`)</script>

Shouldn't that count?

[2019-06-15 02:11] bkimminich commented on #1124
There's probably a million possible attack payloads that will cause successful XSS, but it's impossible for the application to recognize which ones work and which ones don't. This is why we have to prescribe a single specific payload for solving the challenge on the Score Board.

[2019-06-15 02:11] #1124 closed

[2019-06-15 13:08] greenkeeper[bot] opened #1126 "An in-range update of core-js is breaking the build 🚨"
## The dependency [core-js](https://github.com/zloirock/core-js) was updated from `3.1.3` to `3.1.4`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Ffrontend%2Fcore-js-3.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

core-js is a direct dependency of this

[2019-06-17 11:54] #1126 closed

[2019-06-17 12:20] #1093 closed

[2019-06-18 22:04] bkimminich commented on #789
Reopening as the issue got worse again now that instead of 6 smaller `mat-table` instances a single one is loaded. The culprit seems to be the rendering time of the _Status_ column with its complex button inside.

I made some minor optimizations (like caching i18n labels or using `trackBy`) but it didn't help at all. I thought about externalizing the entire button into a `ChallengeBadgeComponent`

[2019-06-18 22:09] bkimminich commented on #789
**Current state of the disaster is only 👇here👇, please don't use `master`, it is outdated by now!**
<https://github.com/bkimminich/juice-shop/tree/develop/frontend/src/app/score-board>

[2019-06-20 13:14] J12934 commented on #440
What might also be nice is to write a initial Hacking Instructor Instruction to help users find the scoreboard. This could possibly be linked in the new welcome banner to help new users find the scoreboard and the other hacking instructions.

[2019-06-21 06:33] greenkeeper[bot] opened #1133 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.8.10` to `5.8.11`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.8.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this

[2019-06-21 22:35] greenkeeper[bot] opened #1134 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.0.8` to `12.0.9`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Ffrontend%2F%40types%2Fnode-12.0.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-06-22 21:27] bkimminich opened #1135 "Using config 3.x over 2.x causes data creator issues [💔]"
All products supposed to have their `deletedAt` date set during `datacreator.js` run will have a `null` entry and just show up regularly in the product list. This happens with `config 3.x` but _not_ in currently used `config 2.x`.

Needs some investigation and possibly fixing so the project is not stuck on the 2.x version of `config` forever.

[2019-06-22 23:26] #1133 closed

[2019-06-22 23:26] #1134 closed

[2019-06-22 23:33] bkimminich commented on #789
Latest update: I extracted a `ChallengeBadgeComponent` to get some better separation of concerns, code quality etc. but obviously this didn't change the performance in any way. The way I see it, the "culprit code" now is in `ChallengeBadgeComponent` and especially its template...

[2019-06-23 14:55] #660 closed

[2019-06-23 14:56] #636 closed

[2019-06-23 14:56] #631 closed

[2019-06-23 14:58] bkimminich commented on #463
XSLT Injection could be done within XML data export once that is implemented. Issue needs more detailed idea how to place it there.

[2019-06-23 14:59] #334 closed

[2019-06-23 15:02] bkimminich commented on #533
Needs solution design before implementing as this is a quite "enterprisey" feature. Also: Who could the identity provider be? Would have to be something open/free obviously.

[2019-06-24 18:45] bkimminich commented on #789
Just for "fun" I replaced the entire `mat-table` with a regular HTML table using `*ngFor` - it loads as sluggish as before... 😭

[2019-06-25 13:46] bkimminich commented on #789
Introducing `changeDetection: ChangeDetectionStrategy.OnPush` into either `ScoreBoardComponent` and/or `ChallengeStatusBadgeComponent` increases the overall load time or even freezes it altogether.

[2019-06-25 14:02] bkimminich opened #1140 "Default and custom favicons not correctly displayed [🐛]"
# :bug: Bug report

## Description
The displayed favicon is always the Angular default.

### Is this a regression?
Yes, the previous version in which this bug was not present was: `8.7.2`

## :microscope: Minimal Reproduction
Start application, launch in Chrome, enforce browser refresh:
![image](https://user-images.githubusercontent.com/3531020/60104821-7fe7d600-9762-11e9-988c-73fa975e84a5.png)

#

[2019-06-26 10:30] jurrewolff commented on #636
Hey @bkimminich. We have currently finished our version of the Customer Loyalty Program. Because of a lack of time due to school deadlines we haven't been able to find the opportunity to push small chunks intermittently and we're sorry for that. Since the project is now over and we have to focus on other subjects we can't do this in the future either. We still have a working version of the loyalty

[2019-06-27 22:35] #1140 closed

[2019-06-28 19:09] greenkeeper[bot] opened #1144 "An in-range update of angularx-qrcode is breaking the build 🚨"
## The dependency [angularx-qrcode](https://github.com/cordobo/angularx-qrcode) was updated from `1.6.0` to `1.6.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Ffrontend%2Fangularx-qrcode-1.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

angularx-qrcode

[2019-07-01 16:43] #1144 closed

[2019-07-02 12:26] greenkeeper[bot] opened #1146 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.9.0` to `5.9.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.9.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this pr

[2019-07-05 09:09] #1146 closed

[2019-07-09 00:11] greenkeeper[bot] opened #1154 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.6.0` to `12.6.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Ffrontend%2F%40types%2Fnode-12.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-07-09 02:27] RezaRahmati opened #1155 "Welcome message displays link to juice-shop in ctf mode [🐛]"
# :bug: Bug report

## Description

The new version display a welcome message containing link to juice-shop even when it's running in ctf mode

![image](https://user-images.githubusercontent.com/10086092/60854859-afb9c380-a1cf-11e9-9143-2be5a74969cb.png)

### Is this a regression?

Yes, in the previous versions this bug was not present

## :microscope: Minimal Reproduction

run a new instance from

[2019-07-09 02:35] RezaRahmati commented on #1155
I found "hideWelcome" in the config file

[2019-07-09 07:13] J12934 commented on #1155
Oh good catch 👍
I think the `hideWelcome` option should have been set to false in the ctf config files.
Do you want to send a small pr setting these configs to false in the ctf config files?

[2019-07-09 07:34] bkimminich commented on #1155
`hideWelcome` should be `showWelcome` and set to `false` in CTF mode, that's true.

[2019-07-09 12:20] bkimminich commented on #1155
Ah, just realized the banner needs fundamental changes. The way the app name is configured would need similar rewording as on the basket screen.

@RezaRahmati you should turn off the banner completely for your use case, I guess.

[2019-07-09 13:07] RezaRahmati commented on #1155
@bkimminich thanks, by "banner" do you mean "Welcome"?

[2019-07-09 13:56] bkimminich commented on #1155
Yeah, best set `hideWelcome: true` in your config for now.

[2019-07-10 06:12] Soluspero opened #1156 "HTML Injection"
Hello, I am a beginner/novice, learning penetration testing from few days ago. I'm just curious to know about HTML injection vulnerability which I found while solving XSS  challenge in star-3 category.
The test case to produce  HTML injection as follows:-
OWASP Juice shop 7.4.1

1) Submit the register user data with the following data:-
{"email":"img@img.com<img src=\"/public/images/JuiceShop_Logo

[2019-07-10 06:53] bkimminich commented on #1156
Hi! In a nutshell, XSS is just a worse-case scenario of HTML Injection. There might be scenarios where you can inject HTML but scripts are successfully sanitized or prevented by input validation, but it's almost always possible to beat those with sophisticated XSS payloads. I guess that's why XSS has become kind of synonymous for HTML Injection these days.

[2019-07-10 08:41] Soluspero commented on #1156
Ok, Thanks.

[2019-07-10 14:46] #1156 closed

[2019-07-10 15:44] bkimminich commented on #1155
Welcome banner was refactored for v9.0.0 so its text can now be configured completely. It cannot be translated any more, though. Turning it off completely is still possible: `application.welcomeBanner.showOnFirstStart: false`

[2019-07-10 15:44] #1155 closed

[2019-07-10 15:45] #1154 closed

[2019-07-11 04:05] greenkeeper[bot] opened #1160 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize]() was updated from `5.9.4` to `5.9.5`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.9.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this project, and **it is very likely causing

[2019-07-14 17:52] greenkeeper[bot] opened #1164 "An in-range update of sequelize is breaking the build 🚨"
## The dependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.10.0` to `5.10.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fsequelize-5.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a direct dependency of this

[2019-07-14 21:38] greenkeeper[bot] opened #1165 "An in-range update of express-robots-txt is breaking the build 🚨"
## The dependency [express-robots-txt](https://github.com/modosc/express-robots-txt) was updated from `0.4.0` to `0.4.1`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fexpress-robots-txt-0.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

express-robots-txt

[2019-07-15 17:06] greenkeeper[bot] opened #1166 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.6.2` to `12.6.3`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Ffrontend%2F%40types%2Fnode-12.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-07-16 10:42] greenkeeper[bot] opened #1167 "An in-range update of multer is breaking the build 🚨"
## The dependency [multer](https://github.com/expressjs/multer) was updated from `1.4.1` to `1.4.2`.

🚨 [View failing branch](https://github.com/bkimminich/juice-shop/compare/master...bkimminich:greenkeeper%2Fmulter-1.4.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

multer is a direct dependency of this project, and *

[2019-07-16 13:41] #1160 closed

[2019-07-16 13:41] #1164 closed

[2019-07-16 13:41] #1165 closed

[2019-07-16 13:41] #1166 closed

[2019-07-16 13:41] #1167 closed

[2019-07-23 02:42] bkimminich commented on #1135
[code]

[2019-07-23 03:10] #1135 closed

[2019-07-26 01:33] asw12 opened #1173 "Unintentional RCE via marsdb"
I found an RCE via marsdb in the order tracking functionality.

The gist is that the $where function in [marsdb's DocumentMatcher.js](https://github.com/c58/marsdb/blob/master/lib/DocumentMatcher.js) (as used in the order tracking functionality) defines a new Javascript function with a body that is user manipulatable and calls it.

I believe it to be unintentional because I didn't find any mention

[2019-07-26 06:07] bkimminich commented on #1173
Very nice, this is indeed unintentional! We'll look into making a challenge vs. fixing it, thanks a lot! 👍

This definitely warrants a sticker pack for you, @asw12! Just mail me your address and I'll send you a couple!

[2019-07-27 20:36] J12934 opened #1176 "[🐛] Excessive docker image size through a duplicated layer"
# :bug: Excessive docker image size through a duplicated layer

## Description

The current Juice Shop docker image is (uncompressed) around 408MB big. The image size is mostly dictated by two layers both 166MB in size.

### Is this a regression?

Before Release 7.3.0 the image size was dramatically smaller (sizes are compressed):

<img width="686" alt="Screenshot 2019-07-27 at 21 45 55" src="http

[2019-08-01 23:33] ronperris commented on #789
Would you be open to a PR that separated this into two button with conditional rendering?

[code]

I've tested this approach and it renders much faster in my setup, <3 seconds.

[2019-08-02 09:19] bkimminich commented on #789
I tested your code and is indeed that fast. You'd just be doing one "breaking change" as you'd remove the icons from the solved/unsolved button, i.e. the `far fa-flag or `fas fa-book` depending on a hint link being available for unsolved challenges or the CTF mode being on for solved challenges (to re-send the flag code). Please check if it's faster to have that condition in the first button or sp

[2019-08-05 08:33] bkimminich opened #1181 "Disambiguation of Feedback, Reviews and Memories"
The photo wall and the image carousel on the _About_ page might become somewhat redundant. At some point we should consider refactoring the way the shop distinguishes and displays

* Feedback
* Product Reviews
* Memories

## Current implementation

Feedback is currently displayed on the _Admin_ page and in the carousel on _About Us_. Reviews are only shown in the product details overlays. There ar

[2019-08-05 12:11] bkimminich commented on #789
@ronperris I just implemented the split into two buttons but left the icons in - and load times were still as slow as before. I'll try a split into three buttons next, but it seems that _the icons_ are the true culprit here... :-)

[2019-08-05 12:23] bkimminich commented on #789
Split into three buttons is still equally slow... I'll replace the FontAwesome icons with Material Design Icons and see if that helps.

[2019-08-05 12:39] bkimminich commented on #789
Switching from FontAwesome icons to `<mat-icon>` actually brings the performance boost, so it seems those FA icons were the performance culprit all along. I'll keep the split into three buttons because it's easier to read, but actually it doesn't make a difference in speed.

Will backport the `<mat-icon>` switch into a bugfix release v8.7.3 so people don't have to wait for v9.0.0 to get their _Sco

[2019-08-05 13:25] #789 closed

[2019-08-07 15:06] PiAil opened #1185 "XSS Tier 1.5 screw up User Profile"
A simple payload ```<script>``` screw up the **User Profile** interface. I guess this is not a bug, and that it is the way XSS work, it can screw up things, but as I'm not sure, I prefer leave a ticket here.

[2019-08-07 15:16] bkimminich commented on #1185
There's no way to have an XSS vulnerability but only allow "harmless XSS", so that's just how it is. If you break the profile for your user, you can always use another user or simply restart the server to wipe the application back into vanilla state. Your challenge hacking progress will be preserved in a cookie by default.

[2019-08-07 15:16] #1185 closed

[2019-08-08 12:17] #463 closed

[2019-08-08 12:17] #533 closed

[2019-08-08 12:17] #985 closed

[2019-08-12 12:29] #1176 closed

[2019-08-12 15:48] bkimminich commented on #1181
I've been thinking to change the "Login Support" challenge to an offline brute forcible master password instead of the weird idea with the support lady picture as credential. We could then use the product reviews in the carousel on "About Us" and show the reviews there instead of the feedback. We could also consider merging feedback ("Contact Us") and memories ("Photo Wall"). See also the GitHub i

[2019-08-12 15:49] bkimminich commented on #1181
Feedback is kind of obsolete, as we also have the "Complain" feature, which even today already works for all challenges were something has to be reported to the shop.

[2019-08-12 15:49] bkimminich commented on #1181
Only the XSS challenge is unique in the "Contact Us" and would have to be moved into "Complain"...

[2019-08-19 08:04] MirkoBrandnerContrast opened #1192 "Upgrade e2e tests for Chrome 76+ and protractor"
Chrome 76 has broken Protractor and e2e tests. Just WebDrivers updates does not help an then it gets difficult. Therefore, I file this new request.

[2019-08-19 08:22] bkimminich commented on #1192
Can you provide some information about your test environment? Our last build on Travis-CI ran with `google-chrome-stable (76.0.3809.100-1)` and all e2e tests passed for the upcoming v9.0.0 release.

[2019-08-19 08:27] MirkoBrandnerContrast commented on #1192
Hallo,

Thanks for your quick response: I tried in dockerized Ubuntu as well as in MacOS 10.16.6 using npm run e2e

  *   npm -v 6.4.1
  *   node -v v10.15.3

I have run the webdriver update command already. This is what I get:

info: Detected Node.js version v10.15.3 (OK)

info: Detected OS darwin (OK)

info: Detected CPU x64 (OK)

info: Required file index.html is present (OK)

info: Required fi

[2019-08-19 08:54] MirkoBrandnerContrast commented on #1192
Hey sorry,
 
please ignore. For some reason, it works in MacOs now. I try to get things running in a docker image again now. I tried checking out from scratch in a clean place (which I had done before, of course). Maybe protractor update gave me the wrong thing. I wonder about the right way to run the update for webdrivers.
 
find . -name webdriver-manager
./node_modules/.bin/webdriver-manager
./n

[2019-08-19 08:54] #1192 closed

[2019-08-19 08:56] bkimminich commented on #1192
No problem... btw, I just checked on Windows with `master` branch and all worked fine as well:

[code]

[2019-08-19 15:26] #1173 closed

[2019-08-19 15:29] bkimminich commented on #898
With special deal prices for deluxe members as well as the campaign offers I suppose another kind of deal would be a bit of overkill.

[2019-08-19 15:29] #898 closed

[2019-08-19 16:21] #535 closed

[2019-08-19 16:22] bkimminich commented on #822
Cross-fixed by solution to #535.

[2019-08-20 15:22] bkimminich commented on #822
Fixed with 31d8e38654ee028fce923e84df4459e4a9553000.

[2019-08-20 15:22] #822 closed

[2019-08-21 20:28] vlouwagie opened #1194 "⭐ Using SQL Injection, Generate a Signed JWT Token for a Non-Existent User with Admin Privileges"
# :star: Challenge Idea
I stumbled upon this while solving another challenge. I didn't get credit for any challenge so it might be cool to add this. A link to my write up is in the [Possible Attack Flow](#possible-attack-flow).

### Description
Using SQL injection, get a signed JWT token for a non-existent user with admin privileges.

*This differs from all of the other SQL injection challenges be

[2019-08-21 20:43] bkimminich commented on #1194
Thanks for your idea! By conicidence, in the soon-to-be-released v9.0.0 there'll be a new :star::star::star: challenge asking to retrieve the DB schema from the DB via SQL Injection! 👍 ... It expects you to load the right column of the schema table that all SQLite DBs use to save their `CREATE TABLE` statements and essentially bootstrap themselves. You can find the corresponding step-by-step guide

[2019-08-21 20:49] vlouwagie commented on #1194
No problem. You could also drop the admin privileges part if that would make it easier to check for. The challenge would just be '*Generate a signed JWT token for a non-existent user using SQL injection*' or something like that.

Either way, I just thought I'd post what I found, in case you did want to incorporate it. No worries if you end up just closing this issue.

[2019-08-21 21:04] bkimminich commented on #1194
No, I really like the challenge, I'm just not sure I could enforce the SQLi path in verifying the solution. Look, this is how the JWT challenges get validated:

[code]

_JWT Tier 2_ is all about changing the algorithm, so in your hack the algo would be the normal `RS256`. I guess if I also check that no user with the expected email (e.g. `inj3ct0r@juice-sh.op`) exists in the DB but the JWT is `RS2

[2019-08-21 21:08] bkimminich commented on #1194
I think this might be more of a :star::star::star::star::star: if we don't spoiler the SQLi approach in the mouseover-hint. Maybe just: "Try to make up a user record out of thin air." And then "Try to make SQL Injection do all of the work for you" could be a hint in the ebook?

[2019-08-21 21:20] vlouwagie commented on #1194
Woah! Spoilers! 😛

Would it make sense to add it to the [login challenge checks](https://github.com/bkimminich/juice-shop/blob/9cf7373b6fd75483fa106595b506a8f9be97adb4/routes/login.js#L77)?

[code]

You could add another `else if` in there that checks for

- If the challenge is not yet complete
- Re-query the SQLite database for the user's `id`/`email` in the user object. If the `email`/`id` does

[2019-08-21 21:29] bkimminich commented on #1194
Yeah, you're right, that's much easier as the whole JWT part is not really a "challenge" but just happens by accident as the application normally issues the token. I'll make this about the new accountant role instead of admin, as we have one challenge about that already:

[code]

[2019-08-21 21:40] vlouwagie commented on #1194
👍 Happy to help!

[2019-08-21 21:54] bkimminich commented on #1194
Ah sorry, I already implemented it while we were discussing it... 😁

If you shoot me an email with your post address I'm more than happy to send you some stickers and other swag for this nice new challenge idea! 📮

[2019-08-21 22:05] #1194 closed

[2019-08-22 05:55] bkimminich opened #1195 "JWT challenge user emails are hardcoded"
The email addresses should be displayed on the Score Board with a custom domain if one is configurd.

Verification already checks it without looking at the domain at all. Only the Score Board is inconsistent and spoilers the Juice Shop origin here.

[2019-08-22 09:05] #1195 closed

[2019-08-26 09:23] bkimminich opened #1196 "[🐛] Responsiveness: Accountant screen"
* [x] Screen is not responsive. Should render second table beneath first on insufficient screen size.
* [x] Menu item only shows in Navbar on sufficiently big screens. It is entirely missing in SideNav on smaller screens.

![image](https://user-images.githubusercontent.com/3531020/63680222-72e37380-c7f3-11e9-9cb1-1d23e5b8d6b1.png)

![image](https://user-images.githubusercontent.com/3531020/6368038

[2019-08-26 09:29] bkimminich opened #1197 "[🐛] Payment process not completable when adding funds to wallet"
* [ ] When you fill money into your Wallet during checkout, it does not allow you to finish checkout
* [ ] Complete/fix redirect dependencies between wallet and payment component
* [ ] Unused properties (`allowContinue` and `redirectToBasket`) in payment component

[2019-08-26 12:38] bkimminich opened #1198 "[🧹] Remove shake-logger from Vagrant config"
By moving the shake-logger XSS demo entirely into https://github.com/wurstbrot/shake-logger by @wurstbrot all now unnecessary parts of it should be removed from the internal Vagrant-config of the Juice Shop itself.

[2019-08-26 19:50] ramakrishnateja opened #1201 "Permission denied while running in kubernetes"
Hi ,

I am trying to deploy this in kubernetes and getting a failure of permissions. Please find the deployment below and the exception I am getting.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: juice-shop
  labels:
    app: juice-shop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: juice-shop
  template:
    metadata:
      labels:
        app: juice-shop
    spec:
      se

[2019-08-26 19:52] J12934 commented on #1201
Hi 👋
yup thats a current issues, but a fix is on the way:
#1199.

Thanks for reporting it 👍

[2019-08-26 21:16] #1201 closed

[2019-08-26 21:16] bkimminich commented on #1201
Merged #1199.

[2019-08-27 14:33] tinyweasel opened #1202 "[🐛]"
# :bug: Bug report

## Description

Firefox can't seem to natively open md files on Ubuntu, it asks to download the file. I enabled an addon to open the legal.md file, but this does not get detected as a solution, nor does downloading the file, so I can't solve the 'Read our privacy policy' challenge, even though I can read it.

### Is this a regression?

This is not a version issue, this is an OS

[2019-08-27 15:12] J12934 commented on #1202
Hi 👋

Visiting `/ftp/legal.md` isn't supposed to solve the "Read our privacy policy" challenge.

[2019-08-27 16:55] bkimminich commented on #1202
You basically answered it yourself in https://github.com/bkimminich/pwning-juice-shop/issues/43 ... ;-)

[2019-08-27 16:55] #1202 closed

[2019-08-27 18:56] tinyweasel commented on #1202
I'm an idiot today. :smile:

[2019-08-28 12:02] tehseensagar opened #1203 "Bunch of erros on fresh installation via source using nodejs"
Node version:
-------------------
nodejs 10.16.3

Steps Followed:
---------------------
Install node.js
git clone https://github.com/bkimminich/juice-shop.git
cd juice-shop
npm install (only has to be done before first start or when you change the source code)
npm start

`npm WARN deprecated joi@13.7.0: This version has been deprecated in accordance with the hapi support policy (hapi.im/support).

[2019-08-28 13:20] bkimminich commented on #1203
First of all, you shouldn't run `npm audit fix` because then you might repair stuff that it purposefully broken and insecure in the application. Also, the installation seems to gave gone fine, all the warnings seem to be just noise from dependencies trying to bootstrap.

I don't know why ` cd frontend && npm install && cd .. && npm run build` would fail for you during the `postinstall` step. Can y

[2019-08-28 20:37] #1198 closed

[2019-08-29 06:33] tehseensagar commented on #1203
I'm using parrot OS latest version. I think it should be the case .

[2019-08-29 06:56] bkimminich commented on #1203
I can't really help you with that without any further error logs or stacktraces etc. I recommend you try the pre-packaged `.tgz` for Linux from our GH-Releases page as a fallback.

[2019-08-29 07:24] tehseensagar commented on #1203
very strange , I just logged into my parrato os with user instead of root  and followed same step given on github for source and working directory /home/myuser/juice-shop". it worked with out any issue. Before that I logged in as root user and working directory was "/opt/juice-shop"  and I got above error. So far I can think of that there is a check for uid which check if user is root then it wont

[2019-08-29 08:32] bkimminich commented on #1203
You essentially just confirmed that the application works on your computer... We cannot support specific user or permission questions which might depend on a myriad of individual settings on someones PC. Sorry.

[2019-08-29 08:32] #1203 closed

[2019-08-29 09:52] tehseensagar commented on #1203
Issue has been identifies :) . if any one wants to setup juice-shop repository use it at your risk . nmp / node.js does allowed to install packages as root due to its own structure.

Solution as root user Installation
------------------------------------------
Install node.js in your system if not already installed
git clone https://github.com/bkimminich/juice-shop.git
cd juice-shop
npm install -g

[2019-08-29 09:56] bkimminich commented on #1203
For the record, I totally **not recommend** to install the Juice Shop in _global_ scope with `-g` ... ...

[2019-08-30 05:59] tehseensagar commented on #1203
I've removed -g (global) option its not necessary as well.

Regards

[2019-09-04 10:18] lg0nzales commented on #1173
Hello, there is a CTF in my job based on juice-shop and I didn't want to do the challenges because I already had done some before and there are a lot of tutorials on internet that shows you how to complete all of them so I just wanted to do something different this time and I found there is exactly the same bug @asw12 reported but in another endpoint: /rest/products/<productId>/reviews

This is th

[2019-09-04 16:20] pendragonn opened #1212 "Deploy to heroku doesnt work [🐛]"
When clicking on deploy heroku button i get a screen saying:

A valid GitHub directory could not be found.

The given URL (https://heroku.com/) is not a valid GitHub repository.

[2019-09-04 16:32] bkimminich commented on #1212
You are on https://github.com/bkimminich/juice-shop and when you click the Deploy to Heroku button you get that error? I'm just redirected to Heroku login/sign-up.

[2019-09-04 16:34] pendragonn commented on #1212
Yep, if i am not logged in then i would be redirected to login/sign-up

[2019-09-04 16:43] bkimminich commented on #1212
I get https://dashboard.heroku.com/new?button-url=https%3A%2F%2Fgithub.com%2Fbkimminich%2Fjuice-shop%2Fblob%2Fmaster%2FREADME.md&template=https%3A%2F%2Fgithub.com%2Fbkimminich%2Fjuice-shop%2Fblob%2Fmaster%2FREADME.md as would be expected. Must be some issue on your end. Maybe try different Browser?

[2019-09-04 16:46] pendragonn commented on #1212
Im using Brave, i tried deactivating the "shields" but it didnt work. in fact it works with chromium. Thanks

[2019-09-04 16:49] #1212 closed

[2019-09-05 02:36] vanderaj opened #1213 "Protractor tests not working (very well) on Windows [🐛]"
# :bug: Bug report

## Description

I ran npm install and npm run protractor on the current juice-shop repo. It doens't work very well on the latest Windows, Chrome, npm/node.

### Is this a regression?

Yes, the previous version in which this bug was not present was: `7.4.1` I did not build it at all between 7.4.1 and this version.

## :microscope: Minimal Reproduction

Install Windows 1903 with

[2019-09-05 02:45] vanderaj commented on #1213
I just upgraded npm to this and it gets a bit further through, but it still gets borked.

<pre><code>
DevTools listening on ws://127.0.0.1:55716/devtools/browser/2a20de38-3515-4d39-88ed-4d1f34c81f8d
Started

(node:8876) UnhandledPromiseRejectionWarning: TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at calcPercentage (C:\Users\vande\GitHub\juice-shop\r

[2019-09-05 02:50] vanderaj commented on #1213
Same result with node v10.16.3 LTS and npm 6.11.3

[2019-09-05 04:45] bkimminich commented on #1213
Thanks for the detailed bug report! Could you try this on `develop` one more time? There I've fixed a sequential async call to `fs` into a nested one, which should fix the issues. Won't make it faster on Win, though - that's a different beast and probably out of my hands.

[2019-09-05 12:00] bkimminich commented on #1213
Btw, at the moment I am having issues with Protractor on Windows with Chrome 76. Protractor 5 wants <76 whereas Protractor 6 demands 77 or higher... At least it works fine on Travis in Linux... 😄

[2019-09-05 22:57] bkimminich opened #1214 "[🐛] gonzales-pe-sl fails installation on Win w/ Node 12"
## (✔️) Windows 10 with Node 12.10.0
[code]

## (✔️) Windows 10 with Node 10.6.3
[code]

## (✔️)Travis-CI, Windows, Node 10.6.3
[code]

## (:x:) Travis-CI, Windows, Node 12.10.0
[code]

[2019-09-08 16:32] lg0nzales opened #1216 "[🐛] Unintentional RCE via marsdb in /rest/products/:id/reviews"
# :bug: Bug report

## Description

I found exactly the same bug(#1173 ) @asw12 reported but in another endpoint: /rest/products/:id/reviews

## :microscope: Minimal Reproduction

This is the script that worked for me:

[code]

[2019-09-09 08:47] bkimminich commented on #1216
Fixed identical to #1173 by truncating `id` to 40 characters, which should be pretty much impossible to squeeze a seriously dangerous script into... (2304666)

[2019-09-09 10:32] #1216 closed

[2019-09-09 11:56] #1196 closed

[2019-09-13 14:45] bkimminich commented on #1197
That's a question @agrawalarpit14 should best answer, as he built that feature. In the end the functionality should be fixed, and by doing so those properties will either become used or simply vanish if not needed for the solution.

[2019-09-13 15:39] bkimminich commented on #1213
With the `selenium-server-standalone-4.0.0-alpha-2.zip.jar` and `chromedriver_2.46.exe` currently being pulled by `"protractor": "^5.4.2"` the e2e suite runs on Windows 10. Execution time in non-headless mode was 18min on my 4 year old gaming laptop.

[2019-09-13 15:39] #1213 closed

[2019-09-16 11:46] bkimminich opened #1217 "[🐛] i18n breaks server on startup with custom products"
[code]

[2019-09-16 21:20] #1217 closed

[2019-09-17 12:30] JamesCullum opened #1218 "[🐛] Documentation invalid for custom images"
# :bug: Bug report

## Description

The documentation about [customization](https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part1/customization.html) asks the user to put all images for custom products into the location `/app/public/images/products`.

However this static folder is [currently disabled](https://github.com/bkimminich/juice-shop/blob/master/server.js#L182) and files the

[2019-09-18 00:27] olJosiahlo opened #1219 "Install problem [❓]"
Hello,

I'm having an issue running the npm start command.  After an install i get this when i try to start

![Capture](https://user-images.githubusercontent.com/19878543/65089004-777df080-d989-11e9-9a08-961c2e565db8.JPG)

I am running the latest version of kali linux and version 10 of node js Thank you!!!

[2019-09-18 04:49] bkimminich commented on #1219
If you cloned the repo and ran `npm install` please check the log, as there must have been an error during the frontend part.

On Linux it's probably a file/folder permission problem or the Node installation itself causing trouble.

Please try using a pre-packaged archive from the GitHub release page or the Docker image as an alternative.

[2019-09-18 08:52] JamesCullum commented on #1218
Created PR with correct paths, even though it might be preferred to just uncomment the old asset folder to have an easier path. However I don't know if that breaks sth else.

[2019-09-19 13:12] Whamo12 commented on #1197
I can take a look.  Could you assign it to me, please?

[2019-09-19 16:07] bkimminich commented on #1197
Sure, take a shot at it! Assigning doesn't work on GitHub issues, though.

[2019-09-19 16:25] J12934 commented on #1197
It does ;)

[2019-09-19 17:10] bkimminich commented on #1197
Ooh, back in my days (👴) it only worked for issue opener and project collaborators...

[2019-09-19 22:31] #1219 closed

[2019-09-23 05:54] bkimminich commented on #1197
Just tested the checkout - there is no redirect issue any more, but now you can basically fill your wallet "for free" during the checkout... 🤑 ... also, on the regular http://localhost:3000/#/wallet screen you can just add funds, which will be added immediately w/o sending you through payment while then redirecting you into the middle of the checkout - even if your basket is currently empty.

[2019-09-23 18:57] Whamo12 commented on #1197
Ah yeah, that was my concern when I opened the PR.  I guess I made it _more_ intentionally vulnerable.  Looks like it is already merged, did you want to revert that PR?

[2019-09-23 19:30] bkimminich commented on #1197
I already made a reverse commit, so it's back to square zero.

[2019-09-27 16:40] happyliubei opened #1226 "docker container don't need to save"
I am doing the challenges of juiceshop by running it on docker. Once I have stopped my container by mistake and next time when I create a new container, the progress of finished challenges is still there.

Does that mean I don't need to save container when doing the challenge? And is the progress data saved in my browser side so next time it can restore automatically?

[2019-09-27 16:46] bkimminich commented on #1226
Exactly, the progress is saved in a 🍪. If you don't delete those and don't change URL or ports it will be restored on restart. But anything you created in DB will be gone, like users or feedback etc.

[2019-09-27 16:46] #1226 closed

[2019-10-09 12:19] azqa opened #1229 "Command injection causes Heroku to die [🐛]"
# :bug: Bug report

## Description

The Heroku instance dies if process.exit() is injected in the request URL. While this issue isn't particular to Juice Shop's source code, the Node Goat project is great at recovering from such a crash (it recovers instantly).

### Is this a regression?

I'm not sure. It's a problem inherent to Heroku's instance.

## :microscope: Minimal Reproduction

- Goto: `ht

[2019-10-09 19:51] bkimminich commented on #1229
Ah, damn ... Your payload easily even beats my protection on `develop` of truncating after 40 chars as it is only 14 chars short... 😁

https://juice-shop-staging.herokuapp.com/rest/products/process.exit()/reviews = 💀

Gotta fix this somehow w/o having to disable NoSQLi on Heroku/Docker because that would mean no orders and no reviews, which is not acceptable.

Thanks for this awesome find!

[2019-10-10 19:57] bkimminich commented on #1214
Root cause:
[code]

[2019-10-10 21:16] #1214 closed

[2019-10-11 01:34] bkimminich commented on #1229
The particular attack string is now sanitized after the truncation to 40 chars and should not work any more. The words `process` and `exit` are replaced with funny characters instead of removing them to avoid having to deal with recursion attacks. Feel free to try bypassing it, as it is definitely not bullet proof.

💡 For a long-term safer solution the vulnerable MarsDB query calls should probably

[2019-10-11 07:57] J12934 commented on #1229
`/rest/products/global['proc'+'ess']['ex'+'it']()/reviews` 😉

[2019-10-11 08:26] bkimminich commented on #1229
I'll sandbox it if possible soon and disable the challenges on Heroku...

[2019-10-11 13:30] #1229 closed

[2019-10-11 18:49] bkimminich opened #1232 "Missing customization in challenge hints/descriptions"
- [x] The "Retrieve Blueprint" challenge hint always points to the Juice Shop product
- [x] Some hints mention Juice Shop statically

All should be replaced during `datacreator.js` run with values from configuration file.

[2019-10-11 19:52] #1232 closed

[2019-10-11 22:17] #1197 closed

[2019-10-14 12:07] J12934 opened #1233 "[🐛] JuiceShop Docker Image Crashing on OpenShift since 9.1.0"
# :bug: Bug report

## Description

When running JuiceShop on OpenShift the Container crashes directly.

### Is this a regression?

Yes, the previous version in which this bug was not present was: `9.0.1`

## :microscope: Minimal Reproduction

OpenShift with default security context setup.

oc
[code]

## :fire: Exception or Error

[code]

## :deciduous_tree: Your Environment

OpenShift v3.11.0
Jui

[2019-10-14 12:08] J12934 commented on #1233
Looks to me that the language files are now copied into a different directory.
We probably have to change the rights for that dir in the dockerfile.

[2019-10-14 12:10] bkimminich commented on #1233
Yeah, there are additional language files being copied from `./data/static/i18n` into `./i18n` now.

[2019-10-14 12:14] J12934 commented on #1233
Okay 👍
I'll try fix the dockerfile

[2019-10-14 13:55] azqa commented on #1229
@bkimminich Darn.. I wanted to teach this usecase as an example of Command Injection attack at a Bachelor level security lecture. Is there any other command injection vulnerability in JS? (I don't want to touch SQLi for now).
Thank you for your help! :)

[2019-10-14 14:01] bkimminich commented on #1229
It is still possible to exploit in local installations, only in Docker and Heroku it is turned off by default now. You even there turn it back on by using a custom config with only

[code]

in it. Actually, I'll provide that one as `config/unsafe.yml` with `v9.1.1` so you could start it with `NODE_ENV=unsafe npm start` or similarily pass that into your Docker or Heroku as an environment variable.

[2019-10-14 14:05] jcfergus opened #1236 "[🐛] Docker Image: Placing images in /app/public/images does not work."
# :bug: Bug report

## Description

Per the customization document:

Unfortunately, the Docker Image does not seem to pick up images if I mount a local volume to `/app/public/images` in the container.  (i.e. `docker run -V /data/juice-shop/images:/app/public/images bkimminich/juice-shop`)

### Is this a regression?

Unknown.

## :microscope: Minimal Reproduction

Create `my_test_image.jpg` in `/da

[2019-10-14 14:06] azqa commented on #1229
That'd be awesome! Thanks so much! 👍

[2019-10-14 14:15] bkimminich commented on #1236
If you want to deliver the product images withing the Docker image instead of having them downloaded from some URL, here's a straightforward `Dockerfile` I use at work to have everything pre-packaged within a custom-themed Docker image:

[code]

[2019-10-14 14:45] #1233 closed

[2019-10-14 16:34] bkimminich commented on #1236
Ah, I see the problem now: You need to put the images into `frontend/dist/frontend/assets/public/images/products/` since `v8.x` of Juice Shop. It's actually a bug in the documentation where still the `v7.x` and older locations are given. Sorry for that!

[2019-10-14 16:34] #1236 closed

[2019-10-14 16:37] bkimminich commented on #1236
It actually is up to date in https://github.com/bkimminich/pwning-juice-shop/blob/master/part1/customization.md but for some reasons not on @gitbookio at https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part1/customization.html ...

[2019-10-15 06:04] bkimminich commented on #1236
Oh brilliant, now it updated when I started setting up an independent hosted web version of the book at http://pwning.owasp-juice.shop

[2019-10-15 22:28] NinjaJc01 opened #1238 "Issue installing Juice Shop from sources on fresh Debian 10 install [🐛]"
# :bug: Bug report

## Description

Having tried to install the project from sources, running `npm start` gives me an uncaught promise stating a missing file. The source file is there, but the destination filepath is not.
![juiceshop issue](https://user-images.githubusercontent.com/20073818/66874438-00954100-efa3-11e9-9dd7-6549b4b14a69.PNG)

### Is this a regression?

Presumably, this worked in an

[2019-10-15 22:50] bkimminich commented on #1238
You obviously didn't run `npm install` or it failed for some reason. Also you might miss some files as the one reported as missing exists on GitHub, so maybe not even your `git clone` passed. Please recheck your setup and if problems persist please ask for help on http://gitter.im/bkimminich/juice-shop.

[2019-10-15 22:50] #1238 closed

[2019-10-23 13:47] jamiemcgregor opened #1241 "[🐛]Keyfile for the 'Login Support Team' was changed without updating the keepass database"
# :bug: Bug report

## Description
The JPEG key file used for the 'Login Support Team' challenge was changed during the perf(elements): Optimizing the images* Pull Request (https://github.com/bkimminich/juice-shop/commit/caa3413c9319126257f9005c7e5b5cfe2ce82a3e#diff-72860628be745e6e35f66b3468f16c1c)

##Key-File
https://github.com/bkimminich/juice-shop/commits/master/frontend/src/assets/public/imag

[2019-10-23 14:33] bkimminich commented on #1241
Oh wow, that's a great find, thank you! I doubt I would ever have noticed it myself, and probably not made that connection to the image optimization! 👍

[2019-10-23 15:52] jamiemcgregor commented on #1241
I've updated the KeePass database and can open a pull request for you if you would like me to?

[2019-10-24 09:06] ObsidianPhoenix opened #1243 "Error Exfiltrating DB Schema with SQLi in Docker [🐛]"
# :bug: Bug report

## Description

Using the latest docker image (`bkimminich/juice-shop@sha256:965e9ca6172ee85897219fe2ed26028251e34151cd472e32ac21c5ead2ddcaf9`), an error occurs using SQLi to exfiltrate the schema, that doesn't happen on an older image.

*NB:* I'm not sure how to get a docker image version, so I've used the `RepoDigest` field from `docker image inspect`. If you can point me to

[2019-10-24 09:42] bkimminich commented on #1243
Okay, this one is kind of mean, but it's actually not a bug I'd like to fix, because it is just a side effect of the way you made your payload. Let me explain:

Your payload tries to get the `name` into the first column and the `sql` into the third column of the result set and sets all else to null. The columns returned by the original query are `id`, `name`, `description`, ... and the last two ar

[2019-10-24 09:42] #1243 closed

[2019-10-24 20:15] Ruteen commented on #1238
try this

[2019-10-24 21:39] bkimminich commented on #902
This form does not (or no longer...) work as a CSRF attack. It sends user to the URL (which is not what CSRF usually does) and shows
![image](https://user-images.githubusercontent.com/3531020/67527446-5494d980-f6b7-11e9-9b24-998acab89400.png)
while on the Juice Shop server throwing
[code]

[2019-10-28 14:44] bkimminich opened #1245 "Advanced XSS [⭐]"
# :star: Challenge idea

* [ ] XSS into `<script>` context (with escaping for wrong context, e.g. HTML)
* [ ] XSS into HTML attribute context

### Underlying vulnerability/ies

XSS

### Expected difficulty

:star::star: to :star::star::star::star:

[2019-10-29 07:47] bkimminich commented on #440
@J12934 Do you have any smart idea how we can make sure the speech bubbles do not appear too close to the window edges, no matter what anchor you pick? It sometimes overflows the screen or scrolls a bit weirdly. Best example is "Login as Admin" script right now.

[2019-10-29 16:01] bkimminich opened #1247 "Enhancements Hacking Instructor [🚀]"
## Possible enhancements for the [Hacking Instructor](#440)

1. [x] **Are the tutorial scripts part of the `main.js`?** This would allow e.g. CTF-participants to very easily cheat even when the tutorial mode is turned off via configuration. Could scripts be lazily loaded from server be an option?
2. [x] ~~**Translatable tutorial texts!** Texts would have to be loaded from e.g. CrowdIn (which would

[2019-10-29 16:01] #440 closed

[2019-10-29 20:37] HarshitPatel25 opened #1248 "[🐛]"
# :bug: Bug report

## Description

A clear and concise description of the problem...

### Is this a regression?

Yes, the previous version in which this bug was not present was: `x.y.z`

## :microscope: Minimal Reproduction

## :fire: Exception or Error

<pre><code>

</code> </pre>

## :deciduous_tree: Your Environment

<pre><code>

</code></pre>

### Additional Information

[2019-10-29 20:38] #1248 closed

[2019-11-03 23:12] bkimminich commented on #902
@dnull, your example works, but only in Firefox. Chrome blocks this for me. I tested:

* file:///C:/Users/bjoer_000/Desktop/csrf.html 👊 http://localhost:3000 ✔️
* file:///C:/Users/bjoer_000/Desktop/csrf.html 👊 http;//demo.owasp-juice.shop ✔️
* file:///C:/Users/bjoer_000/Desktop/csrf.html 👊 https://preview.owasp-juice.shop ✔️

I didn't get any referer header to check for, though, so it'd be hard to

[2019-11-04 10:30] bkimminich commented on #902
In JSFiddle and CodePen the example does not work for me, btw.

![image](https://user-images.githubusercontent.com/3531020/68114509-79c6ea80-fef6-11e9-8f32-226ed2e4fa4e.png)

It does not auto-submit the form nor does it send any request when clicking the button.

[2019-11-04 20:17] dnull commented on #902
@bkimminich I looked into your observations:
 - The referer is only sent by the browser when the originating page is located on a web server (confirmed for example in https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer). You thus won't see a referer when the request is initiated from a local file.
 - My own tests with Chrome 78.0.3904.87 on Windows have been successful. Does your Chr

[2019-11-08 18:30] bkimminich commented on #1247
Made text bubbles 10% transparent so the blue color should work on all themes somewhat...

[2019-11-08 18:46] bkimminich commented on #1247
Set all steps where user input is expected to `unskippable: true` so that selecting & copying from the text bubble should be possible now.

[2019-11-09 19:52] bkimminich commented on #1247
Idea: Wrapping all its functionality into a `HackingInstructorModule` should allow to externalize it into its own `.js` file during `ng build`, and then subsequently setting it up for lazy loading - or not loading at all if the feature is turned off... ... As I never wrote my own module for Angulat, this might require some investigation or help... 😁

[2019-11-11 11:56] J12934 commented on #1247
I can look into making it load lazily.
Also not quite sure how to best do it in Angular, but might just work with the default webpack lazy loading mechanisms (Using `import('...')` instead of the `import` keyword) as the Hacking Instructor is mostly angular independent.

[2019-11-11 13:13] bkimminich commented on #1247
https://angular.io/guide/router#milestone-6-asynchronous-routing

[2019-11-12 06:36] bkimminich opened #1253 ""False Positive" challenge [⭐]"
ZAP told me that this image contains PHP code  ​ (Because the binary representation interpreted as texts contains the string “<?=“)
That, is of course is bullshit, but would kind of be a interesting easteregg

To be verified with other scanners, but even with only ZAP reporting it this could be added as a "False Positive" challenge: "Report the name of a file that is falsely accused of containing

[2019-11-12 16:50] bkimminich opened #1254 "SVG Injection [⭐]"
Challenge Name: **Cross-Site Imaging**
Category: Injection
Description: _Choose your own cross-domain decoration for the deluxe delivery boxes._
Difficulty: :star::star::star::star: or :star::star::star::star::star:

Groundwork for this challenge is already done on `develop` and exploit is possible:
![image](https://user-images.githubusercontent.com/3531020/68691340-e172da80-0573-11ea-9444-1a6ccb0

[2019-11-12 16:57] bkimminich commented on #1254
Now, how the heck do I verify that this was successful...? 🙁

The actual attack happens on the client-side only, where a request to the `redirect` backend service is triggered to get the desired image. This request does not suffice to check for success. Client-side-only check on the other hand might not suffice as loading that image could run into a HTTP error.

[2019-11-13 13:56] bkimminich commented on #1254
Sample attack string: <http://localhost:3000/#/deluxe-membership?decal=..%2F..%2F..%2F..%2Fredirect%3Fto%3Dhttps:%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2F5%2F52%2FRick_and_Morty_season_3.png%3Fx%3Dhttps:%2F%2Fgithub.com%2Fbkimminich%2Fjuice-shop%3D>

Would now be verified by fetching the URL via XHR and checking for `image/*` response type **and** matching the `decal` parameter with `/.*\.\.\

[2019-11-13 16:47] #1254 closed

[2019-11-14 16:36] bkimminich commented on #1253
![image](https://user-images.githubusercontent.com/3531020/68876764-43af1500-0705-11ea-83eb-b875e9b73b2b.png)

Can't reproduce even in ZAP 2.8.0 ...

[2019-11-14 16:36] #1253 closed

[2019-11-15 20:36] jainendra opened #1256 "[⭐] Add basic RSA challenge"
# :star: Challenge idea
Brute force attack on plain RSA

### Description
TLDR; Decrypt the RSA encrypted document using brute force attack.

**What** - In this challenge we want to show that plain RSA (no padding) encryption is easily breakable similar to other techniques using brute force.

**Why** - All cryptographic challenges in juice shop are based of some x vulnerability in libraries or the

[2019-11-16 00:52] bkimminich commented on #1256
I like it! 👍 We'd just have to find something to hide in the document that then triggers the challenge, as it's an offline task. Maybe we just put the Tokensale-page URL in there, so it can be found either using that way or the existing one with de-obfuscating the Angular route...

[2019-11-16 17:59] jainendra commented on #1256
@bkimminich awesome. I'll raise a PR and we can discuss it further there

[2019-11-19 14:45] tinyweasel commented on #1202
This is happening me again even with clicking acquisitions.md, it's trying to download the file and not detecting it as a solution.

[2019-11-19 14:48] tinyweasel commented on #1202
Edited to reflect correct doc.

[2019-11-19 14:51] bkimminich commented on #1202
The Juice Shop doesn't care what your browser or OS is doing,as long as it receives a request for that file's URI, the challenge will trigger. You checked the Score Board, I assume? As it's not in the Angular UI sometimes the instant notification bubble is swallowed.

[2019-11-19 14:52] tinyweasel commented on #1202
Thanks, yeah that's what happened. I'll stop getting confused by this easy challenge at some point, hopefully. :)

[2019-11-22 07:57] pprchal opened #1262 "Add negative ammount of items to basket [⭐]"
# :star: Challenge idea

### Description
I' able to add negative ammount of items to basket. (-100)

### Underlying vulnerability/ies

### Expected difficulty
Very easy, just call api with negative ammount.

- [ x] :star:
- [ ] :star::star:
- [ ] :star::star::star:
- [ ] :star::star::star::star:
- [ ] :star::star::star::star::star:
- [ ] :star::star::star::star::star::star:

### Possible attack fl

[2019-11-22 08:15] bkimminich commented on #1262
A challenge for this API issue already exists: https://pwning.owasp-juice.shop/part2/improper-input-validation.html#place-an-order-that-makes-you-rich

[2019-11-22 08:15] #1262 closed

[2019-11-25 10:18] bkimminich opened #1263 "Occasional InvalidTokenError in AppComponent unit test [🐛]"
The error below is _occasionally_ thrown on Travis-CI during unit testing:

[code]

When it happens, it typically does on 1 of the 6 jobs (Linux + MacOS) that execute those tests:
![image](https://user-images.githubusercontent.com/3531020/69531919-0fddb600-0f75-11ea-9b16-80ace5ee19ee.png)

Re-running the broken job will at some point result in a passing job.

[2019-11-27 22:36] bkimminich commented on #1263
Should be resolved by 2c3dca4.

[2019-11-27 22:59] bkimminich commented on #1263
[code]

This error occured (instead?) during https://travis-ci.org/bkimminich/juice-shop/jobs/617943318 ... 😞

[2019-11-28 08:40] #1263 closed

[2019-12-05 20:01] #1247 closed

[2019-12-10 11:40] djerrystyle opened #1265 "[❓] is it possible to add a challenge "padding oracle attack" at Remember me button"
LIKE apache Shiro RCE
need Java Deserialization vulnerabilities , but platform base on nodejs

[2019-12-10 12:04] bkimminich commented on #1265
_Remember me_ is already part of an existing hacking challenge. Also you'd need to explain what your actual idea is, because I don't know anything about that Apache Shiro vuln you mentioned.

[2019-12-10 13:28] djerrystyle commented on #1265
thank you,i need to perfect my idea.❤❤❤🌹🌹🌹

[2019-12-10 13:28] #1265 closed

[2019-12-11 18:12] bkimminich opened #1267 "Web Authentication [🚀]"
# :rocket: Feature request

### Description

Add Web Authentication as options for user registration and login. An unfinished or broken library should be picked or the manual implementation should be somehow flawed to allow a realistic hacking challenge around WebAuthn.

### Solution ideas

https://webauthn.guide/

[2019-12-13 14:47] J12934 commented on #1267
I really like the idea👍

It would be cool if we could find a report on what sort of things which can be done wrong when adopting WebAuthn and basing the challenge(s) around real problems

[2019-12-15 14:40] toptuto opened #1268 "fail to run juice shop"
root@kali:~/Desktop/juice-shop1# npm start

[code]

What should I do now ?? Thanks

[2019-12-15 15:14] J12934 commented on #1268
Hi 👋
According to the error you installed Juice Shop initially using a different Node.js version.
You probably need to reinstall Juice Shop for the current node version.

Try to the delete the `node_modules` folder to remove the old version of the dependencies and then run `npm install`.

[2019-12-15 15:18] bkimminich commented on #1268
Looks more like you downloaded the wrong ZIP. Download the version for your node.js (10, 12 or 13) and it should work. Also make sure to pick the archive for the righr OS. Or: Clone the repo instead and do.`npm install`.

[2019-12-15 15:20] bkimminich commented on #1268
For future support requests please use Gitter preferably, thanks!

[2019-12-15 15:20] #1268 closed

[2019-12-16 07:27] toptuto commented on #1268
Yes and my Nodejs is 12 , Juice shop version is 9.3.0 , this is exactly what this version of Juice Shop required

[2019-12-16 07:36] toptuto commented on #1268
after I installed Node js 13 , I still got this error :
root@kali:~/Desktop/juice-shop# npm start

info: All dependencies in ./package.json are satisfied (OK)
(node:5035) UnhandledPromiseRejectionWarning: Error: The module '/root/Desktop/juice-shop/node_modules/libxmljs2/build/Release/xmljs.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 72. This version of Node.js

[2019-12-16 07:45] toptuto commented on #1268
Ah okay , I got it , thanks

[2019-12-21 06:26] jfbouzereau opened #1271 "[🐛]wrong xmljs.node binary in 9.3.0 for Darwin"
xmljs.node included in the 9.3.0 release for Darwin is ELF binary

[2019-12-21 10:07] bkimminich commented on #1271
libxmljs2 is deciding what it installs on each system we package archives for. If there's anything not matching please raise an issue for that library with a bit more context and details about the actual problem this causes. Otherwise they won't be able to help either.

[2019-12-21 11:42] jfbouzereau commented on #1271
I reloaded the file and it is ok. May be I clicked the wrong link the first time (a linux version)
Sorry for the disturbance.

[2019-12-21 11:42] #1271 closed

[2019-12-21 13:20] bkimminich commented on #1271
No problem, glad it works for you now and the "fix" was that easy... :-)

[2019-12-27 22:29] jainendra commented on #1256
@bkimminich Raised a PR - https://github.com/bkimminich/juice-shop/pull/1274. Please review and let me know your thoughts on this.

[2019-12-28 18:40] J12934 opened #1275 "[⭐] Exposed Prometheus Metrics Endpoint"
# :star: Challenge idea

### Description

Modern services often expose metrics about the current state of the service / server on a `/metrics` endpoint. This endpoint is then scraped by systems like [prometheus](https://prometheus.io/docs/introduction/overview/) to gather these metrics over time.

These metrics endpoint is not really intended for "normal" users. Yet prometheus security model expli

[2019-12-29 07:30] bkimminich opened #1276 "[🎭] UI harmonization towards facelifted design"
Some old screens as well as all screens newly added during GSoC 2019 might currently not be in visual harmony with the facelifted/UX-improved designs by @MarcRler. Their components should be checked for compliance and if needed be reworked towards the same Material design and usability goals.

- [x] `accounting`
- [x] `address`
- [x] `address-create`
- [x] `address-select`
- [x] `administration`
-

[2019-12-29 22:59] bkimminich opened #1277 "Hacking Instructor scripts [🤖]"
Add [Hacking Instructor tutorial scripts](https://pwning.owasp-juice.shop/part3/tutorials.html) for challenges suitable for step-by-step guidance and no need for interaction outside Angular (which upon leaving would cancel any tutorial) or Browser DevTools:

- [x] Forged Feedback (find hidden input for `UserId`, make it visible via DevTools and change value)
- [x] Login Bender (find out email from

[2020-01-02 19:32] crmallory commented on #440
@bkimminich,
I just downloaded and installed the JS.  Everything works fine but I do not see the Scoreboard to be able to do the challenges.  What am I missing???

Please advise,

thank you

C. Ray Mallory
![JS Screen Shot](https://user-images.githubusercontent.com/55565425/71687888-bf742800-2d6c-11ea-91cb-d8ede082687d.PNG)

[2020-01-02 19:40] bkimminich commented on #440
You need to find the Score Board first. There's a Hacking Instructor button to guide you on the Welcome Banner.

[2020-01-14 15:10] p0w1 opened #1281 "[🚀] Add Google-SSO Account to Config"
# :rocket: Feature request

### Description

Currently it is not possible to use the Google-Login for custom domains.

### Solution ideas

Add the "clientId" in /frontend/src/app/login/login.component.ts to the config-File.

[2020-01-14 15:13] bkimminich commented on #1281
That's actually a brilliant idea! 👍 ... Making the `authorizedRedirectURIs` configurable as well would make OAuth completely customizable.

[2020-01-14 16:23] bkimminich commented on #1281
You can use the following config properties now to customize your OAuth provider app and allowed URLs:

[code]

Feel free to test it on `develop` branch and let me know if this is what you were looking for!

[2020-01-14 16:50] #1281 closed

[2020-01-15 08:16] p0w1 commented on #1281
Wow, that was fast. Yes, it is exactly what I was looking for!

[2020-01-17 23:35] 0xJoshua opened #1282 "[⭐] Add pwn challenges"

[2020-01-18 00:30] #1282 closed

[2020-01-19 00:09] jainendra commented on #1256
Closing since PR is merged

[2020-01-19 00:09] #1256 closed

[2020-01-29 09:42] Brynanum opened #1286 "Promotion video : guitar tab"
Hello,

I love this project, in contrary of my friends. To encourage us, I want to play the music of the [(Juice Shop Jingle)](https://github.com/bkimminich/juice-shop/blob/master/frontend/src/assets/public/videos/JuiceShopJingle.mp4) with my guitar. It's only for a personal use, not for commercial uses.
What about rights on that music ? Can I have the guitar tab of this music ?

Thank you for you

[2020-01-29 09:46] bkimminich commented on #1286
That's probably hands down *the best* GitHub issue we've ever had... 🎸

I'll ask @braimee about that, he made the jingle... 👍

[2020-01-29 22:44] braimee commented on #1286
I was 100% certain this was a joke issue submission when I saw the email, but after intensely interrogating @bkimminich I've confirmed that neither he nor my mom submitted this request, so I'm thinking it's legit!  :-)

@Brynanum you're welcome to play the music, but if you do so in any public forum I just ask you share with me so I can enjoy as well :-).  I don't currently own a guitar (long stor

[2020-01-29 22:52] bkimminich commented on #1286
"I only understand railway station" as we say in Germany. Guitar tabs look like ALiBI (Arbitrary Letters in Brackets Injection) to me... Anyway, **thanks a lot, Brian!** 🍹

[2020-01-29 23:10] #1286 closed

[2020-02-02 13:19] ridhishjain commented on #1276
@bkimminich I'd like to work on this issue. Just wanted to know if I am guessing it right?

- all the components u have mentioned are to be refactored (in terms of UI)

-  the improved designs should be similar to or in concordance with "facelifted/UX-improved designs by @MarcRler"

Where can I get the idea about "facelifted/UX-improved designs" And once I get this, all I have to do is improve eac

[2020-02-02 15:07] bkimminich commented on #1276
All components _not listed_ above are considered "facelifted" and can serve as examples.

[2020-02-02 15:14] bkimminich commented on #1276
In general the goal is a consistent look and feel that is in accordance with https://material.io/design/ guidelines.

[2020-02-02 15:27] ridhishjain commented on #1276
Thanks for help!
I'll split the work  into number of PRs, one for each component

[2020-02-03 10:32] bkimminich commented on #1277
Todo for Projects Summit Q1 2020

[2020-02-04 07:14] bkimminich opened #1288 "Filter and info box or unavailable challenges [🚀]"
# :rocket: Feature request

### Description

When challenges are not available (on Heroku or Docker) there should be
* [ ] a filter option to hide these challenges on the Score Board (hidden by default)
* [ ] an info box on the Score Board that states that challenges are missing for security reasons with a link to https://pwning.owasp-juice.shop/part1/challenges.html#potentially-dangerous-challeng

[2020-02-04 08:45] Scar26 commented on #1288
Does juice-box have inbuilt functionality to check challenge availability or should the option be kept manual?

[2020-02-04 09:06] Scar26 commented on #1245
How about a CSP injection + onerror attribute XSS challenge? Something along the lines of:

the user is allowed to post images and provide the alt-text in case they don't render correctly. The CSP disables inline scripts but the image link provided by the user is added to it.

The rendered element then looks like :-
`<img src="user.com/image.png" alt="user-defined alt text">`

while the CSP looks

[2020-02-04 10:23] ridhishjain opened #1289 "`npm start` after first `npm install` throws error[🐛]"
# :bug: Bug report

## Description

After doing npm install for the first time, the console had 12 vulnerabilities regarding dependencies:
[code]
After these, on doing `npm start`, following error occurs:
[code]
Maybe a solution to this is:
`npm install sanitize-html@1.21.1`
`npm install express-jwt@5.3.1`
### Is this a regression?

Not sure.

## :microscope: Minimal Reproduction

1. Clone the rep

[2020-02-04 10:42] ridhishjain commented on #1289
@bkimminich, I'd suggest that you should look into the issue because updating dependencies does not seem to fix the error. It's still the same

[2020-02-04 10:53] ridhishjain opened #1290 "Direct login link in signup form[🚀]"
# :rocket: Feature request

### Description

 The current login form has the option of directing new users to signup or create a new account:
![Screenshot (97)](https://user-images.githubusercontent.com/45514905/73738238-202ac200-476a-11ea-99b6-f2865ffdfb70.png)

A similar thing should also be present in signup-form from where the user can directly move back to login form: `Already a customer? Log

[2020-02-04 11:12] J12934 commented on #1289
Hi 👋
Can you post some basic information about your system?
OS, 32 or 64bit, node and npm version?

[2020-02-04 11:25] J12934 commented on #1289
Running into the same problem with `node@13.7.0` & `npm@6.13.6`:

[code]

Hashids released a new version `2.2.0` last night which is included in our `^2.1.0` version range. Pinning to `2.1.0` seems to fix this.

[2020-02-04 11:42] J12934 commented on #1289
Open up an issue in the hashids repo

[2020-02-04 11:43] ridhishjain commented on #1289
2.1.0 works fine....didn't understand what's causing the problem?

[2020-02-04 11:49] ridhishjain commented on #1289
@J12934 , I think the other dependencies which are causing problems also needs to be updated...opening a PR for that

[2020-02-04 11:50] J12934 commented on #1289
I'm guessing the hashids module changed it module structure so that the cjs import which is required for node doesn't work correctly anymore.

Pinned the hashids version on the master branch so that other people trying the local install route don't run into the same issues. Hopefully the hashids module is able fix this / recommend another install route soon so that we don't have to pin an old vers

[2020-02-04 11:53] J12934 commented on #1289
Don't think the other dependencies are causing problems. We actually need some of them at old and vulnerable version to showcase as they are used in challenges.

[2020-02-04 12:19] Scar26 commented on #1288
I would like to work on this.

Made an initial design for the infobox, wanted to confirm if this is what you had in mind

![infoboxfinal](https://user-images.githubusercontent.com/41830515/73744322-9503f900-4776-11ea-97b4-f62bec538dc3.jpg)

[2020-02-04 20:02] bkimminich commented on #1288
I'd probably prefer it either in the empty space near the "Show solved" button or at the very bottom between those other two info boxes. Maybe the top location is better...? Especially when we add a "Show disabled" button as well there it makes more sense to have the text next to it.

[2020-02-04 20:02] #1289 closed

[2020-02-04 20:47] CaptainNick commented on #1267
Hi @bkimminich , I would like to work on this issue. Let me know if you have any suggestions. :)

[2020-02-04 21:38] bkimminich commented on #1267
Hi @CaptainNick! Best first read is always https://pwning.owasp-juice.shop/part3/contribution.html, and about this idea, it's very much open for suggestions as it's just something I learned about at a conference and found interesting... 😅

[2020-02-05 00:11] bkimminich commented on #1290
The link idea sounds good to me! 👍

[2020-02-05 03:41] CaptainNick commented on #1267
Yes @bkimminich , I've already gone through the contribution guide. I'm reading more about WebAuthn and its implementation. BTW which conference was it?

[2020-02-05 07:37] bkimminich commented on #1267
It was at German OWASP Day, https://youtu.be/XQn-OOVv6zc

[2020-02-06 08:42] ftischhauser opened #1295 "[🐛] Solving Forged Signed JWT results in UnauthorizedError: invalid signature"
# :bug: Bug report

## Description

When trying to solve the **Forged Signed JWT** challenge, Juice Shop responds with both an `UnauthorizedError: invalid signature` and marks the challenge as solved. I do not know if my approach is wrong (and the challenge should not be marked as solved), or if there is a bug showing an error where it shouldn't.

### Is this a regression?
Unknown, I have not test

[2020-02-06 21:54] Scar26 commented on #1245
@bkimminich Can you please give your opinion on the above mentioned idea so I know if/how I should proceed with this?

[2020-02-06 22:24] bkimminich commented on #1245
I like the idea of covering HTML attribute breakout like this! The question is, will Angular allow this to happen "naturally"? Is this maybe easier to get into the legacy profile page which is based on Pug? If we go for the profile page, maybe the alt-attribute could just be the chosen username? That might be fun, because then that field would be usable to two different XSS paths, the name itself

[2020-02-06 23:22] Scar26 commented on #1245
Ah, yes!
I was thinking of going with a manual implementation in js to allow for this injection but this sounds better! Think I'll go with this

[2020-02-07 08:18] bkimminich commented on #1295
Here's how the challenge is verified today by having every request checked via `app.use(verify.jwtChallenges())`:

[code]

[2020-02-07 14:28] bkimminich commented on #1295
I just reverted a "random fix attempt" where I only check for the challenges when no error occurs. Then the challenges were unsolvable. This needs some more intense debugging, b/c I have no clue where the signature error is actually raised. And also if that bug sneaked in months/years ago and just went unnoticed so far.

[2020-02-09 08:26] CaptainNick commented on #1267
What authenticator type you want to be implemented? @bkimminich

[2020-02-09 12:08] bkimminich commented on #1267
Would be great if it worked with any (cheap) FIDO U2F key, because then its affordable for more people to experiment with.

[2020-02-10 03:40] Scar26 commented on #1275
I would love to take this up

[2020-02-10 09:57] J12934 commented on #1275
@Scar26 sure go for it 👍

[2020-02-10 18:33] ridhishjain commented on #1290
resolved in PR #1297

[2020-02-10 18:33] #1290 closed

[2020-02-10 19:39] #1288 closed

[2020-02-11 08:50] bkimminich commented on #1295
Did some regression testing with older versions to find out when the forged/unsigned JWT have stopped working as valid users

* v8.5.0 :x:
* v8.0.0 :x:
* v7.5.0 :x:

It didn't (at least not with the tokens from the e2e tests) since at least v7.5.0.

[2020-02-12 17:50] #1275 closed

[2020-02-12 17:52] bkimminich commented on #1275
Great job, @Scar26! Thank you! Please send me an email with your address so I can send you a couple of stickers!

[2020-02-12 17:54] bkimminich commented on #1275
@J12934 One thing we need to remember if e.g. MultiJuicer should ever actually use this endpoint, is that this would auto-solve the challenge. Unless we add some parameter to prevent that from happening (like `mode=ninja` or `silent=true` or something)

[2020-02-12 18:04] bkimminich opened #1301 "Make identifiers in Prometheus endpoint data configurable [🚀]"
# :rocket: Feature request

### Description

Currently the `/metrics` endpoint contains hard-coded "Juice Shop" mentions in form of `{app="juice-shop"}`  tags and custom prefixes `juice_shop` which is undesirable for custom themed configurations:

[code]

### Solution ideas

Add a new configuration property `application.metricsLabel: juice_shop` and use that as prefix and for the `app=...` labels.

[2020-02-12 18:07] J12934 commented on #1275
@bkimminich yeah already thought on that. I was intending to block the Prometheus user-agent from solving the challenge

[2020-02-12 18:29] bkimminich opened #1302 "Prometheus metrics for registered users is static [🐛]"
## Problem

While relying on `datacache.challenges` updates each challenge's solved status (due to referential integrity) properly, the `datacache.users` does not get updated when users are added to the database. It always only contains the users originally created by `datacreator.js`.

## Solution

The user data should be retrieved from SQLite instead if it is supposed to be correct. This would a

[2020-02-12 19:03] J12934 commented on #1301
BTW the `juice_shop` in the custom metrics should actually be a `juiceshop` according to Prometheus naming guidelines. (Should be a single word)

[2020-02-12 19:10] #1301 closed

[2020-02-12 19:10] #1302 closed

[2020-02-12 19:14] bkimminich commented on #1301
Ah, I only checked for the label not the prefix... 🤦‍♂️

[2020-02-12 19:14] bkimminich commented on #1301
Ah, I only checked for the label not the prefix... 🤦‍♂️

[2020-02-14 15:43] Scar26 commented on #1245
Ok so after playing around with the profile page for a while, here's what I found.

Pug automatically escapes all attribute values making attribute breakout impossible by default. Also profile images are currently stored locally as files which rules out CSP injection as well.

So as far as I can see right now, there's two ways this challenge can be implemented:

- **Integrate CSP bypass in the the

[2020-02-15 11:58] Scar26 commented on #1245
@bkimminich Any opinions on this ^ ?

I'm thinking of going ahead with the first one, since we already have a few more low difficulty XSS challenges besides this one, so upgrading it to a higher difficulty won't hurt

[2020-02-15 12:22] bkimminich commented on #1245
First option sounds better to me too!

[2020-02-16 19:08] bkimminich opened #1304 "User profile shows Juice Shop logo even for custom themes [🐛]"
When running e.g. `NODE_ENV=7ms npm start` the normal Angular navbar looks like this as expected
![image](https://user-images.githubusercontent.com/3531020/74610939-00938200-50f8-11ea-8a5f-e2e2ba6ba54e.png)
but the user profile navbar looks like this
![image](https://user-images.githubusercontent.com/3531020/74610947-1143f800-50f8-11ea-8020-27a9cf59054d.png)

[2020-02-17 19:19] #1304 closed

[2020-02-18 22:32] bkimminich opened #1309 "Flaky API tests due to SequelizeTimeoutError [🐛]"
# :bug: Bug report

## Description

`SequelizeTimeoutError: SQLITE_BUSY: database is locked` is occasionally thrown during API test exection locally and on Travis-CI resulting in `500` server errors and subsequently failing test expectations.

### Is this a regression?

This occured for quite some time in irregular intensity and frequency.

## :microscope: Minimal Reproduction

Execute `npm run fr

[2020-02-19 06:49] Scar26 commented on #1295
Is this really a bug? Since there really is no way to obtain the private keys for correctly signing the jwt, and changing algorithm to hs256 and passing an incorrect hmac would obviously throw an error.

Even the question prompt says "almost correctly signed signature",  so isn't this expected behavior?

[2020-02-19 08:46] ftischhauser commented on #1295
The way I understand this challenge, this is supposed to allow for a [key confusion attack.](https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/). If Juice Shop uses a vulnerable library and does not explicitly specify the algorithm to verify, it will use HMAC as specified in my JWT using the public RSA key to verify the signature. Since the public key can be obtained, it

[2020-02-19 10:28] bkimminich commented on #1295
Exactly, both JWT challenges are supposed to give a valid token that actually "works", and I am pretty sure up to some point it did. The challenge verification was simply too weak, i.e. it checked before really checking if the token is valid. Thus, it was solvable for a long time without an actually working token. And I can't find out when this broke... :-(

[2020-02-19 22:21] bkimminich commented on #1267
@CaptainNick, are you working on this feature? If not I'd put it back into our backlog for the OWASP Projects Summit in Mexico next week.

[2020-02-20 07:54] CaptainNick commented on #1267
Had exams and so the work on this feature is not completed yet. You can go ahead and put it in backlog. I'll take up and work on other issues. :)

[2020-02-20 20:13] bkimminich opened #1311 "SQRL [🚀]"
# :rocket: Feature request

### Description

Allow user registration/authentication via [SQRL](https://www.grc.com/sqrl/sqrl.htm).

[2020-02-20 20:24] dnull opened #1312 "[⭐] Add CORS challenge"
# :star: Challenge idea

### Description

Juice Shop's REST endpoints are already allowing requests from arbitrary origins (see commit 8717c2b1569851f20974e17d7885f99e893aa18c). My suggestion is to add a challenge which demonstrates the risks of being too permissive with the [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) protocol.

### Underlying vulnerability
 * _A5 Broken Access

[2020-02-21 06:49] bkimminich commented on #1312
If you can make this work reliably for CORS/CSRF, that would be far more than useful! 🏆

I think there were also some potential issues for when Juice Shop runs behind a load balancer (like https://github.com/iteratec/multi-juicer), but this is more @J12934's area of expertise.

Relying on some external provider is fine (we have it with https://pastebin.com and kind of had it with https://jwt.io in

[2020-02-22 00:19] bkimminich commented on #1295
Hi @ViktorLindstrm and @tghosth, would you mind taking a peek at this issue and PR #1310 as well b/c I you authored the challenges originally (#338, #392) and have a much deeper understanding of JWT magic than I do...? 🙏

[2020-02-22 10:11] bkimminich opened #1313 "Target entry-point "ngx-cookie" has missing dependencies [🐛]"
[code]

This happened for several builds during  _Test_ stage (https://travis-ci.org/bkimminich/juice-shop/builds/653466626) but was fixed by adding `"@types/express-serve-static-core": "^4.17.2"` to the `devDependencies`. Now the same error occurs later instead in the _Smoke_ stage: https://travis-ci.org/bkimminich/juice-shop/builds/653681980

I tried to run `npm install --production` (like the _

[2020-02-22 12:25] #1313 closed

[2020-02-22 16:31] rini-19 commented on #1267
hey @bkimminich, I've been investing some time on this issue lately and I would like to know if using FIDO U2F is an only considerable option or platform authenticators can also be used (like fingerprint sensor)...

[2020-02-22 17:34] bkimminich commented on #1267
Yeah sure, fingerprint sensor is also fine! 👍

[2020-02-22 19:36] bkimminich commented on #1267
Best case we get both ways implemented at some point, but it doesn't need to be done all at the same time and also not by the same person obviously.

[2020-02-24 09:22] bkimminich commented on #1276
This is part of the upcoming OWASP Projects Summit work items.

[2020-02-24 12:04] bkimminich opened #1314 "Navigation triggered outside Angular zone warnings in unit tests [🐛]"
[code]

These warnings occur all over the place in the unit test suite. One possible culprit might be the occurrences of `router.navigate()` calls happening inside `subscribe()` functions: https://stackoverflow.com/a/55285411/959592

[2020-02-24 14:46] bkimminich commented on #1314
### Occurences of `Navigation triggered outside Angular` errors
(in Travis-CI build for Node.js 12 on Linux)

* Before: 30 times
* d08ef33: 23 times (-7)

[2020-02-24 14:50] bkimminich commented on #1311
See https://sqrl.grc.com/threads/websites-that-could-use-help-adopting-sqrl.1093/#post-9108

[2020-02-24 15:19] #1314 closed

[2020-02-27 22:49] bkimminich opened #1316 "[🤖] LMLFTFY Bot (Let me lint:fix that for you)"
# :rocket: Feature request

### Description

1. Bot that runs `npm run lint:fix` after every commit on the (configured) branches
2. Creates and pushes a Git commit to the branch when changes came out of the Linter calls
3. Has a friendly commit message like `Auto-fix linting issues of commit _____`

### Solution ideas

GitHub Action

### Possible alternatives

Heavy Travis-CI scripting

 Have you

[2020-02-28 16:00] J12934 commented on #1316
Done 🎉

[2020-02-28 16:00] #1316 closed

[2020-02-28 22:03] bkimminich commented on #1309
Still occurs occasionally, reopening and reverting pool size reduction.

[2020-02-29 11:54] Scar26 commented on #1311
I would like to take this up

[2020-02-29 12:26] bkimminich commented on #1311
Might not be possible to implement SQRL after all, because I was told that it only works with HTTPS. Maybe there's a way to cheat that, but if the SQRL clients don't accept the server-side unencrypted, it's game over for this authentication option.

[2020-02-29 12:29] bkimminich commented on #1311
Feel free to do some research on if it might still be possible, though. The Node.js implementations are pretty scarce so far, though. I wouldn't put my hopes up too much.

[2020-02-29 13:46] Scar26 commented on #1311
What about self signed certificates?

https://github.com/erikma/passport-sqrl/

[2020-02-29 14:48] #1277 closed

[2020-03-03 16:07] Scar26 opened #1325 "[⭐] Free deluxe membership (already existing vulnerability in juice-shop)"
# :star: Challenge idea

### Description

The `rest/deluxe-membership` route is vulnerable. Users can upgrade themselves to deluxe members by simply making a POST request to this path with the following parameters

- `UserId`: your uid(which you can get by decoding your jwt)
- `payUsingWallet`: false

Though this can be easily fixed with minor refactoring, I propose that we make this into a challe

[2020-03-03 16:21] bkimminich commented on #1325
That's a good idea for a new challenge but another (very easy) way to achieve this would currently probably be to set the `role` property to `deluxe` upon registration. Doing that would make the challenge almost identical to the _Admin Registration_ challenge.

I was thinking of making the deluxe upgrade a bit harder to get, e.g. by storing some kind of hash from the `UserId` plus `email` plus `cr

[2020-03-03 16:47] Scar26 commented on #1325
Sounds great

This would work perfectly with the challenge since the attack flow I described above makes for a completely valid up-gradation process, just without the payment step.

But if we're at it, why not just make the token a secure one? Since it already seems like a far stretch for an attacker to "guess" what parameters went into the hash and in what order

[2020-03-03 17:45] bkimminich commented on #1325
So the only way to bypass it, is to mess with the `/rest/deluxe-membership` route? Yep, sounds cool!

[2020-03-05 12:15] ailton07 opened #1328 "Update the OpenAPI Specification[🚀]"
# :rocket: Feature request

### Description

Once the OWASP API Security Top 10 2019 items were added to OWASP Juice Shop challenge categories (https://github.com/bkimminich/pwning-juice-shop/commit/7abe69df30eca385bcb8fd3953cbab640f733245), I think would be great if the [Juice Shop OAS](https://github.com/bkimminich/juice-shop/blob/master/swagger.yml) were updated.

### Solution ideas

Currently,

[2020-03-05 13:27] ailton07 commented on #1328
I verified just now that [Juice Shop OAS](https://github.com/bkimminich/juice-shop/blob/master/swagger.yml) describe only 'API for our enterprise customers'. So, I suggest the creation of a new OAS to describe the 'private' APIs.

[2020-03-05 14:58] bkimminich commented on #1328
The existing B2B API is housing two hacking challenges. There is no functional need to add any other similar API descriptions from my point of view. What kind of _update_ are you suggesting exactly? The `swagger.yml` is already using `openapi 3.0.0` format.

[2020-03-05 16:22] ailton07 commented on #1328
Using an API contract, like OAS, allows you to use newer solutions for API protection (thus new vulnerabilities), and with that, new challenges. For example, when we know what kind of query parameter is expected, it is easier to mitigate injection attacks and detect parameter tampering.
Create and maintain documentation of private APIs is becoming a standard due to security questions, and I think

[2020-03-05 16:45] bkimminich commented on #1328
Okay, but having this for the generated `/api` and hand-crafted `/rest` APIs would make current challenges a lot easier, e.g. as it would spoiler that some allow `POST`/`PUT`/`DELETE` where they clearly shouldn't or are missing access control alltogether etc.

The "storyline" behind not having this, is kind of "the developers were too lazy to document the API or create a contract in front of it. N

[2020-03-05 17:22] ailton07 commented on #1328
Indeed, having an Open API specification would make current challenges a lot easier. Actually, I hadn't thought about that.
Considering all these factors, I get it the absence of 'complete' API documentation. However, if you consider that it is interesting to add that doc in the further, I would be happy to contribute.

[2020-03-05 17:22] #1328 closed

[2020-03-06 14:12] #902 closed

[2020-03-06 23:36] braimee commented on #1286
Hey @Brynanum please go chuck out the FULL Juice Shop Jingle here: https://github.com/braimee/bpatty/issues/13.  Please let us know when you perform this so we can see you in person (or at least take video!) :-)

[2020-03-07 17:14] Brynanum commented on #1286
Hey :)
I answer you in the reopened issue, at [braimee/bpatty#13](https://github.com/braimee/bpatty/issues/13). I put again my message :
Hello again ! :)
I'm the person who ask you the chords on the jingle. I saw that you have developed it... :D
**Can we have the arpeggios version** of this music, or you didn't realize it with the expansion ?
By the way (and to answer to a private message) : yes,

[2020-03-09 16:35] bkimminich opened #1331 "Direct links to Hacking Instructor tutorials [🚀]"
# :rocket: Feature request

### Description

It should be possible to directly jump to a hacking tutorial instead of having to go through the _Score Board_ and click the corresponding button. That way it would be easier to access from our own and third-party online documentation.

### Solution ideas

Define a sub-route or parameter of the _Score Board_ that virtually clicks the right tutorial butt

[2020-03-10 17:07] bkimminich commented on #1331
💡 Having a separate route might be preferable, because otherwise the _Score Board_ challenge would be (kind of) auto-solved when using such a link.

[2020-03-10 17:09] #1312 closed

[2020-03-10 17:10] #1245 closed

[2020-03-10 20:01] bkimminich commented on #1309
Just made a test run with in-`:memory:`  SQLite, and it didn't turn out too well during the e2e test suite:

[code]

[2020-03-11 12:48] bkimminich opened #1337 "[⚙️] Copy challenges.yml over to www-project-juice-shop after a release"
# :⚙️: Automation request

### Description

The project website now uses a (manually committed) [copy of the `challenges.yml`](https://github.com/OWASP/www-project-juice-shop/blob/master/_data/challenges.yml) to render a table with all challenges grouped by their category:

![image](https://user-images.githubusercontent.com/3531020/76418264-9c827780-639e-11ea-93eb-7ff6af4e15b4.png)

(Source: <http

[2020-03-12 11:47] bkimminich commented on #1325
Yeah well, it unfortunately doesn't work as simple as currently implemented. Just try this:

1. Log in with credentials `demo` / `demo`
2. Go to _Deluxe Membership_ page and click the button to become a member
3. Choose the pre-existing **credit card** for payment and click _Continue_
4. The challenge is triggered as solved. Although you "paid" for it.

Simple "fix" would be giving the `payUsingWa

[2020-03-12 11:57] bkimminich commented on #1276
@MarcRler, I just noticed that the screen flow when doing a deluxe-upgrade is a bit weird: It's logging you out, throwing you back to the login screen and not showing any confirmation message that you successfully upgraded. I won't open a separate ticket for it, as the `deluxe-user` screen is not yet done, but please take a look at this when you get to it. Thanks!

[2020-03-13 14:44] bkimminich opened #1340 "CSRF challenge fails after Chrome cookie security update [🐛]"
(see also #1322 / #902)

[2020-03-13 14:48] #1331 closed

[2020-03-15 22:08] #1325 closed

[2020-03-16 10:45] ebell451 commented on #1340
Do what most pentesters should/would do in this situation and use an older version of the browser. Developers should not rely on the end-user nor malicious attacker being on the latest version of applications.

[2020-03-16 14:15] bkimminich commented on #1340
You're right, anyone could still solve it as long they a browser that is old enough... it only "fails" in the automated test suite because there the latest Chrome is used.

[2020-03-16 17:52] bkimminich commented on #1309
Unfortunately occasional 500-errors are still happening for me locally after #1341. I'm going to revert that one for now.

[2020-03-18 07:00] Scar26 opened #1346 "[⭐] Challenge idea : RCE/Reverse shell through captcha submit"
# :star: Challenge idea

### Description

 Juice Shop has a manually implemented captcha system, wherein an arithmetic question is generated through randomized strings and then eval is called on that string to generate the answer. This challenge can be implemented two ways:

1. Captcha statements are now generated on the client side, and then sent to endpoint which only returns a Captcha Id

2. Ad

[2020-03-18 08:36] bkimminich commented on #1346
We already have two types of CAPTCHA challenges (on the _Data Export_ and _Customer Feedback_ screens) and also two challenges where `eval` is involved, so I wouldn't really go for another one to be honest. What is your opinion on that, @J12934 / @wurstbrot?

[2020-03-18 09:22] bkimminich opened #1347 "Geo Stalking challenges [⭐]"
# :star: Challenge idea

### Description

 A clear and concise description of the new hacking challenge and why the Juice Shop needs it...
![image](https://user-images.githubusercontent.com/3531020/76943460-b0c6f700-68ff-11ea-80ab-b9fcf4f748fd.png)

This could actually become **two challenges** with two different user accounts and individual pictures on the Photo Wall. One with geo tags in the ima

[2020-03-18 22:30] carlosvillasanchez opened #1349 "[⭐] Infinite free wallet funds (already existing vulnerability in juice-shop)"
# :star: Challenge idea

### Description

The route `rest/wallet/balance` with the HTTP method `PUT` is used to add new funds to the digital wallet. If done through the GUI, the user needs to have a saved credit card and, also, the amount of money added into the wallet is restricted between 10 and 1000.

If you send the `PUT` request with the header `Authorization` and the body `{"balance": 200000

[2020-03-19 10:02] Scar26 commented on #1309
https://activesphere.com/blog/2018/12/24/understanding-sqlite-busy

Might be helpful

[2020-03-19 11:01] bkimminich commented on #1349
Hm, personally I'd rather see the wallet funds increase flow to be actually secured in some way. Can be broken still, but it shouldn't be this trivial to get unlimited 💰 in the wallet. We kind of have a similar challenge with the negative quantities being put in the shopping basket anyway.

So the challenge idea is great, it just should be made more difficult imo.

[2020-03-19 11:47] carlosvillasanchez commented on #1349
Yes, I agree. If I come up with something harder I will contact you.

Thanks!

[2020-03-19 16:26] Scar26 commented on #1346
@bkimminich @J12934 any thoughts on this one?
Should I leave it for now?

[2020-03-19 16:58] J12934 commented on #1346
I like the general challenge idea. Its pretty plausible that a developer would use eval to calculate such a arithmetic riddle.

But I also agree with Björn that already have two similar challenges around RCE, so it's probably not worth it to add another one.

What what be a real addition would be to have an example on how to set up a proper reverse shell using one of the existing RCE challenges si

[2020-03-19 18:06] Scar26 commented on #1346
Ok I'll try to think of something to modify the existing challenges

[2020-03-20 10:34] bkimminich commented on #1346
Please don't meddle with the existing CAPTCHA challenge to make it into an RCE. If you want to take up @J12934's idea of building an exploit demo for getting a web shell via Juice Shop, feel free to do that, because that'd be really cool. It would need to bypass the sandboxing we did to make the challenges less easy to shoot yourself in the foot with... :-D ... You should look at all challenges, w

[2020-03-20 10:34] #1346 closed

[2020-03-20 10:38] #1340 closed

[2020-03-20 10:39] Scar26 commented on #1346
Alright, thanks

[2020-03-20 12:38] lucky70707 commented on #1347
Hey, we're a group of 6 it-students who would like to work on implementing this challenge in the juice shop for a school project. Would it be an issue to forego the competition you set out and start working on it with our own pictures?

[2020-03-20 13:31] bkimminich commented on #1347
Sure, go ahead! Bonus task: Make both challenges configurable, i.e. so that you can configure the photos and ZIP / Dentist name.

[2020-03-22 16:24] Brynanum commented on #1286
Hello again,
This is a small video on the jingle (in Tux kigurumi, because I love Linux and I want it this day) : [https://youtu.be/tx6tou8wMMQ](https://youtu.be/tx6tou8wMMQ).

[2020-03-22 17:51] braimee commented on #1286
@Brynanum this made me smile and made my day.  GREAT job and my wife absolutely loves your outfit :-)

[2020-03-22 18:52] bkimminich commented on #1286
Aaaand, you're on the official Juice Shop YouTube playlist now, @Brynanum! 🥳

[2020-03-22 21:24] braimee commented on #1286
Also @Brynanum do you have a Twitter handle I can tag?  I'd love to retweet this.

[2020-03-23 16:33] J12934 commented on #1267
I've made a bit of progress during the summit but wasn't able to complete it.
If somebody else want to continue on the progress feel free.
My work can be found in the [webauthn branch](https://github.com/bkimminich/juice-shop/tree/webauthn). Currently containing mostly changes to the 2fa pages to allow to configure another 2fa method.

[2020-03-23 18:53] Scar26 commented on #1267
@J12934 I'll take this up in a couple of days

[2020-03-23 19:48] J12934 commented on #1267
I think so.
Thought I’m not sure if @rini-19 or @CaptainNick would like to continue their progress.